<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Remove Duplicate Lines - TT Toolbox - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Removes duplicate lines in a list" />
<meta name="title" content="Remove Duplicate Lines - TT Toolbox - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Remove Duplicate Lines - TT Toolbox - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/tttoolbox/removeDuplicateLines.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/colibriAggregator.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -168px 0px" data-toptip="Colibri Aggregator"></div></a>
<a href="../../components/tttoolbox/colibriParameters.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -192px 0px" data-downtip="Colibri Parameters"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/imageSetting.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -216px 0px" data-toptip="Image Setting"></div></a>
<a href="../../components/tttoolbox/colibriIterator.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') 0px -24px" data-downtip="Colibri Iterator"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/iterationSelection.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -24px -24px" data-toptip="Iteration Selection"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Colibri 2.0
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/readExcelSheet.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -168px -24px" data-toptip="Read Excel Sheet"></div></a>
<a href="../../components/tttoolbox/writeOptions.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -192px -48px" data-downtip="Write Options"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/writeToExcel.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -216px -48px" data-toptip="Write To Excel"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Excel
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/launchBrowser.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') 0px 0px" data-toptip="Launch Browser"></div></a>
<a href="../../components/tttoolbox/platypusConnection.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -24px 0px" data-downtip="Platypus Connection"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/pullGHGHGeometry.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -48px 0px" data-toptip="Pull GH&gt;GH Geometry"></div></a>
<a href="../../components/tttoolbox/pushGHGHGeometry.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -72px 0px" data-downtip="Push GH&gt;GH Geometry"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/streamLines.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -96px 0px" data-toptip="Stream Lines"></div></a>
<a href="../../components/tttoolbox/streamMeshes.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -120px 0px" data-downtip="Stream Meshes"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/streamSliders.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -144px 0px" data-toptip="Stream Sliders"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Platypus
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/spectaclesColibri3DObjects.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -24px -72px" data-toptip="Spectacles Colibri_3DObjects"></div></a>
<a href="../../components/tttoolbox/launchSpectaclesViewer.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -48px -72px" data-downtip="Launch Spectacles Viewer"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/spectaclesLine.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -72px -72px" data-toptip="Spectacles_Line"></div></a>
<a href="../../components/tttoolbox/spectaclesLineBasicMaterial.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -96px -72px" data-downtip="Spectacles_LineBasicMaterial"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/spectaclesMesh.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -120px -72px" data-toptip="Spectacles_Mesh"></div></a>
<a href="../../components/tttoolbox/spectaclesMeshBasicMaterial.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -144px -72px" data-downtip="Spectacles_MeshBasicMaterial"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/spectaclesMeshColoredFaces.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -168px -72px" data-toptip="Spectacles_MeshColoredFaces"></div></a>
<a href="../../components/tttoolbox/spectaclesMeshColoredVertices.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -192px -72px" data-downtip="Spectacles_MeshColoredVertices"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/spectaclesMeshLambertMaterial.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -216px -72px" data-toptip="Spectacles_MeshLambertMaterial"></div></a>
<a href="../../components/tttoolbox/spectaclesMeshPhongMaterial.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') 0px -96px" data-downtip="Spectacles_MeshPhongMaterial"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/spectaclesSceneCompiler.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -24px -96px" data-toptip="Spectacles_SceneCompiler"></div></a>
<a href="../../components/tttoolbox/spectaclesViews.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -48px -96px" data-downtip="Spectacles_Views"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Spectacles
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/getHoursAndDays.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -48px -24px" data-toptip="Get Hours and Days"></div></a>
<a href="../../components/tttoolbox/cADExporter.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -72px -24px" data-downtip="CAD Exporter"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/galapagosListener.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -96px -24px" data-toptip="Galapagos Listener"></div></a>
<a href="../../components/tttoolbox/getGeometryAttributes.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -120px -24px" data-downtip="Get Geometry Attributes"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/matchTreeStructure.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -144px -24px" data-toptip="Match Tree Structure"></div></a>
<a href="../../components/tttoolbox/removeDuplicateLines.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -192px -24px" data-downtip="Remove Duplicate Lines"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/removeDuplicatePoints.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -216px -24px" data-toptip="Remove Duplicate Points"></div></a>
<a href="../../components/tttoolbox/tTSafeDelete.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') 0px -48px" data-downtip="TT Safe Delete"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/sharedNodes.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -24px -48px" data-toptip="SharedNodes"></div></a>
<a href="../../components/tttoolbox/sortCurvesAlongCrv.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -48px -48px" data-downtip="Sort Curves Along Crv"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/treeBranchIndex.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -72px -48px" data-toptip="Tree Branch Index"></div></a>
<a href="../../components/tttoolbox/treeItemIndex.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -96px -48px" data-downtip="Tree Item Index"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/tTSweep.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -120px -48px" data-toptip="TT Sweep"></div></a>
<a href="../../components/tttoolbox/tTSweepNames.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -144px -48px" data-downtip="TT Sweep Names"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/tttoolbox/unfold.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -168px -48px" data-toptip="Unfold"></div></a>
<a href="../../components/tttoolbox/unitConverter.html"><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') 0px -72px" data-downtip="Unit Converter"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
TT Tools
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.food4rhino.com/app/tt-toolbox">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/tTToolbox.png') -192px -24px" ></div> Remove Duplicate Lines</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/tt-toolbox.html">TT Toolbox</a><a href="#" class="breadcrumb-nolink">TT Tools</a><a href="#" class="breadcrumb-nolink">CullDupLines</a>
</div>

</div>
<h3>Removes duplicate lines in a list</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Input Lines</b></td><td>L</td><td>Lines to cull duplicates from.</td><td>Curve</td></tr>
<tr><td><b>Tolerance</b></td><td>t</td><td>Tolerance for duplicate search</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Output Lines</b></td><td>L'</td><td>List of lines with no duplicates.</td><td>Curve</td></tr>
<tr><td><b>First Line Indexes</b></td><td>i</td><td>Indexes of the first instance of the duplicate line[s]</td><td>Integer</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/HlTJNGQmiGk"><img src="http://img.youtube.com/vi/HlTJNGQmiGk/1.jpg" alt="Getting Started With Platypus"></a>
<a href="http://www.youtube.com/embed/28DbdVkiOCA"><img src="http://img.youtube.com/vi/28DbdVkiOCA/1.jpg" alt="Platypus Sliders"></a>
<a href="http://www.youtube.com/embed/rXwviC-3-ao"><img src="http://img.youtube.com/vi/rXwviC-3-ao/1.jpg" alt="Platypus Ghtogh Demo"></a>
<a href="http://www.youtube.com/embed/oDeeddR7XUY"><img src="http://img.youtube.com/vi/oDeeddR7XUY/1.jpg" alt="Platypus Prototype 003"></a>
<a href="http://www.youtube.com/embed/kaHFihR9Et4"><img src="http://img.youtube.com/vi/kaHFihR9Et4/1.jpg" alt="Tt Toolbox Brute Force Optimization"></a>
<a href="http://www.youtube.com/embed/czXEG5FMa8g"><img src="http://img.youtube.com/vi/czXEG5FMa8g/1.jpg" alt="Tt Toolbox Unfold Component For"></a>
<a href="http://www.youtube.com/embed/HgPqGMlQZig"><img src="http://img.youtube.com/vi/HgPqGMlQZig/1.jpg" alt="Tt Toolbox Dashboard Data Visualization"></a>
<a href="http://www.youtube.com/embed/2XAA8hTlC2Q"><img src="http://img.youtube.com/vi/2XAA8hTlC2Q/1.jpg" alt="@it Meets Platypus #1"></a>


</div>
</div>

<script type="text/javascript" src="/html5gallery/jquery.js"></script>
<script type="text/javascript" src="/html5gallery/html5gallery.js"></script>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

TT Toolbox and associated data © 2022  <a href="https://www.food4rhino.com/app/tt-toolbox">Thornton Tomasetti (CORE studio)</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
