<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Hyperbolic Paraboloid - LunchBox - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Create a parametric paraboloid surface." />
<meta name="title" content="Hyperbolic Paraboloid - LunchBox - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Hyperbolic Paraboloid - LunchBox - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/lunchbox/hyperbolicParaboloid.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="../../html5gallery/jquery.js"></script>
<script type="text/javascript" src="../../html5gallery/html5gallery.js"></script>

<script data-ad-client="ca-pub-7364724389381590" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/createChart.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') 0px 0px" data-toptip="Create Chart"></div></a>
<a href="../../components/lunchbox/createDataGrid.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -24px 0px" data-downtip="Create Data Grid"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/createDataSet.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -48px 0px" data-toptip="Create DataSet"></div></a>
<a href="../../components/lunchbox/createDataTable.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -72px 0px" data-downtip="Create DataTable"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/createCSV.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -96px 0px" data-toptip="Create CSV"></div></a>
<a href="../../components/lunchbox/readCSV.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -120px 0px" data-downtip="Read CSV"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/convertJSONToXML.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -144px 0px" data-toptip="Convert JSON to XML"></div></a>
<a href="../../components/lunchbox/createXML.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -168px 0px" data-downtip="Create XML"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/readXMLByTag.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -192px 0px" data-toptip="Read XML by Tag"></div></a>
<a href="../../components/lunchbox/convertXMLToJSON.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -216px 0px" data-downtip="Convert XML to JSON"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/createJSON.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') 0px -24px" data-toptip="Create JSON"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Data
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/constantQuadSubdivide.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -24px -24px" data-toptip="Constant Quad Subdivide"></div></a>
<a href="../../components/lunchbox/panelFrame.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -48px -24px" data-downtip="Panel Frame"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/subdivideQuad.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -72px -24px" data-toptip="Subdivide Quad"></div></a>
<a href="../../components/lunchbox/subdivideTriangle.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -96px -24px" data-downtip="Subdivide Triangle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/attractor.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -192px -120px" data-toptip="Attractor"></div></a>
<a href="../../components/lunchbox/attractorWave.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -216px -120px" data-downtip="Attractor Wave"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Generate
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/gaussianMixture.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -72px -168px" data-toptip="Gaussian Mixture"></div></a>
<a href="../../components/lunchbox/hiddenMarkovModel.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -96px -168px" data-downtip="Hidden Markov Model"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/kMeansClustering.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -120px -168px" data-toptip="K-Means Clustering"></div></a>
<a href="../../components/lunchbox/linearRegression.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -144px -168px" data-downtip="Linear Regression"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/logisticRegression.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -168px -168px" data-toptip="Logistic Regression"></div></a>
<a href="../../components/lunchbox/multivariateLinearRegression.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -192px -168px" data-downtip="Multivariate Linear Regression"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/naiveBayesClassification.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -216px -168px" data-toptip="Naive Bayes Classification"></div></a>
<a href="../../components/lunchbox/neuralNetwork.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') 0px -192px" data-downtip="Neural Network"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/restrictedBoltzmannMachine.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -24px -192px" data-toptip="Restricted Boltzmann Machine"></div></a>
<a href="../../components/lunchbox/nonlinearRegression.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -120px -192px" data-downtip="Nonlinear Regression"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Machine Learning
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/enneperSurface.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') 0px -144px" data-toptip="Enneper Surface"></div></a>
<a href="../../components/lunchbox/helicoidSurface.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -24px -144px" data-downtip="Helicoid Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/kleinSurface.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -48px -144px" data-toptip="Klein Surface"></div></a>
<a href="../../components/lunchbox/mobiusSurface.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -72px -144px" data-downtip="Mobius Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/hyperbolicParaboloid.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -96px -144px" data-toptip="Hyperbolic Paraboloid"></div></a>
<a href="../../components/lunchbox/platonicCube.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -120px -144px" data-downtip="Platonic Cube"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/platonicDodecahedron.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -144px -144px" data-toptip="Platonic Dodecahedron"></div></a>
<a href="../../components/lunchbox/platonicIcosahedron.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -168px -144px" data-downtip="Platonic Icosahedron"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/platonicOctahedron.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -192px -144px" data-toptip="Platonic Octahedron"></div></a>
<a href="../../components/lunchbox/platonicTetrahedron.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -216px -144px" data-downtip="Platonic Tetrahedron"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/conoidSurface.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') 0px -168px" data-toptip="Conoid Surface"></div></a>
<a href="../../components/lunchbox/3DSupershape.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -24px -168px" data-downtip="3D Supershape"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/torusSurface.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -48px -168px" data-toptip="Torus Surface"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
Math
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/diamondPanels.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -120px -24px" data-toptip="Diamond Panels"></div></a>
<a href="../../components/lunchbox/diamondGrid.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -144px -24px" data-downtip="Diamond Grid"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/hexagonCells.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -168px -24px" data-toptip="Hexagon Cells"></div></a>
<a href="../../components/lunchbox/quadPanels.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -192px -24px" data-downtip="Quad Panels"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/quadGrid.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -216px -24px" data-toptip="Quad Grid"></div></a>
<a href="../../components/lunchbox/randomQuadPanels.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') 0px -48px" data-downtip="Random Quad Panels"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/staggeredQuadPanels.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -24px -48px" data-toptip="Staggered Quad Panels"></div></a>
<a href="../../components/lunchbox/skewedQuads.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -48px -48px" data-downtip="Skewed Quads"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/triangularPanelsA.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -72px -48px" data-toptip="Triangular Panels A"></div></a>
<a href="../../components/lunchbox/trianglePanelsB.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -96px -48px" data-downtip="Triangle Panels B"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/trianglePanelsC.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -120px -48px" data-toptip="Triangle Panels C"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Panels
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/bracedGrid1DStructure.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -144px -48px" data-toptip="Braced Grid 1-D Structure"></div></a>
<a href="../../components/lunchbox/bracedGrid2DStructure.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -168px -48px" data-downtip="Braced Grid 2-D Structure"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/diagridStructure.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -192px -48px" data-toptip="Diagrid Structure"></div></a>
<a href="../../components/lunchbox/gridStructure.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -216px -48px" data-downtip="Grid Structure"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/hexagonalStructure.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') 0px -72px" data-toptip="Hexagonal Structure"></div></a>
<a href="../../components/lunchbox/spaceTrussStructure1.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -24px -72px" data-downtip="Space Truss Structure 1"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/spaceTrussStructure2.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -48px -72px" data-toptip="Space Truss Structure 2"></div></a>
<a href="../../components/lunchbox/2DTruss.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -72px -72px" data-downtip="2D Truss"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Structure
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/arcDivide.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -96px -72px" data-toptip="Arc Divide"></div></a>
<a href="../../components/lunchbox/deconstructWireframe.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -120px -72px" data-downtip="Deconstruct Wireframe"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/flatnessCheck.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -144px -72px" data-toptip="Flatness Check"></div></a>
<a href="../../components/lunchbox/meshEdgeswithTolerance.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -168px -72px" data-downtip="Mesh Edges (with Tolerance)"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/meshReduce.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -192px -72px" data-toptip="Mesh Reduce"></div></a>
<a href="../../components/lunchbox/patchSurface.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -216px -72px" data-downtip="Patch Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/randomSplitList.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') 0px -96px" data-toptip="Random Split List"></div></a>
<a href="../../components/lunchbox/rebuildSurface.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -24px -96px" data-downtip="Rebuild Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/relativeCoordinates.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -48px -96px" data-toptip="Relative Coordinates"></div></a>
<a href="../../components/lunchbox/reverseSurfaceDirection.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -72px -96px" data-downtip="Reverse Surface Direction"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/sortDuplicateBreps.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -96px -96px" data-toptip="Sort Duplicate Breps"></div></a>
<a href="../../components/lunchbox/sortDuplicateCurves.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -120px -96px" data-downtip="Sort Duplicate Curves"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/sortDuplicatePoints.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -144px -96px" data-toptip="Sort Duplicate Points"></div></a>
<a href="../../components/lunchbox/sortDuplicateValues.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -168px -96px" data-downtip="Sort Duplicate Values"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/unrollBrep.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -192px -96px" data-toptip="Unroll Brep"></div></a>
<a href="../../components/lunchbox/rTreeClosestPoint.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -48px -192px" data-downtip="RTree Closest Point"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/createRTree.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -72px -192px" data-toptip="Create RTree"></div></a>
<a href="../../components/lunchbox/rTreePointsInRange.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -96px -192px" data-downtip="RTree Points in Range"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="9">
Util
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/objectBake.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -216px -96px" data-toptip="Object Bake"></div></a>
<a href="../../components/lunchbox/createLayers.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') 0px -120px" data-downtip="Create Layers"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/excelReader.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -24px -120px" data-toptip="Excel Reader"></div></a>
<a href="../../components/lunchbox/excelWrite.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -48px -120px" data-downtip="Excel Write"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/launchApplication.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -72px -120px" data-toptip="Launch Application"></div></a>
<a href="../../components/lunchbox/layerInformation.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -96px -120px" data-downtip="Layer Information"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/layerReference.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -120px -120px" data-toptip="Layer Reference"></div></a>
<a href="../../components/lunchbox/rhinoCommand.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -144px -120px" data-downtip="Rhino Command"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/lunchbox/objectSave.html"><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -168px -120px" data-toptip="Object Save"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Workflow
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.food4rhino.com/app/lunchbox">Download</a>

</div>

<!-- GH Sidebar vertical -->
<div class="google-ad-sidebar">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7364724389381590"
     data-ad-slot="8837989643"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/lunchBox.png') -96px -144px" ></div> Hyperbolic Paraboloid</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/lunchbox.html">LunchBox</a><a href="#" class="breadcrumb-nolink">Math</a><a href="#" class="breadcrumb-nolink">Paraboloid</a>
</div>

</div>
<h3>Create a parametric paraboloid surface.</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>U Divisions</b></td><td>U</td><td>Divisions in the surface U direction.</td><td>Integer</td></tr>
<tr><td><b>V Divisions</b></td><td>V</td><td>Divisions in the surface V direction.</td><td>Integer</td></tr>
<tr><td><b>R Parameter</b></td><td>a</td><td>a parameter for the form.</td><td>Number</td></tr>
<tr><td><b>R Parameter</b></td><td>b</td><td>a parameter for the form.</td><td>Number</td></tr>
<tr><td><b>Scale</b></td><td>S</td><td>Scale parameter for the form</td><td>Number</td></tr>
<tr><td><b>Domain 1</b></td><td>D1</td><td>Domain in the U direction</td><td>Interval</td></tr>
<tr><td><b>Domain 2</b></td><td>D2</td><td>Domain in the V direction</td><td>Interval</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Surface</b></td><td>Srf</td><td>The math surface.</td><td>Generic</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/Bi98ZMYZ7RE"><img src="http://img.youtube.com/vi/Bi98ZMYZ7RE/1.jpg" alt="Lunchbox  (space Frame)"></a>
<a href="http://www.youtube.com/embed/rYPX21luZ0k"><img src="http://img.youtube.com/vi/rYPX21luZ0k/1.jpg" alt="Tutorial (lunchbox)"></a>
<a href="http://www.youtube.com/embed/qa9Sz54zWZk"><img src="http://img.youtube.com/vi/qa9Sz54zWZk/1.jpg" alt="Lunchbox  Tutorial (diamond Panels)"></a>
<a href="http://www.youtube.com/embed/MgEpyiUO-T0"><img src="http://img.youtube.com/vi/MgEpyiUO-T0/1.jpg" alt="Lunchbox  - Space Truss"></a>
<a href="http://www.youtube.com/embed/DgdgeRakXec"><img src="http://img.youtube.com/vi/DgdgeRakXec/1.jpg" alt="Lunchbox Tutorial - Hexagon Cells (double Curvature)"></a>
<a href="http://www.youtube.com/embed/jr2zAyLXhRc"><img src="http://img.youtube.com/vi/jr2zAyLXhRc/1.jpg" alt="Lunchbox Tutorial"></a>
<a href="http://www.youtube.com/embed/gOb9N6XP8b4"><img src="http://img.youtube.com/vi/gOb9N6XP8b4/1.jpg" alt="Surface Paneling Lunchbox Tutorial The Beatles Abbey Road"></a>
<a href="http://www.youtube.com/embed/AT9zyAKvB2A"><img src="http://img.youtube.com/vi/AT9zyAKvB2A/1.jpg" alt="Lunchbox Tutorial"></a>
<a href="http://www.youtube.com/embed/GxNmSBEg7CA"><img src="http://img.youtube.com/vi/GxNmSBEg7CA/1.jpg" alt="Lunchbox Tutorial"></a>
<a href="http://www.youtube.com/embed/4Y8f_-xE2Y0"><img src="http://img.youtube.com/vi/4Y8f_-xE2Y0/1.jpg" alt="Lunchbox Tutorial"></a>
<a href="http://www.youtube.com/embed/3z7mefk6ZhI"><img src="http://img.youtube.com/vi/3z7mefk6ZhI/1.jpg" alt="Lunchbox Tutorial"></a>
<a href="http://www.youtube.com/embed/Iasrel-YHoQ"><img src="http://img.youtube.com/vi/Iasrel-YHoQ/1.jpg" alt="Lunchbox Loft Tutorial"></a>
<a href="http://www.youtube.com/embed/5u9cF25EiD4"><img src="http://img.youtube.com/vi/5u9cF25EiD4/1.jpg" alt="Lunchbox Tutorial"></a>
<a href="http://www.youtube.com/embed/yNhSrZeOR4A"><img src="http://img.youtube.com/vi/yNhSrZeOR4A/1.jpg" alt="Lunchbox Tutorial"></a>
<a href="http://www.youtube.com/embed/vnOqW-JjLz4"><img src="http://img.youtube.com/vi/vnOqW-JjLz4/1.jpg" alt="Lunchbox Tutorial"></a>
<a href="http://www.youtube.com/embed/Y0PekbC-Lgs"><img src="http://img.youtube.com/vi/Y0PekbC-Lgs/1.jpg" alt="Rhino Luchbox Tutorial"></a>
<a href="http://www.youtube.com/embed/klXiOM4LNV0"><img src="http://img.youtube.com/vi/klXiOM4LNV0/1.jpg" alt="Lunch Box Tutorial"></a>
<a href="http://www.youtube.com/embed/M4Z603zFDf8"><img src="http://img.youtube.com/vi/M4Z603zFDf8/1.jpg" alt="Paneling Using Lunchbox In  In Rhino | Architutors"></a>
<a href="http://www.youtube.com/embed/mcoOZi7CkVc"><img src="http://img.youtube.com/vi/mcoOZi7CkVc/1.jpg" alt="Create A Parametric Spiral Wall Using Attractor Points, Lunchbox, And Anemone"></a>
<a href="http://www.youtube.com/embed/Ma9Wd9DFD3k"><img src="http://img.youtube.com/vi/Ma9Wd9DFD3k/1.jpg" alt="Create A Detailed Parametric Space Frame Truss - Dome Shaped - Using The Lunchbox Plugin"></a>
<a href="http://www.youtube.com/embed/1AZAkz0u8BY"><img src="http://img.youtube.com/vi/1AZAkz0u8BY/1.jpg" alt="Tutorial: Pattern Creation With Attractor Point And Lunchbox"></a>
<a href="http://www.youtube.com/embed/6PCUxeuwgyo"><img src="http://img.youtube.com/vi/6PCUxeuwgyo/1.jpg" alt="009 - Triangular Folding Structure With Lunchbox"></a>
<a href="http://www.youtube.com/embed/nZYrXk7mgQc"><img src="http://img.youtube.com/vi/nZYrXk7mgQc/1.jpg" alt="008 - Triangular Folding Structure Without Lunchbox (no Sounds)"></a>


</div>
</div>

</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

LunchBox and associated data © 2020  <a href="https://www.food4rhino.com/app/lunchbox">Nathan Miller</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
