<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bundle Attractor - Nudibranch - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Generates an iteratively bundled pointlist for any given datatree population of points." />
<meta name="title" content="Bundle Attractor - Nudibranch - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Bundle Attractor - Nudibranch - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/nudibranch/bundleAttractor.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="../../html5gallery/jquery.js"></script>
<script type="text/javascript" src="../../html5gallery/html5gallery.js"></script>

<script data-ad-client="ca-pub-7364724389381590" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/nudibranch/bouncers.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -24px 0px" data-toptip="Bouncers"></div></a>
<a href="../../components/nudibranch/railway.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -72px -24px" data-downtip="Railway"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/nudibranch/satellite.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -96px -24px" data-toptip="Satellite"></div></a>
<a href="../../components/nudibranch/walkers.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -120px -24px" data-downtip="Walkers"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/nudibranch/slicer.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -192px -24px" data-toptip="Slicer"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Animators
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/nudibranch/attractorValues.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') 0px 0px" data-toptip="Attractor Values"></div></a>
<a href="../../components/nudibranch/bundleAttractor.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -48px 0px" data-downtip="Bundle Attractor"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/nudibranch/curveAttractor.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -120px 0px" data-toptip="Curve Attractor"></div></a>
<a href="../../components/nudibranch/curveRavel.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -168px 0px" data-downtip="Curve Ravel"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/nudibranch/curveValues.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -192px 0px" data-toptip="Curve Values"></div></a>
<a href="../../components/nudibranch/pointAttractor.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -216px 0px" data-downtip="Point Attractor"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/nudibranch/pointRavel.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -48px -24px" data-toptip="Point Ravel"></div></a>
<a href="../../components/nudibranch/twirlAttractor.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -216px -24px" data-downtip="Twirl Attractor"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Attractors
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/nudibranch/climber.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -72px 0px" data-toptip="Climber"></div></a>
<a href="../../components/nudibranch/meshClimber.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -96px 0px" data-downtip="Mesh Climber"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/nudibranch/curveHicking.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -144px 0px" data-toptip="Curve Hicking"></div></a>
<a href="../../components/nudibranch/pointHicking.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') 0px -24px" data-downtip="Point Hicking"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/nudibranch/pointPatrolling.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -24px -24px" data-toptip="Point Patrolling"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Scramblers
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/nudibranch/box3dGrid.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -144px -24px" data-toptip="Box3d Grid"></div></a>
<a href="../../components/nudibranch/frameGrid.html"><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -168px -24px" data-downtip="Frame Grid"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Utilities
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.food4rhino.com/app/nudibranch">Download</a>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/nudibranch.png') -48px 0px" ></div> Bundle Attractor</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/nudibranch.html">Nudibranch</a><a href="#" class="breadcrumb-nolink">Attractors</a><a href="#" class="breadcrumb-nolink">Bundle</a>
</div>

</div>
<h3>Generates an iteratively bundled pointlist for any given datatree population of points.</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Points</b></td><td>P</td><td>Point Datatree to bundle</td><td>Point</td></tr>
<tr><td><b>Range</b></td><td>R</td><td>Bundling range </td><td>Number</td></tr>
<tr><td><b>Force</b></td><td>F</td><td>Global force for all the bundling points</td><td>Number</td></tr>
<tr><td><b>Tension</b></td><td>T</td><td>Global tension for all the bundling points within a tree branch</td><td>Number</td></tr>
<tr><td><b>Attraction/Repulsion</b></td><td>A</td><td>Toggle between attraction and repulsion</td><td>Boolean</td></tr>
<tr><td><b>Fixed</b></td><td>Fi</td><td>Toggle between Fixed and NonFixed points</td><td>Boolean</td></tr>
<tr><td><b>Iterations</b></td><td>It</td><td>Number of iterations</td><td>Integer</td></tr>
<tr><td><b>RelaxSteps</b></td><td>Re</td><td>Individual relaxation steps in between iterations(smoother bundling, don't over do it)</td><td>Integer</td></tr>
<tr><td><b>Points</b></td><td>P</td><td>Point Datatree to bundle</td><td>Point</td></tr>
<tr><td><b>Range</b></td><td>R</td><td>Bundling range</td><td>Number</td></tr>
<tr><td><b>Force</b></td><td>F</td><td>Global force for all the bundling points</td><td>Number</td></tr>
<tr><td><b>Tension</b></td><td>T</td><td>Global tension for all the bundling points within a tree branch</td><td>Number</td></tr>
<tr><td><b>Attraction/Repulsion</b></td><td>A</td><td>Toggle between attraction and repulsion</td><td>Boolean</td></tr>
<tr><td><b>Fixed</b></td><td>Fi</td><td>Toggle between Fixed and NonFixed points</td><td>Boolean</td></tr>
<tr><td><b>Iterations</b></td><td>It</td><td>Number of iterations</td><td>Integer</td></tr>
<tr><td><b>RelaxSteps</b></td><td>Re</td><td>Individual relaxation steps in between iterations(smoother bundling, don't over do it)</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>NewPoints</b></td><td>P</td><td>The generated point list per iteration</td><td>Point</td></tr>
<tr><td><b>NewVectors</b></td><td>V</td><td>The generated vector list per iteration</td><td>Vector</td></tr>
<tr><td><b>NewPoints</b></td><td>P</td><td>The generated point list per iteration</td><td>Point</td></tr>
<tr><td><b>NewVectors</b></td><td>V</td><td>The generated vector list per iteration</td><td>Vector</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/KD_vlN0Gd1o"><img src="http://img.youtube.com/vi/KD_vlN0Gd1o/1.jpg" alt="Attractor Tutorial Nudibranch"></a>


</div>
</div>

</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Nudibranch and associated data © 2020  <a href="https://www.food4rhino.com/app/nudibranch">Marios Tsiliakos</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
