<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Box - MeshPlus - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Creates a mesh which spans two meshes bridging them from either the vertex or edge center" />
<meta name="title" content="Box - MeshPlus - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Box - MeshPlus - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/meshplus/box.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs" class="docs-theme docs-widget_page docs-widget_page_page docs-widget_page_page_show" data-layout-pack="classic">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a id="application_name_header_link" href="http://grasshopperdocs.com/">Grasshopper Docs</a></p>
<p id="docs-sitedesc" class="xj_site_desc">algorithmic modeling for Rhino</p>
</div>
<div id="docs-navigation">
<ul>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/"><span>Home</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/photo"><span>View</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/page/download-1"><span>Download</span></a></li>
<li class="docs-subtab"><a href="https://discourse.mcneel.com/c/grasshopper"><span>Forums&#47;Support</span></a></li>
<li class="docs-subtab this"><a href="http://grasshopperdocs.com/"><span>Learn</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/events"><span>Attend</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/profiles"><span>My Page</span></a></li></ul>

</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/connectedEdgeAngles.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -216px -48px" data-toptip="Connected Edge Angles"></div></a>
<a href="../../components/meshplus/connectedEdgeLengths.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') 0px -72px" data-downtip="Connected Edge Lengths"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/connectedFaces.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -24px -72px" data-toptip="Connected Faces"></div></a>
<a href="../../components/meshplus/connectedVertexNormalAngle.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -48px -72px" data-downtip="Connected Vertex Normal Angle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/edgeLengths.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -48px -96px" data-toptip="Edge Lengths"></div></a>
<a href="../../components/meshplus/edgeSharedFaceAngles.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -72px -96px" data-downtip="Edge Shared Face Angles"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/extractEdges.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -192px -96px" data-toptip="Extract Edges"></div></a>
<a href="../../components/meshplus/faceEdgeLengths.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -96px -120px" data-downtip="Face Edge Lengths"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/faceNormalDirection.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -120px -120px" data-toptip="Face Normal Direction"></div></a>
<a href="../../components/meshplus/faceToFaceAngles.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -144px -120px" data-downtip="Face to Face Angles"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/faceVertexAngles.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -168px -120px" data-toptip="Face Vertex Angles"></div></a>
<a href="../../components/meshplus/meshFaceArea.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -24px -192px" data-downtip="Mesh Face Area"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/topologyVertices.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') 0px -288px" data-toptip="Topology Vertices"></div></a>
<a href="../../components/meshplus/unitizeMeshDistances.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -72px -288px" data-downtip="Unitize Mesh Distances"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/valence.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -120px -288px" data-toptip="Valence"></div></a>
<a href="../../components/meshplus/vertexFaceAngles.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -144px -288px" data-downtip="Vertex Face Angles"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/vertexNormalDirection.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -168px -288px" data-toptip="Vertex Normal Direction"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="9">
Analyze
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/meshCaps.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -120px 0px" data-toptip="Mesh Caps"></div></a>
<a href="../../components/meshplus/explodeUnwelded.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -168px -96px" data-downtip="Explode Unwelded"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/meshExplode.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -216px -168px" data-toptip="Mesh Explode"></div></a>
<a href="../../components/meshplus/meshExtend.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') 0px -192px" data-downtip="Mesh Extend"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/meshOffsetExtrude.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -72px -192px" data-toptip="Mesh Offset &amp; Extrude"></div></a>
<a href="../../components/meshplus/offsetEdges.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -48px -216px" data-downtip="Offset Edges"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/spanBridge.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -120px -264px" data-toptip="Span &amp; Bridge"></div></a>
<a href="../../components/meshplus/unweldExplode.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -96px -288px" data-downtip="Unweld &amp; Explode"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Edit
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/hair.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -96px 0px" data-toptip="Hair"></div></a>
<a href="../../components/meshplus/polyp.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -144px 0px" data-downtip="Polyp"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/pore.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -168px 0px" data-toptip="Pore"></div></a>
<a href="../../components/meshplus/antisnub.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -96px -24px" data-downtip="Antisnub"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/node.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -24px -216px" data-toptip="Node"></div></a>
<a href="../../components/meshplus/peel.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -144px -216px" data-downtip="Peel"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/pinch.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -168px -216px" data-toptip="Pinch"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Effects
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/branch.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -24px -48px" data-toptip="Branch"></div></a>
<a href="../../components/meshplus/crumple.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -144px -72px" data-downtip="Crumple"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/crystalize.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -168px -72px" data-toptip="Crystalize"></div></a>
<a href="../../components/meshplus/expand.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -120px -96px" data-downtip="Expand"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/facet.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -192px -120px" data-toptip="Facet"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Loop
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/cairoTiling.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -48px -48px" data-toptip="Cairo Tiling"></div></a>
<a href="../../components/meshplus/diamondTiling.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') 0px -96px" data-downtip="Diamond Tiling"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/elongatedTriangleTiling.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -96px -96px" data-toptip="Elongated Triangle Tiling"></div></a>
<a href="../../components/meshplus/fillMeshHoles.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -24px -144px" data-downtip="Fill Mesh Holes"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/meshLoft.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -48px -192px" data-toptip="Mesh Loft"></div></a>
<a href="../../components/meshplus/ngonMesh.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') 0px -216px" data-downtip="ngon Mesh"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/patternedTriangulation.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -120px -216px" data-toptip="Patterned Triangulation"></div></a>
<a href="../../components/meshplus/regularTriangulation.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') 0px -240px" data-downtip="Regular Triangulation"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/rhombitrihexagonalTiling.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -48px -240px" data-toptip="Rhombitrihexagonal Tiling"></div></a>
<a href="../../components/meshplus/snubSquareTiling.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') 0px -264px" data-downtip="Snub Square Tiling"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/truncatedSquareTiling.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -48px -288px" data-toptip="Truncated Square Tiling"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Make
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/baycentricMeshMorph.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -216px -24px" data-toptip="Baycentric Mesh Morph"></div></a>
<a href="../../components/meshplus/mapCurveToCurve.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -24px -168px" data-downtip="Map Curve to Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/mapCurvesToMesh.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -48px -168px" data-toptip="Map Curves to Mesh"></div></a>
<a href="../../components/meshplus/mapEdgeValues.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -72px -168px" data-downtip="Map Edge Values"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/mapFaceValues.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -96px -168px" data-toptip="Map Face Values"></div></a>
<a href="../../components/meshplus/mapMeshToCurves.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -120px -168px" data-downtip="Map Mesh to Curves"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/mapPointsToCurve.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -144px -168px" data-toptip="Map Points to Curve"></div></a>
<a href="../../components/meshplus/mapPointsToMesh.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -168px -168px" data-downtip="Map Points to Mesh"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/mapVertexValues.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -192px -168px" data-toptip="Map Vertex Values"></div></a>
<a href="../../components/meshplus/meshTwistedBox.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -96px -192px" data-downtip="Mesh Twisted Box"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/wrapData.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -72px -312px" data-toptip="Wrap Data"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Map
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/alignMeshVertices.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -72px -24px" data-toptip="Align Mesh Vertices"></div></a>
<a href="../../components/meshplus/calculateVertexNormals.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -72px -48px" data-downtip="Calculate Vertex Normals"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/computeFaceNormals.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -192px -48px" data-toptip="Compute Face Normals"></div></a>
<a href="../../components/meshplus/mirrorFaceOrientation.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -144px -192px" data-downtip="Mirror Face Orientation"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/reverseFaceNormal.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -24px -240px" data-toptip="Reverse Face Normal"></div></a>
<a href="../../components/meshplus/shiftFaceOrientation.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -216px -240px" data-downtip="Shift Face Orientation"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/triangulateMesh.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -24px -288px" data-toptip="Triangulate Mesh"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Modify
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/faceBands.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -48px -120px" data-toptip="Face Bands"></div></a>
<a href="../../components/meshplus/proximityVertexSelection.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -216px -216px" data-downtip="Proximity Vertex Selection"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/selectByTopologicalDistance.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -96px -240px" data-toptip="Select by Topological Distance"></div></a>
<a href="../../components/meshplus/selectByVertexAngle.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -120px -240px" data-downtip="Select by Vertex Angle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/selectMeshEdge.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -144px -240px" data-toptip="Select Mesh Edge"></div></a>
<a href="../../components/meshplus/selectMeshFaces.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -168px -240px" data-downtip="Select Mesh Faces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/selectMeshVertices.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -192px -240px" data-toptip="Select Mesh Vertices"></div></a>
<a href="../../components/meshplus/vertexRings.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -192px -288px" data-downtip="Vertex Rings"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Select
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/highlight.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -48px -144px" data-toptip="Highlight"></div></a>
<a href="../../components/meshplus/labelEdge.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -120px -144px" data-downtip="Label Edge"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/labelFace.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -144px -144px" data-toptip="Label Face"></div></a>
<a href="../../components/meshplus/labelTopoVert.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -168px -144px" data-downtip="Label Topo Vert"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/labelVertexIndices.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -192px -144px" data-toptip="Label Vertex Indices"></div></a>
<a href="../../components/meshplus/labelVertex.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -216px -144px" data-downtip="Label Vertex"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Show
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/weightedCatmullClarkSubdivision.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -48px -24px" data-toptip="Weighted Catmull Clark Subdivision"></div></a>
<a href="../../components/meshplus/catmullClarkNGonSubdivision.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -96px -48px" data-downtip="Catmull Clark nGon Subdivision"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/dooSabinSubdivision.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -24px -96px" data-toptip="Doo Sabin Subdivision"></div></a>
<a href="../../components/meshplus/expansionSubdivision.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -144px -96px" data-downtip="Expansion Subdivision"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/faceCenterSubdivision.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -72px -120px" data-toptip="Face Center Subdivision"></div></a>
<a href="../../components/meshplus/midEdgeSubdivision.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -120px -192px" data-downtip="Mid Edge Subdivision"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/modifiedKobbeltSubdivision.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -168px -192px" data-toptip="Modified Kobbelt Subdivision"></div></a>
<a href="../../components/meshplus/root3Subdivision.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -72px -240px" data-downtip="Root 3 Subdivision"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/weightedButterflySubdivision.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') 0px -312px" data-toptip="Weighted Butterfly Subdivision"></div></a>
<a href="../../components/meshplus/weightedLoopSubdivision.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -24px -312px" data-downtip="Weighted Loop Subdivision"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/weightedRoot3Subdivision.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -48px -312px" data-toptip="Weighted Root 3 Subdivision"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Smooth
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/frame0.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') 0px 0px" data-toptip="Frame+0"></div></a>
<a href="../../components/meshplus/frame1.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -24px 0px" data-downtip="Frame+1"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/frame2.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -48px 0px" data-toptip="Frame+2"></div></a>
<a href="../../components/meshplus/frame3.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -72px 0px" data-downtip="Frame+3"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/t3.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -192px 0px" data-toptip="T+3"></div></a>
<a href="../../components/meshplus/triFrame1.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -216px 0px" data-downtip="Tri Frame+1"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/triFrame2.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') 0px -24px" data-toptip="Tri Frame+2"></div></a>
<a href="../../components/meshplus/triFrame3.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -24px -24px" data-downtip="Tri Frame+3"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/aperture0.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -120px -24px" data-toptip="Aperture+0"></div></a>
<a href="../../components/meshplus/aperture2.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -144px -24px" data-downtip="Aperture+2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/aperture3.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -168px -24px" data-toptip="Aperture+3"></div></a>
<a href="../../components/meshplus/center1.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -120px -48px" data-downtip="Center+1"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/center3.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -144px -48px" data-toptip="Center+3"></div></a>
<a href="../../components/meshplus/dense1.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -216px -72px" data-downtip="Dense+1"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/fan2.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -216px -120px" data-toptip="Fan+2"></div></a>
<a href="../../components/meshplus/fan3.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') 0px -144px" data-downtip="Fan+3"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/pinwheel2.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -192px -216px" data-toptip="Pinwheel+2"></div></a>
<a href="../../components/meshplus/snub0.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -24px -264px" data-downtip="Snub+0"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/snub1.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -48px -264px" data-toptip="Snub+1"></div></a>
<a href="../../components/meshplus/snub2.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -72px -264px" data-downtip="Snub+2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/snub3.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -96px -264px" data-toptip="Snub+3"></div></a>
<a href="../../components/meshplus/stellate0.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -168px -264px" data-downtip="Stellate+0"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/x2.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -96px -312px" data-toptip="X+2"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="12">
Subdivision
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/batwing.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -192px -24px" data-toptip="Batwing"></div></a>
<a href="../../components/meshplus/box.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') 0px -48px" data-downtip="Box"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/cLP.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -168px -48px" data-toptip="CLP"></div></a>
<a href="../../components/meshplus/cross.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -120px -72px" data-downtip="Cross"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/d.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -192px -72px" data-toptip="D"></div></a>
<a href="../../components/meshplus/fRD.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -216px -96px" data-downtip="F-RD"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/fRDr.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') 0px -120px" data-toptip="F-RDr"></div></a>
<a href="../../components/meshplus/fRDr2.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -24px -120px" data-downtip="F-RDr2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/iWP.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -72px -144px" data-toptip="I-WP"></div></a>
<a href="../../components/meshplus/iWPr.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -96px -144px" data-downtip="I-WPr"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/nevious.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -216px -192px" data-toptip="Nevious"></div></a>
<a href="../../components/meshplus/p.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -72px -216px" data-downtip="P"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/pa.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -96px -216px" data-toptip="Pa"></div></a>
<a href="../../components/meshplus/sS.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -144px -264px" data-downtip="SS"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/switch.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -192px -264px" data-toptip="Switch"></div></a>
<a href="../../components/meshplus/xT.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -120px -312px" data-downtip="X&amp;T"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
Volume
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/continuum.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -72px -72px" data-toptip="Continuum"></div></a>
<a href="../../components/meshplus/crissCross.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -96px -72px" data-downtip="Criss Cross"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/link.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') 0px -168px" data-toptip="Link"></div></a>
<a href="../../components/meshplus/net.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -192px -192px" data-downtip="Net"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshplus/thatch.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -216px -264px" data-toptip="Thatch"></div></a>
<a href="../../components/meshplus/weave.html"><div class="ghsprite" style="background: url('../../icons/meshPlus.png') -216px -288px" data-downtip="Weave"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Weave
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://www.food4rhino.com/app/mesh">Download</a>
</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/meshPlus.png') 0px -48px" ></div> Box</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/meshplus.html">MeshPlus</a><a href="#" class="breadcrumb-nolink">Volume</a><a href="#" class="breadcrumb-nolink">m+Box</a>
</div>

</div>
<h3>Creates a mesh which spans two meshes bridging them from either the vertex or edge center</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>G0</b></td><td>G0</td><td>Script Variable G0</td><td>Goo</td></tr>
<tr><td><b>G1</b></td><td>G1</td><td>Script Variable G1</td><td>Goo</td></tr>
<tr><td><b>I</b></td><td>I</td><td>Script Variable I</td><td>Goo</td></tr>
<tr><td><b>T0</b></td><td>T0</td><td>Script Variable T0</td><td>Goo</td></tr>
<tr><td><b>T1</b></td><td>T1</td><td>Script Variable T1</td><td>Goo</td></tr>
<tr><td><b>D</b></td><td>D</td><td>Script Variable D</td><td>Goo</td></tr>
<tr><td><b>C</b></td><td>C</td><td>Script Variable C</td><td>Goo</td></tr>
<tr><td><b>F</b></td><td>F</td><td>Script Variable F</td><td>Goo</td></tr>
<tr><td><b>clr</b></td><td>clr</td><td>Script Variable clr</td><td>Goo</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>out</b></td><td>out</td><td>Print, Reflect and Error streams</td><td>String</td></tr>
<tr><td><b>A</b></td><td>A</td><td>Output parameter A</td><td>Goo</td></tr>
</tbody>
</table>


</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
© 2018-2020  <a href="https://github.com/robinrodricks/">Robin Rodricks</a> and <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Hosted by<a href="http://www.github.com/"><img src="../../images/github.png" alt="Github" class="poweredbylogo" /></a> &nbsp;
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
