<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Custom Preview Materials - Grasshopper Component Reference</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="A guide to component Custom Preview Materials in Grasshopper 3D." />
<meta name="title" content="Grasshopper Component Reference" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://rhino.github.io/" />
<meta property="og:title" content="Custom Preview Materials - Grasshopper Component Reference" />

<meta property="wiki-page" content="GH Human Custom_Preview_Materials.md" />

<link rel="image_src" href="http://rhino.github.io/ning/2985220.jpg" />

<style type="text/css" media="screen,projection">
#xg_navigation ul div.xg_subtab ul li a {
    color:#666666;
    background:#EAFFBD;
}
#xg_navigation ul div.xg_subtab ul li a:hover {
    color:#333333;
    background:#F2FFD6;
}
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/index.css);
@import url(../../ning/page.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187549422.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187545030.css);
</style>


<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
    
        
        <div id="xg" class="xg_theme xg_widget_page xg_widget_page_page xg_widget_page_page_show" data-layout-pack="classic">
            <div id="xg_head">
                <div id="xg_masthead">
                    <p id="xg_sitename"><a id="application_name_header_link" href="http://rhino.github.io/">Grasshopper</a></p>
                    <p id="xg_sitedesc" class="xj_site_desc">algorithmic modeling for Rhino</p>
                </div>
                <div id="xg_navigation">
                    <ul>
    <li id="xg_tab_main" class="xg_subtab"><a href="http://www.grasshopper3d.com/"><span>Home</span></a></li>
	<li id="xg_tab_photo" class="xg_subtab"><a href="http://www.grasshopper3d.com/photo"><span>View</span></a></li>
	<li id="xg_tab_xn0" class="xg_subtab"><a href="http://www.grasshopper3d.com/page/download-1"><span>Download</span></a></li>
	<li id="xg_tab_forum" class="xg_subtab"><a href="https://discourse.mcneel.com/c/grasshopper"><span>Forums&#47;Support</span></a></li>
	<li id="xg_tab_xn2" class="xg_subtab this"><a href="http://rhino.github.io/"><span>Learn</span></a></li>
	<li id="xg_tab_events" class="xg_subtab"><a href="https://www.grasshopper3d.com/page/tutorials-1"><span>Learn</span></a></li>
	<li id="xg_tab_events" class="xg_subtab"><a href="http://www.grasshopper3d.com/events"><span>Attend</span></a></li>
	<li id="xg_tab_profile" class="xg_subtab"><a href="http://www.grasshopper3d.com/profiles"><span>My Page</span></a></li></ul>

                </div>
            </div>
            
            <div id="xg_body">
                
				<div class="page">

<div class="content">

<div class="ghbar">
<table class="ghbar-table">
<tr>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/human/bakeGeometry.html"><img class="ghicon" src="../../icons/Human/Bake_Geometry.png" title="Bake Geometry"></a>
<a href="../../components/human/createAttributes.html"><img class="ghicon" src="../../icons/Human/CreateAttributes.png" title="CreateAttributes"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/createHatch.html"><img class="ghicon" src="../../icons/Human/CreateHatch.png" title="CreateHatch"></a>
<a href="../../components/human/createLight.html"><img class="ghicon" src="../../icons/Human/CreateLight.png" title="CreateLight"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/defineBlock.html"><img class="ghicon" src="../../icons/Human/Define_Block.png" title="Define Block"></a>
<a href="../../components/human/justifiedText3d.html"><img class="ghicon" src="../../icons/Human/JustifiedText3d.png" title="JustifiedText3d"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/placeBlock.html"><img class="ghicon" src="../../icons/Human/PlaceBlock.png" title="PlaceBlock"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Creation
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/human/renderCurveToScreen.html"><img class="ghicon" src="../../icons/Human/Render_Curve_to_Screen.png" title="Render Curve to Screen"></a>
<a href="../../components/human/customPreviewLineweights.html"><img class="ghicon" src="../../icons/Human/Custom_Preview_Lineweights.png" title="Custom Preview Lineweights"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/customPreviewMaterials.html"><img class="ghicon" src="../../icons/Human/Custom_Preview_Materials.png" title="Custom Preview Materials"></a>
<a href="../../components/human/renderMeshToScreen.html"><img class="ghicon" src="../../icons/Human/Render_Mesh_to_Screen.png" title="Render Mesh to Screen"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/renderPointToScreen.html"><img class="ghicon" src="../../icons/Human/Render_Point_to_Screen.png" title="Render Point to Screen"></a>
<a href="../../components/human/screenOrientedMesh.html"><img class="ghicon" src="../../icons/Human/Screen-Oriented_Mesh.png" title="Screen-Oriented Mesh"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/screenOrientedText.html"><img class="ghicon" src="../../icons/Human/Screen-Oriented_Text.png" title="Screen-Oriented Text"></a>
<a href="../../components/human/renderTextToScreen.html"><img class="ghicon" src="../../icons/Human/Render_Text_to_Screen.png" title="Render Text to Screen"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/screenToWorldTag.html"><img class="ghicon" src="../../icons/Human/Screen-To-World_Tag.png" title="Screen-To-World Tag"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Display
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/human/fontTable.html"><img class="ghicon" src="../../icons/Human/Font_Table.png" title="Font Table"></a>
<a href="../../components/human/hatchTable.html"><img class="ghicon" src="../../icons/Human/Hatch_Table.png" title="Hatch Table"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/linetypeTable.html"><img class="ghicon" src="../../icons/Human/Linetype_Table.png" title="Linetype Table"></a>
<a href="../../components/human/materialTable.html"><img class="ghicon" src="../../icons/Human/Material_Table.png" title="Material Table"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/namedViewsAndDisplayModes.html"><img class="ghicon" src="../../icons/Human/Named_Views_and_Display_Modes.png" title="Named Views and Display Modes"></a>
<a href="../../components/human/layerTable.html"><img class="ghicon" src="../../icons/Human/Layer_Table.png" title="Layer Table"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/viewportProperties.html"><img class="ghicon" src="../../icons/Human/Viewport_Properties.png" title="Viewport Properties"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Document Info
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/human/createModifyLayers.html"><img class="ghicon" src="../../icons/Human/Create_Modify_Layers.png" title="Create/Modify Layers"></a>
<a href="../../components/human/createModifyMaterials.html"><img class="ghicon" src="../../icons/Human/Create_Modify_Materials.png" title="Create/Modify Materials"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/modifyViewport.html"><img class="ghicon" src="../../icons/Human/Modify_Viewport.png" title="Modify Viewport"></a>
<a href="../../components/human/modifyObjectAttributes.html"><img class="ghicon" src="../../icons/Human/Modify_Object_Attributes.png" title="Modify Object Attributes"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Document Modifications
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/human/itemSelector.html"><img class="ghicon" src="../../icons/Human/Item_Selector.png" title="Item Selector"></a>
<a href="../../components/human/convertToDocumentUnits.html"><img class="ghicon" src="../../icons/Human/Convert_To_Document_Units.png" title="Convert To Document Units"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/deleteOnLayer.html"><img class="ghicon" src="../../icons/Human/DeleteOnLayer.png" title="DeleteOnLayer"></a>
<a href="../../components/human/directoryContents.html"><img class="ghicon" src="../../icons/Human/Directory_Contents.png" title="Directory Contents"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/clickableMesh.html"><img class="ghicon" src="../../icons/Human/Clickable_Mesh.png" title="Clickable Mesh"></a>
<a href="../../components/human/filterByItem.html"><img class="ghicon" src="../../icons/Human/Filter_By_Item.png" title="Filter By Item"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/dispatchMultiple.html"><img class="ghicon" src="../../icons/Human/Dispatch_Multiple.png" title="Dispatch Multiple"></a>
<a href="../../components/human/saveViewportToFile.html"><img class="ghicon" src="../../icons/Human/Save_Viewport_To_File.png" title="Save Viewport To File"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Misc
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/human/explodeBlocks.html"><img class="ghicon" src="../../icons/Human/Explode_Blocks.png" title="Explode Blocks"></a>
<a href="../../components/human/explodeBlocksRecursively.html"><img class="ghicon" src="../../icons/Human/Explode_Blocks_Recursively.png" title="Explode Blocks Recursively"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/dynamicGeometryPipeline.html"><img class="ghicon" src="../../icons/Human/Dynamic_Geometry_Pipeline.png" title="Dynamic Geometry Pipeline"></a>
<a href="../../components/human/hatchExplode.html"><img class="ghicon" src="../../icons/Human/Hatch_Explode.png" title="Hatch Explode"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/lightProperties.html"><img class="ghicon" src="../../icons/Human/LightProperties.png" title="LightProperties"></a>
<a href="../../components/human/objectAttributes.html"><img class="ghicon" src="../../icons/Human/Object_Attributes.png" title="Object Attributes"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/objectsBySelection.html"><img class="ghicon" src="../../icons/Human/Objects_By_Selection.png" title="Objects By Selection"></a>
<a href="../../components/human/sortObjectsByType.html"><img class="ghicon" src="../../icons/Human/Sort_Objects_By_Type.png" title="Sort Objects By Type"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/textObjectInfo.html"><img class="ghicon" src="../../icons/Human/Text_Object_Info.png" title="Text Object Info"></a>
<a href="../../components/human/reinstateTree.html"><img class="ghicon" src="../../icons/Human/Reinstate_Tree.png" title="Reinstate Tree"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Reference
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/human/boxMapping.html"><img class="ghicon" src="../../icons/Human/BoxMapping.png" title="BoxMapping"></a>
<a href="../../components/human/customMapping.html"><img class="ghicon" src="../../icons/Human/Custom_Mapping.png" title="Custom Mapping"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/cylinderMapping.html"><img class="ghicon" src="../../icons/Human/CylinderMapping.png" title="CylinderMapping"></a>
<a href="../../components/human/planarMapping.html"><img class="ghicon" src="../../icons/Human/PlanarMapping.png" title="PlanarMapping"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/sphericalMapping.html"><img class="ghicon" src="../../icons/Human/SphericalMapping.png" title="SphericalMapping"></a>
<a href="../../components/human/surfaceMapping.html"><img class="ghicon" src="../../icons/Human/SurfaceMapping.png" title="SurfaceMapping"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Texture Mapping
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/human/assignPaths.html"><img class="ghicon" src="../../icons/Human/AssignPaths.png" title="AssignPaths"></a>
<a href="../../components/human/graftByData.html"><img class="ghicon" src="../../icons/Human/Graft_By_Data.png" title="Graft By Data"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/human/matchPaths.html"><img class="ghicon" src="../../icons/Human/MatchPaths.png" title="MatchPaths"></a>
<a href="../../components/human/pathDescription.html"><img class="ghicon" src="../../icons/Human/PathDescription.png" title="PathDescription"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
TreeFrog
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</div>


<div class="addon-buttons">
<a href="https://www.food4rhino.com/app/human">Download</a>
</div>

<div>
<h1><img src="../../icons/Human/Custom_Preview_Materials.png"/> Custom Preview Materials</h1>
<p><a href="../../index.html#Human">Component Index</a> &gt; <a href="../../addons/human.html">Human</a> > Display > <b>Custom Preview Materials</b></p>
</div>
<h3>Custom Preview with Materials</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Geometry</b></td><td>G</td><td>Geometry to preview</td><td>GeometricGoo</td></tr>
<tr><td><b>Diffuse Color</b></td><td>DC</td><td>The base diffuse color.</td><td>Colour</td></tr>
<tr><td><b>Transparency</b></td><td>T</td><td>The overall transparency, from 0 to 1.</td><td>Number</td></tr>
<tr><td><b>Diffuse Bitmap</b></td><td>DB</td><td>The filepath to the bitmap image to be used in the diffuse channel.</td><td>String</td></tr>
<tr><td><b>Transparency Bitmap</b></td><td>TB</td><td>The filepath to the bitmap image to be used in the transparency channel.</td><td>String</td></tr>
</tbody>
</table>


  </div>

</div>

            </div>
            <div id="xg_foot">
                <p class="left">
    © 2018-2020             &nbsp; Created by <a href="https://github.com/robinrodricks/">Robin Rodricks</a> and <a href="http://www.grasshopper3d.com/profile/AndrewHeumann/">Andrew Heumann</a>. &nbsp;
    Hosted by<a href="http://www.github.com/"><img src="../../images/github.png" alt="Github" class="poweredbylogo" /></a>
	</p>
    <p class="right xg_lightfont">
                    <a href="http://www.grasshopper3d.com/main/embeddable/list">Badges</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/index/report" dojotype="PromptToJoinLink" _joinprompttext="Please sign up or sign in to complete this step." _hassignup="true" _signinurl="http://www.grasshopper3d.com/main/authorization/signIn?target=http%3A%2F%2Fwww.grasshopper3d.com%2Fmain%2Findex%2Freport">Report an Issue</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/authorization/termsOfService?previousUrl=http%3A%2F%2Fwww.grasshopper3d.com%2Fpage%2Fcomponent-reference">Terms of Service</a>
            </p>

            </div>
        </div>
        
        <div id="xj_baz17246" class="xg_theme"></div>
<div id="xg_overlay" style="display:none;">
<!--[if lte IE 6.5]><iframe></iframe><![endif]-->
</div>
<!--googleoff: all--><noscript>
	<style type="text/css" media="screen">
        #xg { position:relative;top:120px; }
        #xn_bar { top:120px; }
	</style>
	<div class="errordesc noscript">
		<div>
            <h3><strong>Hello, you need to enable JavaScript to use Grasshopper.</strong></h3>
            <p>Please check your browser settings or contact your system administrator.</p>
			
		</div>
	</div>
</noscript><!--googleon: all-->

<script src="/js/jquery.js"></script>
<script src="/js/kramed.min.js"></script>
<script src="/js/component.js"></script>
<script src="/js/user.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
