
body {
	font: 62.5% arial, helvetica, clean, sans-serif;
	height: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
	line-height: 1.3;
	background-color: #767e80;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,font,fieldset,input,button,p,blockquote,th,td {
	margin: 0;
	padding: 0;
	line-height: inherit;
}

hr,fieldset,img,button {
	border: 0 none;
}

#docs-body hr {
	height: 1px;
	color: #ccc;
	background-color: #ccc;
	padding: 0;
	margin: 2em 0;
}


.left {
	float: left!important;
}

.right {
	float: right!important;
}

pre,
code,
.code {
	font: 1.1em Monaco, "Courier New", Courier, monospace!important;
}

pre,
blockquote {
	margin: 2em 0;
	padding-left: 1em;
	border-left: 2px solid #ccc;
}

.dy-subtext,
blockquote {
	font-style: italic;
}

blockquote {
	line-height: 1.8em;
}

:focus {
	-moz-outline-style: none;
}

h1 {
	clear: left;
	font-size: 2.4em;
	margin-bottom: 0.1em;
	line-height: 1.6em;
	font-weight: normal;
	padding: 1px 5px;
}


h1.subhead {
	margin-top: .5em;
}

h1 span.count {
	font-size: .75em;
}

h2 {
	font-size: 1.4656em;
}

h3,
caption {
	margin: .4em 0 0;
	font-size: 1.1908em;
	font-weight: bold;
}

h3 small {
	font-weight: normal;
}

h4 {
	font-size: 1.0992em;
}

h5 {
	font-size: 1.0992em;
}

h6 {
	font-size: 1em;
}

embed {
	margin-bottom: 0.5em;
}

p,
ul,
ol,
dl {
	font-size: 1.2em;
	margin-bottom: 0.4em;
}

.margin-bottom {
	margin-bottom: .4em;
}

ul p,
dl dd p {
	font-size: 1em;
}

ul ul,
ul ol,
ol ul,
ol ol {
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 0;
}

ul p.small {
	font-size: .9em;
}

div.description {
	font-size: 1.2em;
}

.normal {
	font-size: 1.2em;
}

div.description * {
	font-size: 1.0em;
}

li,
dt,
dd {
	font-size: 1em;
	margin-bottom: 0.4em;
}

p big {
	font-size: 150%;
	line-height: 1.5em;
}

small {
	font-size: 95%;
}


#docs-body table,
#docs-body th,
#docs-body td {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
}

#docs-body table th {
	font-family: inherit!important;
	font-weight: bold;
}

#docs-body table {
	margin: 0 0 0.5em 0;
}

#docs-body table tr.alt {
	_background: none;
	background: rgba(200, 200, 200, .25);
}

#docs-body th,
#docs-body td {
	padding: 3px 5px;
	font-size: 1.1em;
}

#docs-body caption,
#docs-body th {
	text-align: left;
}

#docs-body table th.sortable {
	padding: 0;
}

#docs-body table th.sortable a {
	padding: 3px 5px;
	display: block;
}

#docs-body table th.sorted,
#docs-body table th.sortable a:hover {
	_background: none;
}

.disabled,
.docs-lightfont {
	color: #606652;
}

hr {
	color: #e1e1e1;
	background-color: #e1e1e1;
}

#docs .topmsg {
	margin: -10px 0 10px -10px
}

#docs-body:after,
dl.vcard:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

#docs {
	clear: both;
	width: 955px;
	margin: auto;
	text-align: left
}
#docs-masthead a {
	text-decoration: none
}


#docs-foot {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
	background-color: #242829;
	font-size: 11px;
	padding: 10px;
	color: #a0aab3;
	min-height: 50px;
	line-height: 25px;
	display: block;
    overflow: auto;
}
#docs-foot a {
	color: #e5ebf0;
	text-decoration: none;
}
#docs-foot a:hover {
	color: #fff;
	text-decoration: none;
}

#docs-foot .right {
	padding-left: 10px;
	margin-right: 10px;
	white-space: nowrap;
}


#docs-body .docs-headline .tb ul.byline li a,
a,
ul.backlink li a {
	text-decoration: underline
}

#docs,
.docs-headerbg {
	background-color: #fff;
	background-image: none;
	background-repeat: no-repeat
}

#docs {
	margin: 0;
	width: auto;
	background-color: #fffce1;
}

#docs-body {
	margin-top: 50px;
}

#docs-head {
	left: 0;
	top: 0;
	width: 100%;
	clear: left;
	z-index: 2;
	background-color: #fafafb;
	height: 60px;
	box-sizing: border-box;
	border-top: 3px solid #4fc67b;
	position: fixed;
	min-width: auto;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.05),0 2px 8px rgba(0,0,0,0.05);
}

#docs-head img {
	margin-top: 3px;
}

#docs-sitename {
	display: inline-block;
}

#docs-sitename a {
	font-weight: 700;
	text-align: left;
	color: #242829;
	margin-top: 20px;
	font-size: 30px;
	padding: 15px;
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	font-size: 25pt;
	font-weight: 400;
}

#docs-sitedesc {
	display: inline-block;
	color: #575757;
	white-space: nowrap;
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	font-size: 10pt;
	height: 55px;
	vertical-align: middle;
	position: fixed;
	top: 22px;
}

#docs-sitesearch {
	display: inline-block;
	width: 300px;
	float: right;
	margin: 12px;
}

.page {
  position: relative;
  margin: 0px;
  padding: 20px 20px;
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 10pt;
  line-height: 1.8;
  color: #363636;
}

#main {
	color: #F2FFD6;
}

.homepage {
  padding-left: 140px;
}

.bigdesc, .desc, a.desc {
  padding-left: 0px;
}

.header {
  margin-top: -10px;
  margin-bottom: 30px;
}


div.cols {
  padding: 0;
  margin: 0;
}

.small div.cols {
  width: 100%;
}

div.cols .left {
  float: left;
  width: 47%;
}

div.cols .right {
  float: right;
  width: 47%;
}

.small div.cols .left,
.small div.cols .right {
  width: 100%;
}


div.cols .end {
  clear: both;
  height: 0;
  overflow: hidden;
}

#docs-body table {
  border-collapse: collapse;
  margin: 15px 0;
}

#docs-body table th,
#docs-body table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

#docs-body table th {
  color: #fff;
  background-color: #54b377;
  padding: 2px 13px;
  text-align: left;
}

#docs-body table tr {
  background-color: #FFF;
}
#docs-body table tr:nth-child(2n) {
  background-color: #F5F5F5;
}


.tips {
  color: #b4b4b4;
  margin: 10px 0;
}
.tips ul {
  margin: 0;
}

.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.8;
  padding-left: 30px;
  margin-left: -30px;
  font-weight: normal;
}

.page h1 {
  margin-bottom: 0px;
}

.page h1 a,
.page h2 a,
.page h3 a,
.page h4 a,
.page h5 a,
.page h6 a {
  position: absolute;
  width: 30px;
  left: 0;
  top: 0;
  display: inline-block;
  text-align: center;
  visibility: hidden;
  text-decoration: none;
}


.page h1:hover a,
.page h2:hover a,
.page h3:hover a,
.page h4:hover a,
.page h5:hover a,
.page h6:hover a {
  visibility: visible;
}

.page h1 a:hover,
.page h2 a:hover,
.page h3 a:hover,
.page h4 a:hover,
.page h5 a:hover,
.page h6 a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: square;
}

img {
  border: none;
}

a {
  color: #dc3912;
}

a:visited {
  color: #b82e12;
}

a:hover {
  color: #f43f14;
}


.codeword {
  font-size: 9pt;
  color: #888;
}
.libheader .codeword {
  color: inherit;
}

.desc {
  font-size: 9pt;
}

.page p {
  font-size: 10pt;
}

h1 {
  font-size: 180%;
  margin-bottom: -10px;
}

h2 {
  font-size: 150%;
  margin-bottom: -10px;
}

h3 {
  font-size: 120%;
}

.libheader {
	position: relative;
	left: -20px;
	top: 0px;
	height: 60px;
	width: 100%;
    color: #fff;
	background: #2f9756;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.05), 0 2px 8px rgba(0,0,0,0.05);
	margin-top: 50px;
	padding-top: 0px;
	padding-left: 20px;
}

.libheader a {
  color: #fff;
    transition: color 100ms;
}
.libheader a:hover {
  color: #98ffbe;
}

.lib-buttons {
    text-align: right;
    margin-top: -54px;
}

.lib-buttons a {
    display: inline-block;
    padding: 6px 20px 6px 20px;
    margin: 10px 10px 10px 10px;
    color: #4c8504;
    background-color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 100ms;
}
.lib-buttons a:hover, .lib-buttons a:focus {
	background-color: #4fc67b;
	color: #fff;
    text-decoration: none;
}

.cparent {
	width: 100%;
}

.cchild {
  width: 320px;
  display: inline-block;
  padding-right: 10px;
}

.ccol_2 {
  width: 270px;
}

.index-compos {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px 0;
}
.index-compos td {
  border: none;
  padding: 2px 5px;
}



/* TOC ON INDEX */

#toc {
    top: 0px;
    left: 0px;
    height: 100%;
    position: fixed;
    background: #242829;
    box-shadow: inset -5px 0 5px 0px #112000;
    width: 140px;
    color: #fff;
	overflow: auto;
}

#toc ul {
    margin: 0;
	margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#toc .toc-h2 {
    padding-left: 10px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc .toc-active {
    background: #216c3d;
    box-shadow: inset -5px 0px 10px -5px #000;
}
#toc .toc-active a {
}


/* COMPLETE INDEX PAGE - ADDON LISTING */

.libheader a, .libheader a:hover, .libheader a:focus {
    text-decoration: none;
}

.libheader h2 {
	line-height: 2;
}


/* INDEX PAGE - ADDON LISTING */

#docs-body .libtable {
	margin: 15px 0;
	width: 100%;
}

#docs-body .libtable th {
	border: none;
    padding: 0px 0px;
}
#docs-body .libtable td {
	border: none;
    padding: 10px 10px;
}
#docs-body .libtable tr {
	background: none;
}
#docs-body .libtable tr:nth-child(2n) {
	background-color: #f3eec1 !important;
}

#docs-body .libtabcell {
	overflow-x: auto;
}
#docs-body .libheadercell {
	width: 180px;
}
#docs-body .libheadercell a {
    display: block;
    height: 100%;
	padding: 10px 10px;
    transition: background-color 100ms, color 100ms;
}
#docs-body .libheadercell .codeword {
    transition: background-color 100ms, color 100ms;
}
#docs-body .libheadercell a, .libheadercell a:hover, .libheadercell a:focus {
    text-decoration: none;
	color: #9d0000;
}
#docs-body .libheadercell a:hover, .libheadercell a:focus, .libheadercell a:hover .codeword, .libheadercell a:focus .codeword {
    background-color: #d44200;
	color: #fff;
}


/* ADDON PAGE */

.addon-buttons {
	text-align: right;
	float: right;
}
.addon-buttons a {
	display: inline-block;
	border: 5px solid #2f9756;
	padding: 10px 20px 5px 20px;
	margin: 10px 10px 10px 10px;
	color: #FFF;
	background-color: #4cb673;
	height: 35px;
	font-size: 16px;
    text-decoration: none;
    transition: background-color 100ms;
}
.addon-buttons a:hover, .addon-buttons a:focus {
	background-color: #2f9756;
    text-decoration: none;
}
h6 {
	/*color: #548A00;*/
}

.addon-compos td {
  line-height: 1.2;
}



/* GH BAR */
.ghbar-head-title {
	margin-bottom: 10px;
}
.ghbar-addon-page {
	margin-bottom: 20px;
	/*overflow-x: auto;*/
}
.ghbar {
	/*margin-bottom: 20px;*/
	/*overflow-x: auto;*/
}
.ghbar-table {
	padding: 0px;
	margin: 0px;
}
.ghbar-table td {
	padding: 5px 5px 0px 0px;
	border: 0 none;
}
.ghbar-table tr {
	padding: 0px;
	margin: 0px;
	background: none;
}
.ghgroup {
	display: inline-block;
	border: 1px solid #999;
	border-radius: 5px;
	padding: 5px 0px 0px 0px;
	margin: 0px;
	background-color: white;
}
.ghcolumn {
	width: 25px;
}
#docs-body .ghgroup-table {
	padding: 0px;
	margin: 0px;
}
#docs-body .ghgroup-table tr {
	height: 70px;
}
#docs-body .ghgroup-table td {
	padding: 0px 2px 0px 2px;
	border: 0 none;
	vertical-align: top;
}
.ghgroup-title-row {
	padding: 0px 0px !important;
	height: 10px !important;
}
.ghgroup-title {
	font-size: 12px;
	color: #FFF;
	background-color: #777;
	text-align: center;
	overflow: hidden;
}
img.ghicon {
    font-size: 5px;
}

/* component button sprites */
.ghsprite {             
    display: inline-block;
	width: 24px;
	height: 24px;
}

/* TOP tooltips - for component buttons */
[data-toptip]:before {
	pointer-events: none;
    content: attr(data-toptip);
    position: absolute;
	display: none;
	z-index: 3;
    
    /* customizable */
    background-color: #111;
    padding: 2px;
    color: #fff;
    border-radius: 20px;
	font-size: 15px;
	width: 150px;
	text-align: center;
    margin-top: -35px;
    margin-left: -55px;
}
[data-toptip]:hover:before {
	display: block;
    opacity: 0.8;
}

/* BOTTOM tooltips - for component buttons */
[data-downtip]:before {
	pointer-events: none;
    content: attr(data-downtip);
    position: absolute;
	display: none;
	z-index: 3;
    
    /* customizable */
    background-color: #111;
    padding: 2px;
    color: #fff;
    border-radius: 20px;
	font-size: 15px;
	width: 150px;
	text-align: center;
    margin-top: 35px;
    margin-left: -55px;
}
[data-downtip]:hover:before {
	display: block;
    opacity: 0.8;
}


/* BREADCRUMBS */
.breadcrumb {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 15px;
	/*centering*/
	display: inline-block;
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag; 
	border: solid 1px #ccc;
}
.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 40px;
	background: #666;
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
	padding-left: 20px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
	left: 14px;
}
.breadcrumb a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}
/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px; 
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	/*stylish arrow design using box shadow*/
	box-shadow: 
		2px -2px 0 2px rgba(0, 0, 0, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/* linked breadcrumbs coloring */
.breadcrumb a, .breadcrumb a:after {
	background: #fff;
	color: black;
    transition: background-color 100ms, color 100ms;
}
/* hover/active styles */
.breadcrumb a:hover, .breadcrumb a.active, 
.breadcrumb a:hover:after, .breadcrumb a.active:after{
	background: #d44200;
	color: #fff;
}
/* unlinked breadcrumbs coloring */
.breadcrumb-nolink, .breadcrumb-nolink:after,
.breadcrumb-nolink:hover, .breadcrumb-nolink a.active {
	background: #ddd !important;
	color: black !important;
	cursor: default;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
	content: none;
}


/* ADDON/COMPO HEADER */
.addon-header {
	margin-top: 10px;
}
.addon-header h1 {
	font-size: 30px;
	margin-bottom: 10px;
}
.addon-header h5 {
	margin-bottom: 10px;
}
.compo-header h1 {
	font-size: 25px;
	margin-top: 20px;
}
.compo-header breadcrumbs {
	margin-bottom: 10px;
}


/* TOS */
.tos-para p {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.tos-list {
	margin-top: 30px;
	margin-bottom: 30px;
}
.tos-list li {
	margin-left: 40px;
}


/* VIDEO PLAYER */
.ghtutorials {
	margin-top: 50px;
}
.ghtutorials h2 {
	margin-bottom: 10px;
}
.html5gallery-tn-title-0 {
	margin-left: 75px !important;
	text-align: left !important;
	font-size: 14px !important;
	overflow: hidden !important;
	color: #000 !important;
	font-weight: 600 !important;
	line-height: 20px !important;
	font-family: "Open Sans", sans-serif !important;
}
.html5gallery-tn-0, .html5gallery-tn-selected-0 {
	border: 1px solid #ddd !important;
	padding: 5px 0px !important;
}
.html5gallery-tn-selected-0 {
	background: #d44200 !important;
	color: #fff !important;
}
.html5gallery-tn-selected-0 .html5gallery-tn-title-0 {
	color: #fff !important;
}
#html5gallery-elem-video-0 {
	background: #000 !important;
}
.html5gallery-container-0 {
	background-color: #fffce1 !important;
}



/* VERIFIED */
.verified-tick {
	display: inline-block;
	background: transparent url("images/tick.png") no-repeat scroll center;
	text-wrap: none;
}
.addon-header .verified-tick {
	margin-left: 5px;
	width: 22px;
	height: 22px;
}
.libheadercell .verified-tick {
	margin-left: 5px;
	width: 16px;
	height: 16px;
	background-size: contain;
}
.libheadercell a:hover .verified-tick {
    filter: brightness(1000%);
}


/* ADS */
.google-ad-sidebar {
	float: right;
	display: block;
	width: 250px;
	height: 250px;
	/*background-color: #f3eec1;*/
	margin-left: 30px;
	margin-top: 30px;
	clear: right;
	padding: 10px;
}
#docs-foot-inner {
	height: 50px;
}
#docs-foot-ad {
	background-color: #242829;
	margin: 40px;
}
.google-ad-footer {
	background-color: #3b4042;
	margin: 20px auto;
	width: 1000px;
	height: 280px;
}





/* MOBILE FRIENDLY - LANDSCAPE */
@media screen and (max-width: 1000px) and (min-width: 601px) {
	
	/* HIDE DESC ON MENUBAR */
	#docs-sitedesc {
		visibility: hidden;
		display: none;
	}
	
	/* HIDE RIBBON ON COMPO PAGE */
	.compo-page .ghbar {
		visibility: hidden;
		display: none;
	}
	
	/* SMALL BUTTONS ON COMPO PAGE */
	.addon-buttons a {
		padding: 5px 20px 0px 20px;
		margin: 5px;
	}
	
	/* MOBILE DISPLAY OF ADS */
	.google-ad-sidebar {
		/*height: 300px;*/
	}
}

/* MOBILE FRIENDLY - PORTRAIT */
@media screen and (max-width: 600px) and (min-width: 100px) {
	
	/* HIDE LOGO TEXT ON MOBILE */
	#site-logo-text {
		visibility: hidden;
		display: none;
	}
	
	/* NO HORIZONTAL SCROLL */
	body {
		max-width: 100%;
		overflow-x: hidden;
		overflow-y:scroll;
	}
	
	/* IMPROVED TITLE DISPLAY */
	#docs-sitedesc {
		display: none;
	}
	.index-page {
	}
	.addon-page {
	}
	.page h1 {
	}
	.addon-header h1, .page h1, .compo-header h1 {
		line-height: 35px;
	}
	
	/* IMPROVED ADDON PAGE DISPLAY */
	.addon-header {
		margin-top: 0;
	}
	.addon-buttons {
		float: left;
		margin-bottom: 20px;
	}
	.addon-header>h5>span {
		display: block;
	}
	
	/* SMALL BUTTONS ON COMPO PAGE */
	.addon-buttons a {
		padding: 5px 20px 0px 20px;
		margin: 5px;
	}
	
	/* HIDE RIBBON ON COMPO PAGE */
	.compo-page .ghbar {
		visibility: hidden;
		display: none;
	}
	
	/* HIDE VIDEO TUTORIALS ON ADDON PAGE */
	.ghtutorials {
		visibility: hidden;
		display: none;
	}
	
	/* IMPROVED TABLE ON COMPO PAGE */
	.params-table  {
		width: 100%;
	}
	.params-table>thead>tr>th  {
		padding: 2px 4px;
	}
	.params-table>tbody>tr>td  {
		padding: 6px 4px;
	}
	
	/* MOBILE DISPLAY OF BREADCRUMBS */
	.breadcrumb {
		font-size: 14px;
	}
	.breadcrumb a:first-child {
		padding-left: 10px;
	}
	.breadcrumb a {
		padding-left: 30px;
	}
	
	/* MOBILE DISPLAY OF INDEX */
	.libheadercell {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.libheadercell br {
		display: none;
	}
	.libheadercell h2, .libheadercell span, .libheadercell .codeword {
		display: inline-block;
		margin-right: 10px;
	}
	.libtable tr:nth-child(2n) {
		background-color: inherit !important;
	}
	
	/* MOBILE DISPLAY OF RIBBON TOOLBARS */
	.libtabcell {
		width:100%;
	}
	.libtable>tbody>tr>td {
		display: block;
	}
	.ghgroup-table td {
		display: inline-block;
	}
	td.ghgroup-title {
		display: block;
	}
	.libtable td {
		padding: 0;
	}
	
	/* MOBILE DISPLAY OF ADS */
	.google-ad-sidebar {
		display: none;
	}
}



/* ADS */
#carbonads {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 250px;
  height: 250px;
  text-align: center;
  background-color: #fff;
  box-shadow: inset 0 0 1px 1px hsla(0, 0%, 0%, .15);
}

#carbonads a {
  text-decoration: none;
  color: #111;
}

#carbonads a:hover {
  color: #111;
}

#carbonads span {
  display: block;

  overflow: hidden;
}

.carbon-img {
  display: block;
  margin: 0 0 8px;

  line-height: 1;
}

.carbon-img img {
  width: 150px;
  max-width: 150px !important;
  height: auto;
}

.carbon-text {
  display: block;
  margin-bottom: 8px;
  padding: 0 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.35;
}

.carbon-poweredby {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px 6px;

  font-size: 8px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #fff !important;
  background-color: hsl(246, 93%, 69%);
}



/* SEARCH BAR JQUERY COMPONENT */

.autocomplete {
  position:relative;
  font-size:14px;
  font-family:"Helvetica Neue", "Helvetica", "Arial", sans-serif;
  max-width:400px;
}
.autocomplete ul,
.autocomplete li {
  list-style:none;
  margin:0;
  padding:0;
}
.autocomplete .autocomplete-list {
  position:absolute;
  top:100%;
  right:0;
  margin:0;
  padding:0;
  list-style:none;
  width:100%;
  background:#fff;
  z-index:1000;
  color:#222;
  -webkit-overflow-scrolling: touch;
}
.autocomplete .autocomplete-group {
  position:relative;
  border-bottom:1px solid #f1f1f1;
  padding:10px 0;
}
.autocomplete .autocomplete-group-header {
  position:absolute;
  top:16px;
  left:10px;
  font-weight:bold;
}
.autocomplete .autocomplete-item {
  cursor:pointer;
  padding:6px 10px;
}
.autocomplete-group .autocomplete-item {
  padding-left:100px;
}
.autocomplete .autocomplete-item.active,
.autocomplete .autocomplete-item:hover {
  background-color:#ddd;
}
.autocomplete .autocomplete-item-last {
  font-weight:bold;
  text-align:center;
  padding:10px;
}

@media screen and (max-height:480px) and (max-width:480px) {
  /* a blunt check for mobile screens: they need bigger hit targets */
  .autocomplete .autocomplete-item {
    padding-top:12px;
    padding-bottom:12px;
  }
}


/* SEARCH BOX */

#docs-sitesearch input {
	display: inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:10px;
	padding-right: 40px; /* for icon */
	font-size:16px;
	font-family:"Helvetica Neue", "Helvetica", "Arial", sans-serif;
	border:1px solid #ddd;
	width:100%;
	margin-top:-5px;
	border-radius: 20px;
	box-shadow: 0 1px 2px rgb(0 0 0 / 5%) inset, 0 1px 4px rgb(0 0 0 / 5%) inset, 0 2px 8px rgb(0 0 0 / 5%) inset;
}
#docs-sitesearch input:focus {
    outline: none !important;
    border:1px solid #54b377;
  }


/* SEARCH ICON IN BOX */

#docs-searchicon {
	padding:10px;
	top: 5px;
	right: 15px;
	width:20px;
	position:absolute;
}


/* SEARCH RESULTS */

#docs-sitesearch .autocomplete-list {
	width:100%;
	min-height:600px; 
	border-radius: 5px;
	border: solid 1px #ccc;
}
