body {
	background-color: #F2FFD6;
}

.page {
  position: relative;
  margin: 0px;
  padding: 20px 20px;
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 10pt;
  line-height: 1.8;
  color: #363636;
}

#main {
	color: #F2FFD6;
}

.homepage {
  padding-left: 140px;
}

.bigdesc, .desc, a.desc {
  padding-left: 0px;
}

.header {
  margin-top: -10px;
  margin-bottom: 30px;
}


div.cols {
  padding: 0;
  margin: 0;
}

.small div.cols {
  width: 100%;
}

div.cols .left {
  float: left;
  width: 47%;
}

div.cols .right {
  float: right;
  width: 47%;
}

.small div.cols .left,
.small div.cols .right {
  width: 100%;
}


div.cols .end {
  clear: both;
  height: 0;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  margin: 15px 0;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

table th {
  color: #fff;
  background-color: #8DC64F;
  padding: 2px 13px;
  text-align: left;
}

table tr {
  background-color: #FFF;
}
table tr:nth-child(2n) {
  background-color: #F5F5F5;
}


.tips {
  color: #b4b4b4;
  margin: 10px 0;
}
.tips ul {
  margin: 0;
}

.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.8;
  position: relative;
  padding-left: 30px;
  margin-left: -30px;
  font-weight: normal;
}

.page h1 a,
.page h2 a,
.page h3 a,
.page h4 a,
.page h5 a,
.page h6 a {
  position: absolute;
  width: 30px;
  left: 0;
  top: 0;
  display: inline-block;
  text-align: center;
  visibility: hidden;
  text-decoration: none;
}


.page h1:hover a,
.page h2:hover a,
.page h3:hover a,
.page h4:hover a,
.page h5:hover a,
.page h6:hover a {
  visibility: visible;
}

.page h1 a:hover,
.page h2 a:hover,
.page h3 a:hover,
.page h4 a:hover,
.page h5 a:hover,
.page h6 a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: square;
}

img {
  border: none;
}

a {
  color: #dc3912;
}

a:visited {
  color: #b82e12;
}

a:hover {
  color: #f43f14;
}

.compos td {
  line-height: 1.2;
}

.codeword {
  font-size: 9pt;
  color: #888;
}

.desc {
  font-size: 9pt;
}

/*
.bluelink {
  color: #0077EE;
}

.bluelink:visited {
  color: #359AFF;
}
.bluelink:hover {
  color: #359AFF;
}
*/

.page p {
  font-size: 10pt;
}

h1 {
  font-size: 180%;
  margin-bottom: -10px;
}

h2 {
  font-size: 150%;
  margin-bottom: -10px;
}

h3 {
  font-size: 120%;
}

.libheader {
	position: relative;
	left: -20px;
	top: 0px;
	height: 60px;
	width: 100%;
	background: #4C8504 url("images/ghbanner.jpg") no-repeat scroll 0% 0%;
	padding-top: 0px;
	padding-left: 20px;
}

.libheader a {
  color: #000;
}


.cparent {
	width: 100%;
}

.cchild {
  width: 320px;
  display: inline-block;
  padding-right: 10px;
}



#toc {
    top: 0px;
    left: 0px;
    height: 100%;
    position: fixed;
    background: #284A00;
    box-shadow: inset -5px 0 5px 0px #112000;
    width: 140px;
    color: #fff;
	overflow: auto;
}

#toc ul {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#toc .toc-h2 {
    padding-left: 10px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc .toc-active {
    background: #99E600;
    box-shadow: inset -5px 0px 10px -5px #000;
}
#toc .toc-active a {
	color: #000;
}
