<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Duplicate Data - Grasshopper Sets - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Duplicate data a predefined number of times." />
<meta name="title" content="Duplicate Data - Grasshopper Sets - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Duplicate Data - Grasshopper Sets - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/grasshoppersets/duplicateData.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/combineData.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px 0px" data-toptip="Combine Data"></div></a>
<a href="../../components/grasshoppersets/dispatch.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px -24px" data-downtip="Dispatch"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/insertItems.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -192px -24px" data-toptip="Insert Items"></div></a>
<a href="../../components/grasshoppersets/nullItem.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px -48px" data-downtip="Null Item"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/itemIndex.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px -48px" data-toptip="Item Index"></div></a>
<a href="../../components/grasshoppersets/listItem.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px -48px" data-downtip="List Item"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/listLength.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px -48px" data-toptip="List Length"></div></a>
<a href="../../components/grasshoppersets/picknChoose.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -192px -48px" data-downtip="Pick&#39;n&#39;Choose"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/replaceItems.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px -72px" data-toptip="Replace Items"></div></a>
<a href="../../components/grasshoppersets/shiftList.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -192px -96px" data-downtip="Shift List"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/siftPattern.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -216px -96px" data-toptip="Sift Pattern"></div></a>
<a href="../../components/grasshoppersets/sortList.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px -120px" data-downtip="Sort List"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/splitList.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px -120px" data-toptip="Split List"></div></a>
<a href="../../components/grasshoppersets/subList.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px -120px" data-downtip="Sub List"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/weave.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px -144px" data-toptip="Weave"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
List
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/charSequence.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px 0px" data-toptip="Char Sequence"></div></a>
<a href="../../components/grasshoppersets/cullIndex.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -168px 0px" data-downtip="Cull Index"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/cullNth.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -192px 0px" data-toptip="Cull Nth"></div></a>
<a href="../../components/grasshoppersets/cullPattern.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -216px 0px" data-downtip="Cull Pattern"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/duplicateData.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px -24px" data-toptip="Duplicate Data"></div></a>
<a href="../../components/grasshoppersets/fibonacci.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px -24px" data-downtip="Fibonacci"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/jitter.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px -48px" data-toptip="Jitter"></div></a>
<a href="../../components/grasshoppersets/random.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -216px -48px" data-downtip="Random"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/randomReduce.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px -72px" data-toptip="Random Reduce"></div></a>
<a href="../../components/grasshoppersets/range.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px -72px" data-downtip="Range"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/repeatData.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px -72px" data-toptip="Repeat Data"></div></a>
<a href="../../components/grasshoppersets/sequence.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -216px -72px" data-downtip="Sequence"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/series.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px -96px" data-toptip="Series"></div></a>
<a href="../../components/grasshoppersets/stackData.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px -120px" data-downtip="Stack Data"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
Sequence
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/createSet.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px 0px" data-toptip="Create Set"></div></a>
<a href="../../components/grasshoppersets/findSimilarMember.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px -24px" data-downtip="Find similar member"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/disjoint.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -216px -24px" data-toptip="Disjoint"></div></a>
<a href="../../components/grasshoppersets/subSet.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px -48px" data-downtip="SubSet"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/keyValueSearch.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px -48px" data-toptip="Key/Value Search"></div></a>
<a href="../../components/grasshoppersets/deleteConsecutive.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px -72px" data-downtip="Delete Consecutive"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/replaceMembers.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -168px -72px" data-toptip="Replace Members"></div></a>
<a href="../../components/grasshoppersets/carthesianProduct.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px -96px" data-downtip="Carthesian Product"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/setDifference.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px -96px" data-toptip="Set Difference"></div></a>
<a href="../../components/grasshoppersets/setIntersection.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px -96px" data-downtip="Set Intersection"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/memberIndex.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px -96px" data-toptip="Member Index"></div></a>
<a href="../../components/grasshoppersets/setDifferenceS.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px -96px" data-downtip="Set Difference (S)"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/setMajority.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px -96px" data-toptip="Set Majority"></div></a>
<a href="../../components/grasshoppersets/setUnion.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -168px -96px" data-downtip="Set Union"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
Sets
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/textOnSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px 0px" data-toptip="Text On Surface"></div></a>
<a href="../../components/grasshoppersets/textCase.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px 0px" data-downtip="Text Case"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/concatenate.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px 0px" data-toptip="Concatenate"></div></a>
<a href="../../components/grasshoppersets/format.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px -24px" data-downtip="Format"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/textFragment.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -168px -24px" data-toptip="Text Fragment"></div></a>
<a href="../../components/grasshoppersets/replaceText.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -192px -72px" data-downtip="Replace Text"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/sortText.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px -120px" data-toptip="Sort Text"></div></a>
<a href="../../components/grasshoppersets/textDistance.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px -120px" data-downtip="Text Distance"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/textJoin.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px -120px" data-toptip="Text Join"></div></a>
<a href="../../components/grasshoppersets/textLength.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -168px -120px" data-downtip="Text Length"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/matchText.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -192px -120px" data-toptip="Match Text"></div></a>
<a href="../../components/grasshoppersets/textSplit.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -216px -120px" data-downtip="Text Split"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/characters.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px -144px" data-toptip="Characters"></div></a>
<a href="../../components/grasshoppersets/textTrim.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px -144px" data-downtip="Text Trim"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
Text
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/constructPath.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px 0px" data-toptip="Construct Path"></div></a>
<a href="../../components/grasshoppersets/deconstructPath.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px -24px" data-downtip="Deconstruct Path"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/entwine.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px -24px" data-toptip="Entwine"></div></a>
<a href="../../components/grasshoppersets/merge.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -168px -48px" data-downtip="Merge"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/relativeItem.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px -72px" data-toptip="Relative Item"></div></a>
<a href="../../components/grasshoppersets/relativeItems.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px -72px" data-downtip="Relative Items"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/treeBranch.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px -144px" data-toptip="Tree Branch"></div></a>
<a href="../../components/grasshoppersets/treeItem.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px -144px" data-downtip="Tree Item"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/treeStatistics.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px -144px" data-toptip="Tree Statistics"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Tree
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://www.rhino3d.com/6/new/grasshopper">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px -24px" ></div> Duplicate Data</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/grasshopper-sets.html">Grasshopper Sets</a><a href="#" class="breadcrumb-nolink">Sequence</a><a href="#" class="breadcrumb-nolink">Dup</a>
</div>

</div>
<h3>Duplicate data a predefined number of times.</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Data</b></td><td>D</td><td>Data to duplicate</td><td>Generic Data</td></tr>
<tr><td><b>Number</b></td><td>N</td><td>Number of duplicates</td><td>Integer</td></tr>
<tr><td><b>Order</b></td><td>O</td><td>Retain list order</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Data</b></td><td>D</td><td>Duplicated data</td><td>Generic Data</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Grasshopper Sets and associated data © 2022  <a href="https://www.rhino3d.com/6/new/grasshopper">Robert McNeel &amp; Associates</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
