<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sub List - Grasshopper Sets - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Extract a subset from a list." />
<meta name="title" content="Sub List - Grasshopper Sets - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Sub List - Grasshopper Sets - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/grasshoppersets/subList.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v2.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="https://www.rhino3d.com/6/new/grasshopper">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Grasshopper.png');"></div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/listItem.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px -48px" data-toptip="List Item"></div></a>
<a href="../../components/grasshoppersets/itemIndex.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px -72px" data-downtip="Item Index"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/nullItem.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px -72px" data-toptip="Null Item"></div></a>
<a href="../../components/grasshoppersets/replaceNulls.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px -72px" data-downtip="Replace Nulls"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/listLength.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px -72px" data-toptip="List Length"></div></a>
<a href="../../components/grasshoppersets/insertItems.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -168px -72px" data-downtip="Insert Items"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/replaceItems.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -192px -72px" data-toptip="Replace Items"></div></a>
<a href="../../components/grasshoppersets/partitionList.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px -96px" data-downtip="Partition List"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/dispatch.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px -96px" data-toptip="Dispatch"></div></a>
<a href="../../components/grasshoppersets/weave.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px -96px" data-downtip="Weave"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/picknChoose.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px -96px" data-toptip="Pick&#39;n&#39;Choose"></div></a>
<a href="../../components/grasshoppersets/shortestList.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px -96px" data-downtip="Shortest List"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/longestList.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -168px -96px" data-toptip="Longest List"></div></a>
<a href="../../components/grasshoppersets/crossReference.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -192px -96px" data-downtip="Cross Reference"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/siftPattern.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px -120px" data-toptip="Sift Pattern"></div></a>
<a href="../../components/grasshoppersets/combineData.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px -120px" data-downtip="Combine Data"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/shiftList.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px -120px" data-toptip="Shift List"></div></a>
<a href="../../components/grasshoppersets/subList.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px -120px" data-downtip="Sub List"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/splitList.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -168px -120px" data-toptip="Split List"></div></a>
<a href="../../components/grasshoppersets/reverseList.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -192px -120px" data-downtip="Reverse List"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/sortList.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -216px -120px" data-toptip="Sort List"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="11">
List
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/range.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -192px -24px" data-toptip="Range"></div></a>
<a href="../../components/grasshoppersets/series.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -216px -24px" data-downtip="Series"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/fibonacci.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px -48px" data-toptip="Fibonacci"></div></a>
<a href="../../components/grasshoppersets/sequence.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px -48px" data-downtip="Sequence"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/charSequence.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px -48px" data-toptip="Char Sequence"></div></a>
<a href="../../components/grasshoppersets/random.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px -48px" data-downtip="Random"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/jitter.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px -48px" data-toptip="Jitter"></div></a>
<a href="../../components/grasshoppersets/duplicateData.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -216px -72px" data-downtip="Duplicate Data"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/repeatData.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px -96px" data-toptip="Repeat Data"></div></a>
<a href="../../components/grasshoppersets/stackData.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px -96px" data-downtip="Stack Data"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/cullNth.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -216px -96px" data-toptip="Cull Nth"></div></a>
<a href="../../components/grasshoppersets/cullPattern.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px -120px" data-downtip="Cull Pattern"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/cullIndex.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px -120px" data-toptip="Cull Index"></div></a>
<a href="../../components/grasshoppersets/randomReduce.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px -120px" data-downtip="Random Reduce"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/randomEx.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px -216px" data-toptip="RandomEx"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
Sequence
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/createSet.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -216px -144px" data-toptip="Create Set"></div></a>
<a href="../../components/grasshoppersets/setUnion.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px -168px" data-downtip="Set Union"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/setIntersection.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px -168px" data-toptip="Set Intersection"></div></a>
<a href="../../components/grasshoppersets/setDifference.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px -168px" data-downtip="Set Difference"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/setDifferenceS.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px -168px" data-toptip="Set Difference (S)"></div></a>
<a href="../../components/grasshoppersets/subSet.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px -168px" data-downtip="SubSet"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/disjoint.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px -168px" data-toptip="Disjoint"></div></a>
<a href="../../components/grasshoppersets/carthesianProduct.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px -168px" data-downtip="Carthesian Product"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/setMajority.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -168px -168px" data-toptip="Set Majority"></div></a>
<a href="../../components/grasshoppersets/replaceMembers.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -192px -168px" data-downtip="Replace Members"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/memberIndex.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -216px -168px" data-toptip="Member Index"></div></a>
<a href="../../components/grasshoppersets/deleteConsecutive.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px -192px" data-downtip="Delete Consecutive"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/findSimilarMember.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px -192px" data-toptip="Find similar member"></div></a>
<a href="../../components/grasshoppersets/keyValueSearch.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px -192px" data-downtip="Key/Value Search"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
Sets
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/textOnSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -168px -24px" data-toptip="Text On Surface"></div></a>
<a href="../../components/grasshoppersets/textLength.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px -192px" data-downtip="Text Length"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/textSplit.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px -192px" data-toptip="Text Split"></div></a>
<a href="../../components/grasshoppersets/concatenate.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px -192px" data-downtip="Concatenate"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/textJoin.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px -192px" data-toptip="Text Join"></div></a>
<a href="../../components/grasshoppersets/characters.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -168px -192px" data-downtip="Characters"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/textTrim.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -192px -192px" data-toptip="Text Trim"></div></a>
<a href="../../components/grasshoppersets/textCase.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -216px -192px" data-downtip="Text Case"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/textFragment.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px -216px" data-toptip="Text Fragment"></div></a>
<a href="../../components/grasshoppersets/format.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px -216px" data-downtip="Format"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/replaceText.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px -216px" data-toptip="Replace Text"></div></a>
<a href="../../components/grasshoppersets/sortText.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px -216px" data-downtip="Sort Text"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/matchText.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px -216px" data-toptip="Match Text"></div></a>
<a href="../../components/grasshoppersets/textDistance.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px -216px" data-downtip="Text Distance"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
Text
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/pathCompare.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px 0px" data-toptip="Path Compare"></div></a>
<a href="../../components/grasshoppersets/splitTree.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px 0px" data-downtip="Split Tree"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/streamFilter.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px 0px" data-toptip="Stream Filter"></div></a>
<a href="../../components/grasshoppersets/streamGate.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px 0px" data-downtip="Stream Gate"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/cleanTree.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px 0px" data-toptip="Clean Tree"></div></a>
<a href="../../components/grasshoppersets/pruneTree.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px 0px" data-downtip="Prune Tree"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/graftTree.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px 0px" data-toptip="Graft Tree"></div></a>
<a href="../../components/grasshoppersets/simplifyTree.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -168px 0px" data-downtip="Simplify Tree"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/flattenTree.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -192px 0px" data-toptip="Flatten Tree"></div></a>
<a href="../../components/grasshoppersets/unflattenTree.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -216px 0px" data-downtip="Unflatten Tree"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/trimTree.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px -24px" data-toptip="Trim Tree"></div></a>
<a href="../../components/grasshoppersets/matchTree.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px -24px" data-downtip="Match Tree"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/replacePaths.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px -24px" data-toptip="Replace Paths"></div></a>
<a href="../../components/grasshoppersets/explodeTree.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px -24px" data-downtip="Explode Tree"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/flipMatrix.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px -24px" data-toptip="Flip Matrix"></div></a>
<a href="../../components/grasshoppersets/shiftPaths.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px -24px" data-downtip="Shift Paths"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/pathMapper.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px -24px" data-toptip="Path Mapper"></div></a>
<a href="../../components/grasshoppersets/treeItem.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px -48px" data-downtip="Tree Item"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/treeBranch.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -168px -48px" data-toptip="Tree Branch"></div></a>
<a href="../../components/grasshoppersets/treeStatistics.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -192px -48px" data-downtip="Tree Statistics"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/relativeItem.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -216px -48px" data-toptip="Relative Item"></div></a>
<a href="../../components/grasshoppersets/relativeItems.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px -72px" data-downtip="Relative Items"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/constructPath.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px -72px" data-toptip="Construct Path"></div></a>
<a href="../../components/grasshoppersets/deconstructPath.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px -72px" data-downtip="Deconstruct Path"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/merge.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') 0px -144px" data-toptip="Merge"></div></a>
<a href="../../components/grasshoppersets/merge03.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -24px -144px" data-downtip="Merge 03"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/merge04.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -48px -144px" data-toptip="Merge 04"></div></a>
<a href="../../components/grasshoppersets/merge05.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -72px -144px" data-downtip="Merge 05"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/merge06.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -96px -144px" data-toptip="Merge 06"></div></a>
<a href="../../components/grasshoppersets/merge08.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -120px -144px" data-downtip="Merge 08"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/merge10.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px -144px" data-toptip="Merge 10"></div></a>
<a href="../../components/grasshoppersets/mergeMultiple.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -168px -144px" data-downtip="Merge Multiple"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersets/entwine.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -192px -144px" data-toptip="Entwine"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="17">
Tree
</td>
</tr>
</table>
</div>
</div>


<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/grasshopperSets.png') -144px -120px" ></div> Sub List</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/grasshopper-sets.html">Grasshopper Sets</a><a href="#" class="breadcrumb-nolink">List</a><a href="#" class="breadcrumb-nolink">SubSet</a>
</div>

</div>

</div>
<h3>Extract a subset from a list.</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>List</b></td><td>L</td><td>Base list</td><td>Generic Data</td></tr>
<tr><td><b>Domain</b></td><td>D</td><td>Domain of indices to copy</td><td>Domain</td></tr>
<tr><td><b>Wrap</b></td><td>W</td><td>Remap indices that overshoot list domain</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>List</b></td><td>L</td><td>Subset of base list</td><td>Generic Data</td></tr>
<tr><td><b>Index</b></td><td>I</td><td>Indices of subset items</td><td>Integer</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Grasshopper Sets and associated data © 2024  <a href="https://www.rhino3d.com/6/new/grasshopper">Robert McNeel &amp; Associates</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
