<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Export Document - Grasshopper Component Reference</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="A guide to component Export Document in Grasshopper 3D." />
<meta name="title" content="Grasshopper Component Reference" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://rhino.github.io/" />
<meta property="og:title" content="Export Document - Grasshopper Component Reference" />

<meta property="wiki-page" content="GH Doodlebug Export_Document.md" />

<link rel="image_src" href="http://rhino.github.io/ning/2985220.jpg" />

<style type="text/css" media="screen,projection">
#xg_navigation ul div.xg_subtab ul li a {
    color:#666666;
    background:#EAFFBD;
}
#xg_navigation ul div.xg_subtab ul li a:hover {
    color:#333333;
    background:#F2FFD6;
}
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/index.css);
@import url(../../ning/page.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187549422.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187545030.css);
</style>


<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
    
        
        <div id="xg" class="xg_theme xg_widget_page xg_widget_page_page xg_widget_page_page_show" data-layout-pack="classic">
            <div id="xg_head">
                <div id="xg_masthead">
                    <p id="xg_sitename"><a id="application_name_header_link" href="http://rhino.github.io/">Grasshopper</a></p>
                    <p id="xg_sitedesc" class="xj_site_desc">algorithmic modeling for Rhino</p>
                </div>
                <div id="xg_navigation">
                    <ul>
    <li id="xg_tab_main" class="xg_subtab"><a href="http://www.grasshopper3d.com/"><span>Home</span></a></li>
	<li id="xg_tab_photo" class="xg_subtab"><a href="http://www.grasshopper3d.com/photo"><span>View</span></a></li>
	<li id="xg_tab_xn0" class="xg_subtab"><a href="http://www.grasshopper3d.com/page/download-1"><span>Download</span></a></li>
	<li id="xg_tab_forum" class="xg_subtab"><a href="https://discourse.mcneel.com/c/grasshopper"><span>Forums&#47;Support</span></a></li>
	<li id="xg_tab_xn2" class="xg_subtab this"><a href="http://rhino.github.io/"><span>Learn</span></a></li>
	<li id="xg_tab_events" class="xg_subtab"><a href="http://www.grasshopper3d.com/events"><span>Attend</span></a></li>
	<li id="xg_tab_profile" class="xg_subtab"><a href="http://www.grasshopper3d.com/profiles"><span>My Page</span></a></li></ul>

                </div>
            </div>
            
            <div id="xg_body">
                
				<div class="page">

<div class="content">

<div class="ghbar">
<table class="ghbar-table">
<tr>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/doodlebug/bringLayerToFront.html"><img class="ghicon" src="../../icons/Doodlebug/Bring_Layer_To_Front.png" title="Bring Layer To Front"></a>
<a href="../../components/doodlebug/closeDocument.html"><img class="ghicon" src="../../icons/Doodlebug/Close_Document.png" title="Close Document"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/doodlebug/createTextOnLayer.html"><img class="ghicon" src="../../icons/Doodlebug/Create_Text_on_Layer.png" title="Create Text on Layer"></a>
<a href="../../components/doodlebug/curvesToPaths.html"><img class="ghicon" src="../../icons/Doodlebug/Curves_To_Paths.png" title="Curves To Paths"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/doodlebug/curveToPath.html"><img class="ghicon" src="../../icons/Doodlebug/Curve_To_Path.png" title="Curve To Path"></a>
<a href="../../components/doodlebug/documentBounds.html"><img class="ghicon" src="../../icons/Doodlebug/Document_Bounds.png" title="Document Bounds"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/doodlebug/documents.html"><img class="ghicon" src="../../icons/Doodlebug/Documents.png" title="Documents"></a>
<a href="../../components/doodlebug/exportDocument.html"><img class="ghicon" src="../../icons/Doodlebug/Export_Document.png" title="Export Document"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/doodlebug/layerByName.html"><img class="ghicon" src="../../icons/Doodlebug/Layer_By_Name.png" title="Layer By Name"></a>
<a href="../../components/doodlebug/getPathsOnLayer.html"><img class="ghicon" src="../../icons/Doodlebug/Get_Paths_on_Layer.png" title="Get Paths on Layer"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/doodlebug/layers.html"><img class="ghicon" src="../../icons/Doodlebug/Layers.png" title="Layers"></a>
<a href="../../components/doodlebug/newDocument.html"><img class="ghicon" src="../../icons/Doodlebug/NewDocument.png" title="NewDocument"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/doodlebug/openFile.html"><img class="ghicon" src="../../icons/Doodlebug/OpenFile.png" title="OpenFile"></a>
<a href="../../components/doodlebug/openIllustrator.html"><img class="ghicon" src="../../icons/Doodlebug/OpenIllustrator.png" title="OpenIllustrator"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/doodlebug/pathGeometry.html"><img class="ghicon" src="../../icons/Doodlebug/Path_Geometry.png" title="Path Geometry"></a>
<a href="../../components/doodlebug/runScript.html"><img class="ghicon" src="../../icons/Doodlebug/Run_Script.png" title="Run Script"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/doodlebug/scaleTransforms.html"><img class="ghicon" src="../../icons/Doodlebug/ScaleTransforms.png" title="ScaleTransforms"></a>
<a href="../../components/doodlebug/sendLayerToBack.html"><img class="ghicon" src="../../icons/Doodlebug/Send_Layer_To_Back.png" title="Send Layer To Back"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/doodlebug/setLayerProperties.html"><img class="ghicon" src="../../icons/Doodlebug/Set_Layer_Properties.png" title="Set Layer Properties"></a>
<a href="../../components/doodlebug/setLayerOrder.html"><img class="ghicon" src="../../icons/Doodlebug/SetLayerOrder.png" title="SetLayerOrder"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/doodlebug/setPathProperties.html"><img class="ghicon" src="../../icons/Doodlebug/Set_Path_Properties.png" title="Set Path Properties"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="11">
Doodlebug
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</div>


<div class="addon-buttons">
<a href="http://www.grasshopper3d.com/group/doodlebug?xg_source=activity">Download</a>
</div>

<div>
<h1><img src="../../icons/Doodlebug/Export_Document.png"/> Export Document</h1>
<p><a href="../../index.html#Doodlebug">Component Index</a> &gt; <a href="../../addons/doodlebug.html">Doodlebug</a> > Doodlebug > <b>Export</b></p>
</div>
<h3>Export a document to a specified location</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Document</b></td><td>D</td><td>The document to export</td><td>Generic Data</td></tr>
<tr><td><b>File Type</b></td><td>T</td><td>The file type to export</td><td>Integer</td></tr>
<tr><td><b>File Path</b></td><td>FP</td><td>The location to save the file</td><td>Text</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Path</b></td><td>P</td><td>The path of the saved file</td><td>Text</td></tr>
</tbody>
</table>


  </div>

</div>

            </div>
            <div id="xg_foot">
                <p class="left">
    © 2018-2020  <a href="https://github.com/robinrodricks/">Robin Rodricks</a> and <a href="http://www.grasshopper3d.com/profile/AndrewHeumann/">Andrew Heumann</a>. &nbsp;
    Hosted by<a href="http://www.github.com/"><img src="../../images/github.png" alt="Github" class="poweredbylogo" /></a> &nbsp;
	Rhino & Grasshopper are trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.
	</p>
    <p class="right xg_lightfont">
                    <a href="http://www.grasshopper3d.com/main/embeddable/list">Badges</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/index/report" dojotype="PromptToJoinLink" _joinprompttext="Please sign up or sign in to complete this step." _hassignup="true" _signinurl="http://www.grasshopper3d.com/main/authorization/signIn?target=http%3A%2F%2Fwww.grasshopper3d.com%2Fmain%2Findex%2Freport">Report an Issue</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/authorization/termsOfService?previousUrl=http%3A%2F%2Fwww.grasshopper3d.com%2Fpage%2Fcomponent-reference">Terms of Service</a>
            </p>

            </div>
        </div>
        
        <div id="xj_baz17246" class="xg_theme"></div>
<div id="xg_overlay" style="display:none;">
<!--[if lte IE 6.5]><iframe></iframe><![endif]-->
</div>
<!--googleoff: all--><noscript>
	<style type="text/css" media="screen">
        #xg { position:relative;top:120px; }
        #xn_bar { top:120px; }
	</style>
	<div class="errordesc noscript">
		<div>
            <h3><strong>Hello, you need to enable JavaScript to use Grasshopper.</strong></h3>
            <p>Please check your browser settings or contact your system administrator.</p>
			
		</div>
	</div>
</noscript><!--googleon: all-->

<script src="/js/jquery.js"></script>
<script src="/js/kramed.min.js"></script>
<script src="/js/component.js"></script>
<script src="/js/user.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
