<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Gradient_Color - Grasshopper Component Reference</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="A guide to component Gradient_Color in Grasshopper 3D." />
<meta name="title" content="Grasshopper Component Reference" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://rhino.github.io/" />
<meta property="og:title" content="Gradient_Color - Grasshopper Component Reference" />

<meta property="wiki-page" content="GH Culebra Gradient_Color.md" />

<link rel="image_src" href="http://rhino.github.io/ning/2985220.jpg" />

<style type="text/css" media="screen,projection">
#xg_navigation ul div.xg_subtab ul li a {
    color:#666666;
    background:#EAFFBD;
}
#xg_navigation ul div.xg_subtab ul li a:hover {
    color:#333333;
    background:#F2FFD6;
}
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/index.css);
@import url(../../ning/page.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187549422.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187545030.css);
</style>


<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
    
        
        <div id="xg" class="xg_theme xg_widget_page xg_widget_page_page xg_widget_page_page_show" data-layout-pack="classic">
            <div id="xg_head">
                <div id="xg_masthead">
                    <p id="xg_sitename"><a id="application_name_header_link" href="http://rhino.github.io/">Grasshopper</a></p>
                    <p id="xg_sitedesc" class="xj_site_desc">algorithmic modeling for Rhino</p>
                </div>
                <div id="xg_navigation">
                    <ul>
    <li id="xg_tab_main" class="xg_subtab"><a href="http://www.grasshopper3d.com/"><span>Home</span></a></li>
	<li id="xg_tab_photo" class="xg_subtab"><a href="http://www.grasshopper3d.com/photo"><span>View</span></a></li>
	<li id="xg_tab_xn0" class="xg_subtab"><a href="http://www.grasshopper3d.com/page/download-1"><span>Download</span></a></li>
	<li id="xg_tab_forum" class="xg_subtab"><a href="https://discourse.mcneel.com/c/grasshopper"><span>Forums&#47;Support</span></a></li>
	<li id="xg_tab_xn2" class="xg_subtab this"><a href="http://rhino.github.io/"><span>Learn</span></a></li>
	<li id="xg_tab_events" class="xg_subtab"><a href="http://www.grasshopper3d.com/events"><span>Attend</span></a></li>
	<li id="xg_tab_profile" class="xg_subtab"><a href="http://www.grasshopper3d.com/profiles"><span>My Page</span></a></li></ul>

                </div>
            </div>
            
            <div id="xg_body">
                
				<div class="page">

<div class="content">

<div class="ghbar">
<table class="ghbar-table">
<tr>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/boxSpawn.html"><img class="ghicon" src="../../icons/Culebra/Box_Spawn.png" title="Box Spawn"></a>
<a href="../../components/culebra/pointSpawn.html"><img class="ghicon" src="../../icons/Culebra/Point_Spawn.png" title="Point Spawn"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
01 | Spawn Types
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/moveSettings.html"><img class="ghicon" src="../../icons/Culebra/Move_Settings.png" title="Move Settings"></a>
<a href="../../components/culebra/initSettings.html"><img class="ghicon" src="../../icons/Culebra/Init_Settings.png" title="Init Settings"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
02 | Initialize
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/controller.html"><img class="ghicon" src="../../icons/Culebra/Controller.png" title="Controller"></a>
<a href="../../components/culebra/flocking.html"><img class="ghicon" src="../../icons/Culebra/Flocking.png" title="Flocking"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/flockingMapped.html"><img class="ghicon" src="../../icons/Culebra/Flocking_Mapped.png" title="Flocking Mapped"></a>
<a href="../../components/culebra/meshCrawlII.html"><img class="ghicon" src="../../icons/Culebra/Mesh_Crawl_II.png" title="Mesh Crawl II"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/meshCrawl.html"><img class="ghicon" src="../../icons/Culebra/Mesh_Crawl.png" title="Mesh Crawl"></a>
<a href="../../components/culebra/noise.html"><img class="ghicon" src="../../icons/Culebra/Noise.png" title="Noise"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/noiseMapped.html"><img class="ghicon" src="../../icons/Culebra/Noise_Mapped.png" title="Noise Mapped"></a>
<a href="../../components/culebra/separation.html"><img class="ghicon" src="../../icons/Culebra/Separation.png" title="Separation"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/stigmergy.html"><img class="ghicon" src="../../icons/Culebra/Stigmergy.png" title="Stigmergy"></a>
<a href="../../components/culebra/weavingWandering.html"><img class="ghicon" src="../../icons/Culebra/Weaving_Wandering.png" title="Weaving Wandering"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/multiPathTrackingII.html"><img class="ghicon" src="../../icons/Culebra/Multi_Path_Tracking_II.png" title="Multi Path Tracking II"></a>
<a href="../../components/culebra/multiPathTracking.html"><img class="ghicon" src="../../icons/Culebra/Multi_Path_Tracking.png" title="Multi Path Tracking"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/multiPathTrackingIIMapped.html"><img class="ghicon" src="../../icons/Culebra/Multi_Path_Tracking_II_Mapped.png" title="Multi Path Tracking II Mapped"></a>
<a href="../../components/culebra/wandering.html"><img class="ghicon" src="../../icons/Culebra/Wandering.png" title="Wandering"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/wanderingMapped.html"><img class="ghicon" src="../../icons/Culebra/Wandering_Mapped.png" title="Wandering Mapped"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
03 | Behaviors
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/attractionForce.html"><img class="ghicon" src="../../icons/Culebra/Attraction_Force.png" title="Attraction Force"></a>
<a href="../../components/culebra/bundling.html"><img class="ghicon" src="../../icons/Culebra/Bundling.png" title="Bundling"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/bundlingII.html"><img class="ghicon" src="../../icons/Culebra/Bundling_II.png" title="Bundling II"></a>
<a href="../../components/culebra/repulsionForce.html"><img class="ghicon" src="../../icons/Culebra/Repulsion_Force.png" title="Repulsion Force"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
04 | Forces
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/bundlingEngine.html"><img class="ghicon" src="../../icons/Culebra/Bundling_Engine.png" title="Bundling_Engine"></a>
<a href="../../components/culebra/creeperEngineDual.html"><img class="ghicon" src="../../icons/Culebra/Creeper_Engine_Dual.png" title="Creeper_Engine_Dual"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/creeperEngine.html"><img class="ghicon" src="../../icons/Culebra/Creeper_Engine.png" title="Creeper_Engine"></a>
<a href="../../components/culebra/creeperZombieEngine.html"><img class="ghicon" src="../../icons/Culebra/Creeper_ZombieEngine.png" title="Creeper_ZombieEngine"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
05 | Engine
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/discoColor.html"><img class="ghicon" src="../../icons/Culebra/Disco_Color.png" title="Disco_Color"></a>
<a href="../../components/culebra/gradientColor.html"><img class="ghicon" src="../../icons/Culebra/Gradient_Color.png" title="Gradient_Color"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/graphicPolyline.html"><img class="ghicon" src="../../icons/Culebra/Graphic_Polyline.png" title="Graphic_Polyline"></a>
<a href="../../components/culebra/trailData.html"><img class="ghicon" src="../../icons/Culebra/Trail_Data.png" title="Trail Data"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/visualSettings.html"><img class="ghicon" src="../../icons/Culebra/Visual_Settings.png" title="Visual Settings"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
06 | Display
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</div>


<div class="addon-buttons">
<a href="https://www.food4rhino.com/app/culebra">Download</a>
</div>

<div>
<h1><img src="../../icons/Culebra/Gradient_Color.png"/> Gradient_Color</h1>
<p><a href="../../index.html#Culebra">Component Index</a> &gt; <a href="../../addons/culebra.html">Culebra</a> > 06 | Display > <b>GC</b></p>
</div>
<h3>Controls the Gradient Color trail options for the Visual Settings Component</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Particle Texture Path</b></td><td>PT</td><td>Input path to particle texture, a png file</td><td>Text</td></tr>
<tr><td><b>Red Channel</b></td><td>RC</td><td>Input a domain component specifying the minimum and maximum floating point values for the red channel</td><td>Domain</td></tr>
<tr><td><b>Green Channel</b></td><td>GC</td><td>Input a domain component specifying the minimum and maximum floating point values for the red channel</td><td>Domain</td></tr>
<tr><td><b>Blue Channel</b></td><td>BC</td><td>Input a domain component specifying the minimum and maximum floating point values for the red channel</td><td>Domain</td></tr>
<tr><td><b>Minimum Thickness</b></td><td>NT</td><td>Input the polyline minimum thickness</td><td>Integer</td></tr>
<tr><td><b>Maximum Thickness</b></td><td>MT</td><td>Input the polyline maximum thickness</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Trail Color Data</b></td><td>TCD</td><td>Outputs the Trail Color Data for the Visual Settings Component</td><td>Generic Data</td></tr>
</tbody>
</table>


  </div>

</div>

            </div>
            <div id="xg_foot">
                <p class="left">
    © 2018-2020  <a href="https://github.com/robinrodricks/">Robin Rodricks</a> and <a href="http://www.grasshopper3d.com/profile/AndrewHeumann/">Andrew Heumann</a>. &nbsp;
    Hosted by<a href="http://www.github.com/"><img src="../../images/github.png" alt="Github" class="poweredbylogo" /></a> &nbsp;
	Rhino & Grasshopper are trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.
	</p>
    <p class="right xg_lightfont">
                    <a href="http://www.grasshopper3d.com/main/embeddable/list">Badges</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/index/report" dojotype="PromptToJoinLink" _joinprompttext="Please sign up or sign in to complete this step." _hassignup="true" _signinurl="http://www.grasshopper3d.com/main/authorization/signIn?target=http%3A%2F%2Fwww.grasshopper3d.com%2Fmain%2Findex%2Freport">Report an Issue</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/authorization/termsOfService?previousUrl=http%3A%2F%2Fwww.grasshopper3d.com%2Fpage%2Fcomponent-reference">Terms of Service</a>
            </p>

            </div>
        </div>
        
        <div id="xj_baz17246" class="xg_theme"></div>
<div id="xg_overlay" style="display:none;">
<!--[if lte IE 6.5]><iframe></iframe><![endif]-->
</div>
<!--googleoff: all--><noscript>
	<style type="text/css" media="screen">
        #xg { position:relative;top:120px; }
        #xn_bar { top:120px; }
	</style>
	<div class="errordesc noscript">
		<div>
            <h3><strong>Hello, you need to enable JavaScript to use Grasshopper.</strong></h3>
            <p>Please check your browser settings or contact your system administrator.</p>
			
		</div>
	</div>
</noscript><!--googleon: all-->

<script src="/js/jquery.js"></script>
<script src="/js/kramed.min.js"></script>
<script src="/js/component.js"></script>
<script src="/js/user.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
