<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Noise Mapped - Culebra - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="2D Improved Perlin Noise with image color sampling override for any behavior attribute" />
<meta name="title" content="Noise Mapped - Culebra - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Noise Mapped - Culebra - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/culebra/noiseMapped.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="../../html5gallery/jquery.js"></script>
<script type="text/javascript" src="../../html5gallery/html5gallery.js"></script>

<script data-ad-client="ca-pub-1434451015265967" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/boxSpawn.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -24px -48px" data-toptip="Box Spawn"></div></a>
<a href="../../components/culebra/pointSpawn.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -48px -48px" data-downtip="Point Spawn"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
01 | Spawn Types
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/moveSettings.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -120px -24px" data-toptip="Move Settings"></div></a>
<a href="../../components/culebra/initSettings.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') 0px -48px" data-downtip="Init Settings"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
02 | Initialize
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/controller.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -24px 0px" data-toptip="Controller"></div></a>
<a href="../../components/culebra/flocking.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -216px 0px" data-downtip="Flocking"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/flockingMapped.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') 0px -24px" data-toptip="Flocking Mapped"></div></a>
<a href="../../components/culebra/meshCrawlII.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -72px -24px" data-downtip="Mesh Crawl II"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/meshCrawl.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -96px -24px" data-toptip="Mesh Crawl"></div></a>
<a href="../../components/culebra/noise.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -144px -24px" data-downtip="Noise"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/noiseMapped.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -168px -24px" data-toptip="Noise Mapped"></div></a>
<a href="../../components/culebra/separation.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -216px -24px" data-downtip="Separation"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/stigmergy.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -72px -48px" data-toptip="Stigmergy"></div></a>
<a href="../../components/culebra/weavingWandering.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -96px -48px" data-downtip="Weaving Wandering"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/multiPathTrackingII.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -120px -48px" data-toptip="Multi Path Tracking II"></div></a>
<a href="../../components/culebra/multiPathTracking.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -144px -48px" data-downtip="Multi Path Tracking"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/multiPathTrackingIIMapped.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -168px -48px" data-toptip="Multi Path Tracking II Mapped"></div></a>
<a href="../../components/culebra/wandering.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') 0px -72px" data-downtip="Wandering"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/wanderingMapped.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -24px -72px" data-toptip="Wandering Mapped"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
03 | Behaviors
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/attractionForce.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') 0px 0px" data-toptip="Attraction Force"></div></a>
<a href="../../components/culebra/bundling.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -48px 0px" data-downtip="Bundling"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/bundlingII.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -96px 0px" data-toptip="Bundling II"></div></a>
<a href="../../components/culebra/repulsionForce.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -192px -24px" data-downtip="Repulsion Force"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
04 | Forces
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/bundlingEngine.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -72px 0px" data-toptip="Bundling_Engine"></div></a>
<a href="../../components/culebra/creeperEngineDual.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -120px 0px" data-downtip="Creeper_Engine_Dual"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/creeperEngine.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -144px 0px" data-toptip="Creeper_Engine"></div></a>
<a href="../../components/culebra/creeperZombieEngine.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -168px 0px" data-downtip="Creeper_ZombieEngine"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
05 | Engine
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/discoColor.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -192px 0px" data-toptip="Disco_Color"></div></a>
<a href="../../components/culebra/gradientColor.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -24px -24px" data-downtip="Gradient_Color"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/graphicPolyline.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -48px -24px" data-toptip="Graphic_Polyline"></div></a>
<a href="../../components/culebra/trailData.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -192px -48px" data-downtip="Trail Data"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/culebra/visualSettings.html"><div class="ghsprite" style="background: url('../../icons/culebra.png') -216px -48px" data-toptip="Visual Settings"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
06 | Display
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.food4rhino.com/app/culebra">Download</a>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/culebra.png') -168px -24px" ></div> Noise Mapped</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/culebra.html">Culebra</a><a href="#" class="breadcrumb-nolink">03 | Behaviors</a><a href="#" class="breadcrumb-nolink">NM</a>
</div>

</div>
<h3>2D Improved Perlin Noise with image color sampling override for any behavior attribute</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Scale</b></td><td>S</td><td>Input value specifying the noise scale</td><td>Number</td></tr>
<tr><td><b>Strength</b></td><td>ST</td><td>Input value specifying the noise strength</td><td>Number</td></tr>
<tr><td><b>Multiplier</b></td><td>M</td><td>Input value to add a jitter type of movement</td><td>Number</td></tr>
<tr><td><b>Velocity</b></td><td>V</td><td>Input value specifying the noise velocity multiplier</td><td>Number</td></tr>
<tr><td><b>Colored Mesh</b></td><td>CM</td><td>Input a color mesh to drive the flocking parameters</td><td>Mesh</td></tr>
<tr><td><b>Map Scale</b></td><td>MS</td><td>Input value specifying if you want the scale value to be color driven</td><td>Boolean</td></tr>
<tr><td><b>Map Strength</b></td><td>MST</td><td>Input value specifying if you want the strength value to be color driven</td><td>Boolean</td></tr>
<tr><td><b>Map Multiplier</b></td><td>MM</td><td>Input value specifying if you want the multiplier value to be color driven</td><td>Boolean</td></tr>
<tr><td><b>Scale</b></td><td>S</td><td>Input value specifying the noise scale</td><td>Number</td></tr>
<tr><td><b>Strength</b></td><td>ST</td><td>Input value specifying the noise strength</td><td>Number</td></tr>
<tr><td><b>Multiplier</b></td><td>M</td><td>Input value to add a jitter type of movement</td><td>Number</td></tr>
<tr><td><b>Velocity</b></td><td>V</td><td>Input value specifying the noise velocity multiplier</td><td>Number</td></tr>
<tr><td><b>Colored Mesh</b></td><td>CM</td><td>Input a color mesh to drive the flocking parameters</td><td>Mesh</td></tr>
<tr><td><b>Map Scale</b></td><td>MS</td><td>Input value specifying if you want the scale value to be color driven</td><td>Boolean</td></tr>
<tr><td><b>Map Strength</b></td><td>MST</td><td>Input value specifying if you want the strength value to be color driven</td><td>Boolean</td></tr>
<tr><td><b>Map Multiplier</b></td><td>MM</td><td>Input value specifying if you want the multiplier value to be color driven</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Noise Behavior</b></td><td>SB</td><td>The noise behavior data structure</td><td>Generic Data</td></tr>
<tr><td><b>Noise Behavior</b></td><td>SB</td><td>The noise behavior data structure</td><td>Generic</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/S8ufzYO4aTE"><img src="http://img.youtube.com/vi/S8ufzYO4aTE/1.jpg" alt="Attraction And Repulsion In Culebra,"></a>


</div>
</div>

</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Culebra and associated data © 2020  <a href="https://www.food4rhino.com/app/culebra">Luis Quinones</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
