<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Import Vector Lite - Heron - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="This is a basic version of the Import Vector component allowing the import of GIS data, including SHP, GeoJSON, OSM, KML, MVT and GDB folders. The data will be imported in the source&#39;s units and spatial reference system, Heron&#39;s SetSRS and Rhino&#39;s EarthAnchorPoint will have no effect." />
<meta name="title" content="Import Vector Lite - Heron - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Import Vector Lite - Heron - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/heron/importVectorLite.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v3.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.food4rhino.com/app/heron">Download</a>

</div>


<div class="side-content">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

<div id="help-notice">
<div class="help-title">We need your help! 🔥</div>
<div class="help-text">Please consider disabling your ad-blocker to support this website! 🔑 <br> We are a free, community-supported website! 🥰 <br> We only display small unobtrusive ads which help us stay online! 💯 <br> Thank you in advance! ❤️</div>
</div>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Integration-MapsGIS.png');"></div>

<div class="compo-header">

<div class="breadcrumb">
 <a href="../../index.html">Home</a>
  <a href="../../categories/integration-maps-gis.html">Maps & GIS addons</a><a href="../../addons/heron.html"><b>Heron</b></a><a href="#" class="breadcrumb-nolink">GIS Import | Export</a><a href="#" class="breadcrumb-nolink"><div class="ghsprite" style="background: url('../../icons/heron.png') -48px 0px" ></div> Import Vector Lite</a>
</div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heron/mapboxIsochrone.html"><div class="ghsprite" style="background: url('../../icons/heron.png') 0px 0px" data-toptip="Mapbox Isochrone"></div></a>
<a href="../../components/heron/yelp.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -24px 0px" data-downtip="Yelp"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/mapboxRaster.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -24px -72px" data-toptip="Mapbox Raster"></div></a>
<a href="../../components/heron/mapboxTopography.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -48px -72px" data-downtip="Mapbox Topography"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/mapboxVector.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -72px -72px" data-toptip="Mapbox Vector"></div></a>
<a href="../../components/heron/slippyRaster.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -168px -72px" data-downtip="Slippy Raster"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/slippyTiles.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -48px -96px" data-toptip="Slippy Tiles"></div></a>
<a href="../../components/heron/slippyViewport.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -72px -96px" data-downtip="Slippy Viewport"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
GIS API
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heron/importVectorLite.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -48px 0px" data-toptip="Import Vector Lite"></div></a>
<a href="../../components/heron/importVector.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -72px 0px" data-downtip="Import Vector"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/exportVector.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -144px -24px" data-toptip="Export Vector"></div></a>
<a href="../../components/heron/importLAZ.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -168px -48px" data-downtip="Import LAZ"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/importOSM.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -192px -48px" data-toptip="Import OSM"></div></a>
<a href="../../components/heron/importRaster.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -216px -48px" data-downtip="Import Raster"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/importTopo.html"><div class="ghsprite" style="background: url('../../icons/heron.png') 0px -72px" data-toptip="Import Topo"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
GIS Import | Export
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heron/getRESTRaster.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -96px 0px" data-toptip="Get REST Raster"></div></a>
<a href="../../components/heron/getRESTVector.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -120px 0px" data-downtip="Get REST Vector"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/getRESTServiceLayers.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -120px -72px" data-toptip="Get REST Service Layers"></div></a>
<a href="../../components/heron/getRESTOSM.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -144px -72px" data-downtip="Get REST OSM"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/eSRIRESTServiceReverseGeocode.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -192px -72px" data-toptip="ESRI REST Service Reverse Geocode"></div></a>
<a href="../../components/heron/getRESTTopography.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -216px -72px" data-downtip="Get REST Topography"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/eSRIRESTServiceGeocode.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -24px -96px" data-toptip="ESRI REST Service Geocode"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
GIS REST
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heron/dMStoDD.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -144px 0px" data-toptip="DMStoDD"></div></a>
<a href="../../components/heron/gdalFillNoData.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -168px 0px" data-downtip="Gdal Fill No Data"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/gdalInfo.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -192px 0px" data-toptip="Gdal Info"></div></a>
<a href="../../components/heron/setEarthAnchorPoint.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -216px 0px" data-downtip="Set EarthAnchorPoint"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/setSpatialReferenceSystem.html"><div class="ghsprite" style="background: url('../../icons/heron.png') 0px -24px" data-toptip="Set Spatial Reference System"></div></a>
<a href="../../components/heron/gdalOgr2Ogr.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -96px -48px" data-downtip="GdalOgr2Ogr"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/gdalWarp.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -120px -48px" data-toptip="GdalWarp"></div></a>
<a href="../../components/heron/gdalTranslate.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -144px -48px" data-downtip="GdalTranslate"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/decimalDegreesToXY.html"><div class="ghsprite" style="background: url('../../icons/heron.png') 0px -96px" data-toptip="Decimal Degrees to XY"></div></a>
<a href="../../components/heron/coordinateTransformation.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -96px -96px" data-downtip="Coordinate Transformation"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/xYToDecimalDegrees.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -144px -96px" data-toptip="XY to Decimal Degrees"></div></a>
<a href="../../components/heron/gdalConvexHull.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -168px -96px" data-downtip="Gdal Convex Hull"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/gdalBuffer.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -192px -96px" data-toptip="Gdal Buffer"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
GIS Tools
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heron/multiSDiff.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -24px -24px" data-toptip="Multi SDiff"></div></a>
<a href="../../components/heron/gDALDetails.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -48px -24px" data-downtip="GDAL Details"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/topiaryFlatten.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -72px -24px" data-toptip="Topiary Flatten"></div></a>
<a href="../../components/heron/hexToColor.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -96px -24px" data-downtip="Hex to Color"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/colorToHex.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -120px -24px" data-toptip="Color to Hex"></div></a>
<a href="../../components/heron/imageFilteredColors.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -168px -24px" data-downtip="Image Filtered Colors"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/cubemapFromViewPlus.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -192px -24px" data-toptip="Cubemap From View Plus"></div></a>
<a href="../../components/heron/cubemapFromView.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -216px -24px" data-downtip="Cubemap From View"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/cubemapToEquirectangular.html"><div class="ghsprite" style="background: url('../../icons/heron.png') 0px -48px" data-toptip="Cubemap To Equirectangular"></div></a>
<a href="../../components/heron/imageTopColors.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -24px -48px" data-downtip="Image Top Colors"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/rotateImage.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -48px -48px" data-toptip="Rotate Image"></div></a>
<a href="../../components/heron/flipImage.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -72px -48px" data-downtip="Flip Image"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/multiMeshPatch.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -96px -72px" data-toptip="Multi Mesh Patch"></div></a>
<a href="../../components/heron/visualCenter.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -120px -96px" data-downtip="Visual Center"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heron/multiMoveToTopo.html"><div class="ghsprite" style="background: url('../../icons/heron.png') -216px -96px" data-toptip="Multi Move to Topo"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
Utilities
</td>
</tr>
</table>
</div>
</div>


<h1><div class="ghsprite" style="background: url('../../icons/heron.png') -48px 0px" ></div> <span class="compo-name">Import Vector Lite</span></h1>

</div>

</div>
<h3>This is a basic version of the Import Vector component allowing the import of GIS data, including SHP, GeoJSON, OSM, KML, MVT and GDB folders.  The data will be imported in the source's units and spatial reference system, Heron's SetSRS and Rhino's EarthAnchorPoint will have no effect.</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>File Path</b></td><td>filepath</td><td>File path(s) for the vector data source(s).</td><td>Text</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Data Extents</b></td><td>extents</td><td>Bounding box of all Shapefile features given the userSRS</td><td>Curve</td></tr>
<tr><td><b>Fields</b></td><td>fields</td><td>Fields of data associated with the vector data features</td><td>Text</td></tr>
<tr><td><b>Values</b></td><td>values</td><td>Field values for each feature</td><td>Text</td></tr>
<tr><td><b>Feature Geometry</b></td><td>featureGeomery</td><td>Geometry contained in the feature</td><td>Geometry</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/CPvuFvNNINs"><img src="http://img.youtube.com/vi/CPvuFvNNINs/1.jpg" alt="2.1: Gis In  - Introduction To Heron And Herman"></a>
<a href="http://www.youtube.com/embed/Wy3xKMjfJKw"><img src="http://img.youtube.com/vi/Wy3xKMjfJKw/1.jpg" alt="Heron For"></a>
<a href="http://www.youtube.com/embed/9-g_P40AjxE"><img src="http://img.youtube.com/vi/9-g_P40AjxE/1.jpg" alt="Heron Can Get All Information For You In Rhino"></a>
<a href="http://www.youtube.com/embed/t3JfC35CGYs"><img src="http://img.youtube.com/vi/t3JfC35CGYs/1.jpg" alt="Build A Wufi Passive Model In  With Honeybee"></a>


</div>
</div>

<script type="text/javascript" src="/html5gallery/jquery.js"></script>
<script type="text/javascript" src="/html5gallery/html5gallery.js"></script>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Heron and associated data © 2024  <a href="https://www.food4rhino.com/app/heron">Brian Washburn</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>
<script type="text/javascript" src="/js/app-notice.js"></script>

    </body>
</html>
