.xg_chat.chatFooter{font-size: 11px;line-height: 21px;bottom: 0;left: 0;position: fixed;width: 100%;height: 0;z-index: 999;}.xg_chat.chatFooter.with-wibiya-toolbar{bottom: 28px;}.xg_chat .xg_volumeSliderContainer{background-color:#ffffff;border: 1px solid #b7b7b7;bottom: 21px;height: 74px;padding: 10px 3px;position: absolute;right: 32px;width: 21px;z-index: 999;}.xg_chat .xg_volumeSlider{background-color:#ffffff;border: 1px solid #707070;border-radius: 4px;color:#707070;height: 71px;margin-left: 8px;position: relative;width: 3px;}.xg_chat .xg_volumeSlider > div{background-color:#707070;bottom: 0;position: absolute;width: 4px;}.xg_chat .xg_volumeSlider > a{border: 1px solid #707070;border-radius: 4px;background-color:#b7b7b7;display: block;height: 9px;margin-bottom: -6px;margin-left: -4px;position: absolute;width: 9px;}.xg_chat .xg_chatOptions{position: absolute;bottom: 21px;background:#ffffff;color:#333;border: 1px solid #b7b7b7;z-index: 999;}.xg_chat.chatFooter .xg_chatOptions{right: 8px;}.xg_chat.chatModule .xg_chatOptions{right: -1px;}.xg_chat .xg_chatOptions div.option{padding-left: 3px;padding-right: 5px;cursor: pointer;}.xg_chat .xg_chatOptions div.option.optionOff .checkmark{visibility: hidden;}.xg_chat .xg_chatOptions div.option:hover{background-color:#e0e0e0;}.xg_chat.chatFooter .xg_verticalPane{margin-right: 6px;height: 1px;float: right;position: relative;bottom: 1px;}.xg_chat.chatFooter #mainChatContainer{width: 300px;}.xg_chat.chatFooter .xg_chatWidth{width: 220px;}.xg_chat.chatFooter .xg_userWidth{width: 180px;}.xg_chat.chatFooter #userListContainer.xg_wibiyaMinimized{margin-right: 119px;}.xg_chat.chatFooter #userListContainer.xg_wibiyaMaximized{bottom: 29px;margin-right: 12px;}.xg_chat .xg_bottomBar{background: url(http://static.ning.com/socialnetworkmain/widgets/chat/gfx/chat.png?xn_version=2171497752) repeat-x 0 0;border: 1px solid #B7B7B7;position: absolute;bottom: -1px;width: 100%;z-index: 999;}.xg_chat.chatFooter .xg_bottomBar .delete{background-image: url(http://static.ning.com/socialnetworkmain/widgets/index/gfx/icons/xg_sprite-666666.png?xn_version=3244555409);}.xg_chat.chatFooter .xg_bottomBar .delete:hover{background-image: url(http://static.ning.com/socialnetworkmain/widgets/chat/gfx/x-on-square.gif?xn_version=453090617);background-position: center center;width: 13px;height: 13px;bottom: 4px;right: 4px;}.xg_chat.chatFooter .xg_chatWindow{position: absolute;bottom: 0;background:#FFFFFF;color:#333;height: 274px;width: 100%;border: 1px solid #b7b7b7;z-index: 999;}.xg_chat.chatFooter .xg_chatBar{cursor: pointer;}.xg_chat .xg_titleBar{padding: 3px 42px 3px 5px;position: relative;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}.xg_chat .xg_chatBar a{line-height: 21px;height: 21px;text-decoration: none;cursor: pointer;}.xg_chat .xg_chatBar.xg_titleBar a.xg_info{color: inherit;}.xg_chat.chatFooter .xg_chatBar.xg_titleBar a.xg_sprite,.xg_chat.chatModule .xg_titleBar p{background-image: url(http://static.ning.com/socialnetworkmain/widgets/index/gfx/icons/xg_sprite-CCCCCC.png?xn_version=3244555409);padding-left: 12px;padding-right: 4px;}.xg_chat.chatFooter .xg_chatBar.xg_titleBar a.xg_expand{position: absolute;top: 2px;right: 5px;}.xg_chat.chatFooter .xg_chatBar.xg_titleBar a.xg_sprite-delete{cursor: pointer;position: absolute;top: 6px;right: 5px;background-image: url(http://static.ning.com/socialnetworkmain/widgets/index/gfx/icons/xg_sprite-666666.png?xn_version=3244555409);}.xg_chat.chatFooter .xg_chatBar.xg_titleBar a.xg_window{position: absolute;top: 2px;right: 21px;}.xg_chat.chatFooter .xg_chatBar.xg_titleBar:hover{background-image: url(http://static.ning.com/socialnetworkmain/widgets/index/gfx/table/bg_alt.png?xn_version=1577907301);}.xg_chat.chatFooter .xg_chatBar.xg_titleBar a:hover{color:#fff;background-image: url(http://static.ning.com/socialnetworkmain/widgets/index/gfx/icons/xg_sprite-FFFFFF.png?xn_version=3244555409);}.xg_chat .xg_titleBar .xg_info{float: none;background-image: none;font-size: 12px;font-weight: bold;font-family: Arial,Helvetica,FreeSans,sans-serif;padding-left: 0;margin: 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}.xg_chat.chatFooter .xg_chatBar.xg_titleBar a.xg_info:hover{background-image: none;}.xg_chat .xg_chatBar.xg_bottomBar a{float: left;display: block;color:#454545;background: url(http://static.ning.com/socialnetworkmain/widgets/chat/gfx/chat.png?xn_version=2171497752) no-repeat 0 0;border-color:#b7b7b7;border-style: none none none solid;border-width: 0 0 0 1px;}.xg_chat .xg_chatBar a:hover{text-decoration: none;}.xg_chat .xg_chatBar.xg_bottomBar a.xg_info{border-left: none;width: 100%;text-align: left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}.xg_chat.chatModule .xg_userList.chatTabs ._username .count,.xg_chat.chatFooter .xg_chatBar.xg_bottomBar .xg_info .count{margin-left: .75em;padding: 1px .65em;color: white;background:#c00;font-weight: bold;-webkit-border-radius: 4px;border-radius: 4px;}.xg_chat.chatModule .xg_userList.chatTabs ._username.flash .count{color:#c00;background: white;}.xg_chat.chatFooter .xg_chatBar.xg_bottomBar .xg_info.flash{background: none;background-color:#666;color:#fff;}.xg_chat .xg_chatBar.xg_bottomBar .xg_info.chatTitle,.xg_chat.chatFooter .xg_chatBar.xg_bottomBar .xg_info .contents,.xg_chat.chatFooter.signedOut .xg_chatBar.xg_bottomBar .xg_info{font-family: Arial,Helvetica,FreeSans,sans-serif;font-weight: bold;margin-left: 5px;}.xg_chat .xg_chatBar a.xg_volume{background-position: 0 -301px;width: 27px;}.xg_chat .xg_chatBar a.xg_volume.xg_muted{background-position: 0 -361px;}.xg_chat .xg_chatBar a.xg_status{width: 27px;background-position: 0 -60px;}.xg_chat.chatFooter .xg_chatBar span.xg_close{cursor: pointer;position: absolute;bottom: 5px;right: 1px;width: 12px;height: 12px;}.xg_chat .xg_chatBar a.xg_status-offline{width: 27px;background-position: 0 -120px;}.emoticon-button{background: transparent url(http://static.ning.com/socialnetworkmain/widgets/chat/gfx/emoticon.png?xn_version=3518517296) no-repeat 0 0;display: block;height: 18px;right: 2px;position: absolute;top: 3px;width: 18px;}.xg_chat .xg_chatWindow.roomDisabled .emoticon-button{display: none;}.emoticon-panel{background: white url(http://static.ning.com/socialnetworkmain/widgets/chat/gfx/emoticons.png?xn_version=3763623453) no-repeat 3px 2px;border: 1px solid #c3c3c3;top: -82px;display: none;height: 80px;right: -1px;position: absolute;width: 130px;}.xg_chat.chatFooter .xg_chatBar.xg_userBar a.xg_info{width: 119px;}.xg_chat.chatModule .xg_chatBar.xg_userBar a.xg_info{width: 143px;}.xg_chat.chatFooter .xg_chatBar.xg_userBar a.xg_info.xg_info_full{width: 100%;}.xg_chat.chatFooter .xg_chatWindow ul.xg_messageList{overflow: auto;padding: 5px;margin: 0;border-bottom: 1px solid #b7b7b7;}.xg_chat .xg_chatWindow textarea{background: transparent;border-width: 0;display: block;font-family: inherit;font-size: 12px;height: 14px;line-height: 1.1em;margin: 0;outline: none;padding: 4px 0 4px 0;resize: none;width: 100%;}.xg_chat .xg_chatWindow .textarea-container{padding: 0 20px 0 5px;max-height: 80px;overflow-y: auto;}.xg_chat .emoticonContainer{position: relative;}.xg_chat .emoticonContainer.withScrollbar .emoticon-button{right: 16px;}.xg_chat.chatFooter .xg_chatWindow textarea:focus{background: transparent;}.xg_chat.chatFooter .xg_chatWindow ul.xg_userList{height: 252px;overflow: auto;padding: 0;margin: 0;}.xg_chat.chatFooter .xg_chatWindow .roomDisabled{border-top: 1px solid #e1e1e1;color:#666666;line-height: 1.1;margin: 6px;padding-top: 6px;}.xg_chat.chatFooter .xg_chatWindow.roomDisabled{background:#F1F1F1;}.main_page_module_chat_v4 > .xg_module_body,.module_chat_v4 > .xg_module_body{height: 500px;}.module_chat_v4 .xg_chat.bordered{border: 1px solid #b7b7b7 !important;}.xg_chat.chatModule{font-size: 11px;line-height: 21px;height: 100%;min-width: 460px;}.xg_chat.chatModule .xg_chatWindow{position: relative;background:#FFFFFF;color:#333;overflow: hidden;height: 100%;}.xg_widget_main_index_index .module_chat_v4 .xg_chat.chatModule .xg_chatWindow{background: rgba(255,255,255,.3);}.xg_widget_main_index_index .module_chat_v4 .xg_chat.chatModule .xg_chatWindow ul.xg_messageList{background:#ffffff;}.xg_chat.chatModule .sideChatContainer{width: 205px;float: left;border-right: 1px solid #b7b7b7;}.xg_chat.chatModule .xg_userWindow{bottom: 21px;overflow-y: auto;position: absolute;top: 0;width: 100%;}.xg_chat.chatModule .xg_chatWindow .textarea-container{background-color:#ffffff;border: 1px solid #d1d1d1;box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);}.xg_chat.chatModule .xg_chatWindow ul.xg_messageList{border: 1px solid #c4d5dc;bottom: 57px;left: 20px;margin: 0;overflow: auto;padding: 8px;position: absolute;right: 10px;top: 52px;}.xg_chat.chatModule .xg_chatWindow .xg_messageListFooter{background-color:#f9f9f9;border: 1px solid #c4d5dc;border-bottom-left-radius: 9px 7px;border-bottom-right-radius: 9px 7px;border-top-width: 0;bottom: 14px;left: 20px;padding: 9px 7px;position: absolute;right: 10px;}.xg_chat.chatModule .xg_chatWindow .xg_messageListHeading{background-color:#f9f9f9;border: 1px solid #c4d5dc;border-bottom-width: 0;border-top-left-radius: 9px 7px;border-top-right-radius: 9px 7px;font-size: 120%;height: 18px;left: 20px;padding: 12px 6px;position: absolute;right: 10px;top: 9px;}.xg_chat.chatModule .xg_chatWindow .xg_messageListHeading ._avatar{border: 1px solid;float: right;margin-top: -8px;}.xg_chat.chatModule .xg_chatWindow ul.xg_userList{padding: 0;margin: 0;}.xg_chat.chatModule #userListContainer{background-color:#e0e4e6;}.xg_chat.chatModule .xg_userList > li{padding-left: 12px;}.xg_chat.chatModule .xg_chatWindow .roomDisabled{border-top: 1px solid #e1e1e1;color:#666666;line-height: 1.1;margin: 6px;padding-top: 6px;}.xg_chat.chatModule .xg_chatWindow.roomDisabled{background:#F1F1F1;}.xg_chat.chatModule .xg_titleBar{filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B2C0D9',endColorstr='#859ABE');background: -webkit-gradient(linear,center top,center bottom,from(#B2C0D9),to(#859ABE));background: -moz-linear-gradient(top,#B2C0D9,#859ABE);border-top: 1px solid #a7b5cf;color:#ffffff;padding-left: 0;padding-right: 3px;}.xg_chat.chatModule .xg_info.xg_activeConversations{text-overflow: clip;}.xg_chat.chatModule ul.chatTabs.xg_userList{margin-bottom: 13px;}.xg_chat.chatModule .xg_userList.chatTabs > li.active{color:#fff;}.xg_chat.chatModule .xg_userList.chatTabs > li.active:hover{background-color:#e0e0e0;color: inherit;}.xg_chat.chatModule .xg_overlay,.xg_chat.chatModule .xg_floating_module{position: absolute;display: none;}.xg_chat .xg_messageList{font-size: 12px;line-height: 1.1;}.xg_chat ul.xg_messageList > li{list-style: none;margin: 0 0 6px 38px;clear: both;}.xg_chat .xg_messageList > li.brief{clear: none;}.xg_chat .xg_messageList > li > ._avatar{float: left;height: 32px;width: 32px;margin: 0 0 6px -38px;cursor: pointer;}.xg_chat .xg_messageList > li.brief > ._avatar{display: none;}.xg_chat .xg_messageList > li._timestamp{color:#b2b2b2;text-align: right;}.xg_chat .xg_messageList > li.warning{overflow: hidden;text-overflow: ellipsis;}.xg_chat .xg_messageList > li > ._sender{margin: 0;color:#333;font-weight: bold;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;cursor: pointer;}.xg_chat .xg_messageList > li.brief > ._sender{display: none;}.xg_chat .xg_messageList .deleteOptions{display: none;position: absolute;top: 13px;right: 0;background:#ffffff;border: 1px solid #b7b7b7;border-radius: 3px 0 3px 3px;z-index: 1000;}.xg_chat .xg_messageList .deleteOptions.active{display: block;}.xg_chat .xg_messageList .deleteOptions > a{display: block;padding: 5px;cursor: pointer;}.xg_chat .xg_messageList .deleteOptions > a:hover{background:#e0e0e0;}.xg_chat .xg_messageList > li .delete{position: absolute;right: 0;top: 0;width: 12px;height: 12px;font-size: 12px;font-weight: bold;line-height: 12px;text-align: center;border-width: 1px;background-color:#fff;background-image: url(http://static.ning.com/socialnetworkmain/widgets/index/gfx/icons/xg_sprite-333333.png?xn_version=3244555409);background-position: 3px -3915px;z-index: 1001;visibility: hidden;cursor: pointer;}.xg_chat .xg_messageList > li:hover .delete{visibility: visible;}.xg_chat .xg_messageList > li .deleteOptions.active + .delete{visibility: visible;border-style: solid;border-color:#b7b7b7;border-radius: 3px 3px 0 0;border-bottom-color:#fff;}.xg_chat .xg_messageList a,.xg_chat .xg_messageList a:hover{color: inherit;text-decoration : none;}.xg_chat .xg_messageList li.clearHistory a{float: right;}.xg_chat .xg_messageList > li > ._message{margin: 2px 0 0 0;padding: 0;word-wrap: break-word;position: relative;}.xg_chat .xg_messageList > li > ._message + ._message{border-top: 1px solid #e0e0e0;padding-top: 2px;}.xg_chat .xg_messageList > li > p._warning{background-color:#F7F5D6;border: 1px solid #EEE685;font-size: 11px;padding: 5px;}.xg_chat .xg_messageList .emoticon{display: inline-block;text-indent: -9999px;background: url(http://static.ning.com/socialnetworkmain/widgets/chat/gfx/emoticons.png?xn_version=3763623453) no-repeat;width: 20px;height: 20px;vertical-align: bottom;position: relative;top: 2px;}.xg_chat .xg_messageList .biggrin{background-position: -6px -1px;}.xg_chat .xg_messageList .smile{background-position: -36px -1px;}.xg_chat .xg_messageList .surprise{background-position: -68px -1px;}.xg_chat .xg_messageList .biglips{background-position: -98px -1px;}.xg_chat .xg_messageList .tongue{background-position: -6px -29px;}.xg_chat .xg_messageList .frown{background-position: -36px -29px;}.xg_chat .xg_messageList .wink{background-position: -68px -29px;}.xg_chat .xg_messageList .sick{background-position: -98px -29px;}.xg_chat .xg_messageList .coolsmile{background-position: -6px -55px;}.xg_chat .xg_messageList .ohmy{background-position: -37px -56px;}.xg_chat .xg_messageList .sadeyes{background-position: -68px -55px;}.xg_chat .xg_messageList .cry{background-position: -98px -56px;}.xg_chat .xg_userList{font-size: 12px;line-height: 1.1;margin: 0;padding: 0;}.xg_chat ul.xg_userList > li{clear: both;list-style: none;margin: 3px 0;cursor: pointer;padding: 0 3px;position: relative;height: 24px;padding-right: 20px;}.xg_chat ul.xg_userList.chatTabs > li{height: auto;}.xg_chat .xg_userList > li:hover{background-color:#e0e0e0;}.xg_chat.chatModule .xg_userList > li:hover{background-color:#d1d1d1;}.xg_chat .xg_userList .privateMessageLink{display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}.xg_chat .xg_userList.chatTabs .privateMessageLink{overflow: visible;}.xg_chat .xg_userList .privateMessageLink > *{vertical-align: middle;}.xg_chat .xg_userList > li ._username{padding-left: 6px;}.xg_chat .xg_userList > li .conversation-marker{position: absolute;height: 20px;right: 0;top: 6px;}.xg_chat .xg_userList > li.showingUserOptions .conversation-marker,.xg_chat .xg_userList > li:hover .conversation-marker{visibility: hidden;}.xg_chat .xg_userList > li .arrow{visibility: hidden;position: absolute;right: 4px;top: 5px;width: 12px;height: 12px;font-size: 8px;line-height: 12px;text-align: center;border: 1px solid #b7b7b7;border-radius: 3px;background-color:#fff;z-index: 1000;}.xg_chat .xg_userList > li:hover .arrow{visibility: visible;}.xg_chat .xg_userList > li.showingUserOptions .userOptions + .arrow{visibility: visible;border-bottom-color:#fff;border-radius: 3px 3px 0 0;}.xg_chat .xg_userList > li.showingUserOptions .userOptions.raised + .arrow{border-bottom-color:#b7b7b7;border-radius: 3px;}.xg_chat.chatModule .xg_userList.chatTabs > li:hover .arrow{visibility: hidden;}.xg_chat.chatModule .xg_userList > li .delete{background-image: url(http://static.ning.com/socialnetworkmain/widgets/index/gfx/icons/xg_sprite-666666.png?xn_version=3244555409);visibility: hidden;cursor: pointer;position: absolute;width: 12px;height: 12px;bottom: 7px;right: 2px;}.xg_chat.chatModule .xg_userList.chatTabs > li{height: 32px;}.xg_chat.chatModule .xg_userList.chatTabs > li .delete{bottom: 10px;}.xg_chat.chatModule .xg_userList.chatTabs ._avatar{height: 32px;width: 32px;}.xg_chat.chatModule .xg_userList.chatTabs > li:hover .delete{visibility: visible;}.xg_chat.chatModule .xg_userList.chatTabs > li .delete:hover{background-image: url(http://static.ning.com/socialnetworkmain/widgets/chat/gfx/x-on-square.gif?xn_version=453090617);background-position: center center;width: 13px;height: 13px;bottom: 9px;right: 4px;}.xg_chat .xg_userList .userOptions{display: none;position: absolute;top: 18px;right: 4px;background:#ffffff;border: 1px solid #b7b7b7;border-radius: 3px 0 3px 3px;z-index: 999;}.xg_chat .xg_userList li.showingUserOptions .userOptions{display: block;}.xg_chat .xg_userList .userOptions > a{display: block;padding: 5px;cursor: pointer;}.xg_chat .xg_userList .userOptions > a:hover{background:#e0e0e0;}.xg_chat .xg_userList a,.xg_chat .xg_userList a:hover{color: inherit;text-decoration : none;}.xg_chat .xg_userList ._avatar{height: 24px;width: 24px;}.xg_chat .xg_userList .xg_sprite{background-image: url(http://static.ning.com/socialnetworkmain/widgets/index/gfx/icons/xg_sprite-CCCCCC.png?xn_version=3244555409);}.xg_chat.chatFooter .xg_chatBar.xg_titleBar .resizeHandle{height:5px;position:absolute;top:0;left:0;width:100%;cursor: ns-resize;}.dragCover{position:fixed;top:0;bottom:0;left:0;right:0;z-index:999;cursor: ns-resize;}#xg,.xg_floating_module{font-size:1.09091em}#xg_navigation ul li a,#xg_navigation ul li span{font-size:1.00506em;}p.buttongroup a.button,p.buttongroup input.button,p.buttongroup button{_font-size:13px !important;}p.buttongroup input.button,p.buttongroup button{_padding:4px 6px 3px !important;}p.buttongroup a.button{_line-height:12px !important;_position:relative;_margin-bottom:0 !important;_padding:5px 6px 6px !important;_bottom:-3px !important;}.xg_sprite,.xg_icon,.rich-comment,.rich-comment em,.delete,.smalldelete,.activity-delete,ul.rating-themed,ul.rating-themed a:hover,ul.rating-themed a:active,ul.rating-themed a:focus,ul.rating-themed .current{background-image:url(http://static.ning.com/socialnetworkmain/widgets/index/gfx/icons/xg_sprite-669933.png?xn_version=3244555409);_background-image:url(http://static.ning.com/socialnetworkmain/widgets/index/gfx/icons/ie6/xg_sprite-669933.png?xn_version=4291570312);}a,ul.backlink li a,#xg_body .xg_headline .tb ul.byline li a{text-decoration:underline;}a.button:hover,.xg_widget_main_admin_manage .xg_module_body li a{text-decoration:none;}#xg_foot,#xg_foot a{color:#333;}#xn_bar #xn_bar_menu a{color:#333 !important;}#xn_bar #xn_bar_menu a:hover{color:#222 !important;}.xg_theme-ningbar-c{color:#333;}.xg_chatArea .xg_chatBar.xg_titleBar a{background-image: url(http://static.ning.com/socialnetworkmain/widgets/index/gfx/icons/xg_sprite-333333.png?xn_version=3244555409) !important;}#xn_bar fieldset{border-color:#aaa;}#xn_bar #xn_brand a span{background-image:url(http://static.ning.com/socialnetworkmain/widgets/index/gfx/ningbar/ningbar-logo-black.png?xn_version=1674653767) !important;}* html #xn_bar #xn_brand a span{background:none !important;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static.ning.com/socialnetworkmain/widgets/index/gfx/ningbar/ningbar-logo-black.png') !important;padding:2px 0 0 3px;}#xn_bar #xn_bar_menu_search_submit{background-position:0 -100px;}
/*----------------------------------------------------------------------
This file is generated whenever you customize the appearance of your
app. We recommend that you avoid editing this file directly; instead,
simply use or not use these styles in your app as desired.
For more information, contact support@ning.com.
----------------------------------------------------------------------*/


/*----------------------------------------------------------------------
Fonts
----------------------------------------------------------------------*/
/* Font (Body Text) */
body, select, input, button, textarea, .xg_theme-body-f {
font-family:/* %textFont% */ Verdana, Geneva, Tahoma, sans-serif;
}
/* Font (Headings) */
h1, h2, h3, h4, h5, h6,
#xg_sitename,
.xg_theme-heading-f {
font-family:/* %headingFont% */ Arial, "Helvetica Neue", Helvetica, sans-serif;
}


/*----------------------------------------------------------------------
Colors
----------------------------------------------------------------------*/
/* Main Color */
body,
#xg_navigation li.this a,
.xg_theme-body-t {
color:/* %moduleBodyTextColor% */ #333333;
}
a, .xg_theme-link-c {
color:/* %siteLinkColor% */ #498802;
}
a.button, button, input.button,
a.button:hover, button:hover, input.button:hover {
color:/* %buttonTextColor% */ #fff;
background:/* %siteLinkColor% */ #498802;
}
.xg_theme-button-c {
color:/* %buttonTextColor% */ #fff;
}
.xg_theme-button-bc {
background:/* %siteLinkColor% */ #498802;
}
.icon-color {
color:/* %iconColor% */ #70AF2C;
}

/* Margins */
body {
background-image:/* %siteBgImage% */  none;
background-repeat:/* %siteBgImage_repeat% */  no-repeat;
}
.xg_theme-body-bc {
background-color:/* %siteBgColor% */ #F2FFD6;
}
.xg_theme-body-bi {
background-image:/* %siteBgImage% */  none;
}

/* Header Background Color/Image */
#xg_head,
#xg_head a,
.xg_theme-header-c {
color:/* %pageHeaderTextColor% */ #498802;
}
#xg, .xg_headerbg {
background-color:/* %headBgColor% */ #FFFFFF;
background-image:/* %headBgImage% */  none;
background-repeat:/* %headBgImage_repeat% */  no-repeat;
}
.xg_theme-header-bc {background-color:/* %headBgColor% */ #FFFFFF;
}
.xg_theme-header-bi {background-image:/* %headBgImage% */  none;
}

/* Page */
#xg_body,
.xg_floating_container {
background-color:/* %pageBgColor% */ #F2FFD6;
background-image:/* %pageBgImage% */  none;
background-repeat:/* %pageBgImage_repeat% */  no-repeat;
}
.xg_theme-body-bc {
background-color:/* %pageBgColor% */ #F2FFD6;
}
.xg_theme-body-bi {
background-image:/* %pageBgImage% */  none;
}
#xg_navigation ul li.this a,
ul.page_tabs li.this {
background-color:/* %pageBgColor% */ #F2FFD6;

}
/* Module Headers */
.xg_module_head {
color:/* %moduleHeadTextColor% */ #414143;
background-color:/* %moduleHeadBgColor% */ #FFFFFF;
}
.xg_theme-modulehead-c {
color:/* %moduleHeadTextColor% */ #414143;
}
.xg_theme-modulehead-bc {
background-color:/* %moduleHeadBgColor% */ #FFFFFF;
}

/* Module Body */
.xg_module_body, .xg_theme-modulebody-bc {
background-color:/* %moduleBodyBgColor% */ #FFFFFF;
}

/* Media Players */
.xg_theme-mediabutton-c {
color:/* %mediaButtonLink% */ #797979;
}
.xg_theme-mediaplayer-bc {
color:/* %mediaPlayerBg% */ #FFFFFF;
}
.xg_theme-mediaplaylist-bc {
color:/* %mediaPlaylistBg% */ #e9eee8;
}

/* Ningbar */
/* %ningbarInvert% */ 
#xn_bar, .xg_theme-ningbar-bc {
background-color:/* %ningbarColor% */ #70AF2C!important;
}

/* Footer */
#xg_foot, .xg_theme-footer-bc {
background-color:/* %ningbarColor% */ #70AF2C!important;
}


/*----------------------------------------------------------------------
Misc
----------------------------------------------------------------------*/
.xg_theme .xg_user_generated p,
.xg_theme .xg_user_generated ol,
.xg_theme .xg_user_generated ul,
.xg_theme .xg_user_generated dl,
.xg_theme .xg_user_generated blockquote,
.xg_theme .xg_user_generated table,
.xg_theme .xg_user_generated h1,
.xg_theme .xg_user_generated h2,
.xg_theme .xg_user_generated h3,
.xg_theme .xg_user_generated h4,
.xg_theme .xg_user_generated h5,
.xg_theme .xg_user_generated h6 {
margin-bottom:/* %pMarginBottom% */ .5em
}
#xn_brand,
.xg_displaybrand {
display:/* %ningLogoDisplay% */ block!important;
}
/* this color is the average between moduleBodyTextColor and pageBgColor: */
.disabled,
.xg_lightfont {
color:/* %lightfont% */ #606652;
}
hr {
color: #e1e1e1;
background-color: #e1e1e1;
}
/* this color is (moduleBodyTextColor + (2 * pageBgColor))/3 */
.xg_lightborder {
border-style:solid;
border-color:/* %lightborder% */ #b2bba0;
}
/* this color is (moduleBodyTextColor + (5 * pageBgColor))/6 */
.xg_separator {
border-style:solid;
border-color:/* %separator% */ #d2ddbb;
}
.module_events .clist H3 {	FONT-SIZE: 0.91em}
.module_events .clist P {	FONT-SIZE: 0.8em;	MARGIN-BOTTOM: 0px}
.module_video .clist H3 {DISPLAY: none}
.module_video .clist P {FONT-SIZE: 0.8em}
.module_photo .clist H3 {DISPLAY: none}
.module_photo .clist P {FONT-SIZE: 0.8em}
TABLE.categories H3 {FONT-SIZE: 1.1em; MARGIN: 0px 0px 0.2em 58px; LINE-HEIGHT: 1.0em}
TABLE.categories TD.bignum { FONT-SIZE: 1.3em; LINE-HEIGHT: 1em; LETTER-SPACING: -1px}

#srchResult iframe { 
    WIDTH:735px;
}


H1 {
    CLEAR: left;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 2.0em;
    MARGIN-BOTTOM: 0.1em;
    PADDING-BOTTOM: 1px;
    LINE-HEIGHT: 1.6em;
    PADDING-TOP: 1px;
}

#xn_bar_menu {
   float:none;
    margin:0pt auto;
    text-align:left;
    width:955px;
    color:white;
}

#xn_bar_menu_search_query {display:none;}
#xn_bar_menu_search_submit {display:none!important;}
div#xn_bar {display:none!important;}

#xg {
    margin:0;
    width:auto;
}

#xg_head {
  left: 0;
  top: 0;
  width: 100%;
  background: #4C8504 url(../images/ghbanner.jpg) no-repeat;
    border-bottom:5px solid #70AE27;
    background-repeat:no-repeat;
}


#xg_foot {
    height:1.5em;
}

#xg_masthead p#xg_sitename {
    font-weight:bold;
    line-height:1.1em;
    padding:5px 0 0 15px;
    text-align: left;
    color:#1C570D;
}

#xg_masthead p#xg_sitedesc {
    height:1.1em;
    text-align: left;
    color:#969021;
    text-transform: uppercase;
    font-size: smaller;
}

.xg_module_head p.edit a.button {
    bottom:-2px;
}

#xg_head #xg_masthead p#xg_sitename, #xg_head #xg_masthead p#xg_sitedesc, #xg_head ul, #xg_body, #xg_foot {
   /* width:945px;
    margin-left:auto;
    margin-right:auto;
    float:none;*/
}

.xg_module_head h2 {
    font-size:13px;
    font-weight:bold;
    color:#969021;
}

#xg_navigation {
    margin-top:0;
}

#xg_navigation ul li a {
    color:#969021;
    padding:0 10px;
}

#xg_navigation ul li.this a {
    background-color: #70AF2C;
    color:#ffffff;
}

div.notes_list {
    padding-left: 75px;
}


div.notes_list h3{
    margin-left: -60px;
}


ul.page_tabs li.this {
  background-color:#ffffff;
}

.xg_module {
    border:1px solid #B9D797;
}

.xg_module_head {
    border-bottom:1px solid #E7E7E7;
    margin-bottom:0;
}

.xg_module_foot {
    border-top:1px solid #E7E7E7;
    background-color:#ffffff;
}

.xg_module_body {
-webkit-border-bottom-right-radius:5px !important;
-webkit-border-bottom-left-radius:5px !important;
-webkit-border-top-right-radius:5px !important;
-webkit-border-top-left-radius:5px !important;
-moz-border-radius-bottomright:5px !important;
-moz-border-radius-bottomleft:5px !important;
-moz-border-radius-topright:5px !important;
-moz-border-radius-topleft:5px !important;
border-top-right-radius:5px !important;
border-top-left-radius:5px !important;
border-bottom-right-radius:5px !important;
border-bottom-left-radius:5px !important;
}


.xg_module_body .xg_module_body {
    border-left:none;
    border-right:none;
    border-top:none;
    background-color:#ffffff;
}

.xg_widget_profiles_profile_show .xg_3col .xg_1col img.photo {
    max-width:181px;
    _width:expression(this.width >181 ? 181:true);
}
code {
  font-size:small;
  line-height:1.2em;
  background: #f2ffd6;
  font-size:small;
	margin: 0 0 0 20px;  /*--Left Margin--*/
	padding: 3px 0 3px 20px;
	display: block;
}