<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Blindfold - Blindfold - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Hide or show geometry in Rhino that is referenced into the Grasshopper document." />
<meta name="title" content="Blindfold - Blindfold - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Blindfold - Blindfold - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/blindfold/blindfold.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>



</head>
<body>


<div id="docs" class="docs-theme docs-widget_page docs-widget_page_page docs-widget_page_page_show" data-layout-pack="classic">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/blindfold/blindfold.html"><div class="ghsprite" style="background: url('../../icons/blindfold.png') 0px 0px" data-toptip="Blindfold"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Preview
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">

<a href="https://www.food4rhino.com/app/blindfold">Download</a>
</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/blindfold.png') 0px 0px" ></div> Blindfold</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/blindfold.html">Blindfold</a><a href="#" class="breadcrumb-nolink">Preview</a><a href="#" class="breadcrumb-nolink">Blindfold</a>
</div>

</div>
<h3>Hide or show geometry in Rhino that is referenced into the Grasshopper document.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Refresh</b></td><td>R</td><td>Input a button component to activate, click the button to refresh when new Rhino geometry is referenced</td><td>Boolean</td></tr>
<tr><td><b>Visibility</b></td><td>V</td><td>True = Hide
False = Show</td><td>Boolean</td></tr>
<tr><td><b>Limited</b></td><td>L</td><td>Optionally limit the hide/show operation to only the Rhino referenced geometry plugged into or set in this input</td><td>Geometry</td></tr>
<tr><td><b>Refresh</b></td><td>R</td><td>Input a button component to activate, click the button to refresh when new Rhino geometry is referenced</td><td>Boolean</td></tr>
<tr><td><b>Visibility</b></td><td>V</td><td>True = Hide</td><td>Boolean</td></tr>
<tr><td><b>Limited</b></td><td>L</td><td>Optionally limit the hide/show operation to only the Rhino referenced geometry plugged into or set in this input</td><td>Geometry</td></tr>
</tbody>
</table>


</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Blindfold and associated data © 2020  <a href="https://www.food4rhino.com/app/blindfold">Ekim Royrp</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
