<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Create Elastic Isotropic Material - GeomGym GSA - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Create Elastic Isotropic Material" />
<meta name="title" content="Create Elastic Isotropic Material - GeomGym GSA - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Create Elastic Isotropic Material - GeomGym GSA - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/geomgymgsa/createElasticIsotropicMaterial.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v4.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
	<a class="sitemenu-item" href="https://forms.mk/qL9PPg">Request an Addon</a>
	<a class="sitemenu-item sitemenu-donate" href="https://github.com/sponsors/robinrodricks">Donate</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="https://technical.geometrygym.com/rhino-grasshopper/structuralanalysis/gsa">Download</a>

</div>


<div class="side-content">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

<div id="help-notice">
<div class="help-title">We need your help! 🔥</div>
<div class="help-text">Please consider disabling your ad-blocker to support this website! 🔑 <br> We are a free, community-supported website! 🥰 <br> We only display small unobtrusive ads which help us stay online! 💯 <br> Thank you in advance! ❤️</div>
</div>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Integration-OasysGSA.png');"></div>

<div class="compo-header">

<div class="breadcrumb">
 <a href="../../index.html">Home</a>
  <a href="../../categories/integration-oasys-gsa.html">Oasys GSA addons</a><a href="../../addons/geomgym-gsa.html"><b>GeomGym GSA</b></a><a href="#" class="breadcrumb-nolink">Att</a><a href="#" class="breadcrumb-nolink"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px 0px" ></div> Create Elastic Isotropic Material</a>
</div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/toKaramba.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px 0px" data-toptip="to Karamba"></div></a>
<a href="../../components/geomgymgsa/streamBakeToIfc.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px 0px" data-downtip="Stream Bake To Ifc"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/convertIfcFilter.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px 0px" data-toptip="Convert Ifc Filter"></div></a>
<a href="../../components/geomgymgsa/convertFromIfc.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px 0px" data-downtip="Convert From Ifc"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/importData.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -24px" data-toptip="Import Data"></div></a>
<a href="../../components/geomgymgsa/modelDecompose.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -24px" data-downtip="Model Decompose"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/bakeModel.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -168px" data-toptip="Bake Model"></div></a>
<a href="../../components/geomgymgsa/projectSettings.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -168px" data-downtip="Project Settings"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/units.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -168px" data-toptip="Units"></div></a>
<a href="../../components/geomgymgsa/streamBake.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -168px" data-downtip="Stream Bake"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/projectTitle.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -168px" data-toptip="Project Title"></div></a>
<a href="../../components/geomgymgsa/location.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -168px" data-downtip="Location"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/sID.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -168px" data-toptip="s ID"></div></a>
<a href="../../components/geomgymgsa/convertIfcOptions.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -192px" data-downtip="Convert Ifc Options"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">

</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createElasticIsotropicMaterial.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px 0px" data-toptip="Create Elastic Isotropic Material"></div></a>
<a href="../../components/geomgymgsa/createElasticOrthotropicMaterial.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px 0px" data-downtip="Create Elastic Orthotropic Material"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createFabricMaterial.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px 0px" data-toptip="Create Fabric Material"></div></a>
<a href="../../components/geomgymgsa/createMaterial.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px 0px" data-downtip="Create Material"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/beamReleaseStiffness.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -24px" data-toptip="Beam Release Stiffness"></div></a>
<a href="../../components/geomgymgsa/beamRelease.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -24px" data-downtip="Beam Release"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/findSectionProp.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -24px" data-toptip="Find Section Prop"></div></a>
<a href="../../components/geomgymgsa/nodeRestraint.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -24px" data-downtip="Node Restraint"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/finiteElementGenerationOption.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -144px" data-toptip="Finite Element Generation Option"></div></a>
<a href="../../components/geomgymgsa/elementOrientation.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -168px" data-downtip="Element Orientation"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/member1DAtts.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -312px" data-toptip="Member1DAtts"></div></a>
<a href="../../components/geomgymgsa/memberMeshParams.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -312px" data-downtip="Member Mesh Params"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/memberFireParams.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -312px" data-toptip="Member Fire Params"></div></a>
<a href="../../components/geomgymgsa/memberTimeExpParams.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -312px" data-downtip="Member Time Exp Params"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/member2DAtts.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -336px" data-toptip="Member2DAtts"></div></a>
<a href="../../components/geomgymgsa/nodeAtts.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -336px" data-downtip="Node Atts"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/beamAtts.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -336px" data-toptip="Beam Atts"></div></a>
<a href="../../components/geomgymgsa/finiteElemAtts.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -384px" data-downtip="Finite Elem Atts"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/profileIBeamCellular.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -408px" data-toptip="Profile IBeam Cellular"></div></a>
<a href="../../components/geomgymgsa/createSectionProp.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -408px" data-downtip="Create Section Prop"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createPropCable.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -408px" data-toptip="Create Prop Cable"></div></a>
<a href="../../components/geomgymgsa/createLineSegSectionProp.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -408px" data-downtip="Create Line Seg Section Prop"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createExplicitSectionProp.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -408px" data-toptip="Create Explicit Section Prop"></div></a>
<a href="../../components/geomgymgsa/sectionPropertyParameters.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -408px" data-downtip="Section Property Parameters"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/beamPropModifier.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -408px" data-toptip="Beam Prop Modifier"></div></a>
<a href="../../components/geomgymgsa/areaAtts.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -408px" data-downtip="Area Atts"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/meshQuadBuild.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -408px" data-toptip="Mesh Quad Build"></div></a>
<a href="../../components/geomgymgsa/meshCM2.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -432px" data-downtip="Mesh CM2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/regionAtts.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -432px" data-toptip="Region Atts"></div></a>
<a href="../../components/geomgymgsa/lineAtts.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -432px" data-downtip="Line Atts"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/materialCurve.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -432px" data-toptip="Material Curve"></div></a>
<a href="../../components/geomgymgsa/materialCreateSteel.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -432px" data-downtip="Material Create Steel"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/materialCreateConcrete.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -432px" data-toptip="Material Create Concrete"></div></a>
<a href="../../components/geomgymgsa/concreteMatAtts.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -432px" data-downtip="Concrete Mat Atts"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/concreteMatDesignParams.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -432px" data-toptip="Concrete Mat Design Params"></div></a>
<a href="../../components/geomgymgsa/materialCreateRebar.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -432px" data-downtip="Material Create Rebar"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/materialCreateRebarAtts.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -432px" data-toptip="Material Create Rebar Atts"></div></a>
<a href="../../components/geomgymgsa/materialCreateTimber.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -456px" data-downtip="Material Create Timber"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createPropFabric.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -456px" data-toptip="Create Prop Fabric"></div></a>
<a href="../../components/geomgymgsa/createPropMass.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -456px" data-downtip="Create Prop Mass"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createPropLink.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -456px" data-toptip="Create Prop Link"></div></a>
<a href="../../components/geomgymgsa/createStage.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -456px" data-downtip="Create Stage"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createStageProp.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -456px" data-toptip="Create Stage Prop"></div></a>
<a href="../../components/geomgymgsa/createPropSpringGeneral.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -456px" data-downtip="Create Prop Spring General"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createPropSpringGeneralCurves.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -456px" data-toptip="Create Prop Spring General Curves"></div></a>
<a href="../../components/geomgymgsa/createPropSpringLockUp.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -456px" data-downtip="Create Prop Spring Lock Up"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createPropSpringAxial.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -456px" data-toptip="Create Prop Spring Axial"></div></a>
<a href="../../components/geomgymgsa/createPropSpringMatrix.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -480px" data-downtip="Create Prop Spring Matrix"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createSpringMatrix.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -480px" data-toptip="Create Spring Matrix"></div></a>
<a href="../../components/geomgymgsa/createPropSpacer.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -480px" data-downtip="Create Prop Spacer"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createSoapStress1D.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -480px" data-toptip="Create Soap Stress1D"></div></a>
<a href="../../components/geomgymgsa/createSoapStress2D.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -480px" data-downtip="Create Soap Stress2D"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createForceDensity1D.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -480px" data-toptip="Create Force Density1D"></div></a>
<a href="../../components/geomgymgsa/create2dLoadPanelProp.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -480px" data-downtip="Create 2d Load Panel Prop"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/create2DProp.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -480px" data-toptip="Create2DProp"></div></a>
<a href="../../components/geomgymgsa/create2DProfileDecking.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -480px" data-downtip="Create2DProfile Decking"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/prop2dParams.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -480px" data-toptip="Prop2d Params"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="29">
Att
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/transformStructure.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -24px" data-toptip="Transform Structure"></div></a>
<a href="../../components/geomgymgsa/decomposeBeam.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -24px" data-downtip="Decompose Beam"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createListByDefinition.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -144px" data-toptip="Create List By Definition"></div></a>
<a href="../../components/geomgymgsa/createList.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -144px" data-downtip="Create List"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/decomposeList.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -144px" data-toptip="Decompose List"></div></a>
<a href="../../components/geomgymgsa/brepConvertFiniteElements.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -168px" data-downtip="Brep Convert Finite Elements"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/meshConvertFiniteElementsTied.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -168px" data-toptip="Mesh Convert Finite Elements Tied"></div></a>
<a href="../../components/geomgymgsa/createMember1d.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -312px" data-downtip="Create Member1d"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createMemberEnd.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -312px" data-toptip="Create Member End"></div></a>
<a href="../../components/geomgymgsa/createMember2d.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -312px" data-downtip="Create Member2d"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/create2dTopology.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -336px" data-toptip="Create2d Topology"></div></a>
<a href="../../components/geomgymgsa/nodeList.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -336px" data-downtip="Node List"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createOrFindNode.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -336px" data-toptip="Create Or Find Node"></div></a>
<a href="../../components/geomgymgsa/createBeam.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -336px" data-downtip="Create Beam"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/cable.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -336px" data-toptip="Cable"></div></a>
<a href="../../components/geomgymgsa/link.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -360px" data-downtip="Link"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/generatePerimBeams.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -360px" data-toptip="Generate Perim Beams"></div></a>
<a href="../../components/geomgymgsa/generateLineSegmentBeams.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -360px" data-downtip="Generate Line Segment Beams"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createAxis.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -360px" data-toptip="Create Axis"></div></a>
<a href="../../components/geomgymgsa/createGridPlane.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -360px" data-downtip="Create Grid Plane"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createGridSurface.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -360px" data-toptip="Create Grid Surface"></div></a>
<a href="../../components/geomgymgsa/createRestraint.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -360px" data-downtip="Create Restraint"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createConstraint.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -360px" data-toptip="Create Constraint"></div></a>
<a href="../../components/geomgymgsa/createJoint.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -360px" data-downtip="Create Joint"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/groundSpring.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -360px" data-toptip="Ground Spring"></div></a>
<a href="../../components/geomgymgsa/mass.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -384px" data-downtip="Mass"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createArea.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -384px" data-toptip="Create Area"></div></a>
<a href="../../components/geomgymgsa/createFiniteElement.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -384px" data-downtip="Create Finite Element"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/meshConvertFiniteElements.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -384px" data-toptip="Mesh Convert Finite Elements"></div></a>
<a href="../../components/geomgymgsa/createRegion.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -384px" data-downtip="Create Region"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createRegionBrep.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -384px" data-toptip="Create Region Brep"></div></a>
<a href="../../components/geomgymgsa/createPolyline.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -384px" data-downtip="Create Polyline"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createLine.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -384px" data-toptip="Create Line"></div></a>
<a href="../../components/geomgymgsa/decomposeFE.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -384px" data-downtip="Decompose FE"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createAssembly.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -408px" data-toptip="Create Assembly"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="18">
Elem
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/ggKarambaToGSA.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px 0px" data-toptip="gg Karamba To GSA"></div></a>
<a href="../../components/geomgymgsa/filetoKaramba.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px 0px" data-downtip="Fileto Karamba"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Karamba
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/loadCase.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -24px" data-toptip="Load Case"></div></a>
<a href="../../components/geomgymgsa/caseCombination.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -24px" data-downtip="Case Combination"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/decomposeLoadCase.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -48px" data-toptip="Decompose Load Case"></div></a>
<a href="../../components/geomgymgsa/decomposeCombo.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -48px" data-downtip="Decompose Combo"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/loadGravity.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -48px" data-toptip="Load Gravity"></div></a>
<a href="../../components/geomgymgsa/loadNetworkTribArea.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -48px" data-downtip="Load Network Trib Area"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/loadCrvPatch.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -48px" data-toptip="Load Crv Patch"></div></a>
<a href="../../components/geomgymgsa/load2dFace.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -48px" data-downtip="Load2d Face"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/load2dFaceVar.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -48px" data-toptip="Load2d Face Var"></div></a>
<a href="../../components/geomgymgsa/loadCrvLackOfFit.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -48px" data-downtip="Load Crv Lack Of Fit"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/loadCrvTemp.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -48px" data-toptip="Load Crv Temp"></div></a>
<a href="../../components/geomgymgsa/load2DTemp.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -48px" data-downtip="Load2DTemp"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/loadCrvPrestress.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -72px" data-toptip="Load Crv Prestress"></div></a>
<a href="../../components/geomgymgsa/loadCrvStrain.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -72px" data-downtip="Load Crv Strain"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/loadNode.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -216px" data-toptip="Load Node"></div></a>
<a href="../../components/geomgymgsa/loadNodeDisplacmentVector.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -216px" data-downtip="Load Node Displacment Vector"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/loadNodeDisplacment.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -216px" data-toptip="Load Node Displacment"></div></a>
<a href="../../components/geomgymgsa/loadCrvUDL.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -240px" data-downtip="Load Crv UDL"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/loadCrvPoint.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -240px" data-toptip="Load Crv Point"></div></a>
<a href="../../components/geomgymgsa/loadNodeSettlement.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -240px" data-downtip="Load Node Settlement"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/load2dPrestress.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -240px" data-toptip="Load2d Prestress"></div></a>
<a href="../../components/geomgymgsa/load2dStrain.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -240px" data-downtip="Load2d Strain"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/loadIntensity.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -240px" data-toptip="Load Intensity"></div></a>
<a href="../../components/geomgymgsa/loadDirection.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -240px" data-downtip="Load Direction"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/loadGridArea.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -240px" data-toptip="Load Grid Area"></div></a>
<a href="../../components/geomgymgsa/decomposeGridAreaLoad.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -240px" data-downtip="Decompose Grid Area Load"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/loadGridLine.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -240px" data-toptip="Load Grid Line"></div></a>
<a href="../../components/geomgymgsa/loadGridPoint.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -264px" data-downtip="Load Grid Point"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/loadGridLinear.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -264px" data-toptip="Load Grid Linear"></div></a>
<a href="../../components/geomgymgsa/responseSpectraEuroCode8.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -264px" data-downtip="Response Spectra Euro Code8"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="15">
Loads
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/bridgeSpec5100.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -264px" data-toptip="Bridge Spec5100"></div></a>
<a href="../../components/geomgymgsa/bridgeSpecEC1.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -264px" data-downtip="Bridge Spec EC1"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/alignmentPoint.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -264px" data-toptip="Alignment Point"></div></a>
<a href="../../components/geomgymgsa/alignment.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -264px" data-downtip="Alignment"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/path.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -264px" data-toptip="Path"></div></a>
<a href="../../components/geomgymgsa/inflNode.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -264px" data-downtip="Infl Node"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/inflBeam.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -264px" data-toptip="Infl Beam"></div></a>
<a href="../../components/geomgymgsa/basicBridgeLoad.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -288px" data-downtip="Basic Bridge Load"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/movingBridgeLoad.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -288px" data-toptip="Moving Bridge Load"></div></a>
<a href="../../components/geomgymgsa/pathLoad.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -288px" data-downtip="Path Load"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/userVechicle.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -288px" data-toptip="User Vechicle"></div></a>
<a href="../../components/geomgymgsa/vechicleAxle.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -288px" data-downtip="Vechicle Axle"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
LoadsBridge
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/analysisCase.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -72px" data-toptip="Analysis Case"></div></a>
<a href="../../components/geomgymgsa/queryNodeDisplacements.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -72px" data-downtip="Query Node Displacements"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/queryNodeReactionForce.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -72px" data-toptip="Query Node Reaction Force"></div></a>
<a href="../../components/geomgymgsa/queryNodeReactionMoment.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -72px" data-downtip="Query Node Reaction Moment"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/queryNodeMass.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -72px" data-toptip="Query Node Mass"></div></a>
<a href="../../components/geomgymgsa/queryMemberUtilization.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -72px" data-downtip="Query Member Utilization"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/queryBeamForce.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -72px" data-toptip="Query Beam Force"></div></a>
<a href="../../components/geomgymgsa/decomposeResultSetBeamForce.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -72px" data-downtip="Decompose Result Set Beam Force"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/queryBeamForces.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -96px" data-toptip="Query Beam Forces"></div></a>
<a href="../../components/geomgymgsa/queryAssemblyForces.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -96px" data-downtip="Query Assembly Forces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/decomposeResultSetBeamForces.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -96px" data-toptip="Decompose Result Set Beam Forces"></div></a>
<a href="../../components/geomgymgsa/decomposeResultSetMemberUtilization.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -96px" data-downtip="Decompose Result Set Member Utilization"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/query2dPrincipalStress.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -96px" data-toptip="Query2d Principal Stress"></div></a>
<a href="../../components/geomgymgsa/queryResult2dOptions.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -96px" data-downtip="Query Result2d Options"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/decomposeResultSet2dPrincipalStress.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -96px" data-toptip="Decompose Result Set2d Principal Stress"></div></a>
<a href="../../components/geomgymgsa/queryBucklingFactor.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -96px" data-downtip="Query Buckling Factor"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/decomposeResultSet2d.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -96px" data-toptip="Decompose Result Set2d"></div></a>
<a href="../../components/geomgymgsa/queryResult1dOptions.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -96px" data-downtip="Query Result1d Options"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/queryFootfallSummaryResults.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -120px" data-toptip="Query Footfall Summary Results"></div></a>
<a href="../../components/geomgymgsa/decomposeResultSetFootfallSummary.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -120px" data-downtip="Decompose Result Set Footfall Summary"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/queryFrequency.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -120px" data-toptip="Query Frequency"></div></a>
<a href="../../components/geomgymgsa/queryWeight.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -120px" data-downtip="Query Weight"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/query1dElementStrain.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -120px" data-toptip="Query1d Element Strain"></div></a>
<a href="../../components/geomgymgsa/query1dElementStrainEnergy.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -120px" data-downtip="Query1d Element Strain Energy"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/query1dElementStress.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -120px" data-toptip="Query1d Element Stress"></div></a>
<a href="../../components/geomgymgsa/queryMeshProjectedMoments.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -120px" data-downtip="Query Mesh Projected Moments"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/queryMeshProjectedForces.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -120px" data-toptip="Query Mesh Projected Forces"></div></a>
<a href="../../components/geomgymgsa/queryMeshDerivedStress.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -120px" data-downtip="Query Mesh Derived Stress"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/query2dProjectedMoments.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -144px" data-toptip="Query2d Projected Moments"></div></a>
<a href="../../components/geomgymgsa/query2dProjectedForces.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -144px" data-downtip="Query2d Projected Forces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/query2dDerivedForces.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -144px" data-toptip="Query2d Derived Forces"></div></a>
<a href="../../components/geomgymgsa/query2dDerivedStress.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -144px" data-downtip="Query2d Derived Stress"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/decomposeResultSetNode.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -144px" data-toptip="Decompose Result Set Node"></div></a>
<a href="../../components/geomgymgsa/decomposeResultSetNodeMass.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -144px" data-downtip="Decompose Result Set Node Mass"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/solver.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -192px" data-toptip="Solver"></div></a>
<a href="../../components/geomgymgsa/query.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -192px" data-downtip="Query"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/resultStore.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -192px" data-toptip="Result Store"></div></a>
<a href="../../components/geomgymgsa/analysisSolverParam.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -192px" data-downtip="Analysis Solver Param"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/analysisStatic.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -192px" data-toptip="Analysis Static"></div></a>
<a href="../../components/geomgymgsa/analysisNonLinearStatic.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -192px" data-downtip="Analysis Non Linear Static"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/analysisPDelta.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -192px" data-toptip="Analysis PDelta"></div></a>
<a href="../../components/geomgymgsa/analysisModalBuckling.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -192px" data-downtip="Analysis Modal Buckling"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/analysisModal.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -192px" data-toptip="Analysis Modal"></div></a>
<a href="../../components/geomgymgsa/analysisModalOptions.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -216px" data-downtip="Analysis Modal Options"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/analysisFootfall.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -216px" data-toptip="Analysis Footfall"></div></a>
<a href="../../components/geomgymgsa/analysisResponseSpectrum.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -48px -216px" data-downtip="Analysis Response Spectrum"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/analysisBridge.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -216px" data-toptip="Analysis Bridge"></div></a>
<a href="../../components/geomgymgsa/analysisFormFind.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -216px" data-downtip="Analysis Form Find"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/formFinding.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -216px" data-toptip="Form Finding"></div></a>
<a href="../../components/geomgymgsa/solve.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -216px" data-downtip="Solve"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="25">
Solver
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/codeSteelDesign.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -120px -288px" data-toptip="Code Steel Design"></div></a>
<a href="../../components/geomgymgsa/codeConcreteDesign.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px -288px" data-downtip="Code Concrete Design"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/codeLoading.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -168px -288px" data-toptip="Code Loading"></div></a>
<a href="../../components/geomgymgsa/createSteelBeamDesign.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -288px" data-downtip="Create Steel Beam Design"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/createSteelRestraint.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -216px -288px" data-toptip="Create Steel Restraint"></div></a>
<a href="../../components/geomgymgsa/createSteelRestraintProperty.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') 0px -312px" data-downtip="Create Steel Restraint Property"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/commonSteelRestraintProperty.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -24px -312px" data-toptip="Common Steel Restraint Property"></div></a>
<a href="../../components/geomgymgsa/createMemberEffectiveLength.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -192px -312px" data-downtip="Create Member Effective Length"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymgsa/concreteSlabProperty.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -72px -336px" data-toptip="Concrete Slab Property"></div></a>
<a href="../../components/geomgymgsa/concreteSlabPropertyCalcOptions.html"><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -96px -336px" data-downtip="Concrete Slab Property Calc Options"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Verify
</td>
</tr>
</table>
</div>
</div>


<h1><div class="ghsprite" style="background: url('../../icons/geomGymGSA.png') -144px 0px" ></div> <span class="compo-name">Create Elastic Isotropic Material</span></h1>

</div>

</div>
<h3>Create Elastic Isotropic Material</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Name</b></td><td>N</td><td>Name</td><td>Text</td></tr>
<tr><td><b>Desc</b></td><td>D</td><td>Desc</td><td>Text</td></tr>
<tr><td><b>Elastic Modulus Pa</b></td><td>E</td><td>Elastic Modulus Pascal</td><td>Number</td></tr>
<tr><td><b>Poisson's Ratio</b></td><td>ν</td><td>Poisson's Ratio</td><td>Number</td></tr>
<tr><td><b>Shear Modulus Pa</b></td><td>G</td><td>Shear Modulus Pascal, 0 autocalc G = E /(2*1+ν)</td><td>Number</td></tr>
<tr><td><b>Density</b></td><td>ρ</td><td>Density kg/m3</td><td>Number</td></tr>
<tr><td><b>Coefficient of Thermal expansion</b></td><td>α</td><td>Coefficient of Thermal expansion / degree celsius</td><td>Number</td></tr>
<tr><td><b>Damping Ratio</b></td><td>%</td><td>Damping Ratio</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Material</b></td><td>M</td><td>Structural Material</td><td>Generic Data</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

GeomGym GSA and associated data © 2024  <a href="https://technical.geometrygym.com/rhino-grasshopper/structuralanalysis/gsa">Geometry Gym Pty Ltd</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>
<script type="text/javascript" src="/js/app-notice.js"></script>

    </body>
</html>
