<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GlitchReduction - Heteroptera - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="De-Glitching/Smoothing streaming numbers (replacing the irrelevant numbers with the earlier relevant ones)" />
<meta name="title" content="GlitchReduction - Heteroptera - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="GlitchReduction - Heteroptera - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/heteroptera/glitchReduction.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/cameraStory.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px -288px" data-toptip="Camera Story"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Add Frame
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/capture.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -168px -288px" data-toptip="Capture"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Capture!
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/closestNumbers.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -192px -24px" data-toptip="Closest Numbers"></div></a>
<a href="../../components/heteroptera/inCommonNumbers.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -216px -24px" data-downtip="InCommon Numbers"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/numbersBias.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px -48px" data-toptip="Numbers Bias"></div></a>
<a href="../../components/heteroptera/graphMapper.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px -48px" data-downtip="GraphMapper+"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/minMax.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px -48px" data-toptip="Min/Max"></div></a>
<a href="../../components/heteroptera/intervalsIntersect.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px -144px" data-downtip="Intervals Intersect"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/domainExpand.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px -144px" data-toptip="Domain Expand"></div></a>
<a href="../../components/heteroptera/interpolate.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -168px -144px" data-downtip="Interpolate +"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/numberDigitizer.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -192px -144px" data-toptip="Number Digitizer"></div></a>
<a href="../../components/heteroptera/listNormalizer.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px -168px" data-downtip="List Normalizer"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/weightedAverage.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px -168px" data-toptip="Weighted Average +"></div></a>
<a href="../../components/heteroptera/numberLimiter.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px -216px" data-downtip="Number Limiter"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/intervalsSubtract.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px -264px" data-toptip="Intervals Subtract"></div></a>
<a href="../../components/heteroptera/domainSymmetric.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px -264px" data-downtip="Domain (Symmetric)"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/domainExpandSymmetric.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -264px" data-toptip="Domain Expand (Symmetric)"></div></a>
<a href="../../components/heteroptera/intervalsUnion.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px -288px" data-downtip="Intervals Union"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
Fundamental
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/curvePlanarizer.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px -48px" data-toptip="Curve Planarizer"></div></a>
<a href="../../components/heteroptera/directionalCurve.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px -120px" data-downtip="Directional Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/overlay.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -120px" data-toptip="Overlay"></div></a>
<a href="../../components/heteroptera/projector.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px -120px" data-downtip="Projector"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/center.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -192px -120px" data-toptip="Center"></div></a>
<a href="../../components/heteroptera/evaluateRect.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -216px -120px" data-downtip="Evaluate Rect"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/rectangleGrid.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px -144px" data-toptip="Rectangle Grid"></div></a>
<a href="../../components/heteroptera/modularPoints.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px -144px" data-downtip="Modular Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/shellFromGrid.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px -144px" data-toptip="Shell From Grid"></div></a>
<a href="../../components/heteroptera/numberGrid.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -216px -144px" data-downtip="Number Grid"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Geometric
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/fastSweep.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -168px -312px" data-toptip="Fast Sweep"></div></a>
<a href="../../components/heteroptera/modularpoints.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -192px -312px" data-downtip="Modularpoints"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/hetrosweep.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -216px -312px" data-toptip="Hetrosweep"></div></a>
<a href="../../components/heteroptera/bulger.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px -336px" data-downtip="Bulger"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Geometry
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/cameraCrane.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px -288px" data-toptip="Camera Crane"></div></a>
<a href="../../components/heteroptera/construct.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -192px -288px" data-downtip="Construct"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/geometricRegion.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -216px -288px" data-toptip="Geometric Region"></div></a>
<a href="../../components/heteroptera/sweepQuick.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px -312px" data-downtip="Sweep (Quick)"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/sweepAnchor.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px -312px" data-toptip="Sweep (Anchor)"></div></a>
<a href="../../components/heteroptera/networkFromLines.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px -312px" data-downtip="Network From Lines"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/captureBaked.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -312px" data-toptip="Capture Baked"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Heteroptera
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/symmetricalExtend.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -192px -360px" data-toptip="Symmetrical Extend"></div></a>
<a href="../../components/heteroptera/heteroMapper.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -216px -360px" data-downtip="Hetero Mapper"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/intersectDomain.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px -384px" data-toptip="Intersect Domain"></div></a>
<a href="../../components/heteroptera/numbersBiaser.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px -384px" data-downtip="Numbers Biaser"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/intervalExpand.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px -384px" data-toptip="Interval Expand"></div></a>
<a href="../../components/heteroptera/symmetricalDomain.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -384px" data-downtip="Symmetrical Domain"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Maths
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/constructHyperIndex.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px -48px" data-toptip="Construct HyperIndex"></div></a>
<a href="../../components/heteroptera/interTopology.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px -144px" data-downtip="Inter Topology"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/networkFromGeometry.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -168px" data-toptip="Network From Geometry"></div></a>
<a href="../../components/heteroptera/objectEnumerator.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px -168px" data-downtip="Object Enumerator"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/flattenInterTopo.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px -168px" data-toptip="Flatten InterTopo"></div></a>
<a href="../../components/heteroptera/interProxyNetwork.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px -168px" data-downtip="InterProxy Network"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/interTopDraw.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -168px -168px" data-toptip="InterTopDraw"></div></a>
<a href="../../components/heteroptera/unflattenTopology.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -192px -168px" data-downtip="Unflatten Topology"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/matchContainer.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -216px -168px" data-toptip="Match Container"></div></a>
<a href="../../components/heteroptera/matchBoundries.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px -192px" data-downtip="Match Boundries"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/mST.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px -192px" data-toptip="MST"></div></a>
<a href="../../components/heteroptera/mSTByConnectionsWeights.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px -192px" data-downtip="MST By Connections Weights"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/mSTByNetwork.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -192px" data-toptip="MST By Network"></div></a>
<a href="../../components/heteroptera/networkEmbody.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px -192px" data-downtip="Network Embody"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/reconstructNetwork.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px -192px" data-toptip="Reconstruct Network"></div></a>
<a href="../../components/heteroptera/regionTopology.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px -192px" data-downtip="Region Topology"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/spaceSyntax.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -168px -192px" data-toptip="Space Syntax"></div></a>
<a href="../../components/heteroptera/proximityNetwork.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -192px -192px" data-downtip="Proximity Network"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/regionPerceptive.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -216px -192px" data-toptip="Region (Perceptive)"></div></a>
<a href="../../components/heteroptera/regionTopologic.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px -216px" data-downtip="Region (Topologic)"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/networkPathFinder.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -216px -240px" data-toptip="Network Path Finder"></div></a>
<a href="../../components/heteroptera/networkEditor.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px -288px" data-downtip="Network Editor"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/topologyGraphDisplay.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px -288px" data-toptip="Topology Graph Display"></div></a>
<a href="../../components/heteroptera/rebuildNetwork.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px -360px" data-downtip="Rebuild Network"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/incestuousNetwork.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -360px" data-toptip="Incestuous Network"></div></a>
<a href="../../components/heteroptera/pointEnumerator.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px -360px" data-downtip="Point Enumerator"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/topologicRegion.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px -360px" data-toptip="Topologic Region"></div></a>
<a href="../../components/heteroptera/networkRegion.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px -360px" data-downtip="Network Region"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/nonincestuousNetwork.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -168px -360px" data-toptip="Non-incestuous Network"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="15">
Network
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/biasedDistributer.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -24px" data-toptip="Biased Distributer"></div></a>
<a href="../../components/heteroptera/carelessRange.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px -24px" data-downtip="Careless Range"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/cheaterDice.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -168px -24px" data-toptip="Cheater Dice"></div></a>
<a href="../../components/heteroptera/noiseOscillator.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px -216px" data-downtip="Noise Oscillator"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/pointEmitter.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -216px" data-toptip="Point Emitter"></div></a>
<a href="../../components/heteroptera/gaussianRandom.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px -216px" data-downtip="Gaussian Random"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/randomPlane.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px -216px" data-toptip="Random Plane"></div></a>
<a href="../../components/heteroptera/simplexNoise.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px -216px" data-downtip="Simplex Noise"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/simplexNoiseVectors.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -168px -216px" data-toptip="Simplex-Noise Vectors"></div></a>
<a href="../../components/heteroptera/weightedAllocator.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -192px -216px" data-downtip="Weighted Allocator"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/curveEmitter.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -216px -216px" data-toptip="Curve Emitter"></div></a>
<a href="../../components/heteroptera/dice.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px -240px" data-downtip="Dice"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/randomDirection.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px -240px" data-toptip="Random Direction"></div></a>
<a href="../../components/heteroptera/randomPosition.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px -240px" data-downtip="Random Position"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/spacialPossibilityAttractor.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -240px" data-toptip="Spacial-Possibility &lt;Attractor"></div></a>
<a href="../../components/heteroptera/spacialPossibilityValue.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px -240px" data-downtip="Spacial-Possibility &lt;Value"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/randomizeNumbers.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px -240px" data-toptip="Randomize Numbers"></div></a>
<a href="../../components/heteroptera/randomVector.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px -240px" data-downtip="Random Vector"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/random.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -168px -240px" data-toptip="Random"></div></a>
<a href="../../components/heteroptera/seedGenerator.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -192px -240px" data-downtip="Seed Generator"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/slingshotAllocator.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px -264px" data-toptip="Slingshot Allocator"></div></a>
<a href="../../components/heteroptera/wanderingVector.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px -288px" data-downtip="Wandering Vector"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="11">
Probability
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/chancyAllocator.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px -384px" data-toptip="Chancy Allocator"></div></a>
<a href="../../components/heteroptera/geometricalPossibility.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px -384px" data-downtip="Geometrical Possibility"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/attractorGeometricalPossibility.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px -384px" data-toptip="Attractor Geometrical Possibility"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Random
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/pickSelection.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px -312px" data-toptip="Pick Selection"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Static
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/agentDisplay.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px 0px" data-toptip="Agent Display"></div></a>
<a href="../../components/heteroptera/ease.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px 0px" data-downtip="Ease"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/eventGate.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px 0px" data-toptip="Event Gate"></div></a>
<a href="../../components/heteroptera/hold.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px 0px" data-downtip="Hold"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/eventToggle.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px 0px" data-toptip="Event Toggle"></div></a>
<a href="../../components/heteroptera/capacitor.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px 0px" data-downtip="Capacitor"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/streamFreezeGate.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px 0px" data-toptip="Stream Freeze/Gate"></div></a>
<a href="../../components/heteroptera/massAdditiveNumbersBuffer.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -168px 0px" data-downtip="Mass Additive Numbers Buffer"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/oilCan.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -192px 0px" data-toptip="Oil.Can"></div></a>
<a href="../../components/heteroptera/tapBuffer.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -216px 0px" data-downtip="TapBuffer"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/timeShifter.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px -24px" data-toptip="TimeShifter"></div></a>
<a href="../../components/heteroptera/agentTrailer.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px -24px" data-downtip="Agent Trailer"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/massAdditiveVectorsBuffer.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px -24px" data-toptip="Mass Additive Vectors Buffer"></div></a>
<a href="../../components/heteroptera/glitchReduction.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -144px" data-downtip="GlitchReduction"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/meshTraveler.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px -168px" data-toptip="Mesh Traveler"></div></a>
<a href="../../components/heteroptera/eventSwitch.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px -312px" data-downtip="Event Switch"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
Streaming
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/transform.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px -312px" data-toptip="Transform"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Transform
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/allocateByKeys.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px -24px" data-toptip="Allocate By Keys"></div></a>
<a href="../../components/heteroptera/allocateByIndex.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px -24px" data-downtip="Allocate by Index"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/emptyStructure.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px -264px" data-toptip="Empty Structure"></div></a>
<a href="../../components/heteroptera/extendPath.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px -264px" data-downtip="Extend Path"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/poolController.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px -264px" data-toptip="Pool Controller"></div></a>
<a href="../../components/heteroptera/encryptionDecryption.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -168px -264px" data-downtip="Encryption/Decryption"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/dispatchUnweave.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -192px -264px" data-toptip="Dispatch / Unweave"></div></a>
<a href="../../components/heteroptera/unicode.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -216px -264px" data-downtip="Unicode"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/allocateByDomain.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -288px" data-toptip="Allocate By Domain"></div></a>
<a href="../../components/heteroptera/replaceObjects.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px -336px" data-downtip="Replace Objects"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/androidUDPListener.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px -336px" data-toptip="Android UDP listener"></div></a>
<a href="../../components/heteroptera/ovulate.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -336px" data-downtip="Ovulate"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/domainAllocator.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px -336px" data-toptip="Domain Allocator"></div></a>
<a href="../../components/heteroptera/itemPicker.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px -336px" data-downtip="Item Picker"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/indexAllocator.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px -336px" data-toptip="Index Allocator"></div></a>
<a href="../../components/heteroptera/genePoolController.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -168px -336px" data-downtip="GenePool Controller"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/group.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -192px -336px" data-toptip="Group"></div></a>
<a href="../../components/heteroptera/quickBaker.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -216px -336px" data-downtip="Quick Baker"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/textBaker.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px -360px" data-toptip="Text Baker"></div></a>
<a href="../../components/heteroptera/keyAllocator.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px -360px" data-downtip="Key Allocator"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="10">
Utilities
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/displayTensor.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -48px" data-toptip="Display Tensor"></div></a>
<a href="../../components/heteroptera/attractor.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px -48px" data-downtip="Attractor"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/bioAttractor.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -168px -48px" data-toptip="Bio Attractor"></div></a>
<a href="../../components/heteroptera/bulge.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -192px -48px" data-downtip="Bulge"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/radarVectors.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -216px -48px" data-toptip="Radar Vectors"></div></a>
<a href="../../components/heteroptera/effectiveVectorsExponential.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px -72px" data-downtip="Effective Vectors (Exponential)"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/effectiveVectorsGaussian.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px -72px" data-toptip="Effective Vectors (Gaussian)"></div></a>
<a href="../../components/heteroptera/fieldContour.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px -72px" data-downtip="Field Contour"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/displayField.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -72px" data-toptip="Display Field"></div></a>
<a href="../../components/heteroptera/fieldBoost.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px -72px" data-downtip="Field Boost"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/projectField.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px -72px" data-toptip="Project Field"></div></a>
<a href="../../components/heteroptera/rotateField.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px -72px" data-downtip="Rotate Field"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/transformByField.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -168px -72px" data-toptip="Transform by Field"></div></a>
<a href="../../components/heteroptera/fieldTraveler.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -192px -72px" data-downtip="Field Traveler"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/fieldWiper.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -216px -72px" data-toptip="Field Wiper"></div></a>
<a href="../../components/heteroptera/curveAlongField.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px -96px" data-downtip="Curve Along Field"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/curvatureField.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px -96px" data-toptip="Curvature Field"></div></a>
<a href="../../components/heteroptera/curveField.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -48px -96px" data-downtip="Curve Field"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/dragField.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -96px" data-toptip="Drag Field"></div></a>
<a href="../../components/heteroptera/gaussianPointField.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px -96px" data-downtip="Gaussian Point Field"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/noiseField.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px -96px" data-toptip="Noise Field"></div></a>
<a href="../../components/heteroptera/radioField.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -144px -96px" data-downtip="Radio Field"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/surfaceCurvatureField.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -168px -96px" data-toptip="Surface Curvature Field"></div></a>
<a href="../../components/heteroptera/trapField.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -192px -96px" data-downtip="Trap Field"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/monotoneField.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -216px -96px" data-toptip="Monotone Field"></div></a>
<a href="../../components/heteroptera/similarVactor.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') 0px -120px" data-downtip="Similar Vactor"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/constructMetaVector.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -24px -120px" data-toptip="Construct MetaVector"></div></a>
<a href="../../components/heteroptera/planeByLine.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -96px -120px" data-downtip="Plane By Line"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/heteroptera/transposePlane.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -120px -120px" data-toptip="Transpose Plane"></div></a>
<a href="../../components/heteroptera/projectVector.html"><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -168px -120px" data-downtip="Project Vector"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="15">
Vectors
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.food4rhino.com/app/heteroptera">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/heteroptera.png') -72px -144px" ></div> GlitchReduction</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/heteroptera.html">Heteroptera</a><a href="#" class="breadcrumb-nolink">Streaming</a><a href="#" class="breadcrumb-nolink">GlitchReduction</a>
</div>

</div>
<h3>De-Glitching/Smoothing streaming numbers (replacing the irrelevant numbers with the earlier relevant ones)</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Number</b></td><td>N</td><td>Streaming numbers</td><td>Number</td></tr>
<tr><td><b>Range</b></td><td>R</td><td>The range to be observed</td><td>Integer</td></tr>
<tr><td><b>Tolerance</b></td><td>T</td><td>Tolerance</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Smooth</b></td><td>S</td><td>Smooth streaming numbers</td><td>Number</td></tr>
<tr><td><b>De-glitched</b></td><td>D</td><td>De-glitched streaming numbers</td><td>Number</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/xsFEczM2OHc"><img src="http://img.youtube.com/vi/xsFEczM2OHc/1.jpg" alt="Tower Tutorial Heteroptera"></a>
<a href="http://www.youtube.com/embed/-Yfnpm_vzjk"><img src="http://img.youtube.com/vi/-Yfnpm_vzjk/1.jpg" alt="Animation Tutorial 2 - Youtube"></a>


</div>
</div>

<script type="text/javascript" src="/html5gallery/jquery.js"></script>
<script type="text/javascript" src="/html5gallery/html5gallery.js"></script>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Heteroptera and associated data © 2023  <a href="https://www.food4rhino.com/app/heteroptera">Amin Bahrami (Helioripple Studio)</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
