<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SPM Boundary Settings - SPM - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Settings to control boundaries during an integration" />
<meta name="title" content="SPM Boundary Settings - SPM - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="SPM Boundary Settings - SPM - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/spm/sPMBoundarySettings.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v4.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
	<a class="sitemenu-item" href="https://forms.mk/qL9PPg">Request an Addon</a>
	<a class="sitemenu-item sitemenu-donate" href="https://github.com/sponsors/robinrodricks">Donate</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="https://github.com/MeshGeometry/spmvc">Source Code</a>
<a href="https://www.grasshopper3d.com/group/spmvectorcomponents">Download</a>

</div>


<div class="side-content">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

<div id="help-notice">
<div class="help-title">We need your help! 🔥</div>
<div class="help-text">Please consider disabling your ad-blocker to support this website! 🔑 <br> We are a free, community-supported website! 🥰 <br> We only display small unobtrusive ads which help us stay online! 💯 <br> Thank you in advance! ❤️</div>
</div>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Animation-VectorFields.png');"></div>

<div class="compo-header">

<div class="breadcrumb">
 <a href="../../index.html">Home</a>
  <a href="../../categories/animation-vector-fields.html">Vector Fields addons</a><a href="../../addons/spm.html"><b>SPM</b></a><a href="#" class="breadcrumb-nolink">Integration</a><a href="#" class="breadcrumb-nolink"><div class="ghsprite" style="background: url('../../icons/sPM.png') -24px 0px" ></div> SPM Boundary Settings</a>
</div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/spm/alignment.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') 0px 0px" data-toptip="Alignment"></div></a>
<a href="../../components/spm/cohesion.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -48px 0px" data-downtip="Cohesion"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spm/gravityDynamic.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -120px 0px" data-toptip="Gravity Dynamic"></div></a>
<a href="../../components/spm/scale.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -96px -24px" data-downtip="Scale"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spm/separation.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -120px -24px" data-toptip="Separation"></div></a>
<a href="../../components/spm/surfaceAttraction.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -144px -24px" data-downtip="Surface Attraction"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spm/surfaceBounce.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -168px -24px" data-toptip="Surface Bounce"></div></a>
<a href="../../components/spm/surfaceFlow.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -192px -24px" data-downtip="Surface Flow"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spm/vectorAddition.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -24px -48px" data-toptip="Vector Addition"></div></a>
<a href="../../components/spm/vortexDynamic.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -72px -48px" data-downtip="Vortex Dynamic"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Dynamics
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/spm/sPMBoundarySettings.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -24px 0px" data-toptip="SPM Boundary Settings"></div></a>
<a href="../../components/spm/sPMVectorFieldIntegration.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -144px 0px" data-downtip="SPM Vector Field Integration"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spm/sPMIntegrationSettings.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -168px 0px" data-toptip="SPM Integration Settings"></div></a>
<a href="../../components/spm/sPMOrbitSettings.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -48px -24px" data-downtip="SPM Orbit Settings"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spm/sPMParticleLifeTimeSettings.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -72px -24px" data-toptip="SPM Particle Life Time Settings"></div></a>
<a href="../../components/spm/sPMTensorSettings.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') 0px -48px" data-downtip="SPM Tensor Settings"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Integration
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/spm/counter.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -72px 0px" data-toptip="Counter"></div></a>
<a href="../../components/spm/distanceBinning.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -96px 0px" data-downtip="Distance Binning"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spm/pointVectorInterpolation.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -192px 0px" data-toptip="Point/Vector Interpolation"></div></a>
<a href="../../components/spm/dynamicKeyframe.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -216px 0px" data-downtip="Dynamic Keyframe"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spm/numberInterpolation.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') 0px -24px" data-toptip="Number Interpolation"></div></a>
<a href="../../components/spm/openClosedCurveSorter.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -24px -24px" data-downtip="Open/Closed Curve Sorter"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spm/tensor.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -216px -24px" data-toptip="Tensor"></div></a>
<a href="../../components/spm/vectorFieldCreator.html"><div class="ghsprite" style="background: url('../../icons/sPM.png') -48px -48px" data-downtip="Vector Field Creator"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Utilities
</td>
</tr>
</table>
</div>
</div>


<h1><div class="ghsprite" style="background: url('../../icons/sPM.png') -24px 0px" ></div> <span class="compo-name">SPM Boundary Settings</span></h1>

</div>

</div>
<h3>Settings to control boundaries during an integration</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Surface</b></td><td>Surf</td><td>Surface to constrain the integration to, the intergration will snap to this surface as it continues</td><td>Surface</td></tr>
<tr><td><b>Bounding Brep</b></td><td>Bound</td><td>Bounding area to contain the integration within</td><td>Brep</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Settings Output</b></td><td>S</td><td>Settings output to wire to a SPM vector field integration component</td><td>Generic Data</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

SPM and associated data © 2025  <a href="https://www.grasshopper3d.com/group/spmvectorcomponents">Daniel Hambleton and Chris Walsh</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>
<script type="text/javascript" src="/js/app-notice.js"></script>

    </body>
</html>
