<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Deconstruct Groundcover Options - Lands Design - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Deconstruct a groundcover options into its constituent parts." />
<meta name="title" content="Deconstruct Groundcover Options - Lands Design - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Deconstruct Groundcover Options - Lands Design - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/landsdesign/deconstructGroundcoverOptions.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v4.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
	<a class="sitemenu-item" href="https://forms.mk/qL9PPg">Request an Addon</a>
	<a class="sitemenu-item sitemenu-donate" href="https://github.com/sponsors/robinrodricks">Donate</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.lands-design.com/">Download</a>

</div>


<div class="side-content">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

<div id="help-notice">
<div class="help-title">We need your help! 🔥</div>
<div class="help-text">Please consider disabling your ad-blocker to support this website! 🔑 <br> We are a free, community-supported website! 🥰 <br> We only display small unobtrusive ads which help us stay online! 💯 <br> Thank you in advance! ❤️</div>
</div>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Generation-LandscapeTrees.png');"></div>

<div class="compo-header">

<div class="breadcrumb">
 <a href="../../index.html">Home</a>
  <a href="../../categories/generation-landscape-trees.html">Landscape & Trees addons</a><a href="../../addons/lands-design.html"><b>Lands Design</b></a><a href="#" class="breadcrumb-nolink">05.Groundcover</a><a href="#" class="breadcrumb-nolink"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -144px 0px" ></div> Deconstruct Groundcover Options</a>
</div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructPlant.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -48px -24px" data-toptip="Deconstruct Plant"></div></a>
<a href="../../components/landsdesign/plant.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -72px -24px" data-downtip="Plant"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructPlantFormatOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -96px -24px" data-toptip="Deconstruct Plant Format Options"></div></a>
<a href="../../components/landsdesign/plantFormatOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -120px -24px" data-downtip="Plant Format Options"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructPlantOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -144px -24px" data-toptip="Deconstruct Plant Options"></div></a>
<a href="../../components/landsdesign/plantOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -168px -24px" data-downtip="Plant Options"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructPlantRenderOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -192px -24px" data-toptip="Deconstruct Plant Render Options"></div></a>
<a href="../../components/landsdesign/plantRenderOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -216px -24px" data-downtip="Plant Render Options"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructSpecieCharacteristics.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') 0px -48px" data-toptip="Deconstruct Specie Characteristics"></div></a>
<a href="../../components/landsdesign/deconstructSpecies.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -24px -48px" data-downtip="Deconstruct Species"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructSpecieSoil.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -48px -48px" data-toptip="Deconstruct Specie Soil"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
01.Plant
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructPlantRow.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -72px -48px" data-toptip="Deconstruct Plant Row"></div></a>
<a href="../../components/landsdesign/plantRow.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -96px -48px" data-downtip="Plant Row"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructPlantRowOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -120px -48px" data-toptip="Deconstruct Plant Row Options"></div></a>
<a href="../../components/landsdesign/plantRowOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -144px -48px" data-downtip="Plant Row Options"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
02.Plant Row
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructForest.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') 0px 0px" data-toptip="Deconstruct Forest"></div></a>
<a href="../../components/landsdesign/forest.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -24px 0px" data-downtip="Forest"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructForestOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -48px 0px" data-toptip="Deconstruct Forest Options"></div></a>
<a href="../../components/landsdesign/forestOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -72px 0px" data-downtip="Forest Options"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
03.Forest
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructShrub.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -168px -48px" data-toptip="Deconstruct Shrub"></div></a>
<a href="../../components/landsdesign/shrub.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -192px -48px" data-downtip="Shrub"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructShrubOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -216px -48px" data-toptip="Deconstruct Shrub Options"></div></a>
<a href="../../components/landsdesign/shrubOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') 0px -72px" data-downtip="Shrub Options"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
04.Shrub
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructGroundcover.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -96px 0px" data-toptip="Deconstruct Groundcover"></div></a>
<a href="../../components/landsdesign/groundcover.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -120px 0px" data-downtip="Groundcover"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructGroundcoverOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -144px 0px" data-toptip="Deconstruct Groundcover Options"></div></a>
<a href="../../components/landsdesign/groundcoverOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -168px 0px" data-downtip="Groundcover Options"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
05.Groundcover
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructPath.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -192px 0px" data-toptip="Deconstruct Path"></div></a>
<a href="../../components/landsdesign/path.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -216px 0px" data-downtip="Path"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructPathOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') 0px -24px" data-toptip="Deconstruct Path Options"></div></a>
<a href="../../components/landsdesign/pathOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -24px -24px" data-downtip="Path Options"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
06.Path
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/terrainBoundary.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -120px -72px" data-toptip="Terrain Boundary"></div></a>
<a href="../../components/landsdesign/deconstructTerrain.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -144px -72px" data-downtip="Deconstruct Terrain"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/terrain.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -168px -72px" data-toptip="Terrain"></div></a>
<a href="../../components/landsdesign/terrainCutAndFill.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -192px -72px" data-downtip="Terrain Cut and Fill"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/terrainDivide.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -216px -72px" data-toptip="Terrain Divide"></div></a>
<a href="../../components/landsdesign/terrainEarthMoving.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') 0px -96px" data-downtip="Terrain Earth Moving"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/terrainExplode.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -24px -96px" data-toptip="Terrain Explode"></div></a>
<a href="../../components/landsdesign/terrainPath.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -48px -96px" data-downtip="Terrain Path"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructTerrainOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -72px -96px" data-toptip="Deconstruct Terrain Options"></div></a>
<a href="../../components/landsdesign/terrainOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -96px -96px" data-downtip="Terrain Options"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
07.Terrain
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructSprinkler.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -24px -72px" data-toptip="Deconstruct Sprinkler"></div></a>
<a href="../../components/landsdesign/sprinkler.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -48px -72px" data-downtip="Sprinkler"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/landsdesign/deconstructSprinklerOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -72px -72px" data-toptip="Deconstruct Sprinkler Options"></div></a>
<a href="../../components/landsdesign/sprinklerOptions.html"><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -96px -72px" data-downtip="Sprinkler Options"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
08.Sprinkler
</td>
</tr>
</table>
</div>
</div>


<h1><div class="ghsprite" style="background: url('../../icons/landsDesign.png') -144px 0px" ></div> <span class="compo-name">Deconstruct Groundcover Options</span></h1>

</div>

</div>
<h3>Deconstruct a groundcover options into its constituent parts.</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Options</b></td><td>O</td><td>Groundcover options</td><td>Lands.Grasshopper.Types.GhLaParterreOption</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Species</b></td><td>S</td><td>Plant species</td><td>Lands.Grasshopper.Types.GhLaSpecie</td></tr>
<tr><td><b>Presentation</b></td><td>P</td><td>Presentation mode</td><td>String</td></tr>
<tr><td><b>Density</b></td><td>D</td><td>Density</td><td>Number</td></tr>
<tr><td><b>Scale</b></td><td>S</td><td>Plant scale</td><td>Number</td></tr>
<tr><td><b>Hatch options</b></td><td>H</td><td>Hatch options</td><td>HatchOption</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/JRp5CCApwdk"><img src="http://img.youtube.com/vi/JRp5CCApwdk/1.jpg" alt="Lands Design Tutorial. 1.1 New Document"></a>
<a href="http://www.youtube.com/embed/ADbV4n8EBtQ"><img src="http://img.youtube.com/vi/ADbV4n8EBtQ/1.jpg" alt="Lands Design Tutorial: 1.2. Insert A Dwg File In Rhino"></a>
<a href="http://www.youtube.com/embed/dXTHcVtwdJ4"><img src="http://img.youtube.com/vi/dXTHcVtwdJ4/1.jpg" alt="Lands Design Tutorial 1.3 Toolbars And Edit Panel"></a>
<a href="http://www.youtube.com/embed/F_BhotBa0XI"><img src="http://img.youtube.com/vi/F_BhotBa0XI/1.jpg" alt="Lands Design Tutorial. 2.1. Insert Zones"></a>
<a href="http://www.youtube.com/embed/WwM4EpR7LEQ"><img src="http://img.youtube.com/vi/WwM4EpR7LEQ/1.jpg" alt="Lands Design Tutorial: 2.2 List Of Zones"></a>
<a href="http://www.youtube.com/embed/Uk_R5LPWPiY"><img src="http://img.youtube.com/vi/Uk_R5LPWPiY/1.jpg" alt="Lands Design Tutorial. 3.1 Terrain: Elevate Curves"></a>
<a href="http://www.youtube.com/embed/EylRqRi-rgA"><img src="http://img.youtube.com/vi/EylRqRi-rgA/1.jpg" alt="Lands Desing Tutorial: 3.2. Create A Terrain"></a>
<a href="http://www.youtube.com/embed/_8ebJMLJdd8"><img src="http://img.youtube.com/vi/_8ebJMLJdd8/1.jpg" alt="Lands Design Tutorial: 3.4 Terrain Add Cut And Fill"></a>
<a href="http://www.youtube.com/embed/a8-kR36fVLg"><img src="http://img.youtube.com/vi/a8-kR36fVLg/1.jpg" alt="Lands Design Tutorial: 3.3 Terrain: Pick Boundary"></a>
<a href="http://www.youtube.com/embed/65yyFiJLDmU"><img src="http://img.youtube.com/vi/65yyFiJLDmU/1.jpg" alt="Lands Design Tutorial. 3.7 Terrain Information"></a>
<a href="http://www.youtube.com/embed/00kfzfbh9Pk"><img src="http://img.youtube.com/vi/00kfzfbh9Pk/1.jpg" alt="Lands Design Tutorial. 3.6. Divide Terrain"></a>
<a href="http://www.youtube.com/embed/HkisYE7fUy8"><img src="http://img.youtube.com/vi/HkisYE7fUy8/1.jpg" alt="Lands Design Tutorial. 3.5 Terrain: Add A Hole"></a>


</div>
</div>

<script type="text/javascript" src="/html5gallery/jquery.js"></script>
<script type="text/javascript" src="/html5gallery/html5gallery.js"></script>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Site co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Lands Design and associated data © 2025  <a href="https://www.lands-design.com/">Lands Design (Asuni)</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>
<script type="text/javascript" src="/js/app-notice.js"></script>

    </body>
</html>
