<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cut - Reindeer - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Define the Cut process" />
<meta name="title" content="Cut - Reindeer - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Cut - Reindeer - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/reindeer/cut.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/disassembleParetoSolution.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') 0px 0px" data-toptip="Disassemble Pareto Solution"></div></a>
<a href="../../components/reindeer/geneticAlgorithmOptimization.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -24px 0px" data-downtip="Genetic Algorithm Optimization"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/parallelCoordinatesViewer.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -48px 0px" data-toptip="Parallel Coordinates Viewer"></div></a>
<a href="../../components/reindeer/particleSwarmOptimization.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -72px 0px" data-downtip="Particle Swarm Optimization"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Optimization
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/elementAngle.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -96px 0px" data-toptip="Element Angle"></div></a>
<a href="../../components/reindeer/detailTypology.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -120px 0px" data-downtip="Detail typology"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/elementTagRule.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -144px 0px" data-toptip="Element Tag Rule"></div></a>
<a href="../../components/reindeer/drill.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -168px 0px" data-downtip="Drill"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/pocketParallelogram.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -192px 0px" data-toptip="Pocket Parallelogram"></div></a>
<a href="../../components/reindeer/pocketElement.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -216px 0px" data-downtip="Pocket Element"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/tenon.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') 0px -24px" data-toptip="Tenon"></div></a>
<a href="../../components/reindeer/customSubtraction.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -24px -24px" data-downtip="Custom Subtraction"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/detailPlaneNormalFromElementAverage.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -48px -24px" data-toptip="Detail Plane Normal From Element Average"></div></a>
<a href="../../components/reindeer/detailPlaneNormalFromMesh.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -72px -24px" data-downtip="Detail Plane Normal From Mesh"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/detailPlaneNormalFromVector.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -96px -24px" data-toptip="Detail Plane Normal From Vector"></div></a>
<a href="../../components/reindeer/detailPlaneNormalAlongElement.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -120px -24px" data-downtip="Detail Plane Normal Along Element"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/detailPlaneNormalFromSurface.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -144px -24px" data-toptip="Detail Plane Normal From Surface"></div></a>
<a href="../../components/reindeer/alignFromPlane.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -168px -24px" data-downtip="Align From Plane"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/alignFromPoints.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -192px -24px" data-toptip="Align From Points"></div></a>
<a href="../../components/reindeer/alignToSurface.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -216px -24px" data-downtip="Align To Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/alignToVector.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') 0px -48px" data-toptip="Align To Vector"></div></a>
<a href="../../components/reindeer/mortise.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -24px -48px" data-downtip="Mortise"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/bTLxSettings.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -48px -48px" data-toptip="BTLx Settings"></div></a>
<a href="../../components/reindeer/processModel.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -72px -48px" data-downtip="Process Model"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/detailSearch.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -96px -48px" data-toptip="Detail Search"></div></a>
<a href="../../components/reindeer/deconstructSubelement.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -120px -48px" data-downtip="Deconstruct Subelement"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/reindeerAssembly.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -144px -48px" data-toptip="Reindeer Assembly"></div></a>
<a href="../../components/reindeer/cut.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -168px -48px" data-downtip="Cut"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/circularCrossSection.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -192px -48px" data-toptip="Circular Cross Section"></div></a>
<a href="../../components/reindeer/compositeCrossSection.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -216px -48px" data-downtip="Composite Cross Section"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/element.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') 0px -72px" data-toptip="Element"></div></a>
<a href="../../components/reindeer/deconstructAssembly.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -24px -72px" data-downtip="Deconstruct Assembly"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/deconstructElement.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -48px -72px" data-toptip="Deconstruct Element"></div></a>
<a href="../../components/reindeer/deconstructNode.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -72px -72px" data-downtip="Deconstruct Node"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/loadStructuralMaterialProp.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -96px -72px" data-toptip="Load Structural Material Prop"></div></a>
<a href="../../components/reindeer/material.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -120px -72px" data-downtip="Material"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/previewElement.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -144px -72px" data-toptip="Preview Element"></div></a>
<a href="../../components/reindeer/rectangularCrossSection.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -168px -72px" data-downtip="Rectangular Cross Section"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/elementAmountRule.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -192px -72px" data-toptip="Element Amount Rule"></div></a>
<a href="../../components/reindeer/elementLengthRule.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -216px -72px" data-downtip="Element Length Rule"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/nodeInRegion.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') 0px -96px" data-toptip="Node In Region"></div></a>
<a href="../../components/reindeer/localAlignment.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -24px -96px" data-downtip="Local Alignment"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/reindeer/materialStructuralProp.html"><div class="ghsprite" style="background: url('../../icons/reindeer.png') -48px -96px" data-toptip="Material Structural Prop"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="20">
Reindeer
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://github.com/CSDG-DDL/PTK">Source Code</a>
<a href="https://www.food4rhino.com/app/reindeer">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/reindeer.png') -168px -48px" ></div> Cut</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/reindeer.html">Reindeer</a><a href="#" class="breadcrumb-nolink">Reindeer</a><a href="#" class="breadcrumb-nolink">Cut</a>
</div>

</div>
<h3>Define the Cut process</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Element</b></td><td>E</td><td>Element</td><td>Any</td></tr>
<tr><td><b>Cut Plane</b></td><td>P</td><td>Cut Plane</td><td>Plane</td></tr>
<tr><td><b>Flip Plane?</b></td><td>F</td><td>True flip plane</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>BTL-Cut</b></td><td>B</td><td></td><td>Generic</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Reindeer and associated data © 2023  <a href="https://www.food4rhino.com/app/reindeer">John Haddal Mork</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
