<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ggInflateParams - Grasshopper Component Reference</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="A guide to component ggInflateParams in Grasshopper 3D." />
<meta name="title" content="Grasshopper Component Reference" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://rhino.github.io/" />
<meta property="og:title" content="ggInflateParams - Grasshopper Component Reference" />

<meta property="wiki-page" content="GH BullAnt ggInflateParams.md" />

<link rel="image_src" href="http://rhino.github.io/ning/2985220.jpg" />

<style type="text/css" media="screen,projection">
#xg_navigation ul div.xg_subtab ul li a {
    color:#666666;
    background:#EAFFBD;
}
#xg_navigation ul div.xg_subtab ul li a:hover {
    color:#333333;
    background:#F2FFD6;
}
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/index.css);
@import url(../../ning/page.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187549422.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187545030.css);
</style>


<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
    
        
        <div id="xg" class="xg_theme xg_widget_page xg_widget_page_page xg_widget_page_page_show" data-layout-pack="classic">
            <div id="xg_head">
                <div id="xg_masthead">
                    <p id="xg_sitename"><a id="application_name_header_link" href="http://rhino.github.io/">Grasshopper</a></p>
                    <p id="xg_sitedesc" class="xj_site_desc">algorithmic modeling for Rhino</p>
                </div>
                <div id="xg_navigation">
                    <ul>
    <li id="xg_tab_main" class="xg_subtab"><a href="http://www.grasshopper3d.com/"><span>Home</span></a></li>
	<li id="xg_tab_photo" class="xg_subtab"><a href="http://www.grasshopper3d.com/photo"><span>View</span></a></li>
	<li id="xg_tab_xn0" class="xg_subtab"><a href="http://www.grasshopper3d.com/page/download-1"><span>Get</span></a></li>
	<li id="xg_tab_xn2" class="xg_subtab this"><a href="http://rhino.github.io/"><span>Learn</span></a></li>
	<li id="xg_tab_forum" class="xg_subtab"><a href="http://www.grasshopper3d.com/forum"><span>Talk</span></a></li>
	<li id="xg_tab_events" class="xg_subtab"><a href="http://www.grasshopper3d.com/events"><span>Events</span></a></li>
	<li id="xg_tab_profile" class="xg_subtab"><a href="http://www.grasshopper3d.com/"><span>My Page</span></a></li></ul>

                </div>
            </div>
            
            <div id="xg_body">
                
				<div class="page">

<div class="content">

<div class="ghbar">
<table class="ghbar-table">
<tr>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggCatalogueProfile.html"><img class="ghicon" src="../../icons/BullAnt/ggCatalogueProfile.png" title="ggCatalogueProfile"></a>
<a href="../../components/bullant/ggInsertPoint.html"><img class="ghicon" src="../../icons/BullAnt/ggInsertPoint.png" title="ggInsertPoint"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggGenerateAngle.html"><img class="ghicon" src="../../icons/BullAnt/ggGenerateAngle.png" title="ggGenerateAngle"></a>
<a href="../../components/bullant/ggGenerateChannel.html"><img class="ghicon" src="../../icons/BullAnt/ggGenerateChannel.png" title="ggGenerateChannel"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggGenerateCHS.html"><img class="ghicon" src="../../icons/BullAnt/ggGenerateCHS.png" title="ggGenerateCHS"></a>
<a href="../../components/bullant/ggGenerateUnivBeam.html"><img class="ghicon" src="../../icons/BullAnt/ggGenerateUnivBeam.png" title="ggGenerateUnivBeam"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggGenerateRHS.html"><img class="ghicon" src="../../icons/BullAnt/ggGenerateRHS.png" title="ggGenerateRHS"></a>
<a href="../../components/bullant/ggBreakDownBlocks.html"><img class="ghicon" src="../../icons/BullAnt/ggBreakDownBlocks.png" title="ggBreakDownBlocks"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggCellFillet.html"><img class="ghicon" src="../../icons/BullAnt/ggCellFillet.png" title="ggCellFillet"></a>
<a href="../../components/bullant/ggConvCurve.html"><img class="ghicon" src="../../icons/BullAnt/ggConvCurve.png" title="ggConvCurve"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggPolylineToPolyCurve.html"><img class="ghicon" src="../../icons/BullAnt/ggPolylineToPolyCurve.png" title="ggPolylineToPolyCurve"></a>
<a href="../../components/bullant/ggCreateTreeFromLists.html"><img class="ghicon" src="../../icons/BullAnt/ggCreateTreeFromLists.png" title="ggCreateTreeFromLists"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggNetworkFillet.html"><img class="ghicon" src="../../icons/BullAnt/ggNetworkFillet.png" title="ggNetworkFillet"></a>
<a href="../../components/bullant/ggCurveNetworkForceDensity.html"><img class="ghicon" src="../../icons/BullAnt/ggCurveNetworkForceDensity.png" title="ggCurveNetworkForceDensity"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggCurveNetworkForceEqLength.html"><img class="ghicon" src="../../icons/BullAnt/ggCurveNetworkForceEqLength.png" title="ggCurveNetworkForceEqLength"></a>
<a href="../../components/bullant/ggNetworkPatch.html"><img class="ghicon" src="../../icons/BullAnt/ggNetworkPatch.png" title="ggNetworkPatch"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggNetworkPolygons.html"><img class="ghicon" src="../../icons/BullAnt/ggNetworkPolygons.png" title="ggNetworkPolygons"></a>
<a href="../../components/bullant/ggNetworkToMesh.html"><img class="ghicon" src="../../icons/BullAnt/ggNetworkToMesh.png" title="ggNetworkToMesh"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggConnectPoints.html"><img class="ghicon" src="../../icons/BullAnt/ggConnectPoints.png" title="ggConnectPoints"></a>
<a href="../../components/bullant/ggConnectPointSets.html"><img class="ghicon" src="../../icons/BullAnt/ggConnectPointSets.png" title="ggConnectPointSets"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggDynamicPathMapper.html"><img class="ghicon" src="../../icons/BullAnt/ggDynamicPathMapper.png" title="ggDynamicPathMapper"></a>
<a href="../../components/bullant/ggMeshFalseColor.html"><img class="ghicon" src="../../icons/BullAnt/ggMeshFalseColor.png" title="ggMeshFalseColor"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggGeoDome.html"><img class="ghicon" src="../../icons/BullAnt/ggGeoDome.png" title="ggGeoDome"></a>
<a href="../../components/bullant/ggInflateMesh.html"><img class="ghicon" src="../../icons/BullAnt/ggInflateMesh.png" title="ggInflateMesh"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggInflateMeshTargetHeight.html"><img class="ghicon" src="../../icons/BullAnt/ggInflateMeshTargetHeight.png" title="ggInflateMeshTargetHeight"></a>
<a href="../../components/bullant/ggInflateSurface.html"><img class="ghicon" src="../../icons/BullAnt/ggInflateSurface.png" title="ggInflateSurface"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggLinesToSegments.html"><img class="ghicon" src="../../icons/BullAnt/ggLinesToSegments.png" title="ggLinesToSegments"></a>
<a href="../../components/bullant/ggInflateParams.html"><img class="ghicon" src="../../icons/BullAnt/ggInflateParams.png" title="ggInflateParams"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggMeshPaths.html"><img class="ghicon" src="../../icons/BullAnt/ggMeshPaths.png" title="ggMeshPaths"></a>
<a href="../../components/bullant/ggForceDensityRelaxParams.html"><img class="ghicon" src="../../icons/BullAnt/ggForceDensityRelaxParams.png" title="ggForceDensityRelaxParams"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggMeshRepelVerts.html"><img class="ghicon" src="../../icons/BullAnt/ggMeshRepelVerts.png" title="ggMeshRepelVerts"></a>
<a href="../../components/bullant/ggMeshResize.html"><img class="ghicon" src="../../icons/BullAnt/ggMeshResize.png" title="ggMeshResize"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggForceDensityRelax.html"><img class="ghicon" src="../../icons/BullAnt/ggForceDensityRelax.png" title="ggForceDensityRelax"></a>
<a href="../../components/bullant/ggOcTree.html"><img class="ghicon" src="../../icons/BullAnt/ggOcTree.png" title="ggOcTree"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggPolyCurve.html"><img class="ghicon" src="../../icons/BullAnt/ggPolyCurve.png" title="ggPolyCurve"></a>
<a href="../../components/bullant/ggPolyhedron.html"><img class="ghicon" src="../../icons/BullAnt/ggPolyhedron.png" title="ggPolyhedron"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggProximityPoints.html"><img class="ghicon" src="../../icons/BullAnt/ggProximity_Points.png" title="ggProximity Points"></a>
<a href="../../components/bullant/ggRemoveDuplicates.html"><img class="ghicon" src="../../icons/BullAnt/ggRemoveDuplicates.png" title="ggRemoveDuplicates"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggSimplifyPolyline.html"><img class="ghicon" src="../../icons/BullAnt/ggSimplifyPolyline.png" title="ggSimplifyPolyline"></a>
<a href="../../components/bullant/ggCurvesSplitIntersect.html"><img class="ghicon" src="../../icons/BullAnt/ggCurvesSplitIntersect.png" title="ggCurvesSplitIntersect"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggTrussType.html"><img class="ghicon" src="../../icons/BullAnt/ggTrussType.png" title="ggTrussType"></a>
<a href="../../components/bullant/ggTessellation.html"><img class="ghicon" src="../../icons/BullAnt/ggTessellation.png" title="ggTessellation"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggTrussFromCurves.html"><img class="ghicon" src="../../icons/BullAnt/ggTrussFromCurves.png" title="ggTrussFromCurves"></a>
<a href="../../components/bullant/ggTrussFromCurvesLength.html"><img class="ghicon" src="../../icons/BullAnt/ggTrussFromCurvesLength.png" title="ggTrussFromCurvesLength"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggUnroll.html"><img class="ghicon" src="../../icons/BullAnt/ggUnroll.png" title="ggUnroll"></a>
<a href="../../components/bullant/ggVectorStreams.html"><img class="ghicon" src="../../icons/BullAnt/ggVectorStreams.png" title="ggVectorStreams"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggProfileOnCurve.html"><img class="ghicon" src="../../icons/BullAnt/ggProfileOnCurve.png" title="ggProfileOnCurve"></a>
<a href="../../components/bullant/ggCreateSectionProp.html"><img class="ghicon" src="../../icons/BullAnt/ggCreateSectionProp.png" title="ggCreateSectionProp"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ggSweepProfile.html"><img class="ghicon" src="../../icons/BullAnt/ggSweepProfile.png" title="ggSweepProfile"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="25">
BullAnt
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</div>


<div class="addon-buttons">
<a href="http://www.food4rhino.com/app/bullant">Download</a>
</div>

<div>
<h1><img src="../../icons/BullAnt/ggInflateParams.png"/> ggInflateParams</h1>
<p><a href="../../index.html#BullAnt">Component Index</a> &gt; <a href="../../addons/bullant.html">BullAnt</a> > BullAnt > <b>ggInflateParams</b></p>
</div>
<h3>Inflate Params</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Young's Modulus</b></td><td>E</td><td>Young's Modulus</td><td>Number</td></tr>
<tr><td><b>Poissons Ratio</b></td><td>P</td><td>Poissons Ratio</td><td>Number</td></tr>
<tr><td><b>Density</b></td><td>D</td><td>Density</td><td>Number</td></tr>
<tr><td><b>Young's Modulus units</b></td><td>U</td><td>Young's Modulus units</td><td>Integer</td></tr>
<tr><td><b>Metric Density</b></td><td>M</td><td>Metric Density (kg/m3) if true, lbs/ft3 if false</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>InflateParms</b></td><td>P</td><td>InflateParms</td><td>Goo</td></tr>
</tbody>
</table>


  </div>

</div>

            </div>
            <div id="xg_foot">
                <p class="left">
    © 2018             &nbsp; Created by <a href="http://www.stackoverflow.com/cv/robin-rodricks">Robin Rodricks</a> and <a href="http://www.grasshopper3d.com/profile/AndrewHeumann/">Andrew Heumann</a>. &nbsp;
    Hosted by<a href="http://www.github.com/"><img src="../../images/github.png" alt="Github" class="poweredbylogo" /></a>
	</p>
    <p class="right xg_lightfont">
                    <a href="http://www.grasshopper3d.com/main/embeddable/list">Badges</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/index/report" dojotype="PromptToJoinLink" _joinprompttext="Please sign up or sign in to complete this step." _hassignup="true" _signinurl="http://www.grasshopper3d.com/main/authorization/signIn?target=http%3A%2F%2Fwww.grasshopper3d.com%2Fmain%2Findex%2Freport">Report an Issue</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/authorization/termsOfService?previousUrl=http%3A%2F%2Fwww.grasshopper3d.com%2Fpage%2Fcomponent-reference">Terms of Service</a>
            </p>

            </div>
        </div>
        
        <div id="xj_baz17246" class="xg_theme"></div>
<div id="xg_overlay" style="display:none;">
<!--[if lte IE 6.5]><iframe></iframe><![endif]-->
</div>
<!--googleoff: all--><noscript>
	<style type="text/css" media="screen">
        #xg { position:relative;top:120px; }
        #xn_bar { top:120px; }
	</style>
	<div class="errordesc noscript">
		<div>
            <h3><strong>Hello, you need to enable JavaScript to use Grasshopper.</strong></h3>
            <p>Please check your browser settings or contact your system administrator.</p>
			
		</div>
	</div>
</noscript><!--googleon: all-->

<script src="/js/jquery.js"></script>
<script src="/js/kramed.min.js"></script>
<script src="/js/component.js"></script>
<script src="/js/user.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
