<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mesh To Brep - BullAnt - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Convert Mesh to Brep" />
<meta name="title" content="Mesh To Brep - BullAnt - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Mesh To Brep - BullAnt - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/bullant/meshToBrep.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="../../html5gallery/jquery.js"></script>
<script type="text/javascript" src="../../html5gallery/html5gallery.js"></script>

</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/insertPoint.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') 0px 0px" data-toptip="Insert Point"></div></a>
<a href="../../components/bullant/generateAngle.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -24px 0px" data-downtip="Generate Angle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/generateChannel.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -48px 0px" data-toptip="Generate Channel"></div></a>
<a href="../../components/bullant/generateCHS.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -72px 0px" data-downtip="Generate CHS"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/generateUnivBeam.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -96px 0px" data-toptip="Generate Univ Beam"></div></a>
<a href="../../components/bullant/generateRHS.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -120px 0px" data-downtip="Generate RHS"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/searchSectionProp.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -144px 0px" data-toptip="Search Section Prop"></div></a>
<a href="../../components/bullant/breakDownBlocks.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -168px 0px" data-downtip="Break Down Blocks"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/cellFillet.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -192px 0px" data-toptip="Cell Fillet"></div></a>
<a href="../../components/bullant/convCurve.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -216px 0px" data-downtip="Conv Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/polylineToPolyCurve.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') 0px -24px" data-toptip="Polyline To Poly Curve"></div></a>
<a href="../../components/bullant/createTreeFromLists.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -24px -24px" data-downtip="Create Tree From Lists"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/networkFillet.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -48px -24px" data-toptip="Network Fillet"></div></a>
<a href="../../components/bullant/curveNetworkForceDensity.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -72px -24px" data-downtip="Curve Network Force Density"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/curveNetworkForceEqLength.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -96px -24px" data-toptip="Curve Network Force Eq Length"></div></a>
<a href="../../components/bullant/networkPatch.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -120px -24px" data-downtip="Network Patch"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/networkPolygons.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -144px -24px" data-toptip="Network Polygons"></div></a>
<a href="../../components/bullant/networkToMesh.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -168px -24px" data-downtip="Network To Mesh"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/connectPoints.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -192px -24px" data-toptip="Connect Points"></div></a>
<a href="../../components/bullant/connectPointSets.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -216px -24px" data-downtip="Connect Point Sets"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/dynamicPathMapper.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') 0px -48px" data-toptip="Dynamic Path Mapper"></div></a>
<a href="../../components/bullant/meshFalseColor.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -24px -48px" data-downtip="Mesh False Color"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/geoDome.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -48px -48px" data-toptip="Geo Dome"></div></a>
<a href="../../components/bullant/inflateMesh.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -72px -48px" data-downtip="Inflate Mesh"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/inflateMeshTargetHeight.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -96px -48px" data-toptip="Inflate Mesh Target Height"></div></a>
<a href="../../components/bullant/inflateSurface.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -120px -48px" data-downtip="Inflate Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/linesToSegments.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -144px -48px" data-toptip="Lines To Segments"></div></a>
<a href="../../components/bullant/inflateParams.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -168px -48px" data-downtip="Inflate Params"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/meshPaths.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -192px -48px" data-toptip="Mesh Paths"></div></a>
<a href="../../components/bullant/forceDensityRelaxParams.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -216px -48px" data-downtip="Force Density Relax Params"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/meshRepelVerts.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') 0px -72px" data-toptip="Mesh Repel Verts"></div></a>
<a href="../../components/bullant/meshResize.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -24px -72px" data-downtip="Mesh Resize"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/meshToBrep.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -48px -72px" data-toptip="Mesh To Brep"></div></a>
<a href="../../components/bullant/forceDensityRelax.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -72px -72px" data-downtip="Force Density Relax"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/ocTree.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -96px -72px" data-toptip="Oc Tree"></div></a>
<a href="../../components/bullant/polyCurve.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -120px -72px" data-downtip="Poly Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/polyhedron.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -144px -72px" data-toptip="Polyhedron"></div></a>
<a href="../../components/bullant/proximityPoints.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -168px -72px" data-downtip="Proximity Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/removeDuplicates.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -192px -72px" data-toptip="Remove Duplicates"></div></a>
<a href="../../components/bullant/simplifyPolyline.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -216px -72px" data-downtip="Simplify Polyline"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/curvesSplitIntersect.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') 0px -96px" data-toptip="Curves Split Intersect"></div></a>
<a href="../../components/bullant/trussType.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -24px -96px" data-downtip="Truss Type"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/tessellation.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -48px -96px" data-toptip="Tessellation"></div></a>
<a href="../../components/bullant/trussFromCurves.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -72px -96px" data-downtip="Truss From Curves"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/trussFromCurvesLength.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -96px -96px" data-toptip="Truss From Curves Length"></div></a>
<a href="../../components/bullant/unroll.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -120px -96px" data-downtip="Unroll"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/vectorStreams.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -144px -96px" data-toptip="Vector Streams"></div></a>
<a href="../../components/bullant/profileOnCurve.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -168px -96px" data-downtip="Profile On Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bullant/createSectionProp.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -192px -96px" data-toptip="Create Section Prop"></div></a>
<a href="../../components/bullant/sweepProfile.html"><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -216px -96px" data-downtip="Sweep Profile"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="25">
BullAnt
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.food4rhino.com/app/bullant">Download</a>
</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/bullAnt.png') -48px -72px" ></div> Mesh To Brep</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/bullant.html">BullAnt</a><a href="#" class="breadcrumb-nolink">BullAnt</a><a href="#" class="breadcrumb-nolink">Mesh To Brep</a>
</div>

</div>
<h3>Convert Mesh to Brep</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Mesh</b></td><td>M</td><td>Input Mesh</td><td>Mesh</td></tr>
<tr><td><b>Collapse</b></td><td>C</td><td>Collapse Faces</td><td>Boolean</td></tr>
<tr><td><b>Triangulate</b></td><td>T</td><td>Triangulate</td><td>Boolean</td></tr>
<tr><td><b>Tol</b></td><td>T</td><td>Tol</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Brep</b></td><td>B</td><td>Brep</td><td>Brep</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/816FHyHCHfQ"><img src="http://img.youtube.com/vi/816FHyHCHfQ/1.jpg" alt="09 10 01 Bullant - Youtube"></a>
<a href="http://www.youtube.com/embed/3jmS8jXNbrs"><img src="http://img.youtube.com/vi/3jmS8jXNbrs/1.jpg" alt="09 08 24 Bullant And The Watercube"></a>
<a href="http://www.youtube.com/embed/LTLFvlxUOQE"><img src="http://img.youtube.com/vi/LTLFvlxUOQE/1.jpg" alt="190909 Rhino Edit Ifc"></a>
<a href="http://www.youtube.com/embed/MTMfbeRU_jM"><img src="http://img.youtube.com/vi/MTMfbeRU_jM/1.jpg" alt="Introduction Ifc To Structural Analysis"></a>
<a href="http://www.youtube.com/embed/KxsD8co_mg8"><img src="http://img.youtube.com/vi/KxsD8co_mg8/1.jpg" alt="Geometrygym Download And Installation Instructions"></a>
<a href="http://www.youtube.com/embed/fMWq3jIk9_Y"><img src="http://img.youtube.com/vi/fMWq3jIk9_Y/1.jpg" alt="Part2   Setting Snapping Planes And Curves"></a>
<a href="http://www.youtube.com/embed/fzSEWfryeSs"><img src="http://img.youtube.com/vi/fzSEWfryeSs/1.jpg" alt="Part1   Basic Transfer"></a>
<a href="http://www.youtube.com/embed/daACUGoCRBM"><img src="http://img.youtube.com/vi/daACUGoCRBM/1.jpg" alt="Part3   Using Ifc Class Filters"></a>
<a href="http://www.youtube.com/embed/1fJbQ2PmhqA"><img src="http://img.youtube.com/vi/1fJbQ2PmhqA/1.jpg" alt="190405 Revitifcgebruikersdag"></a>
<a href="http://www.youtube.com/embed/aYaUiMmvLyM"><img src="http://img.youtube.com/vi/aYaUiMmvLyM/1.jpg" alt="2018 Shape To Fabrication Geometry Gym"></a>
<a href="http://www.youtube.com/embed/C2Srq2MB-fw"><img src="http://img.youtube.com/vi/C2Srq2MB-fw/1.jpg" alt="Object Libraries, Why Aren't They Common?"></a>
<a href="http://www.youtube.com/embed/0g3rTPQKONE"><img src="http://img.youtube.com/vi/0g3rTPQKONE/1.jpg" alt="141208 Ifcscript Introduction"></a>
<a href="http://www.youtube.com/embed/j6KLIqK0pDI"><img src="http://img.youtube.com/vi/j6KLIqK0pDI/1.jpg" alt="141113 Karamba To Gsa And Robot Via Ifc"></a>
<a href="http://www.youtube.com/embed/wpYL9zyRdcU"><img src="http://img.youtube.com/vi/wpYL9zyRdcU/1.jpg" alt="140822 Parametric Ifc"></a>
<a href="http://www.youtube.com/embed/jjtZDEbBotI"><img src="http://img.youtube.com/vi/jjtZDEbBotI/1.jpg" alt="140401 Advanced Ifc Demonstration"></a>
<a href="http://www.youtube.com/embed/_24vztgIh-Q"><img src="http://img.youtube.com/vi/_24vztgIh-Q/1.jpg" alt="131017 4d Ifc Into Navisworks"></a>
<a href="http://www.youtube.com/embed/lBSKgb-RsgM"><img src="http://img.youtube.com/vi/lBSKgb-RsgM/1.jpg" alt="130708 Ifc Importing To Visualarq Via  And Geometry Gym"></a>
<a href="http://www.youtube.com/embed/mjQ6Dryfx90"><img src="http://img.youtube.com/vi/mjQ6Dryfx90/1.jpg" alt="120618 Tekla Wembley Arch.Wmv"></a>
<a href="http://www.youtube.com/embed/M4KzcefQSaA"><img src="http://img.youtube.com/vi/M4KzcefQSaA/1.jpg" alt="120618 Tekla Twisting Tower.Wmv"></a>
<a href="http://www.youtube.com/embed/PwuZTuAJZso"><img src="http://img.youtube.com/vi/PwuZTuAJZso/1.jpg" alt="120528 Generative Adaptive Component.Wmv"></a>
<a href="http://www.youtube.com/embed/iZrA79nM1Ik"><img src="http://img.youtube.com/vi/iZrA79nM1Ik/1.jpg" alt="120413 Ifc  To Revit"></a>
<a href="http://www.youtube.com/embed/xCQhwNQeLV0"><img src="http://img.youtube.com/vi/xCQhwNQeLV0/1.jpg" alt="111118 Galapagos Interaction With Sap2000"></a>
<a href="http://www.youtube.com/embed/z1sVmre0wYI"><img src="http://img.youtube.com/vi/z1sVmre0wYI/1.jpg" alt="111031  Generating Tekla Portal"></a>
<a href="http://www.youtube.com/embed/noE0TG4Ne48"><img src="http://img.youtube.com/vi/noE0TG4Ne48/1.jpg" alt="111011 Tekla Velodrome Mp4"></a>
<a href="http://www.youtube.com/embed/iP2TbAP7f3A"><img src="http://img.youtube.com/vi/iP2TbAP7f3A/1.jpg" alt="110630 Ifc Ville Savoye"></a>
<a href="http://www.youtube.com/embed/-bvtE-qL6Hs"><img src="http://img.youtube.com/vi/-bvtE-qL6Hs/1.jpg" alt="110629 Ifc Tekla House"></a>
<a href="http://www.youtube.com/embed/WpHJwALTJw0"><img src="http://img.youtube.com/vi/WpHJwALTJw0/1.jpg" alt="110401 Galpagas Truss"></a>
<a href="http://www.youtube.com/embed/m1uJveMaJMQ"><img src="http://img.youtube.com/vi/m1uJveMaJMQ/1.jpg" alt="Gsa Fe Regions And Areas"></a>
<a href="http://www.youtube.com/embed/QaQ3UvDurW0"><img src="http://img.youtube.com/vi/QaQ3UvDurW0/1.jpg" alt="101108 Tower Generate Ifc"></a>
<a href="http://www.youtube.com/embed/X2q8hQywVMI"><img src="http://img.youtube.com/vi/X2q8hQywVMI/1.jpg" alt="101015  To Sap2000"></a>
<a href="http://www.youtube.com/embed/1e5kliSAH-4"><img src="http://img.youtube.com/vi/1e5kliSAH-4/1.jpg" alt="100805 3 Pin Truss Gsa"></a>
<a href="http://www.youtube.com/embed/V7dqYPfXiis"><img src="http://img.youtube.com/vi/V7dqYPfXiis/1.jpg" alt="100729 Mesh Results"></a>
<a href="http://www.youtube.com/embed/dxy79_lThuw"><img src="http://img.youtube.com/vi/dxy79_lThuw/1.jpg" alt="100727  Robot Trusses"></a>
<a href="http://www.youtube.com/embed/_xGDoGZBrwk"><img src="http://img.youtube.com/vi/_xGDoGZBrwk/1.jpg" alt="100723 Strand7 Straus7 Fe And Beam Generation"></a>
<a href="http://www.youtube.com/embed/aok5St5kQG0"><img src="http://img.youtube.com/vi/aok5St5kQG0/1.jpg" alt="100720 Cablenet Sofistik From"></a>
<a href="http://www.youtube.com/embed/Foysv_FX-lI"><img src="http://img.youtube.com/vi/Foysv_FX-lI/1.jpg" alt="100706  Generating Robot Structure Cablenet"></a>
<a href="http://www.youtube.com/embed/gaLA3gtyeJ0"><img src="http://img.youtube.com/vi/gaLA3gtyeJ0/1.jpg" alt="100516 Bullant Mesh Inflation"></a>
<a href="http://www.youtube.com/embed/03gv3AGOmSU"><img src="http://img.youtube.com/vi/03gv3AGOmSU/1.jpg" alt="100416 Structural Analysis Model"></a>
<a href="http://www.youtube.com/embed/rxVP1rD88Cw"><img src="http://img.youtube.com/vi/rxVP1rD88Cw/1.jpg" alt="100331 Wip  To Gsa Parametric"></a>
<a href="http://www.youtube.com/embed/cVylJp8i7Nc"><img src="http://img.youtube.com/vi/cVylJp8i7Nc/1.jpg" alt="100222 2012 Stadium  Sdr"></a>


</div>
</div>

</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
BullAnt and associated data © 2020  <a href="https://www.food4rhino.com/app/bullant">Jon Mirtschin</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
