<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Path on Object - Dodo - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Integrate a field using an object as a constraint" />
<meta name="title" content="Path on Object - Dodo - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Path on Object - Dodo - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/dodo/pathOnObject.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="../../html5gallery/jquery.js"></script>
<script type="text/javascript" src="../../html5gallery/html5gallery.js"></script>

</head>
<body>


<div id="docs" class="docs-theme docs-widget_page docs-widget_page_page docs-widget_page_page_show" data-layout-pack="classic">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/runNeuralNetwork.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -72px -72px" data-toptip="Run Neural Network"></div></a>
<a href="../../components/dodo/supervisedTrainingNN.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -216px -72px" data-downtip="Supervised Training NN"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/unsupervisedTrainingNN.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') 0px -96px" data-toptip="Unsupervised Training NN"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Artificial Intelligence
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/constructTensorField.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -96px 0px" data-toptip="Construct Tensor Field"></div></a>
<a href="../../components/dodo/customField.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -168px 0px" data-downtip="Custom Field"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/deconstructTensorField.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -216px 0px" data-toptip="Deconstruct Tensor Field"></div></a>
<a href="../../components/dodo/discreteField.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') 0px -24px" data-downtip="Discrete Field"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/fieldFromMesh.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -48px -24px" data-toptip="Field From Mesh"></div></a>
<a href="../../components/dodo/fieldFromSurface.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -72px -24px" data-downtip="Field From Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/fieldPotential.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -96px -24px" data-toptip="Field Potential"></div></a>
<a href="../../components/dodo/imageCharge.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') 0px -48px" data-downtip="Image Charge"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/pointTrajectory.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -24px -48px" data-toptip="Point Trajectory"></div></a>
<a href="../../components/dodo/integrateTensorField.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -72px -48px" data-downtip="Integrate Tensor Field"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/pathOnObject.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -96px -48px" data-toptip="Path on Object"></div></a>
<a href="../../components/dodo/rotateTensorField.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -24px -72px" data-downtip="Rotate Tensor Field"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/smoothenField.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -96px -72px" data-toptip="Smoothen Field"></div></a>
<a href="../../components/dodo/isoPotentialSurface.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -144px -72px" data-downtip="Iso-Potential Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/tensorFieldVector.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -168px -72px" data-toptip="Tensor Field - Vector"></div></a>
<a href="../../components/dodo/tensorFieldComponent.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -192px -72px" data-downtip="Tensor Field - Component"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
Field
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/generateGraph.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -144px -24px" data-toptip="Generate Graph"></div></a>
<a href="../../components/dodo/findPath.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -168px -24px" data-downtip="Find Path"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/graphSearch.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -192px -24px" data-toptip="Graph search"></div></a>
<a href="../../components/dodo/generateNetwork.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') 0px -72px" data-downtip="Generate Network"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Graph
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/constructNodeValue.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -24px 0px" data-toptip="Construct Node Value"></div></a>
<a href="../../components/dodo/constructNode.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -48px 0px" data-downtip="Construct Node"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/constructTree.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -72px 0px" data-toptip="Construct Tree"></div></a>
<a href="../../components/dodo/deconstructNode.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -192px 0px" data-downtip="Deconstruct Node"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/nearestNeighboursHypercube.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -120px -48px" data-toptip="Nearest Neighbours Hypercube"></div></a>
<a href="../../components/dodo/nearestNeighboursDistance.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -144px -48px" data-downtip="Nearest Neighbours Distance"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/nearestNeighboursNumber.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -168px -48px" data-toptip="Nearest Neighbours Number"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
kd-Tree
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/statistics.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -72px -96px" data-toptip="Statistics"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
MathNet
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/convexHull3D.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -120px 0px" data-toptip="Convex Hull 3D"></div></a>
<a href="../../components/dodo/geodesic.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -120px -24px" data-downtip="Geodesic"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/integrateMeshCurvature.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -48px -48px" data-toptip="Integrate Mesh Curvature"></div></a>
<a href="../../components/dodo/isoMesh.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -192px -48px" data-downtip="Iso Mesh"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/meshCurvature.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -216px -48px" data-toptip="Mesh Curvature"></div></a>
<a href="../../components/dodo/umbilicPoints.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -24px -96px" data-downtip="Umbilic Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/voxels.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -48px -96px" data-toptip="Voxels"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Mesh
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/dancingBanana.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') 0px 0px" data-toptip="Dancing Banana"></div></a>
<a href="../../components/dodo/seriesFromList.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -24px -24px" data-downtip="Series from List"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/groupNumbers.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -216px -24px" data-toptip="Group Numbers"></div></a>
<a href="../../components/dodo/runExecutable.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -48px -72px" data-downtip="Run Executable"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/sortCurves.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -120px -72px" data-toptip="Sort Curves"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Other
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/dodo/integrateCurvatureField.html"><div class="ghsprite" style="background: url('../../icons/dodo.png') -144px 0px" data-toptip="Integrate Curvature Field"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Surface
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.food4rhino.com/app/dodo?etx=">Download</a>
</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/dodo.png') -96px -48px" ></div> Path on Object</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/dodo.html">Dodo</a><a href="#" class="breadcrumb-nolink">Field</a><a href="#" class="breadcrumb-nolink">PathOnObj</a>
</div>

</div>
<h3>Integrate a field using an object as a constraint</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Field</b></td><td>F</td><td>Field to evaluate</td><td>Field</td></tr>
<tr><td><b>Point</b></td><td>P</td><td>Point to start from</td><td>Point</td></tr>
<tr><td><b>Steps</b></td><td>N</td><td>Number of samples</td><td>Integer</td></tr>
<tr><td><b>Accuracy</b></td><td>A</td><td>Accuracy hint (will only be loosely obeyed)</td><td>Number</td></tr>
<tr><td><b>Angle</b></td><td>θ</td><td>Skew angle (in radians)</td><td>Number</td></tr>
<tr><td><b>Method</b></td><td>M</td><td>Solver (1=Euler, 2=RK2, 3=RK3, 4=RK4)</td><td>Integer</td></tr>
<tr><td><b>Object</b></td><td>O</td><td>Mesh or a brep on which the trajectory should be constrained</td><td>Geometry</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Polyline</b></td><td>P</td><td>Integrated vector field as polyline</td><td>Curve</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/TiHO4-cUHuY"><img src="http://img.youtube.com/vi/TiHO4-cUHuY/1.jpg" alt="0043 Hollowed Weave + Dodo"></a>


</div>
</div>

</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Dodo and associated data © 2020  <a href="https://www.food4rhino.com/app/dodo?etx=">Lorenzo Greco</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
