<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Isotrim - Grasshopper Surface - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Extract an isoparametric subset of a surface." />
<meta name="title" content="Isotrim - Grasshopper Surface - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Isotrim - Grasshopper Surface - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/grasshoppersurface/isotrim.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>



</head>
<body>


<div id="docs" class="docs-theme docs-widget_page docs-widget_page_page docs-widget_page_page_show" data-layout-pack="classic">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/areaMoments.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -24px" data-toptip="Area Moments"></div></a>
<a href="../../components/grasshoppersurface/area.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px -24px" data-downtip="Area"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/boxCorners.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px -24px" data-toptip="Box Corners"></div></a>
<a href="../../components/grasshoppersurface/boxProperties.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px -24px" data-downtip="Box Properties"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/brepClosestPoint.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -48px" data-toptip="Brep Closest Point"></div></a>
<a href="../../components/grasshoppersurface/brepEdges.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -48px" data-downtip="Brep Edges"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/pointInBrep.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px -48px" data-toptip="Point In Brep"></div></a>
<a href="../../components/grasshoppersurface/pointInBreps.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px -48px" data-downtip="Point In Breps"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/brepWireframe.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px -48px" data-toptip="Brep Wireframe"></div></a>
<a href="../../components/grasshoppersurface/deconstructBox.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -72px" data-downtip="Deconstruct Box"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/deconstructBrep.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px -72px" data-toptip="Deconstruct Brep"></div></a>
<a href="../../components/grasshoppersurface/evaluateBox.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px -72px" data-downtip="Evaluate Box"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/evaluateSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px -72px" data-toptip="Evaluate Surface"></div></a>
<a href="../../components/grasshoppersurface/shapeInBrep.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px -96px" data-downtip="Shape In Brep"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/surfaceClosestPoint.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px -144px" data-toptip="Surface Closest Point"></div></a>
<a href="../../components/grasshoppersurface/surfaceCurvature.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px -144px" data-downtip="Surface Curvature"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/dimensions.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px -144px" data-toptip="Dimensions"></div></a>
<a href="../../components/grasshoppersurface/surfaceInflection.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px -144px" data-downtip="Surface Inflection"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/isPlanar.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -168px" data-toptip="Is Planar"></div></a>
<a href="../../components/grasshoppersurface/osculatingCircles.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -168px" data-downtip="Osculating Circles"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/surfacePoints.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -168px" data-toptip="Surface Points"></div></a>
<a href="../../components/grasshoppersurface/principalCurvature.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px -168px" data-downtip="Principal Curvature"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/pointInTrim.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px -168px" data-toptip="Point In Trim"></div></a>
<a href="../../components/grasshoppersurface/volumeMoments.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px -168px" data-downtip="Volume Moments"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/volume.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px -168px" data-toptip="Volume"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="13">
Analysis
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/controlPointLoft.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px 0px" data-toptip="Control Point Loft"></div></a>
<a href="../../components/grasshoppersurface/fitLoft.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px 0px" data-downtip="Fit Loft"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/extrudeAngled.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px 0px" data-toptip="Extrude Angled"></div></a>
<a href="../../components/grasshoppersurface/4PointSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -24px" data-downtip="4Point Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/boundarySurfaces.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px -24px" data-toptip="Boundary Surfaces"></div></a>
<a href="../../components/grasshoppersurface/edgeSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px -72px" data-downtip="Edge Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/extrude.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px -72px" data-toptip="Extrude"></div></a>
<a href="../../components/grasshoppersurface/extrudeAlong.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px -72px" data-downtip="Extrude Along"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/extrudeLinear.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px -72px" data-toptip="Extrude Linear"></div></a>
<a href="../../components/grasshoppersurface/extrudePoint.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -96px" data-downtip="Extrude Point"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/fragmentPatch.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -96px" data-toptip="Fragment Patch"></div></a>
<a href="../../components/grasshoppersurface/loftOptions.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px -96px" data-downtip="Loft Options"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/loft.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px -96px" data-toptip="Loft"></div></a>
<a href="../../components/grasshoppersurface/networkSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px -96px" data-downtip="Network Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/patch.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -120px" data-toptip="Patch"></div></a>
<a href="../../components/grasshoppersurface/pipe.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px -120px" data-downtip="Pipe"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/pipeVariable.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px -120px" data-toptip="Pipe Variable"></div></a>
<a href="../../components/grasshoppersurface/surfaceFromPoints.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px -120px" data-downtip="Surface From Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/railRevolution.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -144px" data-toptip="Rail Revolution"></div></a>
<a href="../../components/grasshoppersurface/revolution.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -144px" data-downtip="Revolution"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/ruledSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -144px" data-toptip="Ruled Surface"></div></a>
<a href="../../components/grasshoppersurface/sumSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px -144px" data-downtip="Sum Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/sweep1.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px -168px" data-toptip="Sweep1"></div></a>
<a href="../../components/grasshoppersurface/sweep2.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px -168px" data-downtip="Sweep2"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="12">
Freeform
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/boundingBox.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px -24px" data-toptip="Bounding Box"></div></a>
<a href="../../components/grasshoppersurface/box2Pt.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px -24px" data-downtip="Box 2Pt"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/boxRectangle.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px -24px" data-toptip="Box Rectangle"></div></a>
<a href="../../components/grasshoppersurface/centerBox.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px -48px" data-downtip="Center Box"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/cone.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px -48px" data-toptip="Cone"></div></a>
<a href="../../components/grasshoppersurface/cylinder.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -72px" data-downtip="Cylinder"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/domainBox.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px -96px" data-toptip="Domain Box"></div></a>
<a href="../../components/grasshoppersurface/planeSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px -120px" data-downtip="Plane Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/planeThroughShape.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px -120px" data-toptip="Plane Through Shape"></div></a>
<a href="../../components/grasshoppersurface/quadSphere.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px -120px" data-downtip="Quad Sphere"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/sphere.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px -144px" data-toptip="Sphere"></div></a>
<a href="../../components/grasshoppersurface/sphere4Pt.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px -144px" data-downtip="Sphere 4Pt"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/sphereFit.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -192px" data-toptip="Sphere Fit"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
Primitive
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/closedEdges.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px 0px" data-toptip="Closed Edges"></div></a>
<a href="../../components/grasshoppersurface/convexEdges.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px 0px" data-downtip="Convex Edges"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/edgesFromDirections.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px 0px" data-toptip="Edges from Directions"></div></a>
<a href="../../components/grasshoppersurface/edgesFromLength.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px 0px" data-downtip="Edges from Length"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/edgesFromLinearity.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px 0px" data-toptip="Edges from Linearity"></div></a>
<a href="../../components/grasshoppersurface/edgesFromPoints.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px 0px" data-downtip="Edges from Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/edgesFromFaces.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px 0px" data-toptip="Edges from Faces"></div></a>
<a href="../../components/grasshoppersurface/filletEdge.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -24px" data-downtip="Fillet Edge"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/brepJoin.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -48px" data-toptip="Brep Join"></div></a>
<a href="../../components/grasshoppersurface/capHolesEx.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px -48px" data-downtip="Cap Holes Ex"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/capHoles.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px -48px" data-toptip="Cap Holes"></div></a>
<a href="../../components/grasshoppersurface/copyTrim.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -72px" data-downtip="Copy Trim"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/flip.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -96px" data-toptip="Flip"></div></a>
<a href="../../components/grasshoppersurface/isotrim.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px -96px" data-downtip="Isotrim"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/mergeFaces.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px -96px" data-toptip="Merge Faces"></div></a>
<a href="../../components/grasshoppersurface/offsetSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -120px" data-downtip="Offset Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/offsetSurfaceLoose.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -120px" data-toptip="Offset Surface Loose"></div></a>
<a href="../../components/grasshoppersurface/retrim.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px -120px" data-downtip="Retrim"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/untrim.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px -168px" data-toptip="Untrim"></div></a>
<a href="../../components/grasshoppersurface/divideSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -192px" data-downtip="Divide Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/surfaceFrames.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -192px" data-toptip="Surface Frames"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="11">
Util
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">

<a href="https://www.rhino3d.com/6/new/grasshopper">Download</a>
</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px -96px" ></div> Isotrim</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/grasshopper-surface.html">Grasshopper Surface</a><a href="#" class="breadcrumb-nolink">Util</a><a href="#" class="breadcrumb-nolink">SubSrf</a>
</div>

</div>
<h3>Extract an isoparametric subset of a surface.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Surface</b></td><td>S</td><td>Base surface</td><td>Surface</td></tr>
<tr><td><b>Domain</b></td><td>D</td><td>Domain of subset</td><td>Domain²</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Surface</b></td><td>S</td><td>Subset of base surface</td><td>Surface</td></tr>
</tbody>
</table>


</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Grasshopper Surface and associated data © 2020  <a href="https://www.rhino3d.com/6/new/grasshopper">Robert McNeel &amp; Associates</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
