<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Volume Moments - Grasshopper Surface - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Solve volume properties for closed breps and meshes." />
<meta name="title" content="Volume Moments - Grasshopper Surface - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Volume Moments - Grasshopper Surface - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/grasshoppersurface/volumeMoments.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v2.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="https://www.rhino3d.com/6/new/grasshopper">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Grasshopper.png');"></div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/areaMoments.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px -96px" data-toptip="Area Moments"></div></a>
<a href="../../components/grasshoppersurface/area.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px -96px" data-downtip="Area"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/volumeMoments.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px -96px" data-toptip="Volume Moments"></div></a>
<a href="../../components/grasshoppersurface/volume.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px -96px" data-downtip="Volume"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/boxCorners.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px -96px" data-toptip="Box Corners"></div></a>
<a href="../../components/grasshoppersurface/deconstructBox.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px -96px" data-downtip="Deconstruct Box"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/evaluateBox.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -120px" data-toptip="Evaluate Box"></div></a>
<a href="../../components/grasshoppersurface/boxProperties.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -120px" data-downtip="Box Properties"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/deconstructBrep.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -120px" data-toptip="Deconstruct Brep"></div></a>
<a href="../../components/grasshoppersurface/brepWireframe.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px -120px" data-downtip="Brep Wireframe"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/brepEdges.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px -120px" data-toptip="Brep Edges"></div></a>
<a href="../../components/grasshoppersurface/brepTopology.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px -120px" data-downtip="Brep Topology"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/dimensions.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px -120px" data-toptip="Dimensions"></div></a>
<a href="../../components/grasshoppersurface/isPlanar.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px -120px" data-downtip="Is Planar"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/surfacePoints.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px -120px" data-toptip="Surface Points"></div></a>
<a href="../../components/grasshoppersurface/brepClosestPoint.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px -120px" data-downtip="Brep Closest Point"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/surfaceClosestPoint.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -144px" data-toptip="Surface Closest Point"></div></a>
<a href="../../components/grasshoppersurface/pointInTrim.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -144px" data-downtip="Point In Trim"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/pointInBrep.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -144px" data-toptip="Point In Brep"></div></a>
<a href="../../components/grasshoppersurface/pointInBreps.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px -144px" data-downtip="Point In Breps"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/shapeInBrep.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px -144px" data-toptip="Shape In Brep"></div></a>
<a href="../../components/grasshoppersurface/evaluateSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px -144px" data-downtip="Evaluate Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/principalCurvature.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px -144px" data-toptip="Principal Curvature"></div></a>
<a href="../../components/grasshoppersurface/surfaceCurvature.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px -144px" data-downtip="Surface Curvature"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/osculatingCircles.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px -144px" data-toptip="Osculating Circles"></div></a>
<a href="../../components/grasshoppersurface/surfaceInflection.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px -144px" data-downtip="Surface Inflection"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="13">
Analysis
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/extrudeAngled.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px 0px" data-toptip="Extrude Angled"></div></a>
<a href="../../components/grasshoppersurface/controlPointLoft.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px 0px" data-downtip="Control Point Loft"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/fitLoft.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -24px" data-toptip="Fit Loft"></div></a>
<a href="../../components/grasshoppersurface/4PointSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -24px" data-downtip="4Point Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/surfaceFromPoints.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -24px" data-toptip="Surface From Points"></div></a>
<a href="../../components/grasshoppersurface/boundarySurfaces.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px -24px" data-downtip="Boundary Surfaces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/sumSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px -24px" data-toptip="Sum Surface"></div></a>
<a href="../../components/grasshoppersurface/edgeSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px -24px" data-downtip="Edge Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/loft.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px -24px" data-toptip="Loft"></div></a>
<a href="../../components/grasshoppersurface/loftOptions.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px -24px" data-downtip="Loft Options"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/ruledSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px -24px" data-toptip="Ruled Surface"></div></a>
<a href="../../components/grasshoppersurface/networkSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px -24px" data-downtip="Network Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/extrude.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -48px" data-toptip="Extrude"></div></a>
<a href="../../components/grasshoppersurface/extrudePoint.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -48px" data-downtip="Extrude Point"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/extrudeLinear.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -48px" data-toptip="Extrude Linear"></div></a>
<a href="../../components/grasshoppersurface/extrudeAlong.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px -48px" data-downtip="Extrude Along"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/patch.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px -48px" data-toptip="Patch"></div></a>
<a href="../../components/grasshoppersurface/fragmentPatch.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px -48px" data-downtip="Fragment Patch"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/pipe.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px -48px" data-toptip="Pipe"></div></a>
<a href="../../components/grasshoppersurface/pipeVariable.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px -48px" data-downtip="Pipe Variable"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/sweep1.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px -48px" data-toptip="Sweep1"></div></a>
<a href="../../components/grasshoppersurface/sweep2.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px -48px" data-downtip="Sweep2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/revolution.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -72px" data-toptip="Revolution"></div></a>
<a href="../../components/grasshoppersurface/railRevolution.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -72px" data-downtip="Rail Revolution"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="12">
Freeform
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/planeThroughShape.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -168px" data-toptip="Plane Through Shape"></div></a>
<a href="../../components/grasshoppersurface/planeSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -168px" data-downtip="Plane Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/boundingBox.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -168px" data-toptip="Bounding Box"></div></a>
<a href="../../components/grasshoppersurface/centerBox.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px -168px" data-downtip="Center Box"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/domainBox.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px -168px" data-toptip="Domain Box"></div></a>
<a href="../../components/grasshoppersurface/box2Pt.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px -168px" data-downtip="Box 2Pt"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/boxRectangle.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px -168px" data-toptip="Box Rectangle"></div></a>
<a href="../../components/grasshoppersurface/sphere.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px -168px" data-downtip="Sphere"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/quadSphere.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px -168px" data-toptip="Quad Sphere"></div></a>
<a href="../../components/grasshoppersurface/sphere4Pt.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px -168px" data-downtip="Sphere 4Pt"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/cone.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -192px" data-toptip="Cone"></div></a>
<a href="../../components/grasshoppersurface/cylinder.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -192px" data-downtip="Cylinder"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/sphereFit.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -216px" data-toptip="Sphere Fit"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
Primitive
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/subDFromMesh.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -192px" data-toptip="SubD from Mesh"></div></a>
<a href="../../components/grasshoppersurface/meshFromSubD.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px -192px" data-downtip="Mesh from SubD"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/subDControlPolygon.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px -192px" data-toptip="SubD Control Polygon"></div></a>
<a href="../../components/grasshoppersurface/subDEdges.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px -192px" data-downtip="SubD Edges"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/subDFaces.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px -192px" data-toptip="SubD Faces"></div></a>
<a href="../../components/grasshoppersurface/subDVertices.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px -192px" data-downtip="SubD Vertices"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/subDEdgeTags.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px -192px" data-toptip="SubD Edge Tags"></div></a>
<a href="../../components/grasshoppersurface/subDVertexTags.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px -192px" data-downtip="SubD Vertex Tags"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/subDBox.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -216px" data-toptip="SubD Box"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
SubD
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/filletEdge.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px 0px" data-toptip="Fillet Edge"></div></a>
<a href="../../components/grasshoppersurface/edgesFromPoints.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px 0px" data-downtip="Edges from Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/edgesFromFaces.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px 0px" data-toptip="Edges from Faces"></div></a>
<a href="../../components/grasshoppersurface/edgesFromDirections.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px 0px" data-downtip="Edges from Directions"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/edgesFromLength.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px 0px" data-toptip="Edges from Length"></div></a>
<a href="../../components/grasshoppersurface/edgesFromLinearity.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px 0px" data-downtip="Edges from Linearity"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/convexEdges.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px 0px" data-toptip="Convex Edges"></div></a>
<a href="../../components/grasshoppersurface/closedEdges.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px 0px" data-downtip="Closed Edges"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/isotrim.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -72px" data-toptip="Isotrim"></div></a>
<a href="../../components/grasshoppersurface/untrim.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px -72px" data-downtip="Untrim"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/retrim.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -96px -72px" data-toptip="Retrim"></div></a>
<a href="../../components/grasshoppersurface/copyTrim.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -120px -72px" data-downtip="Copy Trim"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/brepJoin.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px -72px" data-toptip="Brep Join"></div></a>
<a href="../../components/grasshoppersurface/mergeFaces.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -168px -72px" data-downtip="Merge Faces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/capHoles.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -192px -72px" data-toptip="Cap Holes"></div></a>
<a href="../../components/grasshoppersurface/capHolesEx.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -216px -72px" data-downtip="Cap Holes Ex"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/offsetSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') 0px -96px" data-toptip="Offset Surface"></div></a>
<a href="../../components/grasshoppersurface/offsetSurfaceLoose.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -24px -96px" data-downtip="Offset Surface Loose"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/flip.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -96px" data-toptip="Flip"></div></a>
<a href="../../components/grasshoppersurface/transposeSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px -96px" data-downtip="Transpose Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppersurface/divideSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -48px -216px" data-toptip="Divide Surface"></div></a>
<a href="../../components/grasshoppersurface/surfaceFrames.html"><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -72px -216px" data-downtip="Surface Frames"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="11">
Util
</td>
</tr>
</table>
</div>
</div>


<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/grasshopperSurface.png') -144px -96px" ></div> Volume Moments</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/grasshopper-surface.html">Grasshopper Surface</a><a href="#" class="breadcrumb-nolink">Analysis</a><a href="#" class="breadcrumb-nolink">VMoments</a>
</div>

</div>

</div>
<h3>Solve volume properties for closed breps and meshes.</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Geometry</b></td><td>G</td><td>Closed brep or mesh for volume computation</td><td>Geometry</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Volume</b></td><td>V</td><td>Volume of geometry</td><td>Number</td></tr>
<tr><td><b>Centroid</b></td><td>C</td><td>Volume centroid of geometry</td><td>Point</td></tr>
<tr><td><b>Inertia</b></td><td>I</td><td>Moments of inertia around the centroid</td><td>Vector</td></tr>
<tr><td><b>Secondary</b></td><td>S</td><td>Secondary moments of inertia around the centroid</td><td>Vector</td></tr>
<tr><td><b>Gyration</b></td><td>G</td><td>Radii of gyration</td><td>Vector</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Grasshopper Surface and associated data © 2023  <a href="https://www.rhino3d.com/6/new/grasshopper">Robert McNeel &amp; Associates</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
