<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Surface Environment - Quelea - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="A Surface Environment upon which the Quelea will map their position for the calculation of Forces." />
<meta name="title" content="Surface Environment - Quelea - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Surface Environment - Quelea - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/quelea/surfaceEnvironment.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="../../html5gallery/jquery.js"></script>
<script type="text/javascript" src="../../html5gallery/html5gallery.js"></script>

</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<script async src="https://cse.google.com/cse.js?cx=feb9de3d53b3dd2ce"></script>
	<div class="gcse-searchbox-only"></div>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/alignForce.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -120px -24px" data-toptip="Align Force"></div></a>
<a href="../../components/quelea/arriveForce.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -144px -24px" data-downtip="Arrive Force"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/avoidObstacleForce.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -168px -24px" data-toptip="Avoid Obstacle Force"></div></a>
<a href="../../components/quelea/avoidUnalignedCollisionForce.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -192px -24px" data-downtip="Avoid Unaligned Collision Force"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/coheseForce.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -216px -24px" data-toptip="Cohese Force"></div></a>
<a href="../../components/quelea/containForce.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') 0px -48px" data-downtip="Contain Force"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/eatBehavior.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -24px -48px" data-toptip="Eat Behavior"></div></a>
<a href="../../components/quelea/followPathForce.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -48px -48px" data-downtip="Follow Path Force"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/seekForce.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -72px -48px" data-toptip="Seek Force"></div></a>
<a href="../../components/quelea/separateForce.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -96px -48px" data-downtip="Separate Force"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/viewForce.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -120px -48px" data-toptip="View Force"></div></a>
<a href="../../components/quelea/wanderForce.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -144px -48px" data-downtip="Wander Force"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Agent Rules
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/boxEmitter.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -192px -72px" data-toptip="Box Emitter"></div></a>
<a href="../../components/quelea/curveEmitter.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -216px -72px" data-downtip="Curve Emitter"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/pointEmitter.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') 0px -96px" data-toptip="Point Emitter"></div></a>
<a href="../../components/quelea/surfaceEmitter.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -24px -96px" data-downtip="Surface Emitter"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Emitters
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/axisAlignedBoxEnvironment.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -96px -72px" data-toptip="Axis Aligned Box Environment"></div></a>
<a href="../../components/quelea/brepEnvironment.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -120px -72px" data-downtip="Brep Environment"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/polysurfaceEnvironment.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -144px -72px" data-toptip="Polysurface Environment"></div></a>
<a href="../../components/quelea/surfaceEnvironment.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -168px -72px" data-downtip="Surface Environment"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Environments
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/applyCustomForce.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -168px -48px" data-toptip="Apply Custom Force"></div></a>
<a href="../../components/quelea/attractForce.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -192px -48px" data-downtip="Attract Force"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/bounceContainBehavior.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -216px -48px" data-toptip="Bounce Contain Behavior"></div></a>
<a href="../../components/quelea/initialVelocity.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') 0px -72px" data-downtip="Initial Velocity"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/killContainBehavior.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -24px -72px" data-toptip="Kill Contain Behavior"></div></a>
<a href="../../components/quelea/setVelocity.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -48px -72px" data-downtip="Set Velocity"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/surfaceFlowForce.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -72px -72px" data-toptip="Surface Flow Force"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Particle Rules
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/constructAgent.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -72px 0px" data-toptip="Construct Agent"></div></a>
<a href="../../components/quelea/deconstructAgent.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -96px 0px" data-downtip="Deconstruct Agent"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/deconstructParticle.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -120px 0px" data-toptip="Deconstruct Particle"></div></a>
<a href="../../components/quelea/deconstructVehicle.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -144px 0px" data-downtip="Deconstruct Vehicle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/engine.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -168px 0px" data-toptip="Engine"></div></a>
<a href="../../components/quelea/getOrientation.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -192px 0px" data-downtip="Get Orientation"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/getParticlePosition.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -216px 0px" data-toptip="Get Particle Position"></div></a>
<a href="../../components/quelea/getParticlePositionHistory.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') 0px -24px" data-downtip="Get Particle Position History"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/getParticleVelocity.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -24px -24px" data-toptip="Get Particle Velocity"></div></a>
<a href="../../components/quelea/constructParticle.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -48px -24px" data-downtip="Construct Particle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/system.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -72px -24px" data-toptip="System"></div></a>
<a href="../../components/quelea/constructVehicle.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -96px -24px" data-downtip="Construct Vehicle"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Quelea
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/deconstructQueleaNetwork.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') 0px 0px" data-toptip="Deconstruct Quelea Network"></div></a>
<a href="../../components/quelea/loadImage.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -24px 0px" data-downtip="Load Image"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/getNeighborsInRadius.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -48px 0px" data-toptip="Get Neighbors in Radius"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Utility
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/quelea/senseImageForce.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -48px -96px" data-toptip="Sense Image Force"></div></a>
<a href="../../components/quelea/sensePointForce.html"><div class="ghsprite" style="background: url('../../icons/quelea.png') -72px -96px" data-downtip="Sense Point Force"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Vehicle Rules
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.food4rhino.com/app/quelea-agent-based-design-grasshopper">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

<!-- Google Ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- GH Docs Vertical -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1434451015265967"
     data-ad-slot="6929904428"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/quelea.png') -168px -72px" ></div> Surface Environment</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/quelea.html">Quelea</a><a href="#" class="breadcrumb-nolink">Environments</a><a href="#" class="breadcrumb-nolink">Surface Environment</a>
</div>

</div>
<h3>A Surface Environment upon which the Quelea will map their position for the calculation of Forces.</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Surface</b></td><td>S</td><td>An untrimmed Surface.</td><td>Surface</td></tr>
<tr><td><b>Wrap?</b></td><td>W</td><td>If true, quelea will wrap around to other side of environment bounds.</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Environment</b></td><td>En</td><td>A geometrical object representing the environment the Quelea will interact with.</td><td>Goo</td></tr>
<tr><td><b>2D Reference Surface</b></td><td>RS</td><td>The surface mapped to a 2D plane using the input surface's u and v dimensions.</td><td>Surface</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/INJ4NiyA2d4"><img src="http://img.youtube.com/vi/INJ4NiyA2d4/1.jpg" alt="Quelea: Agent-Based Design Plugin For"></a>
<a href="http://www.youtube.com/embed/nFwH73Lu8uA"><img src="http://img.youtube.com/vi/nFwH73Lu8uA/1.jpg" alt="Quelea: Introduction Tutorial - Simple Particle Scene"></a>
<a href="http://www.youtube.com/embed/Anar_FJGBpE"><img src="http://img.youtube.com/vi/Anar_FJGBpE/1.jpg" alt="Quelea - Polymorphic Types (particles/agents)"></a>
<a href="http://www.youtube.com/embed/4W4PJLJuh-4"><img src="http://img.youtube.com/vi/4W4PJLJuh-4/1.jpg" alt="Quelea - Flocking Agents Tutorial"></a>
<a href="http://www.youtube.com/embed/b5vSSqkZhKA"><img src="http://img.youtube.com/vi/b5vSSqkZhKA/1.jpg" alt="Quelea - Generating Support Structure From Rainflow Analysis"></a>
<a href="http://www.youtube.com/embed/oOfH_kPazP0"><img src="http://img.youtube.com/vi/oOfH_kPazP0/1.jpg" alt="Quelea - Braitenberg Vehicle Tutorial"></a>
<a href="http://www.youtube.com/embed/57j3ep5bjuA"><img src="http://img.youtube.com/vi/57j3ep5bjuA/1.jpg" alt="Quelea - Braitenberg Vehicles On Solar Radiance Analysis"></a>
<a href="http://www.youtube.com/embed/4myE54AINO4"><img src="http://img.youtube.com/vi/4myE54AINO4/1.jpg" alt="Quelea - Sharks And Minnows Demo"></a>
<a href="http://www.youtube.com/embed/IaOlU-rGrmM"><img src="http://img.youtube.com/vi/IaOlU-rGrmM/1.jpg" alt="Quelea - Interactive Design With Surface Flow On Roof Demo"></a>
<a href="http://www.youtube.com/embed/g6OqrLJ1zi0"><img src="http://img.youtube.com/vi/g6OqrLJ1zi0/1.jpg" alt="Quelea - Flow Down Surface Analysis Demo"></a>
<a href="http://www.youtube.com/embed/8mGoIR0Shi8"><img src="http://img.youtube.com/vi/8mGoIR0Shi8/1.jpg" alt="Quelea - Flow Down Surface Force"></a>
<a href="http://www.youtube.com/embed/6Oz5vlPv6bw"><img src="http://img.youtube.com/vi/6Oz5vlPv6bw/1.jpg" alt="Quelea - Wander Force"></a>
<a href="http://www.youtube.com/embed/xAMbWYfwAPE"><img src="http://img.youtube.com/vi/xAMbWYfwAPE/1.jpg" alt="Quelea - Polysurface Environments"></a>
<a href="http://www.youtube.com/embed/8v5VfPBgMdk"><img src="http://img.youtube.com/vi/8v5VfPBgMdk/1.jpg" alt="Quelea - Dynamic Spatial Data Strucutre Demo"></a>
<a href="http://www.youtube.com/embed/PBRdYGPrTl0"><img src="http://img.youtube.com/vi/PBRdYGPrTl0/1.jpg" alt="Quelea - Obstacle Avoidance"></a>
<a href="http://www.youtube.com/embed/XyBIoXNETkM"><img src="http://img.youtube.com/vi/XyBIoXNETkM/1.jpg" alt="Agent Based Design In Rhino  - Jewelry - Heart Necklace"></a>
<a href="http://www.youtube.com/embed/1HIYtrWUkpY"><img src="http://img.youtube.com/vi/1HIYtrWUkpY/1.jpg" alt="Agent Based Design In Rhino  - Digital Fabrication - Cabinet Door Patterning"></a>


</div>
</div>

</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Quelea and associated data © 2021  <a href="https://www.food4rhino.com/app/quelea-agent-based-design-grasshopper">Alex Fischer</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>


<!-- Google Ads -->
<div id="docs-foot-ad">
<div class="google-ad-footer">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- GH Docs Header -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1434451015265967"
     data-ad-slot="2962739253"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>

</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
