<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Random Reduce - Flexibility - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Flexibility&lt;br&gt; Random Reduce At in and Not in" />
<meta name="title" content="Random Reduce - Flexibility - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Random Reduce - Flexibility - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/flexibility/randomReduce.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/extractValueList.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -96px 0px" data-toptip="extract Value List"></div></a>
<a href="../../components/flexibility/bakeBrepUnsplit.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -120px 0px" data-downtip="Bake Brep Unsplit"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/bondingBox.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -24px -24px" data-toptip="Bonding Box+"></div></a>
<a href="../../components/flexibility/bottom.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -48px -24px" data-downtip="bottom"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/curvePreview.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -48px -48px" data-toptip="Curve Preview"></div></a>
<a href="../../components/flexibility/deleteObjectFromRhino.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -192px -48px" data-downtip="Delete Object From Rhino"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/hatchBoundary.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -48px -96px" data-toptip="hatch boundary"></div></a>
<a href="../../components/flexibility/make2d.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') 0px -120px" data-downtip="Make2d+"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/move2Point.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -24px -144px" data-toptip="Move2Point"></div></a>
<a href="../../components/flexibility/offsetGeometry.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -120px -144px" data-downtip="Offset Geometry"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/overKill.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -168px -144px" data-toptip="Over Kill"></div></a>
<a href="../../components/flexibility/removeDuplicateGeometry.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -120px -192px" data-downtip="Remove Duplicate Geometry"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/removeDuplicateCurves.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -144px -192px" data-toptip="Remove Duplicate Curves"></div></a>
<a href="../../components/flexibility/removePlaceholder.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -192px -192px" data-downtip="Remove Placeholder"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/reparameterizeSrfCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') 0px -216px" data-toptip="Reparameterize Srf Curve"></div></a>
<a href="../../components/flexibility/rotateCamera.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -72px -216px" data-downtip="Rotate Camera"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/rotateView.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -96px -216px" data-toptip="Rotate View"></div></a>
<a href="../../components/flexibility/sketch.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -216px -216px" data-downtip="Sketch"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/textOutlines.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -192px -288px" data-toptip="Text Outlines"></div></a>
<a href="../../components/flexibility/zoomSelect.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -168px -312px" data-downtip="Zoom Select"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/removeDuplicateBrep.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -168px -336px" data-toptip="Remove Duplicate Brep"></div></a>
<a href="../../components/flexibility/wirePreview.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -168px -360px" data-downtip="Wire Preview"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="11">
Action
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/applyUVCurves.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -24px 0px" data-toptip="Apply UV Curves"></div></a>
<a href="../../components/flexibility/arc.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -48px 0px" data-downtip="Arc"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/curveArrayAlongCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -72px 0px" data-toptip="Curve Array along curve"></div></a>
<a href="../../components/flexibility/blendArcLine.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -168px 0px" data-downtip="Blend Arc Line"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/blendCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -192px 0px" data-toptip="Blend Curve"></div></a>
<a href="../../components/flexibility/blendCurve2.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -216px 0px" data-downtip="Blend Curve2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/chamferCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -96px -24px" data-toptip="Chamfer Curve"></div></a>
<a href="../../components/flexibility/closeCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -120px -24px" data-downtip="Close Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/connectCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -144px -24px" data-toptip="Connect Curve"></div></a>
<a href="../../components/flexibility/curveFit.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -192px -24px" data-downtip="Curve Fit"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/curveFrom2Views.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -216px -24px" data-toptip="Curve from 2 views"></div></a>
<a href="../../components/flexibility/curveFromCrossSectionProfiles.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') 0px -48px" data-downtip="Curve from cross section profiles"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/curveFromCrossSection2.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -24px -48px" data-toptip="Curve from cross section2"></div></a>
<a href="../../components/flexibility/curveOrientation.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -72px -48px" data-downtip="Curve Orientation"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/curveRegion.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -96px -48px" data-toptip="Curve Region"></div></a>
<a href="../../components/flexibility/curveRegion2.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -120px -48px" data-downtip="Curve Region2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/curveRegion3.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -144px -48px" data-toptip="Curve Region3"></div></a>
<a href="../../components/flexibility/extendCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -48px -72px" data-downtip="Extend Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/fabricCurves.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -96px -72px" data-toptip="Fabric Curves"></div></a>
<a href="../../components/flexibility/filletCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -144px -72px" data-downtip="Fillet Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/filletPolyCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -168px -72px" data-toptip="Fillet Poly Curve"></div></a>
<a href="../../components/flexibility/flipAndSortCurves.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -192px -72px" data-downtip="Flip and Sort Curves"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/fractalA.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') 0px -96px" data-toptip="Fractal A"></div></a>
<a href="../../components/flexibility/fractalB.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -24px -96px" data-downtip="Fractal B"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/lineSDL2side.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -120px -96px" data-toptip="Line SDL2side"></div></a>
<a href="../../components/flexibility/line2side.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -144px -96px" data-downtip="Line2side"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/makePeriodicCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -192px -96px" data-toptip="Make periodic Curve"></div></a>
<a href="../../components/flexibility/offsetCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -96px -144px" data-downtip="offset Curve+"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/offsetPointAvg.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -144px -144px" data-toptip="Offset Point Avg"></div></a>
<a href="../../components/flexibility/pointInCurves.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -48px -168px" data-downtip="Point in Curves+"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/polygonLoop.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -72px -168px" data-toptip="polygon loop"></div></a>
<a href="../../components/flexibility/polygonAngle.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -96px -168px" data-downtip="Polygon Angle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/randomRectangle.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -192px -168px" data-toptip="Random Rectangle"></div></a>
<a href="../../components/flexibility/seamCurves.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -144px -216px" data-downtip="Seam Curves"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/sierpinskiFractal.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -192px -216px" data-toptip="sierpinski Fractal"></div></a>
<a href="../../components/flexibility/softEditCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') 0px -240px" data-downtip="Soft Edit Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/sortAlongCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -24px -240px" data-toptip="Sort Along Curve"></div></a>
<a href="../../components/flexibility/spiralVariable.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -48px -240px" data-downtip="Spiral Variable"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/spiralNgon.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -72px -240px" data-toptip="Spiral Ngon"></div></a>
<a href="../../components/flexibility/splitJoin.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -96px -240px" data-downtip="Split join"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/triangleCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') 0px -312px" data-toptip="Triangle Curve"></div></a>
<a href="../../components/flexibility/trimCurveByCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -24px -312px" data-downtip="Trim Curve By Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/tweenCloseCurves.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -48px -312px" data-toptip="Tween Close Curves"></div></a>
<a href="../../components/flexibility/ribbonOffset.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -192px -336px" data-downtip="Ribbon Offset"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/splitAllCrv.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -24px -360px" data-toptip="Split All Crv"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="23">
Curve
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/brepToMesh.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -72px -24px" data-toptip="Brep To Mesh"></div></a>
<a href="../../components/flexibility/hexagonMesh.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -72px -96px" data-downtip="hexagon Mesh"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/meshBooleanSplit.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -48px -120px" data-toptip="Mesh Boolean Split"></div></a>
<a href="../../components/flexibility/meshExplode.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -72px -120px" data-downtip="Mesh Explode"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/meshExplodeInfo.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -96px -120px" data-toptip="Mesh Explode Info"></div></a>
<a href="../../components/flexibility/meshFillHoles.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -120px -120px" data-downtip="Mesh Fill Holes"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/meshFromPolyCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -144px -120px" data-toptip="Mesh from Poly Curve"></div></a>
<a href="../../components/flexibility/meshExplode2.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -168px -120px" data-downtip="Mesh Explode2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/meshFromSurfaceControlNet.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -192px -120px" data-toptip="Mesh From Surface Control Net"></div></a>
<a href="../../components/flexibility/meshPipe.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -216px -120px" data-downtip="Mesh Pipe"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/meshToNurbs.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') 0px -144px" data-toptip="Mesh To Nurbs"></div></a>
<a href="../../components/flexibility/patchMesh.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') 0px -168px" data-downtip="patch Mesh"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/quadRemesh.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -120px -168px" data-toptip="Quad Remesh"></div></a>
<a href="../../components/flexibility/rebuildNormalMesh.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') 0px -192px" data-downtip="Rebuild Normal Mesh"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/reduceMesh.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -24px -192px" data-toptip="Reduce Mesh"></div></a>
<a href="../../components/flexibility/unweldMesh.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -96px -312px" data-downtip="Unweld Mesh"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/unweldMeshEdge.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -120px -312px" data-toptip="Unweld Mesh Edge"></div></a>
<a href="../../components/flexibility/meshSplit.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -96px -336px" data-downtip="Mesh Split"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/offsetPolylineMesh.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -120px -336px" data-toptip="Offset Polyline Mesh"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="10">
Mesh
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/angleUnit.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') 0px 0px" data-toptip="Angle Unit"></div></a>
<a href="../../components/flexibility/random.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -168px -168px" data-downtip="Random"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/removeDuplicateNumber.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -96px -192px" data-toptip="Remove Duplicate Number"></div></a>
<a href="../../components/flexibility/roundNd.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -120px -216px" data-downtip="Round(N,d)"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Number
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/subDMeshBridge.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -144px -240px" data-toptip="Sub DMesh Bridge"></div></a>
<a href="../../components/flexibility/subDNetwork.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -168px -240px" data-downtip="Sub DNetwork"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/subdOffset.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -192px -240px" data-toptip="Subd Offset"></div></a>
<a href="../../components/flexibility/subDPlane.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -216px -240px" data-downtip="Sub DPlane"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/subDRailRevolve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') 0px -264px" data-toptip="Sub DRail Revolve"></div></a>
<a href="../../components/flexibility/subDRevolve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -24px -264px" data-downtip="Sub D Revolve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/subDSphere.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -48px -264px" data-toptip="Sub D Sphere"></div></a>
<a href="../../components/flexibility/subDBox.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -72px -264px" data-downtip="Sub D Box"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/subdCornerPoint.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -96px -264px" data-toptip="Subd Corner Point"></div></a>
<a href="../../components/flexibility/subdTagDispatch.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') 0px -288px" data-downtip="Subd Tag Dispatch"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/subDToNurbs.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -24px -288px" data-toptip="Sub DTo Nurbs"></div></a>
<a href="../../components/flexibility/subPackFaces.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -48px -288px" data-downtip="Sub Pack Faces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/subDTorus.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -72px -360px" data-toptip="Sub D Torus"></div></a>
<a href="../../components/flexibility/subDCone.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -96px -360px" data-downtip="Sub DCone"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/subDCylinder.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -120px -360px" data-toptip="Sub DCylinder"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
Subd
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/curveToSubDFriendely.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -168px -48px" data-toptip="Curve To Sub DFriendely"></div></a>
<a href="../../components/flexibility/nurbsToSubD.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -72px -144px" data-downtip="Nurbs To Sub D"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/subDFriendelyCurve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -120px -264px" data-toptip="Sub DFriendely Curve"></div></a>
<a href="../../components/flexibility/subdivide.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -144px -264px" data-downtip="Subdivide"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/subDLoft.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -168px -264px" data-toptip="Sub DLoft"></div></a>
<a href="../../components/flexibility/subDSweep1.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -192px -264px" data-downtip="Sub DSweep1"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/subDSweep2.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -216px -264px" data-toptip="Sub DSweep2"></div></a>
<a href="../../components/flexibility/insetMeshOrSubD.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -72px -336px" data-downtip="Inset Mesh Or Sub D"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/subDsJoin.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -144px -360px" data-toptip="Sub Ds Join"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
SubD
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/baseball.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -144px 0px" data-toptip="Baseball"></div></a>
<a href="../../components/flexibility/blendSurface.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') 0px -24px" data-downtip="Blend Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/createdSolide.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -168px -24px" data-toptip="Created Solide"></div></a>
<a href="../../components/flexibility/edgeSurface.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -24px -72px" data-downtip="Edge Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/extrude2Side.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -72px -72px" data-toptip="Extrude2Side"></div></a>
<a href="../../components/flexibility/filletChamferEdge1.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -120px -72px" data-downtip="Fillet Chamfer Edge1"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/flipDirection.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -216px -72px" data-toptip="Flip Direction"></div></a>
<a href="../../components/flexibility/loftPoints.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -168px -96px" data-downtip="Loft Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/makePeriodicSurface.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -216px -96px" data-toptip="Make Periodic Surface"></div></a>
<a href="../../components/flexibility/mergeAllCoplanarFaces.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -24px -120px" data-downtip="Merge All Coplanar Faces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/networkCrv.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -48px -144px" data-toptip="Network Crv"></div></a>
<a href="../../components/flexibility/patch.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -216px -144px" data-downtip="Patch"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/planeSurface.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -24px -168px" data-toptip="Plane Surface"></div></a>
<a href="../../components/flexibility/railRevolve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -144px -168px" data-downtip="Rail Revolve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/refitTrim.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -48px -192px" data-toptip="Refit Trim"></div></a>
<a href="../../components/flexibility/removeHoles.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -168px -192px" data-downtip="Remove Holes"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/retrim.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -24px -216px" data-toptip="Retrim"></div></a>
<a href="../../components/flexibility/revolve.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -48px -216px" data-downtip="Revolve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/shrinkTrimmedSrf.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -168px -216px" data-toptip="Shrink Trimmed Srf"></div></a>
<a href="../../components/flexibility/splitKinkySurface.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -120px -240px" data-downtip="Split Kinky Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/surfaceFromPointUV.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -72px -288px" data-toptip="Surface From Point UV"></div></a>
<a href="../../components/flexibility/surfaceMerge.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -96px -288px" data-downtip="Surface Merge"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/sweep12.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -120px -288px" data-toptip="Sweep12"></div></a>
<a href="../../components/flexibility/sweep2point.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -144px -288px" data-downtip="Sweep2point"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/sweepSegmented.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -168px -288px" data-toptip="Sweep Segmented"></div></a>
<a href="../../components/flexibility/unifyUVN.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -72px -312px" data-downtip="Unify UVN"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/booleanSplit.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -192px -312px" data-toptip="Boolean Split"></div></a>
<a href="../../components/flexibility/brepSplitPlan.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -216px -312px" data-downtip="Brep Split Plan"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/chamferSurface.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') 0px -336px" data-toptip="Chamfer Surface"></div></a>
<a href="../../components/flexibility/filletSurface.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -48px -336px" data-downtip="Fillet Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/rebuildSurface.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -144px -336px" data-toptip="Rebuild Surface"></div></a>
<a href="../../components/flexibility/shell.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -216px -336px" data-downtip="Shell"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/softEditSurface.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') 0px -360px" data-toptip="Soft Edit Surface"></div></a>
<a href="../../components/flexibility/splitBrep.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -48px -360px" data-downtip="Split Brep"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="17">
Surface
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/dispatchIndex.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -216px -48px" data-toptip="Dispatch Index"></div></a>
<a href="../../components/flexibility/dispatchBranch.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') 0px -72px" data-downtip="Dispatch Branch &#55356;&#57151;"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/insertInTree.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -96px -96px" data-toptip="Insert in Tree"></div></a>
<a href="../../components/flexibility/partitionList.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -192px -144px" data-downtip="Partition List"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/randomReduce.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -216px -168px" data-toptip="Random Reduce"></div></a>
<a href="../../components/flexibility/remapNumbers.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -72px -192px" data-downtip="Remap Numbers"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/renumberedData.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -216px -192px" data-toptip="Renumbered Data"></div></a>
<a href="../../components/flexibility/treeStatistics.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -216px -288px" data-downtip="Tree Statistics"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/flexibility/branchByKey.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -144px -312px" data-toptip="Branch by key"></div></a>
<a href="../../components/flexibility/dispatchBranchud83cudf3f.html"><div class="ghsprite" style="background: url('../../icons/flexibility.png') -24px -336px" data-downtip="Dispatch Branch \ud83c\udf3f"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Tree
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://www.food4rhino.com/en/app/flexibility">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/flexibility.png') -216px -168px" ></div> Random Reduce</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/flexibility.html">Flexibility</a><a href="#" class="breadcrumb-nolink">Tree</a><a href="#" class="breadcrumb-nolink">Random Reduce</a>
</div>

</div>
<h3>Flexibility<br> Random Reduce At in and Not in</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>List</b></td><td>List</td><td>List</td><td>Generic Data</td></tr>
<tr><td><b>Reduction</b></td><td>R</td><td>Reduction Count? (int)</td><td>Integer</td></tr>
<tr><td><b>Seed</b></td><td>S</td><td>Seed</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>At in</b></td><td>At in</td><td>List(index) At in list </td><td>Generic Data</td></tr>
<tr><td><b>Not in</b></td><td>Not in</td><td>List(index) Not in list</td><td>Generic Data</td></tr>
<tr><td><b>index in</b></td><td>i</td><td>index</td><td>Integer</td></tr>
<tr><td><b>index Not</b></td><td>Ni</td><td>index Not</td><td>Integer</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Flexibility and associated data © 2023  <a href="https://www.food4rhino.com/en/app/flexibility">Ehsan Samadi</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
