<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Flow Paths - Gismo - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Use this component to perform the analysis of gravitational water flow.&lt;br&gt;It can be a useful indicator of drainage analysis of a building, terrain, landscape or any other sort of geometry.&lt;br&gt;-&lt;br&gt;Component based on:&lt;br&gt;&quot;Finding the downhill direction vector when given a plane defined by a normal and a point&quot;, stackoverflow.com topic by Zach Helms, 2016&lt;br&gt;http://stackoverflow.com/q/14369233/3137724&lt;br&gt;-&lt;br&gt;Provided by Gismo 0.0.3" />
<meta name="title" content="Flow Paths - Gismo - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Flow Paths - Gismo - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/gismo/flowPaths.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/addressToLocation.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') 0px 0px" data-toptip="Address To Location"></div></a>
<a href="../../components/gismo/createLocation.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -72px 0px" data-downtip="Create Location"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/deconstructLocation.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -96px 0px" data-toptip="Deconstruct Location"></div></a>
<a href="../../components/gismo/dMSToDD.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -120px 0px" data-downtip="DMS To DD"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/gismo.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -168px 0px" data-toptip="Gismo"></div></a>
<a href="../../components/gismo/locationToXY.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') 0px -24px" data-downtip="Location To XY"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/urlToLocation.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -24px -72px" data-toptip="Url To Location"></div></a>
<a href="../../components/gismo/xYToLocation.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -48px -72px" data-downtip="XY To Location"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/zToElevation.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -72px -72px" data-toptip="Z To Elevation"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
0 | Gismo
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/oSM3DForest.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -48px -24px" data-toptip="OSM 3D Forest"></div></a>
<a href="../../components/gismo/oSM3DRoad.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -72px -24px" data-downtip="OSM 3D Road"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/oSM3DRoof.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -96px -24px" data-toptip="OSM 3D Roof"></div></a>
<a href="../../components/gismo/oSM3D.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -120px -24px" data-downtip="OSM 3D"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/oSMCleanValues.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -144px -24px" data-toptip="OSM Clean Values"></div></a>
<a href="../../components/gismo/oSMIds.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -168px -24px" data-downtip="OSM Ids"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/oSMKeys.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -192px -24px" data-toptip="OSM Keys"></div></a>
<a href="../../components/gismo/oSMObjects.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -216px -24px" data-downtip="OSM Objects"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/oSMRenderMesh.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') 0px -48px" data-toptip="OSM Render Mesh"></div></a>
<a href="../../components/gismo/oSMSearch.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -24px -48px" data-downtip="OSM Search"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/oSMShapes.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -48px -48px" data-toptip="OSM Shapes"></div></a>
<a href="../../components/gismo/oSMTag.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -72px -48px" data-downtip="OSM Tag"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
1 | OpenStreetMap
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/flowPaths.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -144px 0px" data-toptip="Flow Paths"></div></a>
<a href="../../components/gismo/horizonAngles.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -192px 0px" data-downtip="Horizon Angles"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/terrainAnalysis.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -192px -48px" data-toptip="Terrain Analysis"></div></a>
<a href="../../components/gismo/terrainGenerator.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -216px -48px" data-downtip="Terrain Generator"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/terrainShadingMask.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') 0px -72px" data-toptip="Terrain Shading Mask"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
2 | Terrain
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/colorPalette.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -24px 0px" data-toptip="Color Palette"></div></a>
<a href="../../components/gismo/createLegend.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -48px 0px" data-downtip="Create Legend"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/legendBakeParameters.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -216px 0px" data-toptip="Legend Bake Parameters"></div></a>
<a href="../../components/gismo/newComponentExample.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -24px -24px" data-downtip="New Component Example"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/rhinoBooleanUnion.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -96px -48px" data-toptip="Rhino Boolean Union"></div></a>
<a href="../../components/gismo/rhinoTextToNumber.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -120px -48px" data-downtip="Rhino Text To Number"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/rhinoUnitToMeters.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -144px -48px" data-toptip="Rhino Unit To Meters"></div></a>
<a href="../../components/gismo/supportGismo.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -168px -48px" data-downtip="Support Gismo"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
3 | More
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://github.com/stgeorges/gismo/">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/gismo.png') -144px 0px" ></div> Flow Paths</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/gismo.html">Gismo</a><a href="#" class="breadcrumb-nolink">2 | Terrain</a><a href="#" class="breadcrumb-nolink">FlowPaths</a>
</div>

</div>
<h3>Use this component to perform the analysis of gravitational water flow.<br>It can be a useful indicator of drainage analysis of a building, terrain, landscape or any other sort of geometry.<br>-<br>Component based on:<br>"Finding the downhill direction vector when given a plane defined by a normal and a point", stackoverflow.com topic by Zach Helms, 2016<br>http://stackoverflow.com/q/14369233/3137724<br>-<br>Provided by Gismo 0.0.3</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Geometry</b></td><td>_geometry</td><td>A surface and/or polysurface and/or mesh for which you would like to conduct the flow path analysis. That can be a building, terrain, landscape or any other sort of geometry.</td><td>Goo</td></tr>
<tr><td><b>Num Of Initial Pts</b></td><td>numOfInitialPts_</td><td>Number of initial points.
Each flowpath has a starting point - a point where a rain hit the ground. numOfInitialPts_ input represents the number of these points, therefor representing the number of flowpaths.
-
If nothing supplied, numOfInitialPts_ input will be set to 100 (initial points and flowpaths)</td><td>Goo</td></tr>
<tr><td><b>Initial Pts Spread</b></td><td>initialPtsSpread_</td><td>Initial points spread type - choose one of the two types:
-
0 - Rectangular grid (flow paths will start as a regular grid of points)
1 - Random (flow paths will start as a random group of points)
-
If nothing supplied, initialPtsSpread_ input will be set to 1 (Random).</td><td>Goo</td></tr>
<tr><td><b>Step Size</b></td><td>stepSize_</td><td>Step size of each of the flow paths.
Step size can singificantly affect the final flow paths disposition. For smaller scale objects, it is advisable to use smaller step sizes (up to 1). For larger scale objects (terrains with sparse resolution), step size can be increased to more than 1.
-
If nothing supplied, stepSize_ input will be set to 1 (Rhino documents units: m, ft, in...).
-
In Rhino document units.</td><td>Goo</td></tr>
<tr><td><b>Flow Paths Type</b></td><td>flowPathsType_</td><td>Choose one of the two flow path types:
-
0 - Polyline
1 - Curves
-
If nothing supplied, flowPathsType_ input will be set to 0 (Polylines).</td><td>Goo</td></tr>
<tr><td><b></b></td><td>_____________</td><td>Script variable TerrainAnalysis</td><td>Goo</td></tr>
<tr><td><b>Bake It</b></td><td>bakeIt_</td><td>Set to "True" to bake the flowpaths geometry into the Rhino scene.
-
If not supplied default value "False" will be used.</td><td>Goo</td></tr>
<tr><td><b>Run It</b></td><td>_runIt</td><td>...</td><td>Goo</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Out</b></td><td>readMe!</td><td>...</td><td>String</td></tr>
<tr><td><b>Flow Paths</b></td><td>flowPaths</td><td>A list of polylines/curves representing the flow paths and directions on the given _geometry input.</td><td>Goo</td></tr>
<tr><td><b>Title</b></td><td>title</td><td>Title geometry with information about the chosen inputs</td><td>Goo</td></tr>
<tr><td><b>Title Origin</b></td><td>titleOrigin</td><td>Title base point, which can be used to move the "title" geometry with grasshopper's "Move" component.
-
Connect this output to a Grasshopper's "Point" parameter in order to preview the point in the Rhino scene.</td><td>Goo</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Gismo and associated data © 2022  <a href="https://github.com/stgeorges/gismo/">Djordje Spasic</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
