<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>New Component Example - Gismo - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="[Gismo welcomes new developers. Even a single new component can benefit and make Gismo a better plugin.]&lt;br&gt;[New components are welcome as long as they follow the code template.]&lt;br&gt;[This component provides the code template for possible new Gismo component which calculates the distance between a point (&quot;_point&quot; input) and a sphere.]&lt;br&gt;[There will be explanations of parts of code, like how to check inputs, how to create a title, a legend... Explanations are written in square brackets. For example: [this is explanation].]&lt;br&gt;[Rhinoscriptsyntax is used as more friendly, but you can also write directly in RhinoCommon, if you want to. Still rhinoscriptsyntax is fine.]&lt;br&gt;-&lt;br&gt;Provided by Gismo 0.0.3" />
<meta name="title" content="New Component Example - Gismo - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="New Component Example - Gismo - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/gismo/newComponentExample.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>



</head>
<body>


<div id="docs" class="docs-theme docs-widget_page docs-widget_page_page docs-widget_page_page_show" data-layout-pack="classic">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/addressToLocation.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') 0px 0px" data-toptip="Address To Location"></div></a>
<a href="../../components/gismo/createLocation.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -72px 0px" data-downtip="Create Location"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/deconstructLocation.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -96px 0px" data-toptip="Deconstruct Location"></div></a>
<a href="../../components/gismo/dMSToDD.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -120px 0px" data-downtip="DMS To DD"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/gismo.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -168px 0px" data-toptip="Gismo"></div></a>
<a href="../../components/gismo/locationToXY.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') 0px -24px" data-downtip="Location To XY"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/xYToLocation.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -24px -72px" data-toptip="XY To Location"></div></a>
<a href="../../components/gismo/zToElevation.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -48px -72px" data-downtip="Z To Elevation"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
0 | Gismo
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/oSM3DForest.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -48px -24px" data-toptip="OSM 3D Forest"></div></a>
<a href="../../components/gismo/oSM3DRoad.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -72px -24px" data-downtip="OSM 3D Road"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/oSM3DRoof.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -96px -24px" data-toptip="OSM 3D Roof"></div></a>
<a href="../../components/gismo/oSM3D.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -120px -24px" data-downtip="OSM 3D"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/oSMCleanValues.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -144px -24px" data-toptip="OSM Clean Values"></div></a>
<a href="../../components/gismo/oSMIds.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -168px -24px" data-downtip="OSM Ids"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/oSMKeys.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -192px -24px" data-toptip="OSM Keys"></div></a>
<a href="../../components/gismo/oSMObjects.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -216px -24px" data-downtip="OSM Objects"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/oSMRenderMesh.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') 0px -48px" data-toptip="OSM Render Mesh"></div></a>
<a href="../../components/gismo/oSMSearch.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -24px -48px" data-downtip="OSM Search"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/oSMShapes.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -48px -48px" data-toptip="OSM Shapes"></div></a>
<a href="../../components/gismo/oSMTag.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -72px -48px" data-downtip="OSM Tag"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
1 | OpenStreetMap
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/flowPaths.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -144px 0px" data-toptip="Flow Paths"></div></a>
<a href="../../components/gismo/horizonAngles.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -192px 0px" data-downtip="Horizon Angles"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/terrainAnalysis.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -192px -48px" data-toptip="Terrain Analysis"></div></a>
<a href="../../components/gismo/terrainGenerator.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -216px -48px" data-downtip="Terrain Generator"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/terrainShadingMask.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') 0px -72px" data-toptip="Terrain Shading Mask"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
2 | Terrain
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/colorPalette.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -24px 0px" data-toptip="Color Palette"></div></a>
<a href="../../components/gismo/createLegend.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -48px 0px" data-downtip="Create Legend"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/legendBakeParameters.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -216px 0px" data-toptip="Legend Bake Parameters"></div></a>
<a href="../../components/gismo/newComponentExample.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -24px -24px" data-downtip="New Component Example"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/rhinoBooleanUnion.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -96px -48px" data-toptip="Rhino Boolean Union"></div></a>
<a href="../../components/gismo/rhinoTextToNumber.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -120px -48px" data-downtip="Rhino Text To Number"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/gismo/rhinoUnitToMeters.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -144px -48px" data-toptip="Rhino Unit To Meters"></div></a>
<a href="../../components/gismo/supportGismo.html"><div class="ghsprite" style="background: url('../../icons/gismo.png') -168px -48px" data-downtip="Support Gismo"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
3 | More
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">

<a href="https://github.com/stgeorges/gismo/">Download</a>
</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/gismo.png') -24px -24px" ></div> New Component Example</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/gismo.html">Gismo</a><a href="#" class="breadcrumb-nolink">3 | More</a><a href="#" class="breadcrumb-nolink">NewComponentExample</a>
</div>

</div>
<h3>[Gismo welcomes new developers. Even a single new component can benefit and make Gismo a better plugin.]<br>[New components are welcome as long as they follow the code template.]<br>[This component provides the code template for possible new Gismo component which calculates the distance between a point ("_point" input) and a sphere.]<br>[There will be explanations of parts of code, like how to check inputs, how to create a title, a legend... Explanations are written in square brackets. For example: [this is explanation].]<br>[Rhinoscriptsyntax is used as more friendly, but you can also write directly in RhinoCommon, if you want to. Still rhinoscriptsyntax is fine.]<br>-<br>Provided by Gismo 0.0.3</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Point</b></td><td>_point</td><td>A reference point which will be used to measure the distance from it to a sphere.
[This is a required input. All required inputs, have an underscore on the left side of its name]</td><td>Goo</td></tr>
<tr><td><b>Sphere Center</b></td><td>_sphereCenter</td><td>A point representing the center of a sphere.
[This is a required input too: it has an underscore on the left side of its name]</td><td>Goo</td></tr>
<tr><td><b>Sphere Radius</b></td><td>sphereRadius_</td><td>A number which defines the radius of the sphere.
[This is an optinal input. It has an underscore on the right side of its name]
-
If nothing added to this input, shpereRadius_ will be set to: 10 by default.</td><td>Goo</td></tr>
<tr><td><b>Legend Bake Par</b></td><td>legendBakePar_</td><td>Optional legend parameters from the Gismo "Legend Bake Parameters" component.
Use this input to control the look of the "legend" and "title" outputs. And the colors of the "sphere" output.
[This is an optinal input. It has an underscore on the right side of its name]</td><td>Goo</td></tr>
<tr><td><b></b></td><td>______________</td><td>Script variable LocationToXY</td><td>Goo</td></tr>
<tr><td><b>Bake It</b></td><td>bakeIt_</td><td>Set to "True" to bake the shapes geometry into the Rhino scene.
-
If not supplied default value "False" will be used.</td><td>Goo</td></tr>
<tr><td><b>Run It</b></td><td>_runIt</td><td>...
[This input runs the component. It is used in cases when component is a bit heavier to run. For example: it take a couple of seconds for the component to run.]
[If component runs quicker than that, then you do not even need this input.]</td><td>Goo</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Out</b></td><td>readMe!</td><td>...
[This output is used for debugging. It shows the error message in case something is wrong with the component.]</td><td>String</td></tr>
<tr><td><b>Distances</b></td><td>distances</td><td>A list of distances between the _point and a sphere.
-
In Rhino document units (meters, feets...).</td><td>Goo</td></tr>
<tr><td><b>Sphere</b></td><td>sphere</td><td>A sphere created from "_sphereCenter" and "shpereRadius_" inputs.
The sphere is colored in a way that colors correspond to distances between the sphere and _point input.</td><td>Goo</td></tr>
<tr><td><b>Title</b></td><td>title</td><td>Final geometry title.
You can change it by using the "legendBakePar_" input (and Gismo "Legend Bake Parameters" component).</td><td>Goo</td></tr>
<tr><td><b>Legend</b></td><td>legend</td><td>A legend corresponding to distances between the _point and a sphere.</td><td>Goo</td></tr>
</tbody>
</table>


</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Gismo and associated data © 2020  <a href="https://github.com/stgeorges/gismo/">Djordje Spasic</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
