<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Visualize Domain - Libra - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Visualize a domain" />
<meta name="title" content="Visualize Domain - Libra - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Visualize Domain - Libra - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/libra/visualizeDomain.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v2.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="https://github.com/StructuralXplorationLab/Libra">Source Code</a>
<a href="https://www.food4rhino.com/en/app/libra">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Geometry - Exotic.png');"></div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/libra/constructDomain.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -24px 0px" data-toptip="Construct Domain"></div></a>
<a href="../../components/libra/deconstructDomain.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -216px 0px" data-downtip="Deconstruct Domain"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/libra/visualizeDomain.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -120px -48px" data-toptip="Visualize Domain"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Domain
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/libra/constructForceSet.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -48px 0px" data-toptip="Construct Force Set"></div></a>
<a href="../../components/libra/deconstructForceSet.html"><div class="ghsprite" style="background: url('../../icons/libra.png') 0px -24px" data-downtip="Deconstruct Force Set"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/libra/forceSetDomains.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -120px -24px" data-toptip="Force Set Domains"></div></a>
<a href="../../components/libra/visualizeForceSet.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -144px -48px" data-downtip="Visualize Force Set"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Forces
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/libra/applyTransformationPolicy.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -168px -48px" data-toptip="Apply Transformation Policy"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Libra
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/libra/constructModel.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -72px 0px" data-toptip="Construct Model"></div></a>
<a href="../../components/libra/deconstructModel.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -24px -24px" data-downtip="Deconstruct Model"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/libra/modelExportToIllustrator.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -144px -24px" data-toptip="Model Export to Illustrator"></div></a>
<a href="../../components/libra/modelGeometry.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -168px -24px" data-downtip="Model Geometry"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/libra/modelHistory.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -192px -24px" data-toptip="Model History"></div></a>
<a href="../../components/libra/modelMetricstext.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -216px -24px" data-downtip="Model Metrics (text)"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/libra/modelMetricsspiderGraph.html"><div class="ghsprite" style="background: url('../../icons/libra.png') 0px -48px" data-toptip="Model Metrics (spider graph)"></div></a>
<a href="../../components/libra/modelTopology.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -24px -48px" data-downtip="Model Topology"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/libra/modelUndo.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -48px -48px" data-toptip="Model Undo"></div></a>
<a href="../../components/libra/selectBar.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -72px -48px" data-downtip="Select Bar"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/libra/selectForce.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -96px -48px" data-toptip="Select Force"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Model
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/libra/automaticPlacement.html"><div class="ghsprite" style="background: url('../../icons/libra.png') 0px 0px" data-toptip="Automatic Placement"></div></a>
<a href="../../components/libra/constructNodePlacementRule.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -96px 0px" data-downtip="Construct Node Placement Rule"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/libra/constructTransformationPolicy.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -120px 0px" data-toptip="Construct Transformation Policy"></div></a>
<a href="../../components/libra/constructForceIndeterminaciesRule.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -144px 0px" data-downtip="Construct Force Indeterminacies Rule"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/libra/constructForceSelectionRule.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -168px 0px" data-toptip="Construct Force Selection Rule"></div></a>
<a href="../../components/libra/constructTransformationConstraint.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -192px 0px" data-downtip="Construct Transformation Constraint"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/libra/constructTransformationPolicyfast.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -96px -24px" data-toptip="Construct Transformation Policy (fast)"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Transform
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/libra/designSpaceExploration.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -48px -24px" data-toptip="Design Space Exploration"></div></a>
<a href="../../components/libra/designSpaceExplorationReader.html"><div class="ghsprite" style="background: url('../../icons/libra.png') -72px -24px" data-downtip="Design Space Exploration Reader"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Xploration
</td>
</tr>
</table>
</div>
</div>


<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/libra.png') -120px -48px" ></div> Visualize Domain</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/libra.html">Libra</a><a href="#" class="breadcrumb-nolink">Domain</a><a href="#" class="breadcrumb-nolink">VisualizeDomain</a>
</div>

</div>

</div>
<h3>Visualize a domain</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Domain</b></td><td>Domain</td><td>Domain to visualize</td><td>Generic Data</td></tr>
<tr><td><b>Segments' Thickness</b></td><td>Thickness</td><td>The segments' thickness</td><td>Integer</td></tr>
<tr><td><b>Hatch scale</b></td><td>HatchScale</td><td>The hatch scale</td><td>Number</td></tr>
<tr><td><b>Hatch rotation</b></td><td>HatchRotation</td><td>The hatch rotation in radians</td><td>Number</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Libra and associated data © 2023  <a href="https://www.food4rhino.com/en/app/libra">Ioannis Mirtsopoulos</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
