<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tree wax - Peacock - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Create a tree and place geometry at the ends of branches" />
<meta name="title" content="Tree wax - Peacock - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Tree wax - Peacock - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/peacock/treeWax.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="../../html5gallery/jquery.js"></script>
<script type="text/javascript" src="../../html5gallery/html5gallery.js"></script>

</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/animation.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') 0px 0px" data-toptip="Animation"></div></a>
<a href="../../components/peacock/curvatureAnalysis.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -168px -24px" data-downtip="Curvature analysis"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/directionAnalysis.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -120px -48px" data-toptip="Direction analysis"></div></a>
<a href="../../components/peacock/slicer.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -48px -240px" data-downtip="Slicer"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/thicknessAnalysis.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') 0px -264px" data-toptip="Thickness analysis"></div></a>
<a href="../../components/peacock/thicknessDynamic.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -24px -264px" data-downtip="Thickness dynamic"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Analysis
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/constrain.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -120px -24px" data-toptip="Constrain"></div></a>
<a href="../../components/peacock/dispatchIndices.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -144px -48px" data-downtip="Dispatch Indices"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/insertInTree.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -216px -96px" data-toptip="Insert in Tree"></div></a>
<a href="../../components/peacock/mapToSum.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -120px -120px" data-downtip="MapToSum"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/nearestNumber.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -24px -144px" data-toptip="NearestNumber"></div></a>
<a href="../../components/peacock/nextItem.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -48px -144px" data-downtip="Next item"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/normalize.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -72px -144px" data-toptip="Normalize"></div></a>
<a href="../../components/peacock/rangeArc.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') 0px -192px" data-downtip="Range Arc"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/rangeGaussian.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -24px -192px" data-toptip="Range Gaussian"></div></a>
<a href="../../components/peacock/rangeRandom.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -48px -192px" data-downtip="Range Random"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/rangeSigmoid.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -72px -192px" data-toptip="Range Sigmoid"></div></a>
<a href="../../components/peacock/rangeSine.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -96px -192px" data-downtip="Range Sine"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/shiftPaths.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -192px -216px" data-toptip="Shift paths"></div></a>
<a href="../../components/peacock/splitDomain.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -96px -240px" data-downtip="Split domain"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/splitDomain.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -120px -240px" data-toptip="Split domain&#178;"></div></a>
<a href="../../components/peacock/symmetryNumbers.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -168px -240px" data-downtip="Symmetry numbers"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
Data
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/arm.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -48px 0px" data-toptip="Arm"></div></a>
<a href="../../components/peacock/bust.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -168px 0px" data-downtip="Bust"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/displaySizes.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -168px -48px" data-toptip="Display sizes"></div></a>
<a href="../../components/peacock/ear.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -192px -48px" data-downtip="Ear"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/finger.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -96px -72px" data-toptip="Finger"></div></a>
<a href="../../components/peacock/gemPreview.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -48px -96px" data-downtip="Gem preview"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/metalPreview.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -192px -120px" data-toptip="Metal preview"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Display
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/bezel.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -72px 0px" data-toptip="Bezel"></div></a>
<a href="../../components/peacock/brilliant.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -144px 0px" data-downtip="Brilliant"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/cabuchonStudio.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -192px 0px" data-toptip="Cabuchon studio"></div></a>
<a href="../../components/peacock/channelOnSurface.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -48px -24px" data-downtip="Channel On Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/channel.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -72px -24px" data-toptip="Channel"></div></a>
<a href="../../components/peacock/cutterSoft.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') 0px -48px" data-downtip="Cutter soft"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/cutter.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -24px -48px" data-toptip="Cutter"></div></a>
<a href="../../components/peacock/cuttersInLine0.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -48px -48px" data-downtip="Cutters In Line 0"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/cuttersInLine1.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -72px -48px" data-toptip="Cutters In Line 1"></div></a>
<a href="../../components/peacock/cuttersInLine2.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -96px -48px" data-downtip="Cutters In Line 2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/galleryRails.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') 0px -96px" data-toptip="Gallery rails"></div></a>
<a href="../../components/peacock/gemsBy2Curves.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -72px -96px" data-downtip="Gems by 2 curves"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/gemsByCurve.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -96px -96px" data-toptip="Gems by curve"></div></a>
<a href="../../components/peacock/gemsStudio.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -120px -96px" data-downtip="Gems studio"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/paveRandom.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -168px -144px" data-toptip="Pave random"></div></a>
<a href="../../components/peacock/prongSimple.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -168px -168px" data-downtip="Prong simple"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/prongsAlongGemsRail.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -192px -168px" data-toptip="Prongs along gems rail"></div></a>
<a href="../../components/peacock/prongs.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -216px -168px" data-downtip="Prongs"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="9">
Gems
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/calotte.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -216px 0px" data-toptip="Calotte"></div></a>
<a href="../../components/peacock/chain.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -24px -24px" data-downtip="Chain"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/filigree.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -48px -72px" data-toptip="Filigree"></div></a>
<a href="../../components/peacock/milgrain.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -216px -120px" data-downtip="Milgrain"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/pipeCustom.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -192px -144px" data-toptip="Pipe Custom"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Jewelry
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/costs.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -144px -24px" data-toptip="Costs"></div></a>
<a href="../../components/peacock/genRandom.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -144px -96px" data-downtip="genRandom"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/marketPrice.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -144px -120px" data-toptip="Market price"></div></a>
<a href="../../components/peacock/organize.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -144px -144px" data-downtip="Organize"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/timekeeper.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -48px -264px" data-toptip="Timekeeper"></div></a>
<a href="../../components/peacock/treeWax.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -72px -264px" data-downtip="Tree wax"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/weight.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -192px -264px" data-toptip="Weight"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Production
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/profile2Arcs.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -216px -144px" data-toptip="Profile 2Arcs"></div></a>
<a href="../../components/peacock/profileGem.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') 0px -168px" data-downtip="Profile Gem"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/profileGrooves.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -24px -168px" data-toptip="Profile Grooves"></div></a>
<a href="../../components/peacock/profileHalfRound.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -48px -168px" data-downtip="Profile HalfRound"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/profileHalfRoundTruncated.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -72px -168px" data-toptip="Profile HalfRoundTruncated"></div></a>
<a href="../../components/peacock/profileNBezier.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -96px -168px" data-downtip="Profile n-Bezier"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/profileOvoid.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -120px -168px" data-toptip="Profile Ovoid"></div></a>
<a href="../../components/peacock/profileTrack.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -144px -168px" data-downtip="Profile Track"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Profiles
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/armGauge.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -24px 0px" data-toptip="Arm gauge"></div></a>
<a href="../../components/peacock/gauge.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -24px -96px" data-downtip="Gauge"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/resizeRing.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -168px -192px" data-toptip="Resize ring"></div></a>
<a href="../../components/peacock/ringBase.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') 0px -216px" data-downtip="Ring base"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/ringByCurves.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -24px -216px" data-toptip="Ring by curves"></div></a>
<a href="../../components/peacock/ringHalfRound.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -48px -216px" data-downtip="Ring half round"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/ringProfile.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -72px -216px" data-toptip="Ring Profile"></div></a>
<a href="../../components/peacock/ringSignet.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -96px -216px" data-downtip="Ring Signet"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/sizeToRadius.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -216px -216px" data-toptip="Size to radius"></div></a>
<a href="../../components/peacock/sizeToSize.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') 0px -240px" data-downtip="Size to size"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Rings
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/brepClosestPoint.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -96px 0px" data-toptip="Brep closest point"></div></a>
<a href="../../components/peacock/brepTopology.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -120px 0px" data-downtip="Brep topology"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/capCustom.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') 0px -24px" data-toptip="Cap custom"></div></a>
<a href="../../components/peacock/closestGeometry.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -96px -24px" data-downtip="Closest geometry"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/curveArray2d.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -192px -24px" data-toptip="Curve array 2d"></div></a>
<a href="../../components/peacock/curveDiscontinuities.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -216px -24px" data-downtip="Curve Discontinuities"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/extendSurface.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -216px -48px" data-toptip="Extend surface"></div></a>
<a href="../../components/peacock/extrudeFromPoint.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') 0px -72px" data-downtip="Extrude from point"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/extrusionBothSides.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -24px -72px" data-toptip="Extrusion both sides"></div></a>
<a href="../../components/peacock/filletPolyline.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -72px -72px" data-downtip="Fillet polyline"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/fitCurves.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -120px -72px" data-toptip="Fit curves"></div></a>
<a href="../../components/peacock/flipPlane.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -144px -72px" data-downtip="Flip plane"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/flowAlongCurve.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -168px -72px" data-toptip="Flow along curve"></div></a>
<a href="../../components/peacock/flowAlongSurface.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -192px -72px" data-downtip="Flow along surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/frames.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -216px -72px" data-toptip="Frames"></div></a>
<a href="../../components/peacock/gridOnSurface.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -168px -96px" data-downtip="Grid On Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/hollowThickness.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -192px -96px" data-toptip="Hollow thickness"></div></a>
<a href="../../components/peacock/interpolateFrames.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') 0px -120px" data-downtip="Interpolate frames"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/interpolatePlanes.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -24px -120px" data-toptip="Interpolate planes"></div></a>
<a href="../../components/peacock/isoCurve.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -48px -120px" data-downtip="IsoCurve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/isotrim.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -72px -120px" data-toptip="Isotrim"></div></a>
<a href="../../components/peacock/likeAnEmboss.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -96px -120px" data-downtip="Like an emboss"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/meshTopology.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -168px -120px" data-toptip="Mesh topology"></div></a>
<a href="../../components/peacock/moveFromGeometry.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') 0px -144px" data-downtip="Move from geometry"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/offsetOnSurfaceVariable.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -96px -144px" data-toptip="Offset On Surface Variable"></div></a>
<a href="../../components/peacock/offsetVariable.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -120px -144px" data-downtip="Offset Variable"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/rasterize.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -120px -192px" data-toptip="Rasterize"></div></a>
<a href="../../components/peacock/rebuildSurface.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -144px -192px" data-downtip="Rebuild surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/resize.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -192px -192px" data-toptip="Resize"></div></a>
<a href="../../components/peacock/reverseSurface.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -216px -192px" data-downtip="Reverse Surface"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/seamFromPoint.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -120px -216px" data-toptip="Seam from point"></div></a>
<a href="../../components/peacock/shatterVariable.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -144px -216px" data-downtip="Shatter Variable"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/shellCurve.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -168px -216px" data-toptip="Shell curve"></div></a>
<a href="../../components/peacock/size.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -24px -240px" data-downtip="Size"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/splitMirror.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -72px -240px" data-toptip="Split &amp; mirror"></div></a>
<a href="../../components/peacock/surfaceOffsetSolid.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -144px -240px" data-downtip="Surface Offset Solid"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/textByCurve.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -192px -240px" data-toptip="Text by curve"></div></a>
<a href="../../components/peacock/texture.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -216px -240px" data-downtip="Texture"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/trimFromMiddle.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -96px -264px" data-toptip="Trim from middle"></div></a>
<a href="../../components/peacock/tryGetCircle.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -120px -264px" data-downtip="Try get circle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/peacock/tweenMultipleCurves.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -144px -264px" data-toptip="Tween multiple curves"></div></a>
<a href="../../components/peacock/unroller.html"><div class="ghsprite" style="background: url('../../icons/peacock.png') -168px -264px" data-downtip="Unroller"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="21">
Workbench
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.food4rhino.com/app/peacock">Download</a>
</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/peacock.png') -72px -264px" ></div> Tree wax</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/peacock.html">Peacock</a><a href="#" class="breadcrumb-nolink">Production</a><a href="#" class="breadcrumb-nolink">Tree wax</a>
</div>

</div>
<h3>Create a tree and place geometry at the ends of branches</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Geometry</b></td><td>Geo</td><td>Geometry for placing on the tree</td><td>GeometricGoo</td></tr>
<tr><td><b>Reference Point</b></td><td>Pt</td><td>Reference point that will be the closest point for placing geometry</td><td>Point</td></tr>
<tr><td><b>Reference vector</b></td><td>Vec</td><td>Reference vector for placing the geometry</td><td>Vector</td></tr>
<tr><td><b>Number</b></td><td>Num</td><td>Number of copies or several numbers for several geometries</td><td>Integer</td></tr>
<tr><td><b>Height</b></td><td>Height</td><td>Height of tree</td><td>Number</td></tr>
<tr><td><b>Domain</b></td><td>Dom</td><td>Normalized domain to the position of the branches</td><td>Interval</td></tr>
<tr><td><b>Angle</b></td><td>Angle</td><td>Angle in radians for the rotation of the branches</td><td>Number</td></tr>
<tr><td><b>Length branches</b></td><td>Length</td><td>Length of branches</td><td>Number</td></tr>
<tr><td><b>Elevation branches</b></td><td>Elevat</td><td>Elevation of branches</td><td>Number</td></tr>
<tr><td><b>Width Trunk</b></td><td>Trunk</td><td>Width of the trunk of tree</td><td>Number</td></tr>
<tr><td><b>Width Branches</b></td><td>Branch</td><td>Width of the Branches of tree</td><td>Number</td></tr>
<tr><td><b>Activate solid tree</b></td><td>Act</td><td>Activate the solid tree</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curves tree</b></td><td>Crvs</td><td>Curves tree for preview</td><td>Curve</td></tr>
<tr><td><b>Geometry</b></td><td>Geo</td><td>Geometry placed in the tree</td><td>GeometricGoo</td></tr>
<tr><td><b>Solid Tree</b></td><td>Tree</td><td>Resulting solid tree</td><td>Brep</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/gfjqi7eOrak"><img src="http://img.youtube.com/vi/gfjqi7eOrak/1.jpg" alt="Parametric Jewelry Design Using  & Peacock For Rhino"></a>


</div>
</div>

</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Peacock and associated data © 2020  <a href="https://www.food4rhino.com/app/peacock">Daniel Gonzalez Abalde</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
