<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Data Tree To Graph - SpiderWeb - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="parse a DataTree" />
<meta name="title" content="Data Tree To Graph - SpiderWeb - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Data Tree To Graph - SpiderWeb - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/spiderweb/dataTreeToGraph.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>



</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/dataTreeToGraph.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -72px 0px" data-toptip="Data Tree To Graph"></div></a>
<a href="../../components/spiderweb/dualGraph.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -216px 0px" data-downtip="Dual Graph"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/graphFromCells.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -48px -24px" data-toptip="graph From Cells"></div></a>
<a href="../../components/spiderweb/graphFromLines.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -72px -24px" data-downtip="graph From Lines"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/graphFromMesh.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -96px -24px" data-toptip="graph From Mesh"></div></a>
<a href="../../components/spiderweb/graphFromPoints.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -120px -24px" data-downtip="graph From Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/graphMatrix.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -144px -24px" data-toptip="graph Matrix"></div></a>
<a href="../../components/spiderweb/graphToDataTree.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -192px -24px" data-downtip="Graph To Data Tree"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/visualGraphGrid.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') 0px -72px" data-toptip="visual Graph Grid"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Basic
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/agglomerativeClustering.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -24px 0px" data-toptip="agglomerative Clustering"></div></a>
<a href="../../components/spiderweb/distanceClustering.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -192px 0px" data-downtip="distance Clustering"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Clustering
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/displayGraph.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -96px 0px" data-toptip="Display Graph"></div></a>
<a href="../../components/spiderweb/displayGraphEdge.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -120px 0px" data-downtip="Display graph Edge"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/displayGraphVertex.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -144px 0px" data-toptip="Display graph Vertex"></div></a>
<a href="../../components/spiderweb/displayVisualGraph.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -168px 0px" data-downtip="Display visual Graph"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/graphStyle.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -168px -24px" data-toptip="Graph Style"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Display
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/imageGraphFilter.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -48px -48px" data-toptip="Image-Graph Filter"></div></a>
<a href="../../components/spiderweb/pointsOfInterest.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -72px -48px" data-downtip="Points of Interest"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Filter
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/findEdges.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -24px -24px" data-toptip="find Edges"></div></a>
<a href="../../components/spiderweb/manipulateEdges.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -216px -24px" data-downtip="manipulate Edges"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/manipulateVertices.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -24px -48px" data-toptip="manipulate Vertices"></div></a>
<a href="../../components/spiderweb/split.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -192px -48px" data-downtip="Split"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Manipulation
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/eigensystem.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') 0px -24px" data-toptip="Eigensystem"></div></a>
<a href="../../components/spiderweb/spectralMatching.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -168px -48px" data-downtip="Spectral Matching"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Spectral
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/eulerianPath.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') 0px 0px" data-toptip="Eulerian Path"></div></a>
<a href="../../components/spiderweb/breadthfirstSearch.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -48px 0px" data-downtip="Breadth-first Search"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/minST.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') 0px -48px" data-toptip="Min ST"></div></a>
<a href="../../components/spiderweb/shortestPathBetweenPoints.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -96px -48px" data-downtip="Shortest Path Between Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/randomizedSequentialGraphColoring.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -120px -48px" data-toptip="randomized Sequential Graph Coloring"></div></a>
<a href="../../components/spiderweb/recursiveShadowCasting.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -144px -48px" data-downtip="recursive Shadow Casting"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/spiderweb/singleSourceShortestPath.html"><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -216px -48px" data-toptip="Single Source Shortest Path"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Tools
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://www.food4rhino.com/app/spiderweb">Download</a>

</div>



<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/spiderWeb.png') -72px 0px" ></div> Data Tree To Graph</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/spiderweb.html">SpiderWeb</a><a href="#" class="breadcrumb-nolink">Basic</a><a href="#" class="breadcrumb-nolink">DTG</a>
</div>

</div>
<h3>parse a DataTree</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>DataTree</b></td><td>T</td><td>DataTree to built the Graph from</td><td>Generic</td></tr>
<tr><td><b>Cost</b></td><td>C</td><td>Edge costs of the Graph. Structure must match the Structure of T</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Graph</b></td><td>G</td><td>Graph representation of DataTree</td><td>Generic</td></tr>
</tbody>
</table>


</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

SpiderWeb and associated data © 2020  <a href="https://www.food4rhino.com/app/spiderweb">Richard Schaffranek</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
