<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>JArray - Swiftlet - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Collection of JSON Arrays" />
<meta name="title" content="JArray - Swiftlet - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="JArray - Swiftlet - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/swiftlet/jArray.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v3.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="https://www.food4rhino.com/en/app/swiftlet?lang=en">Download</a>

</div>


<div class="side-content">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

<div id="help-notice">
<div class="help-title">We need your help! 🔥</div>
<div class="help-text">Please consider disabling your ad-blocker to support this website! 🔑 <br> We are a free, community-supported website! 🥰 <br> We only display small unobtrusive ads which help us stay online! 💯 <br> Thank you in advance! ❤️</div>
</div>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Integration-WebAPI.png');"></div>

<div class="compo-header">

<div class="breadcrumb">
 <a href="../../index.html">Home</a>
  <a href="../../categories/integration-web-api.html">Web API addons</a><a href="../../addons/swiftlet.html"><b>Swiftlet</b></a><a href="#" class="breadcrumb-nolink">4. Read JSON</a><a href="#" class="breadcrumb-nolink"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -216px -168px" ></div> JArray</a>
</div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/aPIKey.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') 0px 0px" data-toptip="API Key"></div></a>
<a href="../../components/swiftlet/basicAuth.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -24px 0px" data-downtip="Basic Auth"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/bearerTokenAuth.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -48px 0px" data-toptip="Bearer Token Auth"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
1. Auth
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/createByteArrayBody.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -72px 0px" data-toptip="Create Byte Array Body"></div></a>
<a href="../../components/swiftlet/createHttpHeader.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -96px 0px" data-downtip="Create Http Header"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/createJSONArray.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -120px 0px" data-toptip="Create JSON Array"></div></a>
<a href="../../components/swiftlet/createJSONObject.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -144px 0px" data-downtip="Create JSON Object"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/createJSONValue.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -168px 0px" data-toptip="Create JSON Value"></div></a>
<a href="../../components/swiftlet/createMultipartFormBodyUnnamed.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -192px 0px" data-downtip="Create Multipart Form Body Unnamed"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/createQueryParam.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -216px 0px" data-toptip="Create Query Param"></div></a>
<a href="../../components/swiftlet/createByteArrayBodyFromFile.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') 0px -24px" data-downtip="Create Byte Array Body from File"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/createMultipartFormBodyNamed.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -24px -24px" data-toptip="Create Multipart Form Body Named"></div></a>
<a href="../../components/swiftlet/createTextBodyCustom.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -48px -24px" data-downtip="Create Text Body Custom"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/createTextBody.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -72px -24px" data-toptip="Create Text Body"></div></a>
<a href="../../components/swiftlet/createURL.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -96px -24px" data-downtip="Create URL"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/removeJSONKey.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -96px -168px" data-toptip="Remove JSON Key"></div></a>
<a href="../../components/swiftlet/setJSONKey.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -120px -168px" data-downtip="Set JSON Key"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/httpHeader.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -168px -168px" data-toptip="Http Header"></div></a>
<a href="../../components/swiftlet/httpResponse.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -192px -168px" data-downtip="Http Response"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/queryParam.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -72px -192px" data-toptip="Query Param"></div></a>
<a href="../../components/swiftlet/requestBody.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -144px -192px" data-downtip="Request Body"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="9">
2. Request
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/deconstructHttpHeader.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -120px -24px" data-toptip="Deconstruct Http Header"></div></a>
<a href="../../components/swiftlet/deconstructQueryParam.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -144px -24px" data-downtip="Deconstruct Query Param"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/throttle.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -168px -24px" data-toptip="Throttle"></div></a>
<a href="../../components/swiftlet/deconstructURL.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -192px -24px" data-downtip="Deconstruct URL"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/deconstructResponse.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -216px -24px" data-toptip="Deconstruct Response"></div></a>
<a href="../../components/swiftlet/dELETERequest.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') 0px -48px" data-downtip="DELETE Request"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/hTTPRequest.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -24px -48px" data-toptip="HTTP Request"></div></a>
<a href="../../components/swiftlet/gETRequest.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -48px -48px" data-downtip="GET Request"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/pATCHRequest.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -72px -48px" data-toptip="PATCH Request"></div></a>
<a href="../../components/swiftlet/pUTRequest.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -96px -48px" data-downtip="PUT Request"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/pOSTRequest.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -168px -48px" data-toptip="POST Request"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
3. Send
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/getJSONObjectKey.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -120px -48px" data-toptip="Get JSON Object Key"></div></a>
<a href="../../components/swiftlet/parseJSONString.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -144px -48px" data-downtip="Parse JSON String"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/readJSONArray.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -192px -48px" data-toptip="Read JSON Array"></div></a>
<a href="../../components/swiftlet/readJSONObject.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -216px -48px" data-downtip="Read JSON Object"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/readJSONValue.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') 0px -72px" data-toptip="Read JSON Value"></div></a>
<a href="../../components/swiftlet/stringifyJSONToken.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -24px -72px" data-downtip="Stringify JSON Token"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/formatJsonString.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -216px -144px" data-toptip="Format Json String"></div></a>
<a href="../../components/swiftlet/separateJSONTokens.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -72px -168px" data-downtip="Separate JSON Tokens"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/jArray.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -216px -168px" data-toptip="JArray"></div></a>
<a href="../../components/swiftlet/jObject.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') 0px -192px" data-downtip="JObject"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/jToken.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -24px -192px" data-toptip="JToken"></div></a>
<a href="../../components/swiftlet/jValue.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -48px -192px" data-downtip="JValue"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
4. Read JSON
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/getAttributeValue.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -48px -72px" data-toptip="Get Attribute Value"></div></a>
<a href="../../components/swiftlet/getElementById.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -72px -72px" data-downtip="Get Element By Id"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/getElementsByAttributeValue.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -96px -72px" data-toptip="Get Elements By Attribute Value"></div></a>
<a href="../../components/swiftlet/getElementsByClassName.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -120px -72px" data-downtip="Get Elements By Class Name"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/getElementsByTagName.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -144px -72px" data-toptip="Get Elements By Tag Name"></div></a>
<a href="../../components/swiftlet/getElementsByXPATH.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -168px -72px" data-downtip="Get Elements By XPATH"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/getChildNodes.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -192px -72px" data-toptip="Get Child Nodes"></div></a>
<a href="../../components/swiftlet/getInnerHTML.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -216px -72px" data-downtip="Get Inner HTML"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/readHTML.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') 0px -96px" data-toptip="Read HTML"></div></a>
<a href="../../components/swiftlet/stringifyHTMLNode.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -24px -96px" data-downtip="Stringify HTML Node"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/getHtmlAttributes.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -48px -168px" data-toptip="Get Html Attributes"></div></a>
<a href="../../components/swiftlet/htmlNode.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -96px -192px" data-downtip="Html Node"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
5. Read HTML
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/base64ToByteArray.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -48px -96px" data-toptip="Base64 to Byte Array"></div></a>
<a href="../../components/swiftlet/bitmapToByteArray.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -72px -96px" data-downtip="Bitmap to Byte Array"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/generateQRCode.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -96px -96px" data-toptip="Generate QR code"></div></a>
<a href="../../components/swiftlet/bitmapToMesh.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -120px -96px" data-downtip="Bitmap to Mesh"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/byteArrayToBitmap.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -144px -96px" data-toptip="Byte Array To Bitmap"></div></a>
<a href="../../components/swiftlet/byteArrayToBase64.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -168px -96px" data-downtip="Byte Array To Base64"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/uRLEncode.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -192px -96px" data-toptip="URL encode"></div></a>
<a href="../../components/swiftlet/byteArrayToList.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -216px -96px" data-downtip="Byte Array To List"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/colorToHex.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') 0px -120px" data-toptip="Color to Hex"></div></a>
<a href="../../components/swiftlet/generateGUID.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -24px -120px" data-downtip="Generate GUID"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/splitTextIntoLines.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -48px -120px" data-toptip="Split Text Into Lines"></div></a>
<a href="../../components/swiftlet/readCSVLine.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -72px -120px" data-downtip="Read CSV Line"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/decompressData.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -96px -120px" data-toptip="Decompress Data"></div></a>
<a href="../../components/swiftlet/compressData.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -120px -120px" data-downtip="Compress Data"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/createCSVLine.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -144px -120px" data-toptip="Create CSV Line"></div></a>
<a href="../../components/swiftlet/byteArrayToFile.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -168px -120px" data-downtip="Byte Array to File"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/saveText.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -192px -120px" data-toptip="Save Text"></div></a>
<a href="../../components/swiftlet/saveWebResponse.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -216px -120px" data-downtip="Save Web Response"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/byteArrayToText.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') 0px -144px" data-toptip="Byte Array To Text"></div></a>
<a href="../../components/swiftlet/fileToByteArray.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -24px -144px" data-downtip="File To Byte Array"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/base64ToText.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -48px -144px" data-toptip="Base64 to Text"></div></a>
<a href="../../components/swiftlet/hexToColor.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -72px -144px" data-downtip="Hex to Color"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/textToBase64.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -96px -144px" data-toptip="Text To Base64"></div></a>
<a href="../../components/swiftlet/listToByteArray.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -120px -144px" data-downtip="List To Byte Array"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/replaceEmptyBranches.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -144px -144px" data-toptip="Replace Empty Branches"></div></a>
<a href="../../components/swiftlet/textToByteArray.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -168px -144px" data-downtip="Text To Byte Array"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/saveCSV.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -24px -168px" data-toptip="Save CSV"></div></a>
<a href="../../components/swiftlet/bitmap.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -144px -168px" data-downtip="Bitmap"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/byteArray.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -120px -192px" data-toptip="Byte Array"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="15">
6. Utilities
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/swiftlet/hTTPListener.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -192px -144px" data-toptip="HTTP Listener"></div></a>
<a href="../../components/swiftlet/socketListener.html"><div class="ghsprite" style="background: url('../../icons/swiftlet.png') 0px -168px" data-downtip="Socket Listener"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
7. Listen
</td>
</tr>
</table>
</div>
</div>


<h1><div class="ghsprite" style="background: url('../../icons/swiftlet.png') -216px -168px" ></div> <span class="compo-name">JArray</span></h1>

</div>

</div>
<h3>Collection of JSON Arrays</h3>

</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Swiftlet and associated data © 2024  <a href="https://www.food4rhino.com/en/app/swiftlet?lang=en">Sergey Pigach</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>
<script type="text/javascript" src="/js/app-notice.js"></script>

    </body>
</html>
