<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Line Graph - NGon - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="LineGraph" />
<meta name="title" content="Line Graph - NGon - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Line Graph - NGon - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/ngon/lineGraph.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>



</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/nGonFaceEdgesByNGonPairs.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -192px -24px" data-toptip="NGon Face Edges by NGon Pairs"></div></a>
<a href="../../components/ngon/nGonsConnectedToNGonEdge.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') 0px -48px" data-downtip="NGons Connected To NGon Edge"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/scaleNGonFaceEdgesByNGonPairs.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -216px -72px" data-toptip="Scale NGon Face Edges by NGon Pairs"></div></a>
<a href="../../components/ngon/nGonEdges.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -120px -120px" data-downtip="NGon Edges"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/nGonFaceEdges.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -72px -144px" data-toptip="NGon Face Edges"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Edge
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/nGonToNGons.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -48px -48px" data-toptip="NGon To NGons"></div></a>
<a href="../../components/ngon/nGonCenters.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -48px -144px" data-downtip="NGon Centers"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/nGonFaces.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -96px -144px" data-toptip="NGon Faces"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Face
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/bFS.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') 0px 0px" data-toptip="BFS"></div></a>
<a href="../../components/ngon/coloring.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -48px 0px" data-downtip="Coloring"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/convexHull.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -96px 0px" data-toptip="Convex Hull"></div></a>
<a href="../../components/ngon/lineGraph.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -48px -24px" data-downtip="Line Graph"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/kMeans.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -96px -24px" data-toptip="KMeans"></div></a>
<a href="../../components/ngon/meshCurve.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -120px -24px" data-downtip="Mesh Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/meshSkeleton.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -168px -24px" data-toptip="Mesh Skeleton"></div></a>
<a href="../../components/ngon/walker.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') 0px -96px" data-downtip="Walker"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Graph
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/fromMesh.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -24px -96px" data-toptip="From Mesh"></div></a>
<a href="../../components/ngon/getPolylines.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -192px -96px" data-downtip="Get Polylines"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/fromBrep.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -144px -120px" data-toptip="From Brep"></div></a>
<a href="../../components/ngon/fromPolylines.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -168px -120px" data-downtip="From Polylines"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/delaunay.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -192px -120px" data-toptip="Delaunay"></div></a>
<a href="../../components/ngon/nGonPreview.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -24px -144px" data-downtip="NGon Preview"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
NGons
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/planarize2.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -24px -168px" data-toptip="Planarize2"></div></a>
<a href="../../components/ngon/planarize.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -48px -168px" data-downtip="Planarize"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/projectPairs.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -96px -168px" data-toptip="Project Pairs"></div></a>
<a href="../../components/ngon/projectNGons.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -120px -168px" data-downtip="Project NGons"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Planarize
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/recipricalEdges.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -48px -72px" data-toptip="Reciprical Edges"></div></a>
<a href="../../components/ngon/recipricalExtend.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -72px -72px" data-downtip="Reciprical Extend"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/recipricalThickness.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -96px -72px" data-toptip="Reciprical Thickness"></div></a>
<a href="../../components/ngon/reciMove.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -120px -72px" data-downtip="Reci Move"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/reciMoveVol.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -144px -72px" data-toptip="Reci Move Vol"></div></a>
<a href="../../components/ngon/recipricalVolume.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -168px -72px" data-downtip="Reciprical Volume"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Reci
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/chebyshev.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -72px -96px" data-toptip="Chebyshev"></div></a>
<a href="../../components/ngon/diamondDivide.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -120px -96px" data-downtip="Diamond Divide"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/hexDivide.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -216px -96px" data-toptip="Hex Divide"></div></a>
<a href="../../components/ngon/hexQuadDivide.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') 0px -120px" data-downtip="Hex Quad Divide"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/quadDivide.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -144px -168px" data-toptip="Quad Divide"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Sub
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/jointsVDA.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -72px -24px" data-toptip="Joints VDA"></div></a>
<a href="../../components/ngon/adjustMeshVertices.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -48px -96px" data-downtip="Adjust Mesh Vertices"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/dual.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -144px -96px" data-toptip="Dual"></div></a>
<a href="../../components/ngon/extrudeEdges.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -168px -96px" data-downtip="Extrude Edges"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/latticeFromTwoMeshes.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -24px -120px" data-toptip="Lattice From Two Meshes"></div></a>
<a href="../../components/ngon/loftPolylines.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -48px -120px" data-downtip="Loft Polylines"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/nGonFrame.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -144px -144px" data-toptip="NGon Frame"></div></a>
<a href="../../components/ngon/offsetMesh.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -192px -144px" data-downtip="Offset Mesh"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/offsetMeshVDA.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -216px -144px" data-toptip="Offset Mesh VDA"></div></a>
<a href="../../components/ngon/offsetTriangleMesh.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') 0px -168px" data-downtip="Offset Triangle Mesh"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/unifyWindings.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -192px -168px" data-toptip="Unify Windings"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Transform
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/boundaryFirstFlatenning.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -24px 0px" data-toptip="Boundary First Flatenning"></div></a>
<a href="../../components/ngon/text.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -72px 0px" data-downtip="Text"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/chamfer.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -120px 0px" data-toptip="Chamfer"></div></a>
<a href="../../components/ngon/curveCut.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -144px 0px" data-downtip="Curve Cut"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/curveEnds.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -168px 0px" data-toptip="Curve Ends"></div></a>
<a href="../../components/ngon/curvePreview.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -192px 0px" data-downtip="Curve Preview"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/curveShatter.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -216px 0px" data-toptip="Curve Shatter"></div></a>
<a href="../../components/ngon/curveSort.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') 0px -24px" data-downtip="Curve Sort"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/explodeMesh.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -24px -24px" data-toptip="Explode Mesh"></div></a>
<a href="../../components/ngon/meshProp.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -144px -24px" data-downtip="Mesh Prop"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/boolean.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -72px -48px" data-toptip="Boolean"></div></a>
<a href="../../components/ngon/polylineCenter.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -96px -48px" data-downtip="Polyline Center"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/polylineDifference.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -120px -48px" data-toptip="Polyline Difference"></div></a>
<a href="../../components/ngon/intersection.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -144px -48px" data-downtip="Intersection"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/mapCrv.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -168px -48px" data-toptip="Map Crv"></div></a>
<a href="../../components/ngon/mapMesh.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -192px -48px" data-downtip="Map Mesh"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/mapSrf.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -216px -48px" data-toptip="Map Srf"></div></a>
<a href="../../components/ngon/polylineOffset.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') 0px -72px" data-downtip="Polyline Offset"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/simplify.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -24px -72px" data-toptip="Simplify"></div></a>
<a href="../../components/ngon/remesh.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -192px -72px" data-downtip="Remesh"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/curveLoft.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -96px -96px" data-toptip="Curve Loft"></div></a>
<a href="../../components/ngon/meshCurvature.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -72px -120px" data-downtip="Mesh Curvature"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/previewEdges.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -96px -120px" data-toptip="Preview Edges"></div></a>
<a href="../../components/ngon/meshPipe.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -216px -120px" data-downtip="Mesh Pipe"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/presets.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -72px -168px" data-toptip="Presets"></div></a>
<a href="../../components/ngon/smooth.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -168px -168px" data-downtip="Smooth"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/voxels.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -216px -168px" data-toptip="Voxels"></div></a>
<a href="../../components/ngon/weldMesh.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') 0px -192px" data-downtip="Weld Mesh"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="14">
Util
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/nGonsEdgesAroundVertices.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -216px -24px" data-toptip="NGons Edges Around Vertices"></div></a>
<a href="../../components/ngon/nGonsAroundVertices.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -24px -48px" data-downtip="NGons Around Vertices"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/meshVertices.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') 0px -144px" data-toptip="Mesh Vertices"></div></a>
<a href="../../components/ngon/nGonFaceVertices.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -120px -144px" data-downtip="NGon Face Vertices"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ngon/nGonVertices.html"><div class="ghsprite" style="background: url('../../icons/nGon.png') -168px -144px" data-toptip="NGon Vertices"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Vertex
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">

<a href="https://www.food4rhino.com/app/ngon">Download</a>
</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/nGon.png') -48px -24px" ></div> Line Graph</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/ngon.html">NGon</a><a href="#" class="breadcrumb-nolink">Graph</a><a href="#" class="breadcrumb-nolink">LineGraph</a>
</div>

</div>
<h3>LineGraph</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Lines</b></td><td>L</td><td>Line List</td><td>Line</td></tr>
<tr><td><b>Lines</b></td><td>L</td><td>Line List</td><td>Line</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Topology Points</b></td><td>TP</td><td>Topology Points</td><td>Generic Data</td></tr>
<tr><td><b>Nodes</b></td><td>N</td><td>Nodes</td><td>Generic Data</td></tr>
<tr><td><b>Topology Edges U</b></td><td>U</td><td>Topology Edges U</td><td>Generic Data</td></tr>
<tr><td><b>Topology Edges V</b></td><td>V</td><td>Topology Edges V</td><td>Generic Data</td></tr>
<tr><td><b>Weights</b></td><td>W</td><td>Weights</td><td>Generic Data</td></tr>
<tr><td><b>Adj</b></td><td>Adj</td><td>Adj</td><td>Generic Data</td></tr>
<tr><td><b>Topology Points</b></td><td>TP</td><td>Topology Points</td><td>Generic</td></tr>
<tr><td><b>Nodes</b></td><td>N</td><td>Nodes</td><td>Generic</td></tr>
<tr><td><b>Topology Edges U</b></td><td>U</td><td>Topology Edges U</td><td>Generic</td></tr>
<tr><td><b>Topology Edges V</b></td><td>V</td><td>Topology Edges V</td><td>Generic</td></tr>
<tr><td><b>Weights</b></td><td>W</td><td>Weights</td><td>Generic</td></tr>
<tr><td><b>Adj</b></td><td>Adj</td><td>Adj</td><td>Generic</td></tr>
</tbody>
</table>


</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
NGon and associated data © 2020  <a href="https://www.food4rhino.com/app/ngon">Petras Vestartas</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
