<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Solar analysis points - Sunflower - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Solar analysis Points" />
<meta name="title" content="Solar analysis points - Sunflower - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Solar analysis points - Sunflower - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/sunflower/solarAnalysisPoints.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>



<script data-ad-client="ca-pub-7364724389381590" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/sunflower/location.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -72px -24px" data-toptip="Location"></div></a>
<a href="../../components/sunflower/locationCoordinate.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -96px -24px" data-downtip="Location_Coordinate"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/sunflower/dateTimes.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -120px -24px" data-toptip="DateTimes"></div></a>
<a href="../../components/sunflower/dateTime.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -144px -24px" data-downtip="DateTime"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/sunflower/grid.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -168px -24px" data-toptip="Grid"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
1 Parameters
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/sunflower/skylight.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -168px 0px" data-toptip="Skylight"></div></a>
<a href="../../components/sunflower/shadesOfSunshine.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -192px 0px" data-downtip="Shades of sunshine"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/sunflower/solarAnalysisPLane.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -216px 0px" data-toptip="Solar analysis PLane"></div></a>
<a href="../../components/sunflower/solarAnalysisPoints.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') 0px -24px" data-downtip="Solar analysis points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/sunflower/renderMode.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -24px -24px" data-toptip="Render Mode"></div></a>
<a href="../../components/sunflower/solarAnalysisMeshFace.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -48px -24px" data-downtip="Solar Analysis MeshFace"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
2 Analysis
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/sunflower/displayScreenText.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -48px 0px" data-toptip="Display Screen Text"></div></a>
<a href="../../components/sunflower/displayLegend.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -72px 0px" data-downtip="Display Legend"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/sunflower/singleLineFont.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -96px 0px" data-toptip="Single Line Font"></div></a>
<a href="../../components/sunflower/displayPoints.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -120px 0px" data-downtip="Display Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/sunflower/sunTool.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -144px 0px" data-toptip="SunTool"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
3 Display
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/sunflower/objectAttributes.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') 0px 0px" data-toptip="Object Attributes"></div></a>
<a href="../../components/sunflower/dynamicSelectionRhinoObjects.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -24px 0px" data-downtip="Dynamic Selection RhinoObjects"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
4 Reference
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/sunflower/sunflower.html"><div class="ghsprite" style="background: url('../../icons/sunflower.png') -192px -24px" data-toptip="Sunflower"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Help
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://www.food4rhino.com/app/sunflower">Download</a>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/sunflower.png') 0px -24px" ></div> Solar analysis points</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/sunflower.html">Sunflower</a><a href="#" class="breadcrumb-nolink">2 Analysis</a><a href="#" class="breadcrumb-nolink">S</a>
</div>

</div>
<h3>Solar analysis Points</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>DateTimes</b></td><td>D</td><td>Series of dates and times</td><td>Time</td></tr>
<tr><td><b>Location</b></td><td>L</td><td>geographical location</td><td>Goo</td></tr>
<tr><td><b>Mesh</b></td><td>M</td><td>Obstructing geometries</td><td>Mesh</td></tr>
<tr><td><b>Points</b></td><td>P</td><td>Input Points</td><td>Point</td></tr>
<tr><td><b>ON-OFF</b></td><td>ON</td><td>Start compute switches</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Points</b></td><td>Po</td><td>Sample points for occlusion testing</td><td>Point</td></tr>
<tr><td><b>Hours</b></td><td>H</td><td>Output analysis of the Sample points value</td><td>String</td></tr>
<tr><td><b>Minutes</b></td><td>M</td><td>Output analysis of the vertex value</td><td>Integer</td></tr>
<tr><td><b>Colors</b></td><td>C</td><td>Output analysis color of the vertex value</td><td>Colour</td></tr>
</tbody>
</table>


</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Sunflower and associated data © 2020  <a href="https://www.food4rhino.com/app/sunflower">Rex Wang</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
