<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fader Two Way - Grasshopper Component Reference</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="A guide to component Fader Two Way in Grasshopper 3D." />
<meta name="title" content="Grasshopper Component Reference" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://rhino.github.io/" />
<meta property="og:title" content="Fader Two Way - Grasshopper Component Reference" />

<meta property="wiki-page" content="GH Firefly Fader_Two_Way.md" />

<link rel="image_src" href="http://rhino.github.io/ning/2985220.jpg" />

<style type="text/css" media="screen,projection">
#xg_navigation ul div.xg_subtab ul li a {
    color:#666666;
    background:#EAFFBD;
}
#xg_navigation ul div.xg_subtab ul li a:hover {
    color:#333333;
    background:#F2FFD6;
}
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/index.css);
@import url(../../ning/page.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187549422.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187545030.css);
</style>


<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
    
        
        <div id="xg" class="xg_theme xg_widget_page xg_widget_page_page xg_widget_page_page_show" data-layout-pack="classic">
            <div id="xg_head">
                <div id="xg_masthead">
                    <p id="xg_sitename"><a id="application_name_header_link" href="http://rhino.github.io/">Grasshopper</a></p>
                    <p id="xg_sitedesc" class="xj_site_desc">algorithmic modeling for Rhino</p>
                </div>
                <div id="xg_navigation">
                    <ul>
    <li id="xg_tab_main" class="xg_subtab"><a href="http://www.grasshopper3d.com/"><span>Home</span></a></li>
	<li id="xg_tab_photo" class="xg_subtab"><a href="http://www.grasshopper3d.com/photo"><span>View</span></a></li>
	<li id="xg_tab_xn0" class="xg_subtab"><a href="http://www.grasshopper3d.com/page/download-1"><span>Download</span></a></li>
	<li id="xg_tab_forum" class="xg_subtab"><a href="https://discourse.mcneel.com/c/grasshopper"><span>Forums&#47;Support</span></a></li>
	<li id="xg_tab_xn2" class="xg_subtab this"><a href="http://rhino.github.io/"><span>Learn</span></a></li>
	<li id="xg_tab_events" class="xg_subtab"><a href="https://www.grasshopper3d.com/page/tutorials-1"><span>Learn</span></a></li>
	<li id="xg_tab_events" class="xg_subtab"><a href="http://www.grasshopper3d.com/events"><span>Attend</span></a></li>
	<li id="xg_tab_profile" class="xg_subtab"><a href="http://www.grasshopper3d.com/profiles"><span>My Page</span></a></li></ul>

                </div>
            </div>
            
            <div id="xg_body">
                
				<div class="page">

<div class="content">

<div class="ghbar">
<table class="ghbar-table">
<tr>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/dueRead.html"><img class="ghicon" src="../../icons/Firefly/Due_Read.png" title="Due Read"></a>
<a href="../../components/firefly/dueWrite.html"><img class="ghicon" src="../../icons/Firefly/Due_Write.png" title="Due Write"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/megaRead.html"><img class="ghicon" src="../../icons/Firefly/Mega_Read.png" title="Mega Read"></a>
<a href="../../components/firefly/megaWrite.html"><img class="ghicon" src="../../icons/Firefly/Mega_Write.png" title="Mega Write"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/openClosePort.html"><img class="ghicon" src="../../icons/Firefly/Open_Close_Port.png" title="Open/Close Port"></a>
<a href="../../components/firefly/cOMPortsAvailable.html"><img class="ghicon" src="../../icons/Firefly/COM_Ports_Available.png" title="COM Ports Available"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/serialReadGeneric.html"><img class="ghicon" src="../../icons/Firefly/Serial_Read_(Generic).png" title="Serial Read (Generic)"></a>
<a href="../../components/firefly/serialWriteGeneric.html"><img class="ghicon" src="../../icons/Firefly/Serial_Write_(Generic).png" title="Serial Write (Generic)"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/unoRead.html"><img class="ghicon" src="../../icons/Firefly/Uno_Read.png" title="Uno Read"></a>
<a href="../../components/firefly/unoWrite.html"><img class="ghicon" src="../../icons/Firefly/Uno_Write.png" title="Uno Write"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/wiiNunchuck.html"><img class="ghicon" src="../../icons/Firefly/Wii_Nunchuck.png" title="Wii Nunchuck"></a>
<a href="../../components/firefly/codeGenerator.html"><img class="ghicon" src="../../icons/Firefly/Code_Generator.png" title="Code Generator"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/convertDegreesToSteps.html"><img class="ghicon" src="../../icons/Firefly/Convert_Degrees_To_Steps.png" title="Convert Degrees To Steps"></a>
<a href="../../components/firefly/quadStepperMotorStream.html"><img class="ghicon" src="../../icons/Firefly/Quad_Stepper_Motor_Stream.png" title="Quad Stepper Motor Stream"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
Arduino & I/O Boards
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/soundCapture.html"><img class="ghicon" src="../../icons/Firefly/Sound_Capture.png" title="Sound Capture"></a>
<a href="../../components/firefly/frequencySpectrum.html"><img class="ghicon" src="../../icons/Firefly/Frequency_Spectrum.png" title="Frequency Spectrum"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/noteToFrequency.html"><img class="ghicon" src="../../icons/Firefly/Note_To_Frequency.png" title="Note To Frequency"></a>
<a href="../../components/firefly/toneGenerator.html"><img class="ghicon" src="../../icons/Firefly/Tone_Generator.png" title="Tone Generator"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Audio
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/oSCListener.html"><img class="ghicon" src="../../icons/Firefly/OSC_Listener.png" title="OSC Listener"></a>
<a href="../../components/firefly/oSCSender.html"><img class="ghicon" src="../../icons/Firefly/OSC_Sender.png" title="OSC Sender"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/uDPListener.html"><img class="ghicon" src="../../icons/Firefly/UDP_Listener.png" title="UDP Listener"></a>
<a href="../../components/firefly/uDPSender.html"><img class="ghicon" src="../../icons/Firefly/UDP_Sender.png" title="UDP Sender"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/xMLSearch.html"><img class="ghicon" src="../../icons/Firefly/XML_Search.png" title="XML Search"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Networking
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/binaryBlink.html"><img class="ghicon" src="../../icons/Firefly/Binary_Blink.png" title="Binary Blink"></a>
<a href="../../components/firefly/buffer.html"><img class="ghicon" src="../../icons/Firefly/Buffer.png" title="Buffer"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/constrain.html"><img class="ghicon" src="../../icons/Firefly/Constrain.png" title="Constrain"></a>
<a href="../../components/firefly/dataLog.html"><img class="ghicon" src="../../icons/Firefly/Data_Log.png" title="Data Log"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/faderOneWay.html"><img class="ghicon" src="../../icons/Firefly/Fader_One_Way.png" title="Fader One Way"></a>
<a href="../../components/firefly/faderTwoWay.html"><img class="ghicon" src="../../icons/Firefly/Fader_Two_Way.png" title="Fader Two Way"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/playback.html"><img class="ghicon" src="../../icons/Firefly/Playback.png" title="Playback"></a>
<a href="../../components/firefly/smoothingMovingAverage.html"><img class="ghicon" src="../../icons/Firefly/Smoothing_Moving_Average.png" title="Smoothing Moving Average"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/aNDFlipFlop.html"><img class="ghicon" src="../../icons/Firefly/AND_Flip_Flop.png" title="AND Flip Flop"></a>
<a href="../../components/firefly/bang.html"><img class="ghicon" src="../../icons/Firefly/Bang.png" title="Bang"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/counter.html"><img class="ghicon" src="../../icons/Firefly/Counter.png" title="Counter"></a>
<a href="../../components/firefly/frameRate.html"><img class="ghicon" src="../../icons/Firefly/Frame_Rate.png" title="Frame Rate"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/isGeometrySelected.html"><img class="ghicon" src="../../icons/Firefly/Is_Geometry_Selected.png" title="Is Geometry Selected"></a>
<a href="../../components/firefly/isKeyPressed.html"><img class="ghicon" src="../../icons/Firefly/Is_Key_Pressed.png" title="Is Key Pressed"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/nORFlipFlop.html"><img class="ghicon" src="../../icons/Firefly/NOR_Flip_Flop.png" title="NOR Flip Flop"></a>
<a href="../../components/firefly/pID.html"><img class="ghicon" src="../../icons/Firefly/PID.png" title="PID"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/stateDetection.html"><img class="ghicon" src="../../icons/Firefly/State_Detection.png" title="State Detection"></a>
<a href="../../components/firefly/stopWatch.html"><img class="ghicon" src="../../icons/Firefly/Stop_Watch.png" title="Stop Watch"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/smoothingTemporal.html"><img class="ghicon" src="../../icons/Firefly/Smoothing_Temporal.png" title="Smoothing Temporal"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="10">
Utility
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/reacTIVisionListener.html"><img class="ghicon" src="../../icons/Firefly/reacTIVision_Listener.png" title="reacTIVision Listener"></a>
<a href="../../components/firefly/kinectV1DepthToPoint.html"><img class="ghicon" src="../../icons/Firefly/Kinect_V1_Depth_To_Point.png" title="Kinect V1 Depth To Point"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/kinectV1SkeletalTracker.html"><img class="ghicon" src="../../icons/Firefly/Kinect_V1_Skeletal_Tracker.png" title="Kinect V1 Skeletal Tracker"></a>
<a href="../../components/firefly/kinectV1ColorStream.html"><img class="ghicon" src="../../icons/Firefly/Kinect_V1_Color_Stream.png" title="Kinect V1 Color Stream"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/kinectV1DepthStream.html"><img class="ghicon" src="../../icons/Firefly/Kinect_V1_Depth_Stream.png" title="Kinect V1 Depth Stream"></a>
<a href="../../components/firefly/kinectV2SkeletonTracker.html"><img class="ghicon" src="../../icons/Firefly/Kinect_V2_Skeleton_Tracker.png" title="Kinect V2 Skeleton Tracker"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/kinectV2MeshReconstruction.html"><img class="ghicon" src="../../icons/Firefly/Kinect_V2_Mesh_Reconstruction.png" title="Kinect V2 Mesh Reconstruction"></a>
<a href="../../components/firefly/kinectV2VideoStream.html"><img class="ghicon" src="../../icons/Firefly/Kinect_V2_Video_Stream.png" title="Kinect V2 Video Stream"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/bitmapSampler.html"><img class="ghicon" src="../../icons/Firefly/Bitmap_Sampler.png" title="Bitmap Sampler"></a>
<a href="../../components/firefly/exposureAccumulative.html"><img class="ghicon" src="../../icons/Firefly/Exposure_(Accumulative).png" title="Exposure (Accumulative)"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/additiveTimeLapse.html"><img class="ghicon" src="../../icons/Firefly/Additive_Time_Lapse.png" title="Additive Time Lapse"></a>
<a href="../../components/firefly/bitmapDecompose.html"><img class="ghicon" src="../../icons/Firefly/Bitmap_Decompose.png" title="Bitmap Decompose"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/bitmapInfo.html"><img class="ghicon" src="../../icons/Firefly/Bitmap_Info.png" title="Bitmap Info"></a>
<a href="../../components/firefly/bitmapLayers.html"><img class="ghicon" src="../../icons/Firefly/Bitmap_Layers.png" title="Bitmap Layers"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/bitmapPainter.html"><img class="ghicon" src="../../icons/Firefly/Bitmap_Painter.png" title="Bitmap Painter"></a>
<a href="../../components/firefly/bitmapRecompose.html"><img class="ghicon" src="../../icons/Firefly/Bitmap_Recompose.png" title="Bitmap Recompose"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/snapshot.html"><img class="ghicon" src="../../icons/Firefly/Snapshot.png" title="Snapshot"></a>
<a href="../../components/firefly/snapshotSequence.html"><img class="ghicon" src="../../icons/Firefly/Snapshot_Sequence.png" title="Snapshot Sequence"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/bitmapThreshold.html"><img class="ghicon" src="../../icons/Firefly/Bitmap_Threshold.png" title="Bitmap Threshold"></a>
<a href="../../components/firefly/bitmapTracer.html"><img class="ghicon" src="../../icons/Firefly/Bitmap_Tracer.png" title="Bitmap Tracer"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/blur.html"><img class="ghicon" src="../../icons/Firefly/Blur.png" title="Blur"></a>
<a href="../../components/firefly/colorCorrection.html"><img class="ghicon" src="../../icons/Firefly/Color_Correction.png" title="Color Correction"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/contourVector.html"><img class="ghicon" src="../../icons/Firefly/Contour_Vector.png" title="Contour Vector"></a>
<a href="../../components/firefly/contrast.html"><img class="ghicon" src="../../icons/Firefly/Contrast.png" title="Contrast"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/convolutionFilter.html"><img class="ghicon" src="../../icons/Firefly/Convolution_Filter.png" title="Convolution Filter"></a>
<a href="../../components/firefly/edgeDetection.html"><img class="ghicon" src="../../icons/Firefly/Edge_Detection.png" title="Edge Detection"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/emboss.html"><img class="ghicon" src="../../icons/Firefly/Emboss.png" title="Emboss"></a>
<a href="../../components/firefly/imageRegion.html"><img class="ghicon" src="../../icons/Firefly/Image_Region.png" title="Image Region"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/videoAverages.html"><img class="ghicon" src="../../icons/Firefly/Video_Averages.png" title="Video Averages"></a>
<a href="../../components/firefly/flipImage.html"><img class="ghicon" src="../../icons/Firefly/Flip_Image.png" title="Flip Image"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/gammaCorrection.html"><img class="ghicon" src="../../icons/Firefly/Gamma_Correction.png" title="Gamma Correction"></a>
<a href="../../components/firefly/gradientVector.html"><img class="ghicon" src="../../icons/Firefly/Gradient_Vector.png" title="Gradient Vector"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/resizeBitmap.html"><img class="ghicon" src="../../icons/Firefly/Resize_Bitmap.png" title="Resize Bitmap"></a>
<a href="../../components/firefly/invert.html"><img class="ghicon" src="../../icons/Firefly/Invert.png" title="Invert"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/loadBitmap.html"><img class="ghicon" src="../../icons/Firefly/Load_Bitmap.png" title="Load Bitmap"></a>
<a href="../../components/firefly/meshFromImage.html"><img class="ghicon" src="../../icons/Firefly/Mesh_From_Image.png" title="Mesh From Image"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/exposureMovement.html"><img class="ghicon" src="../../icons/Firefly/Exposure_(Movement).png" title="Exposure (Movement)"></a>
<a href="../../components/firefly/opticalFlow.html"><img class="ghicon" src="../../icons/Firefly/Optical_Flow.png" title="Optical Flow"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/replaceColor.html"><img class="ghicon" src="../../icons/Firefly/Replace_Color.png" title="Replace Color"></a>
<a href="../../components/firefly/brightnessAndSaturation.html"><img class="ghicon" src="../../icons/Firefly/Brightness_and_Saturation.png" title="Brightness and Saturation"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/sharpen.html"><img class="ghicon" src="../../icons/Firefly/Sharpen.png" title="Sharpen"></a>
<a href="../../components/firefly/swirlVector.html"><img class="ghicon" src="../../icons/Firefly/Swirl_Vector.png" title="Swirl Vector"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/testColor.html"><img class="ghicon" src="../../icons/Firefly/Test_Color.png" title="Test Color"></a>
<a href="../../components/firefly/videoPlayer.html"><img class="ghicon" src="../../icons/Firefly/Video_Player.png" title="Video Player"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/firefly/leapFingerTracker.html"><img class="ghicon" src="../../icons/Firefly/Leap_Finger_Tracker.png" title="Leap Finger Tracker"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="23">
Vision
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</div>


<div class="addon-buttons">
<a href="https://www.food4rhino.com/app/firefly">Download</a>
</div>

<div>
<h1><img src="../../icons/Firefly/Fader_Two_Way.png"/> Fader Two Way</h1>
<p><a href="../../index.html#Firefly">Component Index</a> &gt; <a href="../../addons/firefly.html">Firefly</a> > Utility > <b>Fader Two Way</b></p>
</div>
<h3>Fade between a minimum and maximum value based on the fade in and fade out time interval (ms). Use the GH_Timer component (Parameters/Special/Timer) to update the Fader values in real-time.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Minimum Value</b></td><td>V1</td><td>The minimum value for the fade</td><td>Integer</td></tr>
<tr><td><b>Maximum Value</b></td><td>V2</td><td>The maximum value for the fade</td><td>Integer</td></tr>
<tr><td><b>Fade Out</b></td><td>T1</td><td>The time interval (ms) to fade from the minimum value to the maximum value.  The smallest time interval that will be accepted is 100ms.</td><td>Integer</td></tr>
<tr><td><b>Fade In</b></td><td>T2</td><td>The time interval (ms) to fade from the maximum value to the minimum value. The smallest time interval that will be accepted is 100ms.</td><td>Integer</td></tr>
<tr><td><b>Delay Out</b></td><td>D1</td><td>A time delay (ms) to wait before after the value has reached the maximum value but before it starts the fade back to the minimum value.</td><td>Integer</td></tr>
<tr><td><b>Delay In</b></td><td>D2</td><td>A time delay (ms) to wait before after the value has reached the minimum value but before it starts the fade back to the maximum value.</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Fading Output</b></td><td>O</td><td>Fading Output</td><td>Number</td></tr>
<tr><td><b>Loop Counter</b></td><td>C</td><td>Loop Counter</td><td>Integer</td></tr>
</tbody>
</table>


  </div>

</div>

            </div>
            <div id="xg_foot">
                <p class="left">
    © 2018-2020             &nbsp; Created by <a href="https://github.com/robinrodricks/">Robin Rodricks</a> and <a href="http://www.grasshopper3d.com/profile/AndrewHeumann/">Andrew Heumann</a>. &nbsp;
    Hosted by<a href="http://www.github.com/"><img src="../../images/github.png" alt="Github" class="poweredbylogo" /></a>
	</p>
    <p class="right xg_lightfont">
                    <a href="http://www.grasshopper3d.com/main/embeddable/list">Badges</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/index/report" dojotype="PromptToJoinLink" _joinprompttext="Please sign up or sign in to complete this step." _hassignup="true" _signinurl="http://www.grasshopper3d.com/main/authorization/signIn?target=http%3A%2F%2Fwww.grasshopper3d.com%2Fmain%2Findex%2Freport">Report an Issue</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/authorization/termsOfService?previousUrl=http%3A%2F%2Fwww.grasshopper3d.com%2Fpage%2Fcomponent-reference">Terms of Service</a>
            </p>

            </div>
        </div>
        
        <div id="xj_baz17246" class="xg_theme"></div>
<div id="xg_overlay" style="display:none;">
<!--[if lte IE 6.5]><iframe></iframe><![endif]-->
</div>
<!--googleoff: all--><noscript>
	<style type="text/css" media="screen">
        #xg { position:relative;top:120px; }
        #xn_bar { top:120px; }
	</style>
	<div class="errordesc noscript">
		<div>
            <h3><strong>Hello, you need to enable JavaScript to use Grasshopper.</strong></h3>
            <p>Please check your browser settings or contact your system administrator.</p>
			
		</div>
	</div>
</noscript><!--googleon: all-->

<script src="/js/jquery.js"></script>
<script src="/js/kramed.min.js"></script>
<script src="/js/component.js"></script>
<script src="/js/user.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
