<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Grevit Revit Topography - Grasshopper Component Reference</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="A guide to component Grevit Revit Topography in Grasshopper 3D." />
<meta name="title" content="Grasshopper Component Reference" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://rhino.github.io/" />
<meta property="og:title" content="Grevit Revit Topography - Grasshopper Component Reference" />

<meta property="wiki-page" content="GH Grevit Grevit_Revit_Topography.md" />

<link rel="image_src" href="http://rhino.github.io/ning/2985220.jpg" />

<style type="text/css" media="screen,projection">
#xg_navigation ul div.xg_subtab ul li a {
    color:#666666;
    background:#EAFFBD;
}
#xg_navigation ul div.xg_subtab ul li a:hover {
    color:#333333;
    background:#F2FFD6;
}
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/index.css);
@import url(../../ning/page.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187549422.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187545030.css);
</style>


<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
    
        
        <div id="xg" class="xg_theme xg_widget_page xg_widget_page_page xg_widget_page_page_show" data-layout-pack="classic">
            <div id="xg_head">
                <div id="xg_masthead">
                    <p id="xg_sitename"><a id="application_name_header_link" href="http://rhino.github.io/">Grasshopper</a></p>
                    <p id="xg_sitedesc" class="xj_site_desc">algorithmic modeling for Rhino</p>
                </div>
                <div id="xg_navigation">
                    <ul>
    <li id="xg_tab_main" class="xg_subtab"><a href="http://www.grasshopper3d.com/"><span>Home</span></a></li>
	<li id="xg_tab_photo" class="xg_subtab"><a href="http://www.grasshopper3d.com/photo"><span>View</span></a></li>
	<li id="xg_tab_xn0" class="xg_subtab"><a href="http://www.grasshopper3d.com/page/download-1"><span>Download</span></a></li>
	<li id="xg_tab_forum" class="xg_subtab"><a href="https://discourse.mcneel.com/c/grasshopper"><span>Forums&#47;Support</span></a></li>
	<li id="xg_tab_xn2" class="xg_subtab this"><a href="http://rhino.github.io/"><span>Learn</span></a></li>
	<li id="xg_tab_events" class="xg_subtab"><a href="http://www.grasshopper3d.com/events"><span>Attend</span></a></li>
	<li id="xg_tab_profile" class="xg_subtab"><a href="http://www.grasshopper3d.com/profiles"><span>My Page</span></a></li></ul>

                </div>
            </div>
            
            <div id="xg_body">
                
				<div class="page">

<div class="content">

<div class="ghbar">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitBakery.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Bakery.png" title="Grevit Bakery"></a>
<a href="../../components/grevit/grevitConfig.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Config.png" title="Grevit Config"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitID.html"><img class="ghicon" src="../../icons/Grevit/Grevit_ID.png" title="Grevit ID"></a>
<a href="../../components/grevit/grevitLayer.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Layer.png" title="Grevit Layer"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitSend.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Send.png" title="Grevit Send"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Assemble
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitAutocadColumn.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Autocad_Column.png" title="Grevit Autocad Column"></a>
<a href="../../components/grevit/grevitAutocadCurve.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Autocad_Curve.png" title="Grevit Autocad Curve"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitAutocadDoor.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Autocad_Door.png" title="Grevit Autocad Door"></a>
<a href="../../components/grevit/grevitAutocadPoint.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Autocad_Point.png" title="Grevit Autocad Point"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitAutocadRoom.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Autocad_Room.png" title="Grevit Autocad Room"></a>
<a href="../../components/grevit/grevitAutocadSlab.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Autocad_Slab.png" title="Grevit Autocad Slab"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitAutocadWall.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Autocad_Wall.png" title="Grevit Autocad Wall"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Components Acad
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitAdaptiveComponent.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Adaptive_Component.png" title="Grevit Revit Adaptive Component"></a>
<a href="../../components/grevit/grevitRevitColumn.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Column.png" title="Grevit Revit Column"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitExtrusion.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Extrusion.png" title="Grevit Revit Extrusion"></a>
<a href="../../components/grevit/grevitRevitFaceWall.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_FaceWall.png" title="Grevit Revit FaceWall"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitFamilyInstance.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Family_instance.png" title="Grevit Revit Family instance"></a>
<a href="../../components/grevit/grevitRevitGrid.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Grid.png" title="Grevit Revit Grid"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitHatch.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Hatch.png" title="Grevit Revit Hatch"></a>
<a href="../../components/grevit/grevitRevitLevel.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Level.png" title="Grevit Revit Level"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitCurve.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Curve.png" title="Grevit Revit Curve"></a>
<a href="../../components/grevit/grevitRevitReferencePlane.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_ReferencePlane.png" title="Grevit Revit ReferencePlane"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitRoof.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Roof.png" title="Grevit Revit Roof"></a>
<a href="../../components/grevit/grevitRevitRoom.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Room.png" title="Grevit Revit Room"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitSelectionSet.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_SelectionSet.png" title="Grevit Revit SelectionSet"></a>
<a href="../../components/grevit/grevitSetCurtainPanel.html"><img class="ghicon" src="../../icons/Grevit/Grevit_SetCurtainPanel.png" title="Grevit SetCurtainPanel"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitShaft.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Shaft.png" title="Grevit Revit Shaft"></a>
<a href="../../components/grevit/grevitRevitSlab.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Slab.png" title="Grevit Revit Slab"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitTextNote.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Text_Note.png" title="Grevit Revit Text Note"></a>
<a href="../../components/grevit/grevitRevitTopography.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Topography.png" title="Grevit Revit Topography"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitWall.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Wall.png" title="Grevit Revit Wall"></a>
<a href="../../components/grevit/grevitRevitProfileBasedWall.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Profile_based_wall.png" title="Grevit Revit Profile based wall"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="10">
Components Revit
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitCurveLoop.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Curve_Loop.png" title="Grevit Curve Loop"></a>
<a href="../../components/grevit/grevitRevitCategory.html"><img class="ghicon" src="../../icons/Grevit/Grevit_RevitCategory.png" title="Grevit RevitCategory"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitFamily.html"><img class="ghicon" src="../../icons/Grevit/Grevit_RevitFamily.png" title="Grevit RevitFamily"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Info
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitFilter.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Filter.png" title="Grevit Revit Filter"></a>
<a href="../../components/grevit/grevitRevitFilterRule.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Filter_Rule.png" title="Grevit Revit Filter Rule"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/filterRuleComparer.html"><img class="ghicon" src="../../icons/Grevit/Filter_Rule_Comparer.png" title="Filter Rule Comparer"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Revit Filter
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitElementID.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_ElementID.png" title="Grevit Revit ElementID"></a>
<a href="../../components/grevit/grevitRevitParameter.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Parameter.png" title="Grevit Revit Parameter"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitSearchElementID.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Search_ElementID.png" title="Grevit Revit Search ElementID"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Revit Parameters
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitStructuralBeam.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Structural_Beam.png" title="Grevit Revit Structural Beam"></a>
<a href="../../components/grevit/grevitRevitStructuralBrace.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Structural_Brace.png" title="Grevit Revit Structural Brace"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitStructuralColumn.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Structural_Column.png" title="Grevit Revit Structural Column"></a>
<a href="../../components/grevit/grevitRevitStructuralFooting.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Structural_Footing.png" title="Grevit Revit Structural Footing"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grevit/grevitRevitStructuralUnknownFraming.html"><img class="ghicon" src="../../icons/Grevit/Grevit_Revit_Structural_UnknownFraming.png" title="Grevit Revit Structural UnknownFraming"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Revit Structural Types
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="http://grevit-dev.github.io/Grevit/">Download</a>
</div>

<div>
<h1><img src="../../icons/Grevit/Grevit_Revit_Topography.png"/> Grevit Revit Topography</h1>
<p><a href="../../index.html#Grevit">Component Index</a> &gt; <a href="../../addons/grevit.html">Grevit</a> > Components Revit > <b>Revit Topography</b></p>
</div>
<h3>Grevit Revit Topography</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Points</b></td><td>Points</td><td>Topography Points</td><td>Point</td></tr>
<tr><td><b>Parameters</b></td><td>Param</td><td>Parameters</td><td>Generic Data</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>GrevitComponent</b></td><td>C</td><td>GrevitComponent</td><td>Generic Data</td></tr>
</tbody>
</table>


  </div>

</div>

            </div>
            <div id="xg_foot">
                <p class="left">
    © 2018-2020  <a href="https://github.com/robinrodricks/">Robin Rodricks</a> and <a href="http://www.grasshopper3d.com/profile/AndrewHeumann/">Andrew Heumann</a>. &nbsp;
    Hosted by<a href="http://www.github.com/"><img src="../../images/github.png" alt="Github" class="poweredbylogo" /></a> &nbsp;
	Rhino & Grasshopper are trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.
	</p>
    <p class="right xg_lightfont">
                    <a href="http://www.grasshopper3d.com/main/embeddable/list">Badges</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/index/report" dojotype="PromptToJoinLink" _joinprompttext="Please sign up or sign in to complete this step." _hassignup="true" _signinurl="http://www.grasshopper3d.com/main/authorization/signIn?target=http%3A%2F%2Fwww.grasshopper3d.com%2Fmain%2Findex%2Freport">Report an Issue</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/authorization/termsOfService?previousUrl=http%3A%2F%2Fwww.grasshopper3d.com%2Fpage%2Fcomponent-reference">Terms of Service</a>
            </p>

            </div>
        </div>
        
        <div id="xj_baz17246" class="xg_theme"></div>
<div id="xg_overlay" style="display:none;">
<!--[if lte IE 6.5]><iframe></iframe><![endif]-->
</div>
<!--googleoff: all--><noscript>
	<style type="text/css" media="screen">
        #xg { position:relative;top:120px; }
        #xn_bar { top:120px; }
	</style>
	<div class="errordesc noscript">
		<div>
            <h3><strong>Hello, you need to enable JavaScript to use Grasshopper.</strong></h3>
            <p>Please check your browser settings or contact your system administrator.</p>
			
		</div>
	</div>
</noscript><!--googleon: all-->

<script src="/js/jquery.js"></script>
<script src="/js/kramed.min.js"></script>
<script src="/js/component.js"></script>
<script src="/js/user.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
