<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Opaque Material - Grasshopper Component Reference</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="A guide to component Opaque Material in Grasshopper 3D." />
<meta name="title" content="Grasshopper Component Reference" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://rhino.github.io/" />
<meta property="og:title" content="Opaque Material - Grasshopper Component Reference" />

<meta property="wiki-page" content="GH DIVA Opaque_Material.md" />

<link rel="image_src" href="http://rhino.github.io/ning/2985220.jpg" />

<style type="text/css" media="screen,projection">
#xg_navigation ul div.xg_subtab ul li a {
    color:#666666;
    background:#EAFFBD;
}
#xg_navigation ul div.xg_subtab ul li a:hover {
    color:#333333;
    background:#F2FFD6;
}
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/index.css);
@import url(../../ning/page.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187549422.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187545030.css);
</style>


<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
    
        
        <div id="xg" class="xg_theme xg_widget_page xg_widget_page_page xg_widget_page_page_show" data-layout-pack="classic">
            <div id="xg_head">
                <div id="xg_masthead">
                    <p id="xg_sitename"><a id="application_name_header_link" href="http://rhino.github.io/">Grasshopper</a></p>
                    <p id="xg_sitedesc" class="xj_site_desc">algorithmic modeling for Rhino</p>
                </div>
                <div id="xg_navigation">
                    <ul>
    <li id="xg_tab_main" class="xg_subtab"><a href="http://www.grasshopper3d.com/"><span>Home</span></a></li>
	<li id="xg_tab_photo" class="xg_subtab"><a href="http://www.grasshopper3d.com/photo"><span>View</span></a></li>
	<li id="xg_tab_xn0" class="xg_subtab"><a href="http://www.grasshopper3d.com/page/download-1"><span>Download</span></a></li>
	<li id="xg_tab_forum" class="xg_subtab"><a href="https://discourse.mcneel.com/c/grasshopper"><span>Forums&#47;Support</span></a></li>
	<li id="xg_tab_xn2" class="xg_subtab this"><a href="http://rhino.github.io/"><span>Learn</span></a></li>
	<li id="xg_tab_events" class="xg_subtab"><a href="http://www.grasshopper3d.com/events"><span>Attend</span></a></li>
	<li id="xg_tab_profile" class="xg_subtab"><a href="http://www.grasshopper3d.com/profiles"><span>My Page</span></a></li></ul>

                </div>
            </div>
            
            <div id="xg_body">
                
				<div class="page">

<div class="content">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/diva/batchRunner.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -96px -96px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
.Simulation
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/diva/integrateIndicators.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -120px -24px"></div></a>
<a href="../../components/diva/loadResultFile.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -192px -24px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/diva/loadZoneResults.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') 0px -48px"></div></a>
<a href="../../components/diva/surfaceAnalysis.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -144px -48px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/diva/uTCI.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -192px -48px"></div></a>
<a href="../../components/diva/weather.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -216px -48px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/diva/xYPlot.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -72px -72px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Analysis
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/diva/imageViewer.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -120px -96px"></div></a>
<a href="../../components/diva/hourOfYear.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -192px -96px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Data
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/diva/daylightModel.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -120px 0px"></div></a>
<a href="../../components/diva/floorCutter.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -216px 0px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/diva/geometryFilter.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -72px -24px"></div></a>
<a href="../../components/diva/aSGetObjNameLayer.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -96px -24px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/diva/fromRhinoDoc.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -216px -24px"></div></a>
<a href="../../components/diva/intersector.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -72px -96px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Geometry
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/diva/applyIndicators.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') 0px 0px"></div></a>
<a href="../../components/diva/construction.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -96px 0px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/diva/gasMaterial.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -24px -24px"></div></a>
<a href="../../components/diva/glazingMaterial.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -48px -24px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/diva/layer.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -144px -24px"></div></a>
<a href="../../components/diva/library.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -168px -24px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/diva/opaqueMaterial.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -24px -48px"></div></a>
<a href="../../components/diva/simpleWindow.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -120px -48px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/diva/thermalBridge.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -168px -48px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Materials
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/diva/takesSurfacesGeneratesPVPanels.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -24px -96px"></div></a>
<a href="../../components/diva/runsAPVSimulation.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -48px -96px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
PV
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/diva/arraySchedule.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -24px 0px"></div></a>
<a href="../../components/diva/daySchedule.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -144px 0px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/diva/weekSchedule.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') 0px -72px"></div></a>
<a href="../../components/diva/yearSchedule.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -96px -72px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Schedules
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/diva/zoneDomesticHotWater.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -168px 0px"></div></a>
<a href="../../components/diva/floorSettings.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') 0px -24px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/diva/windowSettings.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -48px -72px"></div></a>
<a href="../../components/diva/zoneConditioning.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -120px -72px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/diva/zoneConstructions.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -144px -72px"></div></a>
<a href="../../components/diva/zoneLoads.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -168px -72px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/diva/zoneSettings.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -216px -72px"></div></a>
<a href="../../components/diva/zoneVentilation.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') 0px -96px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Settings
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/diva/solarEnvelope.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -144px -96px"></div></a>
<a href="../../components/diva/solarFan.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -168px -96px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Sun
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/diva/boundaryConditionObject.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -48px 0px"></div></a>
<a href="../../components/diva/building.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -72px 0px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/diva/face.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -192px 0px"></div></a>
<a href="../../components/diva/zoneConnectivityNetwork.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -48px -48px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/diva/simulationEngine.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -72px -48px"></div></a>
<a href="../../components/diva/shadingSurface.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -96px -48px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/diva/window.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -24px -72px"></div></a>
<a href="../../components/diva/thermalZone.html"><div class="ghsprite" style="background: url('../../icons/dIVA.png') -192px -72px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Thermal Model
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="http://www.solemma.net/">Download</a>
</div>

<div>
<h1><div class="ghsprite" style="background: url('../../icons/dIVA.png') -24px -48px"></div> Opaque Material</h1>
<p><a href="../../index.html#DIVA">Component Index</a> &gt; <a href="../../addons/diva.html">DIVA</a> > Materials > <b>Opaque Material</b></p>
</div>
<h3>Opaque Material</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Material Name</b></td><td>Name</td><td>Material Name</td><td>Text</td></tr>
<tr><td><b>Roughness</b></td><td>Rhn</td><td>Roughness [0 VeryRough,1 Rough,2 MediumRough,3 MediumSmooth,4 Smooth,5 VerySmooth]</td><td>Integer</td></tr>
<tr><td><b>Material Conductivity</b></td><td>Con</td><td>Material Conductivity [W/(m-K)]</td><td>Number</td></tr>
<tr><td><b>Material Density</b></td><td>Den</td><td>Material Density [kg/m3]</td><td>Number</td></tr>
<tr><td><b>Material SpecificHeat</b></td><td>Sph</td><td>Material SpecificHeat [J/(kg-K)]</td><td>Number</td></tr>
<tr><td><b>Material thermal absorptance</b></td><td>Tabs</td><td>Material thermal absorptance</td><td>Number</td></tr>
<tr><td><b>Material solar absorptance</b></td><td>Sabs</td><td>Material solar absorptance</td><td>Number</td></tr>
<tr><td><b>Material visible absorptance</b></td><td>Vabs</td><td>Material visible absorptance</td><td>Number</td></tr>
<tr><td><b>Temperature steps for following inputs</b></td><td>T</td><td>List of doubles given in the following order:    
    Temperature 1 {C}
    Temperature 2 {C}
    Temperature 3 {C}
    etc...</td><td>Number</td></tr>
<tr><td><b>PhaseChange</b></td><td>Pc</td><td>List of doubles given in the following order:
    Enthalpy 1 {J/kg}
    Enthalpy 2 {J/kg}
    Enthalpy 3 {J/kg}
    etc...</td><td>Number</td></tr>
<tr><td><b>VariableThermalConductivity</b></td><td>Vtc</td><td>List of doubles given in the following order:
    Thermal Conductivity 1 {W/m-K}
    Thermal Conductivity 2 {W/m-K}
    Thermal Conductivity 3 {W/m-K}
    etc...</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Opaque material</b></td><td>Mat</td><td>Opaque material</td><td>Generic Data</td></tr>
</tbody>
</table>


  </div>

</div>

            </div>
            <div id="xg_foot">
                <p class="left">
    © 2018-2020  <a href="https://github.com/robinrodricks/">Robin Rodricks</a> and <a href="http://www.grasshopper3d.com/profile/AndrewHeumann/">Andrew Heumann</a>. &nbsp;
    Hosted by<a href="http://www.github.com/"><img src="../../images/github.png" alt="Github" class="poweredbylogo" /></a> &nbsp;
	Rhino & Grasshopper are trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.
	</p>
    <p class="right xg_lightfont">
                    <a href="http://www.grasshopper3d.com/main/embeddable/list">Badges</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/index/report" dojotype="PromptToJoinLink" _joinprompttext="Please sign up or sign in to complete this step." _hassignup="true" _signinurl="http://www.grasshopper3d.com/main/authorization/signIn?target=http%3A%2F%2Fwww.grasshopper3d.com%2Fmain%2Findex%2Freport">Report an Issue</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/authorization/termsOfService?previousUrl=http%3A%2F%2Fwww.grasshopper3d.com%2Fpage%2Fcomponent-reference">Terms of Service</a>
            </p>

            </div>
        </div>
        
        <div id="xj_baz17246" class="xg_theme"></div>
<div id="xg_overlay" style="display:none;">
<!--[if lte IE 6.5]><iframe></iframe><![endif]-->
</div>
<!--googleoff: all--><noscript>
	<style type="text/css" media="screen">
        #xg { position:relative;top:120px; }
        #xn_bar { top:120px; }
	</style>
	<div class="errordesc noscript">
		<div>
            <h3><strong>Hello, you need to enable JavaScript to use Grasshopper.</strong></h3>
            <p>Please check your browser settings or contact your system administrator.</p>
			
		</div>
	</div>
</noscript><!--googleon: all-->

<script src="/js/jquery.js"></script>
<script src="/js/kramed.min.js"></script>
<script src="/js/component.js"></script>
<script src="/js/user.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
