<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Config  - DLP - Xylinus - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="This component holds the primary configurations needed for 3D printing with an a DLP projector to do SLA. These settings can be passed as a condensed list to many of the components in Xylinus. They can also be broken out and individual setting fed into Xylinus sub-routines." />
<meta name="title" content="Config  - DLP - Xylinus - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Config  - DLP - Xylinus - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/xylinus/configDLP.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v4.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
	<a class="sitemenu-item" href="https://forms.mk/qL9PPg">Request an Addon</a>
	<a class="sitemenu-item sitemenu-donate" href="https://github.com/sponsors/robinrodricks">Donate</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="http://www.ryanhoover.org/rd/xylinus.php">Download</a>

</div>


<div class="side-content">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

<div id="help-notice">
<div class="help-title">We need your help! 🔥</div>
<div class="help-text">Please consider disabling your ad-blocker to support this website! 🔑 <br> We are a free, community-supported website! 🥰 <br> We only display small unobtrusive ads which help us stay online! 💯 <br> Thank you in advance! ❤️</div>
</div>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Electronic-3DPrinting.png');"></div>

<div class="compo-header">

<div class="breadcrumb">
 <a href="../../index.html">Home</a>
  <a href="../../categories/electronic-3d-printing.html">3D Printing addons</a><a href="../../addons/xylinus.html"><b>Xylinus</b></a><a href="#" class="breadcrumb-nolink">DLP</a><a href="#" class="breadcrumb-nolink"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -48px 0px" ></div> Config  - DLP</a>
</div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/centerPrintOnPrintBed.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -24px 0px" data-toptip="Center Print on Print Bed"></div></a>
<a href="../../components/xylinus/configSetting.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') 0px -24px" data-downtip="Config Setting"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/curveInfill.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -24px -24px" data-toptip="Curve Infill"></div></a>
<a href="../../components/xylinus/curveToGCode.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -48px -24px" data-downtip="Curve to G Code"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/curveWithInfill.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -72px -24px" data-toptip="Curve with Infill"></div></a>
<a href="../../components/xylinus/curvesWithInfillCompound.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -96px -24px" data-downtip="Curves with Infill Compound"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/offsetIn.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -120px -48px" data-toptip="Offset  In"></div></a>
<a href="../../components/xylinus/offsetOut.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -144px -48px" data-downtip="Offset  Out"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/offsetComplex.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -168px -48px" data-toptip="Offset Complex"></div></a>
<a href="../../components/xylinus/offsetCompound.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -192px -48px" data-downtip="Offset Compound"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/printLog.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -168px -72px" data-toptip="Print Log"></div></a>
<a href="../../components/xylinus/sliceWallsWithInfillCompound.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -216px -72px" data-downtip="Slice Walls with Infill Compound"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/sliceWallsWithInfill.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') 0px -96px" data-toptip="Slice Walls with Infill"></div></a>
<a href="../../components/xylinus/slice.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -24px -96px" data-downtip="Slice"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
Core
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/blackOut.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') 0px 0px" data-toptip="Black Out"></div></a>
<a href="../../components/xylinus/configDLP.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -48px 0px" data-downtip="Config  - DLP"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/configDLPBUGSS.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -144px 0px" data-toptip="Config - DLP BUGSS"></div></a>
<a href="../../components/xylinus/dLPSlice.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -120px -24px" data-downtip="DLP Slice"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/gCodeStartDLP.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -192px -24px" data-toptip="G Code  Start - DLP"></div></a>
<a href="../../components/xylinus/gCodeEndDLP.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -24px -48px" data-downtip="G Code End - DLP"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/gCSend.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -96px -48px" data-toptip="GC Send"></div></a>
<a href="../../components/xylinus/printDLP.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -144px -72px" data-downtip="Print DLP"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/projectorWindow.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -192px -72px" data-toptip="Projector Window"></div></a>
<a href="../../components/xylinus/zMoveGCode.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -48px -96px" data-downtip="Z Move G Code"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
DLP
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/configFilament.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -72px 0px" data-toptip="Config  - Filament"></div></a>
<a href="../../components/xylinus/configFilamentJimmiPLA.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -168px 0px" data-downtip="Config - Filament jimmi PLA"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/extrusionRateCalculator.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -144px -24px" data-toptip="Extrusion Rate Calculator"></div></a>
<a href="../../components/xylinus/gCodeStartFilament.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -168px -24px" data-downtip="G Code  Start  - Filament"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/gCodeEndFilament.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') 0px -48px" data-toptip="G Code End  - Filament"></div></a>
<a href="../../components/xylinus/gCodeMergeFilament.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -48px -48px" data-downtip="G Code Merge  - Filament"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/printCurveFilament.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') 0px -72px" data-toptip="Print  Curve - Filament"></div></a>
<a href="../../components/xylinus/printCurveWithBlobAndDroolFilament.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -24px -72px" data-downtip="Print  Curve with Blob and Drool - Filament"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/printCurveWithInfillFilament.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -48px -72px" data-toptip="Print  Curve with Infill - Filament"></div></a>
<a href="../../components/xylinus/print3DFilament.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -120px -72px" data-downtip="Print 3D - Filament"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Filament
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/configSyringeMCodes.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -96px 0px" data-toptip="Config  - Syringe M Codes"></div></a>
<a href="../../components/xylinus/configSyringe.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -120px 0px" data-downtip="Config  - Syringe"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/configBUGSSSMCodes.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -192px 0px" data-toptip="Config BUGSS_S  M Codes"></div></a>
<a href="../../components/xylinus/configBUGSSS.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -216px 0px" data-downtip="Config BUGSS_S"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/gCodeStartSyringe.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -216px -24px" data-toptip="G Code  Start - Syringe"></div></a>
<a href="../../components/xylinus/gCodeNdSyringe.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -72px -48px" data-downtip="G Code nd - Syringe"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/printCurveSyringe.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -216px -48px" data-toptip="Print  Curve  - Syringe"></div></a>
<a href="../../components/xylinus/printCurveWithInfillSyringe.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -72px -72px" data-downtip="Print  Curve with Infill - Syringe"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/xylinus/print3DSyringe.html"><div class="ghsprite" style="background: url('../../icons/xylinus.png') -96px -72px" data-toptip="Print 3D  - Syringe"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Syringe
</td>
</tr>
</table>
</div>
</div>


<h1><div class="ghsprite" style="background: url('../../icons/xylinus.png') -48px 0px" ></div> <span class="compo-name">Config  - DLP</span></h1>

</div>

</div>
<h3>This component holds the primary configurations needed for 3D printing with an a DLP projector to do SLA. These settings can be passed as a condensed list to many of the components in Xylinus. They can also be broken out and individual setting fed into Xylinus sub-routines.</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>printer volume domain box</b></td><td>printer volume domain box</td><td>Input a box with  X,Y,and Z domains that match the dimensions of your printer. This can easily be created with the Domain Box component. If your printer 0 position is in the bottom left corner (as standard) you can simply use the default world XY plane, and just enter the the dimesions of your printer into the X, Y, and Z inputs.</td><td>Box</td></tr>
<tr><td><b>print window rect (mm x mm)</b></td><td>print window rect (mm x mm)</td><td>This is used to determine the size/scaling of the background image</td><td>Rectangle</td></tr>
<tr><td><b>Domain²</b></td><td>print window domain (px X px)</td><td>Contains a collection of 2D number domains</td><td>Interval2D</td></tr>
<tr><td><b>Data</b></td><td>background image</td><td>Contains a collection of generic data</td><td>Goo</td></tr>
<tr><td><b>Geometry</b></td><td>calibration geometry</td><td>The calibration geometry is used to establish the proper scaling of the projected print. When the projector window   is opened, it will zoom to this geometry.  At this point, the calibration geomerty should be projecting at its correct diemensions. If not adjust its size accordingly and retest.</td><td>GeometricGoo</td></tr>
<tr><td><b>baud rate (bytes/sec)</b></td><td>baud rate (bytes/sec)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>Z print speed (mm/sec)</b></td><td>Z print speed (mm/sec)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>Z rapid speed (mm/sec)</b></td><td>Z rapid speed (mm/sec)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>Z lift on peel (mm)</b></td><td>Z lift on peel (mm)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>layer height (mm)</b></td><td>layer height (mm)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>cure times (sec/layer)</b></td><td>cure times (sec/layer)</td><td>You may pass multiple times. They will be used sequentially and the last time will be repeated for all remaining layers.</td><td>Number</td></tr>
<tr><td><b>dwell post cure (sec)</b></td><td>dwell post cure (sec)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>dwell at top (sec)</b></td><td>dwell at top (sec)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>dwell at bottom (sec)</b></td><td>dwell at bottom (sec)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>peel time scaler</b></td><td>peel time scaler</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>Primary config for 3DP_F</b></td><td>C</td><td>Optional configuration for 3D printing with filament. Direct entries will override these config entries.</td><td>Goo</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Box</b></td><td>printer volume domain box</td><td>Contains a collection of boxes</td><td>Box</td></tr>
<tr><td><b>Rectangle</b></td><td>print window rect (mm x mm)</td><td>Contains a collection of rectangles</td><td>Rectangle</td></tr>
<tr><td><b>Domain²</b></td><td>print window domain (px X px)</td><td>Contains a collection of 2D number domains</td><td>Interval2D</td></tr>
<tr><td><b>Data</b></td><td>background image</td><td>Contains a collection of generic data</td><td>Goo</td></tr>
<tr><td><b>Geometry</b></td><td>calibration geometry</td><td>Contains a collection of generic geometry</td><td>GeometricGoo</td></tr>
<tr><td><b>Number</b></td><td>baud rate (bytes/sec)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>Number</b></td><td>Z print speed (mm/min)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>Number</b></td><td>Z rapid speed (mm/min)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>Number</b></td><td>Z lift on peel (mm)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>Number</b></td><td>layer height (mm)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>Number</b></td><td>cure times (sec/layer)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>Number</b></td><td>dwell post cure (sec)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>Number</b></td><td>dwell at top (sec)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>Number</b></td><td>dwell at bottom (sec)</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>Number</b></td><td>peel time scaler</td><td>Contains a collection of floating point numbers</td><td>Number</td></tr>
<tr><td><b>Config DLP</b></td><td>C</td><td>primary configurations for 3D printing with DLP.</td><td>Goo</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Xylinus and associated data © 2024  <a href="http://www.ryanhoover.org/rd/xylinus.php">Ryan Hoover</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>
<script type="text/javascript" src="/js/app-notice.js"></script>

    </body>
</html>
