<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Explode at Index - TreeSloth - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Explode a tree at specified index" />
<meta name="title" content="Explode at Index - TreeSloth - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Explode at Index - TreeSloth - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/treesloth/explodeAtIndex.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs" class="docs-theme docs-widget_page docs-widget_page_page docs-widget_page_page_show" data-layout-pack="classic">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a id="application_name_header_link" href="http://grasshopperdocs.com/">Grasshopper Docs</a></p>
<p id="docs-sitedesc" class="xj_site_desc">algorithmic modeling for Rhino</p>
</div>
<div id="docs-navigation">
<ul>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/"><span>Home</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/photo"><span>View</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/page/download-1"><span>Download</span></a></li>
<li class="docs-subtab"><a href="https://discourse.mcneel.com/c/grasshopper"><span>Forums&#47;Support</span></a></li>
<li class="docs-subtab this"><a href="http://grasshopperdocs.com/"><span>Learn</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/events"><span>Attend</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/profiles"><span>My Page</span></a></li></ul>

</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/treesloth/packData.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -96px 0px" data-toptip="Pack Data"></div></a>
<a href="../../components/treesloth/unpackData.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -120px 0px" data-downtip="Unpack Data"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/treesloth/firstLast.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') 0px -24px" data-toptip="First/Last"></div></a>
<a href="../../components/treesloth/listCompare.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -24px -24px" data-downtip="List Compare"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/treesloth/sortTree.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -120px -24px" data-toptip="Sort Tree"></div></a>
<a href="../../components/treesloth/trimDataEnds.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -168px -24px" data-downtip="Trim Data Ends"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/treesloth/unweave.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -216px -24px" data-toptip="Unweave"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
List
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/treesloth/cullMultiple.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -72px 0px" data-toptip="Cull Multiple"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Sequence
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/treesloth/addUnmatched.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') 0px 0px" data-toptip="Add Unmatched"></div></a>
<a href="../../components/treesloth/appendElement.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -24px 0px" data-downtip="Append Element"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/treesloth/cloneStructure.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -48px 0px" data-toptip="Clone Structure"></div></a>
<a href="../../components/treesloth/divideBranches.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -144px 0px" data-downtip="Divide Branches"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/treesloth/explodeAtIndex.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -168px 0px" data-toptip="Explode at Index"></div></a>
<a href="../../components/treesloth/filterUnmatched.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -192px 0px" data-downtip="Filter Unmatched"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/treesloth/flipLast.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -216px 0px" data-toptip="Flip Last"></div></a>
<a href="../../components/treesloth/prependElement.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -48px -24px" data-downtip="Prepend Element"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/treesloth/renumberPaths.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -72px -24px" data-toptip="Renumber Paths"></div></a>
<a href="../../components/treesloth/shiftPaths.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -96px -24px" data-downtip="Shift Paths"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/treesloth/stackTrees.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -144px -24px" data-toptip="Stack Trees"></div></a>
<a href="../../components/treesloth/isolateUniquePaths.html"><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -192px -24px" data-downtip="Isolate Unique Paths"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Tree
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://www.food4rhino.com/app/treesloth">Download</a>
</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/treeSloth.png') -168px 0px" ></div> Explode at Index</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/treesloth.html">TreeSloth</a><a href="#" class="breadcrumb-nolink">Tree</a><a href="#" class="breadcrumb-nolink">Explode</a>
</div>

</div>
<h3>Explode a tree at specified index</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Data</b></td><td>D</td><td>Datatree to explode</td><td>Generic Data</td></tr>
<tr><td><b>Index</b></td><td>I</td><td>Index to explode at.</td><td>Integer</td></tr>
<tr><td><b>Data</b></td><td>D</td><td>Datatree to explode</td><td>Generic</td></tr>
<tr><td><b>Index</b></td><td>I</td><td>Index to explode at.</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Data</b></td><td>{--}</td><td>Data tree split at index</td><td>Generic Data</td></tr>
<tr><td><b>Data</b></td><td>{--}</td><td>Data tree split at index</td><td>Generic Data</td></tr>
<tr><td><b>Data</b></td><td>{--}</td><td>Data tree split at index</td><td>Generic</td></tr>
<tr><td><b>Data</b></td><td>{--}</td><td>Data tree split at index</td><td>Generic</td></tr>
</tbody>
</table>


</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
© 2018-2020  <a href="https://github.com/robinrodricks/">Robin Rodricks</a> and <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Hosted by<a href="http://www.github.com/"><img src="../../images/github.png" alt="Github" class="poweredbylogo" /></a> &nbsp;
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
