<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>gg Tekla Create Faceted Plate - GeomGym Tekla - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Convert Mesh to faceted plate" />
<meta name="title" content="gg Tekla Create Faceted Plate - GeomGym Tekla - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="gg Tekla Create Faceted Plate - GeomGym Tekla - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/geomgymtekla/ggTeklaCreateFacetedPlate.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v2.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="https://technical.geometrygym.com/rhino-grasshopper/tekla">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Integration-TeklaStructures.png');"></div>

<div class="compo-header">

<div class="breadcrumb">
 <a href="../../index.html">Home</a>
  <a href="../../categories/integration-tekla-structures.html">Tekla Structures addons</a><a href="../../addons/geomgym-tekla.html"><b>GeomGym Tekla</b></a><a href="#" class="breadcrumb-nolink">ggTekla</a><a href="#" class="breadcrumb-nolink">ggFacetedPlate</a>
</div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaCreateNumberingSeries.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') 0px 0px" data-toptip="gg Tekla Create Numbering Series"></div></a>
<a href="../../components/geomgymtekla/ggTeklaCreatePhase.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -24px 0px" data-downtip="gg Tekla Create Phase"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaCreateUserDefinedString.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -48px 0px" data-toptip="gg Tekla Create User Defined String"></div></a>
<a href="../../components/geomgymtekla/ggTeklaCreateUserDefinedNumber.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -72px 0px" data-downtip="gg Tekla Create User Defined Number"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaCreateUserDefinedInteger.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -96px 0px" data-toptip="gg Tekla Create User Defined Integer"></div></a>
<a href="../../components/geomgymtekla/ggTeklaCreateAssembly.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -120px 0px" data-downtip="gg Tekla Create Assembly"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaCreateItem.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -144px 0px" data-toptip="gg Tekla Create Item"></div></a>
<a href="../../components/geomgymtekla/ggTeklaCreateControlPoint.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -168px 0px" data-downtip="gg Tekla Create Control Point"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaCreateControlLine.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -192px 0px" data-toptip="gg Tekla Create Control Line"></div></a>
<a href="../../components/geomgymtekla/ggTeklaCreateControlCircle.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -216px 0px" data-downtip="gg Tekla Create Control Circle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaCreateControlPlane.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') 0px -24px" data-toptip="gg Tekla Create Control Plane"></div></a>
<a href="../../components/geomgymtekla/ggTeklaCreateBoltGroupXY.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -24px -24px" data-downtip="gg Tekla Create Bolt Group XY"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaBoltActive.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -48px -24px" data-toptip="gg Tekla Bolt Active"></div></a>
<a href="../../components/geomgymtekla/ggTeklaCreateBoltProperties.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -72px -24px" data-downtip="gg Tekla Create Bolt Properties"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaCreateBoltHoles.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -96px -24px" data-toptip="gg Tekla Create Bolt Holes"></div></a>
<a href="../../components/geomgymtekla/ggTeklaLineWeldProperties.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -120px -24px" data-downtip="gg Tekla Line Weld Properties"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaWeldProperties.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -144px -24px" data-toptip="gg Tekla Weld Properties"></div></a>
<a href="../../components/geomgymtekla/ggTeklaWeld.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -168px -24px" data-downtip="gg Tekla Weld"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaWeldPolygon.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -192px -24px" data-toptip="gg Tekla Weld Polygon"></div></a>
<a href="../../components/geomgymtekla/ggTeklaConnection.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -216px -24px" data-downtip="gg Tekla Connection"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaReverseEngineerBrep.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') 0px -48px" data-toptip="gg Tekla Reverse Engineer Brep"></div></a>
<a href="../../components/geomgymtekla/reverseEngineerBrepRHS.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -24px -48px" data-downtip="Reverse Engineer Brep RHS"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/reverseEngineerBrepOrthoPlanar.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -48px -48px" data-toptip="Reverse Engineer Brep Ortho Planar"></div></a>
<a href="../../components/geomgymtekla/ggTeklaCreatePlate.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -72px -48px" data-downtip="gg Tekla Create Plate"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaCreateFacetedPlate.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -96px -48px" data-toptip="gg Tekla Create Faceted Plate"></div></a>
<a href="../../components/geomgymtekla/ggTeklaDecomposeBeam.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -120px -48px" data-downtip="gg Tekla Decompose Beam"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaCreateBeam.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -144px -48px" data-toptip="gg Tekla Create Beam"></div></a>
<a href="../../components/geomgymtekla/ggTeklaInsertPoint.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -168px -48px" data-downtip="gg Tekla Insert Point"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaBeamAttributes.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -192px -48px" data-toptip="gg Tekla Beam Attributes"></div></a>
<a href="../../components/geomgymtekla/ggTeklaReverseEngineerBrepPlate.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -216px -48px" data-downtip="gg Tekla Reverse Engineer Brep Plate"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaCreateBeamProfile.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') 0px -72px" data-toptip="gg Tekla Create Beam Profile"></div></a>
<a href="../../components/geomgymtekla/ggTeklaLoadLISProfiles.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -24px -72px" data-downtip="gg Tekla Load LIS Profiles"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaSaveLISProfiles.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -48px -72px" data-toptip="gg Tekla Save LIS Profiles"></div></a>
<a href="../../components/geomgymtekla/ggTeklaCreatePlateProp.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -72px -72px" data-downtip="gg Tekla Create Plate Prop"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymtekla/ggTeklaCreateSingleRebar.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -96px -72px" data-toptip="gg Tekla Create Single Rebar"></div></a>
<a href="../../components/geomgymtekla/ggTeklaCreateRebarHook.html"><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -120px -72px" data-downtip="gg Tekla Create Rebar Hook"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="18">
ggTekla
</td>
</tr>
</table>
</div>
</div>


<h1><div class="ghsprite" style="background: url('../../icons/geomGymTekla.png') -96px -48px" ></div> gg Tekla Create Faceted Plate</h1>

</div>

</div>
<h3>Convert Mesh to faceted plate</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Prop</b></td><td>P</td><td>Structural Plate Property</td><td>Generic Data</td></tr>
<tr><td><b>Mesh</b></td><td>M</td><td>Mesh</td><td>Mesh</td></tr>
<tr><td><b>Position</b></td><td>P</td><td>Position (0=MIDDLE 1=FRONT 2=BEHIND)</td><td>Integer</td></tr>
<tr><td><b>Weld Properties</b></td><td>W</td><td>Weld Properties</td><td>Generic Data</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Structure Model Plates</b></td><td>P</td><td>Structural Model Plates</td><td>Geometry</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

GeomGym Tekla and associated data © 2024  <a href="https://technical.geometrygym.com/rhino-grasshopper/tekla">Geometry Gym Pty Ltd</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
