<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Graft By Data - TreeFrog - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Adds an additional level of path hierarchy according to the specified indices" />
<meta name="title" content="Graft By Data - TreeFrog - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Graft By Data - TreeFrog - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/treefrog/graftByData.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>



</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/treefrog/assignPaths.html"><div class="ghsprite" style="background: url('../../icons/treeFrog.png') 0px 0px" data-toptip="Assign Paths"></div></a>
<a href="../../components/treefrog/graftByData.html"><div class="ghsprite" style="background: url('../../icons/treeFrog.png') -24px 0px" data-downtip="Graft By Data"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/treefrog/matchPaths.html"><div class="ghsprite" style="background: url('../../icons/treeFrog.png') -48px 0px" data-toptip="Match Paths"></div></a>
<a href="../../components/treefrog/pathDescription.html"><div class="ghsprite" style="background: url('../../icons/treeFrog.png') -72px 0px" data-downtip="Path Description"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
TreeFrog
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://www.food4rhino.com/app/human">Download</a>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/treeFrog.png') -24px 0px" ></div> Graft By Data</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/treefrog.html">TreeFrog</a><a href="#" class="breadcrumb-nolink">TreeFrog</a><a href="#" class="breadcrumb-nolink">GraftByData</a>
</div>

</div>
<h3>Adds an additional level of path hierarchy according to the specified indices</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Input Data</b></td><td>data</td><td>input data</td><td>Generic Data</td></tr>
<tr><td><b>Paths to Assign</b></td><td>paths</td><td>paths to assign. This list must have exactly the same structure as the input data.</td><td>Integer</td></tr>
<tr><td><b>Input Data</b></td><td>data</td><td>input data</td><td>Generic</td></tr>
<tr><td><b>Paths to Assign</b></td><td>paths</td><td>paths to assign. This list must have exactly the same structure as the input data.</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Restructured Data</b></td><td>data</td><td>Data that has been restructured</td><td>Generic Data</td></tr>
<tr><td><b>Restructured Data</b></td><td>data</td><td>Data that has been restructured</td><td>Generic</td></tr>
</tbody>
</table>


</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

TreeFrog and associated data © 2020  <a href="https://www.food4rhino.com/app/human">Unknown</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
