<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
    <head data-layout-view="wide">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>OpenStudio Cooling Tower - Grasshopper Component Reference</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />
    <meta name="description" content="A guide to component OpenStudio Cooling Tower in Grasshopper 3D." />
<meta name="title" content="Grasshopper Component Reference" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.grasshopper3d.com/page/component-reference" />
<meta property="og:title" content="Grasshopper Component Reference" />
<link rel="image_src" href="http://rhino.github.io/ning/2985220.jpg" />

<style type="text/css" media="screen,projection">
#xg_navigation ul div.xg_subtab ul li a {
    color:#666666;
    background:#EAFFBD;
}
#xg_navigation ul div.xg_subtab ul li a:hover {
    color:#333333;
    background:#F2FFD6;
}
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/index.css);
@import url(../../ning/page.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187549422.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187545030.css);
</style>


<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
    
        
        <div id="xg" class="xg_theme xg_widget_page xg_widget_page_page xg_widget_page_page_show" data-layout-pack="classic">
            <div id="xg_head">
                <div id="xg_masthead">
                    <p id="xg_sitename"><a id="application_name_header_link" href="http://www.grasshopper3d.com/">Grasshopper</a></p>
                    <p id="xg_sitedesc" class="xj_site_desc">algorithmic modeling for Rhino</p>
                </div>
                <div id="xg_navigation">
                    <ul>
    <li id="xg_tab_main" class="xg_subtab"><a href="http://www.grasshopper3d.com/"><span>Home</span></a></li>
	<li id="xg_tab_photo" class="xg_subtab"><a href="http://www.grasshopper3d.com/photo"><span>View</span></a></li>
	<li id="xg_tab_xn0" class="xg_subtab"><a href="http://www.grasshopper3d.com/page/download-1"><span>Get</span></a></li>
	<li id="xg_tab_xn2" class="xg_subtab this"><a href="http://www.grasshopper3d.com/page/tutorials-1"><span>Learn</span></a></li>
	<li id="xg_tab_forum" class="xg_subtab"><a href="http://www.grasshopper3d.com/forum"><span>Talk</span></a></li>
	<li id="xg_tab_events" class="xg_subtab"><a href="http://www.grasshopper3d.com/events"><span>Events</span></a></li>
	<li id="xg_tab_profile" class="xg_subtab"><a href="http://www.grasshopper3d.com/"><span>My Page</span></a></li></ul>

                </div>
            </div>
            
            <div id="xg_body">
                
				<div class="page">

<div class="content">

<div>
<h1><img src="../../icons/Honeybee/OpenStudio_Cooling_Tower.png"/> OpenStudio Cooling Tower</h1>
<p><a href="../../index.html">Component Index</a> &gt; Honeybee > 13 | WIP > <b>OpenStudio Cooling Tower</b></p>
</div>
<h3>EPlus Cooling Tower<br></h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>_name</b></td><td>_name</td><td>Script variable Python</td><td>Goo</td></tr>
<tr><td><b>_speedControl_</b></td><td>_speedControl_</td><td>an integer that defines the speed control of the cooling tower 1:1-speed, 2:2-speed (default if left blank), 3:variable speed</td><td>Goo</td></tr>
<tr><td><b>_inputMethod_</b></td><td>_inputMethod_</td><td>an integer that defines how the cooling Tower performance is entered.  0:UFactorTimesAreaAndDesignWaterFlowRate (honeybee default if left blank) , 1:NominalCapacity</td><td>Goo</td></tr>
<tr><td><b>_modelType_</b></td><td>_modelType_</td><td>used only for Variable Speed towers, an input that defines the empirical model used for the cooling tower.  Provide an integer for 0:"CoolToolsCrossFlow" (default if left blank) or 1:"YorkCalc"</td><td>Goo</td></tr>
<tr><td><b>_designWB_</b></td><td>_designWB_</td><td>used only for Variable Speed towers, an input in deg Celsius, that indicates the outdoor wet bulb at design conditions.  If left blank, the default is 25.5556 degrees Celsius (78 degrees Fahrenheit).  Minimum is 20 degrees C</td><td>Goo</td></tr>
<tr><td><b>_designRange_</b></td><td>_designRange_</td><td>used only for Variable Speed towers, an input in deg Celsius, that indicates the difference in temperature between the water entering and leaving the tower.  If left blank, the default is 5.5556 degrees Celsius (10 degrees Celsius). Must be greater than 0.</td><td>Goo</td></tr>
<tr><td><b>_designApproach_</b></td><td>_designApproach_</td><td>used only for Variable Speed towers, an input in deg Celsius, that indicates how close the leaving water temperature comes to the outdoor dry bulb (it will always be greater than the outdoor dry bulb).  If left blank, the default is 3.8889 degrees Celsius (7 degrees Fahrenheit).  Must be greater than o</td><td>Goo</td></tr>
<tr><td><b>_sizingFactor_</b></td><td>_sizingFactor_</td><td>an optional field that allows a user to specify a sizing factor for the peak load when all components are autosized.  The default if left blank is 1.15 (recommended).  Variables affected by the sizing factor can be found in the EnergyPlus documentation.</td><td>Goo</td></tr>
<tr><td><b>_nominalCapacity</b></td><td>_nominalCapacity</td><td>the nominal capacity at highest speed (in Watts) of the cooling tower assuming 95-85F leaving/entering water temperature, air at 78F WB, 95F DB, with design water flow rate at 3 GPM/ton.  If left blank, it autosizes</td><td>Goo</td></tr>
<tr><td><b>_designWaterFlowRate_</b></td><td>_designWaterFlowRate_</td><td>if the input method is 0 (UFactorTimesAreaAndDesignWaterFlowRate) then this is required (value is in cubic meters per second.  If left blank, this can be autosized based on</td><td>Goo</td></tr>
<tr><td><b>_airflowAtHighSpeed_</b></td><td>_airflowAtHighSpeed_</td><td>the tower airflow rate at high speed in cubic meters per second. If this is left blank, this field will be autosized (recommended).  The airflow rate assumes 190 Pascals of fan pressure rise an 0.5 total fan efficiency</td><td>Goo</td></tr>
<tr><td><b>_fanPowerAtHighSpeed_</b></td><td>_fanPowerAtHighSpeed_</td><td>the fan power at high airflow rate (in Watts).  If left blank, the fan power autosized (recommended) where the power is 0.0105 times the Tower's High Speed Capacity.</td><td>Goo</td></tr>
<tr><td><b>_lowSpeedCapacity_</b></td><td>_lowSpeedCapacity_</td><td>the capacity at low fan speed (in Watts) of the cooling tower under same operating conditions as above.  This field will be ignored if the speed is not two-speed.</td><td>Goo</td></tr>
<tr><td><b>_airflowAtLowSpeed_</b></td><td>_airflowAtLowSpeed_</td><td>the flow rate in m3/s of the tower flow rate at low speed.  If left blank, it autosized (recommended) where the airflow rate is 50% of the airflow at high speed.  The airflow entered must be less than the airflow rate at high speed.</td><td>Goo</td></tr>
<tr><td><b>_fanPowerAtLowSpeed_</b></td><td>_fanPowerAtLowSpeed_</td><td>the fan power, (in Watts) at the low-speed airflow rate.  It can be autosized (recommended) where the fan power is set to 16% of the high speed fan power.</td><td>Goo</td></tr>
<tr><td><b>_freeConvectionCapacity_</b></td><td>_freeConvectionCapacity_</td><td>the capacity of the cooling tower with no fans (in Watts).  If free convection mode is not modeled, then this field should be set to zero.</td><td>Goo</td></tr>
<tr><td><b>_airflowInFreeConvection_</b></td><td>_airflowInFreeConvection_</td><td>the airflow in cubic meters per second through the tower when no fans are on.  If left blank, it can autosize.  If inputMethod=0, honeybee will assume it defaults to 0, if inputMethod=1, the airflow rate is 10% of the airFlowRate at high speed.</td><td>Goo</td></tr>
<tr><td><b>_basinHeaterCapacity_</b></td><td>_basinHeaterCapacity_</td><td>the capaity (in Watts) of a basin heater that comes on to prevent freezing of the basin water.  If left blank, it will autosize to 0.  The heater only comes on when the fans are off, and the temperatre falls below the setpoint temperature</td><td>Goo</td></tr>
<tr><td><b>_basinHeaterSetpointTemp_</b></td><td>_basinHeaterSetpointTemp_</td><td>the setpoint temperature for the basin heater (in degrees C).  The heater is active when the outdoor dry bulb temperature falls below this temperature.  Temperature must be greater than 2 degrees C.  Default if blank is 2 degrees C.</td><td>Goo</td></tr>
<tr><td><b>_basinHeaterSchedule_</b></td><td>_basinHeaterSchedule_</td><td>if left blank, it will default (recommended) to being "always available".  However this can be overridded to make it only available at certain times.</td><td>Goo</td></tr>
<tr><td><b>_numberOfCells_</b></td><td>_numberOfCells_</td><td>an integer specifying the number of cells.  If left blank, the assumption is a single-celled cooling tower</td><td>Goo</td></tr>
<tr><td><b>_cellControl_</b></td><td>_cellControl_</td><td>an integer that specifies one of two options:  0=MinimalCell OR 1=MaximalCell.  Option 0 runs as few cells as possible at maximum water flow rate, option 1 assumes maximum cells at minimum water flow rate</td><td>Goo</td></tr>
<tr><td><b>_cellMinWaterFlowFraction_</b></td><td>_cellMinWaterFlowFraction_</td><td>specifies the smallest fraction of the design water flow rate.  Flows less than this would result in fluid distribution problems in the tower.  By default, if left blank (recommended), the default value is 0.33</td><td>Goo</td></tr>
<tr><td><b>_cellMaxWaterFlowFraction_</b></td><td>_cellMaxWaterFlowFraction_</td><td>specifies the allowable largest fraction of design water flow rate.  This field can be autosized, with a default value of 2.5 (recommended)
[for future]_heatRejectionCapacityFactor_:  a decimal indicating the capacity of the cooling tower.  By default, the factor is 1.25 (assumes that 25% of the load is turned into compressor heat to be rejected)
[for future]_designUFactorTimesArea: a value between 0 and 300,000 that defines, in Watts per Kelvin, the heat transfer effectiveness of the cooling Tower.  If inputType is NominalCapacity, this field will be ignored by honeybee.  Left for future because this field can be autosized.
[for future]_freeConvAirflowFactor:  is a value that is a fraction of the autocalculated peak flow rate, that is the free convection flow rate of the tower.  Left for future because this field is set to 0.1 by EnergyPlus by default.
[for future]_freeConvUFactorTimesArea:  a value that is a fraction of the designUFactorTimesArea.  Left for future because this field has defaults or is autosized. If inputType is NominalCapacity, this field will be ignored by honeybee.
[for future]_freeConvNominalCapacityRatio:  a value that is a fraction of the Nominal capacity
[for future]_evaporationLossMode_:  used to chose which method to model the amount of water evaporated by the cooling tower.  There are two options (LossFactor or SaturatedExit (the default used for now)
[for future]_evaporationLossFactor_:  the rate of water evaporated from the cooling tower (percent per kelvin).  Only used if the lossMode is LossFactor.  The default if left blank is 0.2, with a range between 0.15 - 0.27
[for future]_driftLossPercent_:  the rate of water lost to exiting air as entrained droplets (a percentage).  If left blank, it defaults to 0.008%, where towers with drift eliminators have avalues between 0.002% - 0.2%
[for future]_blowDownCalculation_:  specifies which method is used to determine blowdown rates to prevent scaling.  Two options, ConcentrationRation or ScheduleRate with default already provided as ConcentrationRatio
[for future]_blowDownConcentrationRatio_:  the ratio of solids in the blowdown water to solids in the make up water.  This field is used to adjust the rate of blowdown in the tower.  Default is 3, with values between 3 and 5 allowed.
[for future]_blowdownMakeupSchedule_: a schedule that defines the amount of water (in m3/s) flushed from the basin periodically.  Only used if blowdown calc mode is ScheduledRate
[for future]_storageTankName_:if specified, the tower will try and take all water from this unit before attempting to use the water mains</td><td>Goo</td></tr>
<tr><td><b>_fanPowerRatioflowRatioCurve_</b></td><td>_fanPowerRatioflowRatioCurve_</td><td>Script variable EPlusCoolingTower</td><td>Goo</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>out</b></td><td>out</td><td>The execution information, as output and error streams</td><td>String</td></tr>
<tr><td><b>coolingTower</b></td><td>coolingTower</td><td>Script variable Python</td><td>Goo</td></tr>
</tbody>
</table>


  </div>

</div>

            </div>
            <div id="xg_foot">
                <p class="left">
    © 2016             &nbsp; Created by <a href="http://www.grasshopper3d.com/profile/HarshGupta367/">Harsh Gupta</a> and <a href="http://www.grasshopper3d.com/profile/AndrewHeumann/">Andrew Heumann</a>. &nbsp;
    Hosted by<a href="http://www.github.com/"><img src="../../images/github.png" alt="Github" class="poweredbylogo" /></a>
	</p>
    <p class="right xg_lightfont">
                    <a href="http://www.grasshopper3d.com/main/embeddable/list">Badges</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/index/report" dojotype="PromptToJoinLink" _joinprompttext="Please sign up or sign in to complete this step." _hassignup="true" _signinurl="http://www.grasshopper3d.com/main/authorization/signIn?target=http%3A%2F%2Fwww.grasshopper3d.com%2Fmain%2Findex%2Freport">Report an Issue</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/authorization/termsOfService?previousUrl=http%3A%2F%2Fwww.grasshopper3d.com%2Fpage%2Fcomponent-reference">Terms of Service</a>
            </p>

            </div>
        </div>
        
        <div id="xj_baz17246" class="xg_theme"></div>
<div id="xg_overlay" style="display:none;">
<!--[if lte IE 6.5]><iframe></iframe><![endif]-->
</div>
<!--googleoff: all--><noscript>
	<style type="text/css" media="screen">
        #xg { position:relative;top:120px; }
        #xn_bar { top:120px; }
	</style>
	<div class="errordesc noscript">
		<div>
            <h3><strong>Hello, you need to enable JavaScript to use Grasshopper.</strong></h3>
            <p>Please check your browser settings or contact your system administrator.</p>
			
		</div>
	</div>
</noscript><!--googleon: all-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
