<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Centroid - Grasshopper Maths - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Generate the triangle centroid from medians." />
<meta name="title" content="Centroid - Grasshopper Maths - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Centroid - Grasshopper Maths - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/grasshoppermaths/centroid.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>



</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/ghPythonScript.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') 0px 0px" data-toptip="GhPython Script"></div></a>
<a href="../../components/grasshoppermaths/cScript.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -48px 0px" data-downtip="C# Script"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/vBScript.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -72px 0px" data-toptip="VB Script"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Script
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/rightTrigonometry.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -96px 0px" data-toptip="Right Trigonometry"></div></a>
<a href="../../components/grasshoppermaths/centroid.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -120px 0px" data-downtip="Centroid"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/circumcentre.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -144px 0px" data-toptip="Circumcentre"></div></a>
<a href="../../components/grasshoppermaths/incentre.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -168px 0px" data-downtip="Incentre"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/orthocentre.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -192px 0px" data-toptip="Orthocentre"></div></a>
<a href="../../components/grasshoppermaths/triangleTrigonometry.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -216px 0px" data-downtip="Triangle Trigonometry"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Trig
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/smoothNumbers.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -24px 0px" data-toptip="Smooth Numbers"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Util
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">

<a href="https://www.rhino3d.com/6/new/grasshopper">Download</a>
</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -120px 0px" ></div> Centroid</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/grasshopper-maths.html">Grasshopper Maths</a><a href="#" class="breadcrumb-nolink">Trig</a><a href="#" class="breadcrumb-nolink">Centroid</a>
</div>

</div>
<h3>Generate the triangle centroid from medians.</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Point A</b></td><td>A</td><td>First triangle corner</td><td>Point</td></tr>
<tr><td><b>Point B</b></td><td>B</td><td>Second triangle corner</td><td>Point</td></tr>
<tr><td><b>Point C</b></td><td>C</td><td>Third triangle corner</td><td>Point</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Centroid</b></td><td>C</td><td>Centroid point for triangle</td><td>Point</td></tr>
<tr><td><b>Median AB</b></td><td>AB</td><td>Median line connecting edge AB with corner C</td><td>Line</td></tr>
<tr><td><b>Median BC</b></td><td>BC</td><td>Median line connecting edge BC with corner A</td><td>Line</td></tr>
<tr><td><b>Median CA</b></td><td>CA</td><td>Median line connecting edge CA with corner B</td><td>Line</td></tr>
</tbody>
</table>


</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Grasshopper Maths and associated data © 2020  <a href="https://www.rhino3d.com/6/new/grasshopper">Robert McNeel &amp; Associates</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
