<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Swap Columns - Grasshopper Maths - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Swap two columns in a matrix" />
<meta name="title" content="Swap Columns - Grasshopper Maths - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Swap Columns - Grasshopper Maths - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/grasshoppermaths/swapColumns.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v2.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="https://www.rhino3d.com/6/new/grasshopper">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Grasshopper.png');"></div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/constructDomain.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -144px -144px" data-toptip="Construct Domain"></div></a>
<a href="../../components/grasshoppermaths/deconstructDomain.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -168px -144px" data-downtip="Deconstruct Domain"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/consecutiveDomains.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -192px -144px" data-toptip="Consecutive Domains"></div></a>
<a href="../../components/grasshoppermaths/bounds.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -216px -144px" data-downtip="Bounds"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/bounds2D.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') 0px -168px" data-toptip="Bounds 2D"></div></a>
<a href="../../components/grasshoppermaths/includes.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -24px -168px" data-downtip="Includes"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/remapNumbers.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -48px -168px" data-toptip="Remap Numbers"></div></a>
<a href="../../components/grasshoppermaths/constructDomain.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -72px -168px" data-downtip="Construct Domain&#178;"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/deconstructDomain.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -96px -168px" data-toptip="Deconstruct Domain&#178;"></div></a>
<a href="../../components/grasshoppermaths/divideDomain.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -120px -168px" data-downtip="Divide Domain"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/divideDomain.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -144px -168px" data-toptip="Divide Domain&#178;"></div></a>
<a href="../../components/grasshoppermaths/findDomain.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -168px -168px" data-downtip="Find Domain"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Domain
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/constructMatrix.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') 0px -192px" data-toptip="Construct Matrix"></div></a>
<a href="../../components/grasshoppermaths/deconstructMatrix.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -24px -192px" data-downtip="Deconstruct Matrix"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/invertMatrix.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -48px -192px" data-toptip="Invert Matrix"></div></a>
<a href="../../components/grasshoppermaths/transposeMatrix.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -72px -192px" data-downtip="Transpose Matrix"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/swapRows.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -96px -192px" data-toptip="Swap Rows"></div></a>
<a href="../../components/grasshoppermaths/swapColumns.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -120px -192px" data-downtip="Swap Columns"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/displayMatrix.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -24px -240px" data-toptip="Display Matrix"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Matrix
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/negative.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -72px -48px" data-toptip="Negative"></div></a>
<a href="../../components/grasshoppermaths/absolute.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -96px -48px" data-downtip="Absolute"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/factorial.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -216px -48px" data-toptip="Factorial"></div></a>
<a href="../../components/grasshoppermaths/division.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') 0px -72px" data-downtip="Division"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/integerDivision.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -24px -72px" data-toptip="Integer Division"></div></a>
<a href="../../components/grasshoppermaths/addition.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -48px -72px" data-downtip="Addition"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/subtraction.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -72px -72px" data-toptip="Subtraction"></div></a>
<a href="../../components/grasshoppermaths/multiplication.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -96px -72px" data-downtip="Multiplication"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/modulus.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -192px -72px" data-toptip="Modulus"></div></a>
<a href="../../components/grasshoppermaths/power.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -216px -72px" data-downtip="Power"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/massAddition.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -48px -96px" data-toptip="Mass Addition"></div></a>
<a href="../../components/grasshoppermaths/massMultiplication.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -72px -96px" data-downtip="Mass Multiplication"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/relativeDifferences.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -96px -96px" data-toptip="Relative Differences"></div></a>
<a href="../../components/grasshoppermaths/smallerThan.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -216px -96px" data-downtip="Smaller Than"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/largerThan.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') 0px -120px" data-toptip="Larger Than"></div></a>
<a href="../../components/grasshoppermaths/equality.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -24px -120px" data-downtip="Equality"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/similarity.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -48px -120px" data-toptip="Similarity"></div></a>
<a href="../../components/grasshoppermaths/gateAnd.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -72px -120px" data-downtip="Gate And"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/gateOr.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -96px -120px" data-toptip="Gate Or"></div></a>
<a href="../../components/grasshoppermaths/gateNot.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -120px -120px" data-downtip="Gate Not"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/gateXor.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -144px -120px" data-toptip="Gate Xor"></div></a>
<a href="../../components/grasshoppermaths/gateNand.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -168px -120px" data-downtip="Gate Nand"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/gateNor.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -192px -120px" data-toptip="Gate Nor"></div></a>
<a href="../../components/grasshoppermaths/gateXnor.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -216px -120px" data-downtip="Gate Xnor"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/gateMajority.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') 0px -144px" data-toptip="Gate Majority"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="13">
Operators
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/square.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -48px 0px" data-toptip="Square"></div></a>
<a href="../../components/grasshoppermaths/squareRoot.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -72px 0px" data-downtip="Square Root"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/cube.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -96px 0px" data-toptip="Cube"></div></a>
<a href="../../components/grasshoppermaths/cubeRoot.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -120px 0px" data-downtip="Cube Root"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/logarithm.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -144px 0px" data-toptip="Logarithm"></div></a>
<a href="../../components/grasshoppermaths/naturalLogarithm.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -168px 0px" data-downtip="Natural logarithm"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/powerOfE.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -192px 0px" data-toptip="Power of E"></div></a>
<a href="../../components/grasshoppermaths/powerOf2.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -216px 0px" data-downtip="Power of 2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/powerOf10.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') 0px -24px" data-toptip="Power of 10"></div></a>
<a href="../../components/grasshoppermaths/oneOverX.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -120px -48px" data-downtip="One Over X"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/logN.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -24px -96px" data-toptip="Log N"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Polynomials
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/evaluate.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -192px -168px" data-toptip="Evaluate"></div></a>
<a href="../../components/grasshoppermaths/expression.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -216px -168px" data-downtip="Expression"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Script
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/constructDate.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -168px -192px" data-toptip="Construct Date"></div></a>
<a href="../../components/grasshoppermaths/constructExoticDate.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -192px -192px" data-downtip="Construct Exotic Date"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/constructTime.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -216px -192px" data-toptip="Construct Time"></div></a>
<a href="../../components/grasshoppermaths/constructSmoothTime.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') 0px -216px" data-downtip="Construct Smooth Time"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/deconstructDate.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -24px -216px" data-toptip="Deconstruct Date"></div></a>
<a href="../../components/grasshoppermaths/combineDateTime.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -48px -216px" data-downtip="Combine Date &amp; Time"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/interpolateDate.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -72px -216px" data-toptip="Interpolate Date"></div></a>
<a href="../../components/grasshoppermaths/dateRange.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -96px -216px" data-downtip="Date Range"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Time
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/sine.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -24px -24px" data-toptip="Sine"></div></a>
<a href="../../components/grasshoppermaths/sinc.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -48px -24px" data-downtip="Sinc"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/cosine.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -72px -24px" data-toptip="Cosine"></div></a>
<a href="../../components/grasshoppermaths/tangent.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -96px -24px" data-downtip="Tangent"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/arcSine.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -120px -24px" data-toptip="ArcSine"></div></a>
<a href="../../components/grasshoppermaths/arcCosine.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -144px -24px" data-downtip="ArcCosine"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/arcTangent.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -168px -24px" data-toptip="ArcTangent"></div></a>
<a href="../../components/grasshoppermaths/secant.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -192px -24px" data-downtip="Secant"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/coSecant.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -216px -24px" data-toptip="CoSecant"></div></a>
<a href="../../components/grasshoppermaths/coTangent.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') 0px -48px" data-downtip="CoTangent"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/degrees.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -24px -48px" data-toptip="Degrees"></div></a>
<a href="../../components/grasshoppermaths/radians.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -48px -48px" data-downtip="Radians"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/rightTrigonometry.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -120px -216px" data-toptip="Right Trigonometry"></div></a>
<a href="../../components/grasshoppermaths/triangleTrigonometry.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -144px -216px" data-downtip="Triangle Trigonometry"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/circumcentre.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -168px -216px" data-toptip="Circumcentre"></div></a>
<a href="../../components/grasshoppermaths/incentre.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -192px -216px" data-downtip="Incentre"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/orthocentre.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -216px -216px" data-toptip="Orthocentre"></div></a>
<a href="../../components/grasshoppermaths/centroid.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') 0px -240px" data-downtip="Centroid"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="9">
Trig
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/smoothNumbers.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') 0px 0px" data-toptip="Smooth Numbers"></div></a>
<a href="../../components/grasshoppermaths/clamp.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -24px 0px" data-downtip="Clamp"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/pi.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -144px -48px" data-toptip="Pi"></div></a>
<a href="../../components/grasshoppermaths/goldenRatio.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -168px -48px" data-downtip="Golden Ratio"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/epsilon.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -192px -48px" data-toptip="Epsilon"></div></a>
<a href="../../components/grasshoppermaths/minimum.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -120px -72px" data-downtip="Minimum"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/maximum.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -144px -72px" data-toptip="Maximum"></div></a>
<a href="../../components/grasshoppermaths/extremes.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -168px -72px" data-downtip="Extremes"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/round.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') 0px -96px" data-toptip="Round"></div></a>
<a href="../../components/grasshoppermaths/blurNumbers.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -120px -96px" data-downtip="Blur Numbers"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/truncate.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -144px -96px" data-toptip="Truncate"></div></a>
<a href="../../components/grasshoppermaths/average.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -168px -96px" data-downtip="Average"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/weightedAverage.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -192px -96px" data-toptip="Weighted Average"></div></a>
<a href="../../components/grasshoppermaths/createComplex.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -24px -144px" data-downtip="Create Complex"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/complexComponents.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -48px -144px" data-toptip="Complex Components"></div></a>
<a href="../../components/grasshoppermaths/complexConjugate.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -72px -144px" data-downtip="Complex Conjugate"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/complexArgument.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -96px -144px" data-toptip="Complex Argument"></div></a>
<a href="../../components/grasshoppermaths/complexModulus.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -120px -144px" data-downtip="Complex Modulus"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppermaths/interpolateData.html"><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -144px -192px" data-toptip="Interpolate data"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="10">
Util
</td>
</tr>
</table>
</div>
</div>


<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/grasshopperMaths.png') -120px -192px" ></div> Swap Columns</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/grasshopper-maths.html">Grasshopper Maths</a><a href="#" class="breadcrumb-nolink">Matrix</a><a href="#" class="breadcrumb-nolink">SwapC</a>
</div>

</div>

</div>
<h3>Swap two columns in a matrix</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Matrix</b></td><td>M</td><td>Matrix for column swap</td><td>Matrix</td></tr>
<tr><td><b>Column A</b></td><td>A</td><td>First column index</td><td>Integer</td></tr>
<tr><td><b>Column B</b></td><td>B</td><td>Second column index</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Matrix</b></td><td>M</td><td>Matrix with swapped rows</td><td>Matrix</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Grasshopper Maths and associated data © 2024  <a href="https://www.rhino3d.com/6/new/grasshopper">Robert McNeel &amp; Associates</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
