<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Kinky Curve - Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="A guide to component Kinky Curve in Grasshopper 3D." />
<meta name="title" content="Kinky Curve - Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://grasshopperdocs.com/" />
<meta property="og:title" content="Kinky Curve - Grasshopper Docs" />

<meta property="wiki-page" content="GH GrasshopperCurve Kinky_Curve.md" />

<link rel="image_src" href="http://grasshopperdocs.com/ning/2985220.jpg" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs" class="docs-theme docs-widget_page docs-widget_page_page docs-widget_page_page_show" data-layout-pack="classic">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a id="application_name_header_link" href="http://grasshopperdocs.com/">Grasshopper Docs</a></p>
<p id="docs-sitedesc" class="xj_site_desc">algorithmic modeling for Rhino</p>
</div>
<div id="docs-navigation">
<ul>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/"><span>Home</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/photo"><span>View</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/page/download-1"><span>Download</span></a></li>
<li class="docs-subtab"><a href="https://discourse.mcneel.com/c/grasshopper"><span>Forums&#47;Support</span></a></li>
<li class="docs-subtab this"><a href="http://grasshopperdocs.com/"><span>Learn</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/events"><span>Attend</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/profiles"><span>My Page</span></a></li></ul>

</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/evaluateLength.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -72px 0px" data-toptip="Evaluate Length"></div></a>
<a href="../../components/grasshoppercurve/closed.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -168px -24px" data-downtip="Closed"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/controlPoints.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') 0px -48px" data-toptip="Control Points"></div></a>
<a href="../../components/grasshoppercurve/controlPolygon.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -24px -48px" data-downtip="Control Polygon"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/curveClosestPoint.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -72px -48px" data-toptip="Curve Closest Point"></div></a>
<a href="../../components/grasshoppercurve/curvature.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -96px -48px" data-downtip="Curvature"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/curveDepth.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -120px -48px" data-toptip="Curve Depth"></div></a>
<a href="../../components/grasshoppercurve/derivatives.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -144px -48px" data-downtip="Derivatives"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/discontinuity.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -168px -48px" data-toptip="Discontinuity"></div></a>
<a href="../../components/grasshoppercurve/curveDomain.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -192px -48px" data-downtip="Curve Domain"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/extremes.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -216px -48px" data-toptip="Extremes"></div></a>
<a href="../../components/grasshoppercurve/curveMiddle.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') 0px -72px" data-downtip="Curve Middle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/curveNearestObject.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -24px -72px" data-toptip="Curve Nearest Object"></div></a>
<a href="../../components/grasshoppercurve/curveProximity.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -48px -72px" data-downtip="Curve Proximity"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/segmentLengths.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -96px -72px" data-toptip="Segment Lengths"></div></a>
<a href="../../components/grasshoppercurve/curveSide.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -120px -72px" data-downtip="Curve Side"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/torsion.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -168px -72px" data-toptip="Torsion"></div></a>
<a href="../../components/grasshoppercurve/deconstructArc.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -216px -72px" data-downtip="Deconstruct Arc"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/deconstuctRectangle.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') 0px -96px" data-toptip="Deconstuct Rectangle"></div></a>
<a href="../../components/grasshoppercurve/endPoints.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -48px -96px" data-downtip="End Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/evaluateCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -72px -96px" data-toptip="Evaluate Curve"></div></a>
<a href="../../components/grasshoppercurve/length.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -216px -120px" data-downtip="Length"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/lengthDomain.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') 0px -144px" data-toptip="Length Domain"></div></a>
<a href="../../components/grasshoppercurve/lengthParameter.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -24px -144px" data-downtip="Length Parameter"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/planar.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -96px -168px" data-toptip="Planar"></div></a>
<a href="../../components/grasshoppercurve/pointInCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -120px -168px" data-downtip="Point In Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/pointInCurves.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -144px -168px" data-toptip="Point in Curves"></div></a>
<a href="../../components/grasshoppercurve/polygonCenter.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -216px -168px" data-downtip="Polygon Center"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/curvatureGraph.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -48px -240px" data-toptip="Curvature Graph"></div></a>
<a href="../../components/grasshoppercurve/curveFrame.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -120px -240px" data-downtip="Curve Frame"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/horizontalFrame.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -144px -240px" data-toptip="Horizontal Frame"></div></a>
<a href="../../components/grasshoppercurve/perpFrame.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -216px -240px" data-downtip="Perp Frame"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="16">
Analysis
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/dashPattern.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -192px -72px" data-toptip="Dash Pattern"></div></a>
<a href="../../components/grasshoppercurve/shatter.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -216px -192px" data-downtip="Shatter"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/contour.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -72px -240px" data-toptip="Contour"></div></a>
<a href="../../components/grasshoppercurve/contourex.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -96px -240px" data-downtip="Contour (ex)"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/curveFrames.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -168px -240px" data-toptip="Curve Frames"></div></a>
<a href="../../components/grasshoppercurve/horizontalFrames.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -192px -240px" data-downtip="Horizontal Frames"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/perpFrames.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') 0px -264px" data-toptip="Perp Frames"></div></a>
<a href="../../components/grasshoppercurve/divideCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -24px -264px" data-downtip="Divide Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/divideByDeviation.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -48px -264px" data-toptip="Divide By Deviation"></div></a>
<a href="../../components/grasshoppercurve/divideDistance.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -72px -264px" data-downtip="Divide Distance"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/divideLength.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -96px -264px" data-toptip="Divide Length"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Division
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/arc.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') 0px 0px" data-toptip="Arc"></div></a>
<a href="../../components/grasshoppercurve/modifiedArc.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -24px 0px" data-downtip="Modified Arc"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/arc3Pt.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -48px 0px" data-toptip="Arc 3Pt"></div></a>
<a href="../../components/grasshoppercurve/arcSED.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -96px 0px" data-downtip="Arc SED"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/biArc.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -144px 0px" data-toptip="BiArc"></div></a>
<a href="../../components/grasshoppercurve/circle.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -24px -24px" data-downtip="Circle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/circle3Pt.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -48px -24px" data-toptip="Circle 3Pt"></div></a>
<a href="../../components/grasshoppercurve/circleCNR.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -72px -24px" data-downtip="Circle CNR"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/circleFit.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -96px -24px" data-toptip="Circle Fit"></div></a>
<a href="../../components/grasshoppercurve/circleTanTan.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -120px -24px" data-downtip="Circle TanTan"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/circleTanTanTan.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -144px -24px" data-toptip="Circle TanTanTan"></div></a>
<a href="../../components/grasshoppercurve/ellipse.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -24px -96px" data-downtip="Ellipse"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/inCircle.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') 0px -120px" data-toptip="InCircle"></div></a>
<a href="../../components/grasshoppercurve/inEllipse.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -24px -120px" data-downtip="InEllipse"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/line.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -48px -144px" data-toptip="Line"></div></a>
<a href="../../components/grasshoppercurve/line2Plane.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -72px -144px" data-downtip="Line 2Plane"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/line4Pt.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -96px -144px" data-toptip="Line 4Pt"></div></a>
<a href="../../components/grasshoppercurve/fitLine.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -120px -144px" data-downtip="Fit Line"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/lineSDL.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -144px -144px" data-toptip="Line SDL"></div></a>
<a href="../../components/grasshoppercurve/polygon.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -192px -168px" data-downtip="Polygon"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/polygonEdge.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') 0px -192px" data-toptip="Polygon Edge"></div></a>
<a href="../../components/grasshoppercurve/rectangle.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -120px -192px" data-downtip="Rectangle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/rectangle2Pt.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -144px -192px" data-toptip="Rectangle 2Pt"></div></a>
<a href="../../components/grasshoppercurve/rectangle3Pt.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -168px -192px" data-downtip="Rectangle 3Pt"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/tangentArcs.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -120px -216px" data-toptip="Tangent Arcs"></div></a>
<a href="../../components/grasshoppercurve/tangentLines.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -144px -216px" data-downtip="Tangent Lines"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/tangentLinesEx.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -168px -216px" data-toptip="Tangent Lines (Ex)"></div></a>
<a href="../../components/grasshoppercurve/tangentLinesIn.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -192px -216px" data-downtip="Tangent Lines (In)"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/twoByFourJam.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') 0px -240px" data-toptip="TwoByFourJam"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="15">
Primitive
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/bezierSpan.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -120px 0px" data-toptip="Bezier Span"></div></a>
<a href="../../components/grasshoppercurve/blendCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -168px 0px" data-downtip="Blend Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/blendCurvePt.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -192px 0px" data-toptip="Blend Curve Pt"></div></a>
<a href="../../components/grasshoppercurve/catenary.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -216px 0px" data-downtip="Catenary"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/catenaryEx.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') 0px -24px" data-toptip="Catenary Ex"></div></a>
<a href="../../components/grasshoppercurve/connectCurves.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -216px -24px" data-downtip="Connect Curves"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/nurbsCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -48px -48px" data-toptip="Nurbs Curve"></div></a>
<a href="../../components/grasshoppercurve/interpolate.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -48px -120px" data-downtip="Interpolate"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/curveOnSurface.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -72px -120px" data-toptip="Curve On Surface"></div></a>
<a href="../../components/grasshoppercurve/interpolatet.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -96px -120px" data-downtip="Interpolate (t)"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/tangentCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -120px -120px" data-toptip="Tangent Curve"></div></a>
<a href="../../components/grasshoppercurve/isoCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -144px -120px" data-downtip="Iso Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/kinkyCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -192px -120px" data-toptip="Kinky Curve"></div></a>
<a href="../../components/grasshoppercurve/matchCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -168px -144px" data-downtip="Match Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/nurbsCurvePWK.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -192px -144px" data-toptip="Nurbs Curve PWK"></div></a>
<a href="../../components/grasshoppercurve/knotVector.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -216px -144px" data-downtip="Knot Vector"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/polyArc.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -168px -168px" data-toptip="PolyArc"></div></a>
<a href="../../components/grasshoppercurve/polyLine.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -24px -192px" data-downtip="PolyLine"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/geodesic.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') 0px -216px" data-toptip="Geodesic"></div></a>
<a href="../../components/grasshoppercurve/subCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -72px -216px" data-downtip="Sub Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/swingArc.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -96px -216px" data-toptip="Swing Arc"></div></a>
<a href="../../components/grasshoppercurve/tweenCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -216px -216px" data-downtip="Tween Curve"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="11">
Spline
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/polylineCollapse.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -192px -24px" data-toptip="Polyline Collapse"></div></a>
<a href="../../components/grasshoppercurve/seam.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -72px -72px" data-downtip="Seam"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/curveToPolyline.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -144px -72px" data-toptip="Curve To Polyline"></div></a>
<a href="../../components/grasshoppercurve/explode.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -96px -96px" data-downtip="Explode"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/extendCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -120px -96px" data-toptip="Extend Curve"></div></a>
<a href="../../components/grasshoppercurve/fillet.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -144px -96px" data-downtip="Fillet"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/filletDistance.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -168px -96px" data-toptip="Fillet Distance"></div></a>
<a href="../../components/grasshoppercurve/fitCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -192px -96px" data-downtip="Fit Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/flipCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -216px -96px" data-toptip="Flip Curve"></div></a>
<a href="../../components/grasshoppercurve/joinCurves.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -168px -120px" data-downtip="Join Curves"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/offsetCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') 0px -168px" data-toptip="Offset Curve"></div></a>
<a href="../../components/grasshoppercurve/offsetCurveLoose.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -24px -168px" data-downtip="Offset Curve Loose"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/offsetLoose3D.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -48px -168px" data-toptip="Offset Loose 3D"></div></a>
<a href="../../components/grasshoppercurve/offsetOnSrf.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -72px -168px" data-downtip="Offset on Srf"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/project.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -48px -192px" data-toptip="Project"></div></a>
<a href="../../components/grasshoppercurve/pullCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -72px -192px" data-downtip="Pull Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/rebuildCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -96px -192px" data-toptip="Rebuild Curve"></div></a>
<a href="../../components/grasshoppercurve/reduce.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -192px -192px" data-downtip="Reduce"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/simplifyCurve.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -24px -216px" data-toptip="Simplify Curve"></div></a>
<a href="../../components/grasshoppercurve/smoothPolyline.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -48px -216px" data-downtip="Smooth Polyline"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppercurve/offsetPolyline.html"><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -24px -240px" data-toptip="Offset Polyline"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="11">
Util
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://www.rhino3d.com/6/new/grasshopper">Download</a>
</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/grasshopperCurve.png') -192px -120px" ></div> Kinky Curve</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/grasshopper-curve.html">Grasshopper Curve</a><a href="#" class="breadcrumb-nolink">Spline</a><a href="#" class="breadcrumb-nolink">KinkCrv</a>
</div>

</div>
<h3>Construct an interpolated curve through a set of points with a kink angle threshold.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Vertices</b></td><td>V</td><td>Interpolation points</td><td>Point</td></tr>
<tr><td><b>Degree</b></td><td>D</td><td>Curve degree</td><td>Integer</td></tr>
<tr><td><b>Angle</b></td><td>A</td><td>Kink angle threshold (in radians)</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve</b></td><td>C</td><td>Resulting nurbs curve</td><td>Curve</td></tr>
<tr><td><b>Length</b></td><td>L</td><td>Curve length</td><td>Number</td></tr>
<tr><td><b>Domain</b></td><td>D</td><td>Curve domain</td><td>Domain</td></tr>
</tbody>
</table>


</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
© 2018-2020  <a href="https://github.com/robinrodricks/">Robin Rodricks</a> and <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Hosted by<a href="http://www.github.com/"><img src="../../images/github.png" alt="Github" class="poweredbylogo" /></a> &nbsp;
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.
</p>
<p class="right docs-lightfont">

<a href="https://github.com/rhino/rhino.github.io/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>
        
<script src="/js/jquery.js"></script>
<script src="/js/kramed.min.js"></script>
<script src="/js/component.js"></script>
<script src="/js/user.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
