<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Joint Exporter - KarambaIDEA - Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="A guide to component Joint Exporter in Grasshopper 3D." />
<meta name="title" content="Joint Exporter - KarambaIDEA - Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://grasshopperdocs.com/" />
<meta property="og:title" content="Joint Exporter - KarambaIDEA - Grasshopper Docs" />

<meta property="wiki-page" content="GH KarambaIDEA Joint_Exporter.md" />

<link rel="image_src" href="http://grasshopperdocs.com/ning/2985220.jpg" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs" class="docs-theme docs-widget_page docs-widget_page_page docs-widget_page_page_show" data-layout-pack="classic">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a id="application_name_header_link" href="http://grasshopperdocs.com/">Grasshopper Docs</a></p>
<p id="docs-sitedesc" class="xj_site_desc">algorithmic modeling for Rhino</p>
</div>
<div id="docs-navigation">
<ul>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/"><span>Home</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/photo"><span>View</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/page/download-1"><span>Download</span></a></li>
<li class="docs-subtab"><a href="https://discourse.mcneel.com/c/grasshopper"><span>Forums&#47;Support</span></a></li>
<li class="docs-subtab this"><a href="http://grasshopperdocs.com/"><span>Learn</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/events"><span>Attend</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/profiles"><span>My Page</span></a></li></ul>

</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karambaidea/linesFromNodeNames.html"><div class="ghsprite" style="background: url('../../icons/karambaIDEA.png') 0px 0px" data-toptip="Lines From Node Names"></div></a>
<a href="../../components/karambaidea/jointExporter.html"><div class="ghsprite" style="background: url('../../icons/karambaIDEA.png') -24px 0px" data-downtip="Joint Exporter"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karambaidea/jointVector.html"><div class="ghsprite" style="background: url('../../icons/karambaIDEA.png') -48px 0px" data-toptip="Joint Vector"></div></a>
<a href="../../components/karambaidea/jointViewer.html"><div class="ghsprite" style="background: url('../../icons/karambaIDEA.png') -72px 0px" data-downtip="Joint Viewer"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karambaidea/convertExcelLoads.html"><div class="ghsprite" style="background: url('../../icons/karambaIDEA.png') -96px 0px" data-toptip="Convert Excel Loads"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
KarambaIDEA
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://www.food4rhino.com/app/karambaidea">Download</a>
</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/karambaIDEA.png') -24px 0px" ></div> Joint Exporter</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/karambaidea.html">KarambaIDEA</a><a href="#" class="breadcrumb-nolink">KarambaIDEA</a><a href="#" class="breadcrumb-nolink">JE</a>
</div>

</div>
<h3>Exporting selected joint to IDEA Statica Connection</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Template File</b></td><td>Template File Location</td><td>File location of template to be used. For example: 'C:\Data\template.contemp'</td><td>Text</td></tr>
<tr><td><b>Output Filepath</b></td><td>Output Filepath</td><td>Save location of IDEA Statica Connection output file. For example: 'C:\Data'</td><td>Text</td></tr>
<tr><td><b>Hierarchy</b></td><td>Hierarchy</td><td>List of hierarchy on with joints are made</td><td>Text</td></tr>
<tr><td><b>Points</b></td><td>Points</td><td>Points of connections</td><td>Point</td></tr>
<tr><td><b>Lines</b></td><td>Lines</td><td>Lines of geometry</td><td>Line</td></tr>
<tr><td><b>LCS rotation</b></td><td>LCS rotation [Deg]</td><td>Local Coordinate System rotation of element in degrees. Rotation runs from local y to local z-axis</td><td>Number</td></tr>
<tr><td><b>Groupnames</b></td><td>Groupnames</td><td>Groupname of element</td><td>Text</td></tr>
<tr><td><b>Material</b></td><td>Material</td><td>Steel grade of every element</td><td>Text</td></tr>
<tr><td><b>Cross-section</b></td><td>CroSecName</td><td>Name of cross-section</td><td>Text</td></tr>
<tr><td><b>Shape</b></td><td>Shape</td><td>Shape of of member</td><td>Text</td></tr>
<tr><td><b>Height</b></td><td>height</td><td>Heigth of crosssection [mm]</td><td>Number</td></tr>
<tr><td><b>Width</b></td><td>width</td><td>Width of crosssection [mm]</td><td>Number</td></tr>
<tr><td><b>ThicknessFlange</b></td><td>t_f</td><td>thickness of flange crosssection [mm]</td><td>Number</td></tr>
<tr><td><b>ThicknessWeb</b></td><td>t_w</td><td>thickness of web crosssection [mm]</td><td>Number</td></tr>
<tr><td><b>Radius</b></td><td>radius</td><td>radius of crosssection [mm]</td><td>Number</td></tr>
<tr><td><b>N</b></td><td>N</td><td>Normal force [kN]</td><td>Number</td></tr>
<tr><td><b>Vz</b></td><td>Vz</td><td>Shear force z-direction[kN]</td><td>Number</td></tr>
<tr><td><b>Vy</b></td><td>Vy</td><td>Shear force y-direction[kN]</td><td>Number</td></tr>
<tr><td><b>Mt</b></td><td>Mt</td><td>Torsional force[kNm]</td><td>Number</td></tr>
<tr><td><b>My</b></td><td>My</td><td>Moment force y-direction[kN]</td><td>Number</td></tr>
<tr><td><b>Mz</b></td><td>Mz</td><td>Moment force z-direction[kN]</td><td>Number</td></tr>
<tr><td><b>ChooseJoint</b></td><td>ChooseJoint</td><td>Specify the joint that will be calculated in IDEA. Note: starts at zero.</td><td>Integer</td></tr>
<tr><td><b>RunIDEA</b></td><td>RunIDEA</td><td>Bool for running IDEA Statica Connection</td><td>Boolean</td></tr>
<tr><td><b>Template File</b></td><td>Template File Location</td><td>File location of template to be used. For example: 'C:\\Data\\template.contemp'</td><td>Text</td></tr>
<tr><td><b>Output Filepath</b></td><td>Output Filepath</td><td>Save location of IDEA Statica Connection output file. For example: 'C:\\Data'</td><td>Text</td></tr>
<tr><td><b>Hierarchy</b></td><td>Hierarchy</td><td>List of hierarchy on with joints are made</td><td>Text</td></tr>
<tr><td><b>Points</b></td><td>Points</td><td>Points of connections</td><td>Point</td></tr>
<tr><td><b>Lines</b></td><td>Lines</td><td>Lines of geometry</td><td>Line</td></tr>
<tr><td><b>LCS rotation</b></td><td>LCS rotation [Deg]</td><td>Local Coordinate System rotation of element in degrees. Rotation runs from local y to local z-axis</td><td>Number</td></tr>
<tr><td><b>Groupnames</b></td><td>Groupnames</td><td>Groupname of element</td><td>Text</td></tr>
<tr><td><b>Material</b></td><td>Material</td><td>Steel grade of every element</td><td>Text</td></tr>
<tr><td><b>Cross-section</b></td><td>CroSecName</td><td>Name of cross-section</td><td>Text</td></tr>
<tr><td><b>Shape</b></td><td>Shape</td><td>Shape of of member</td><td>Text</td></tr>
<tr><td><b>Height</b></td><td>height</td><td>Heigth of crosssection [mm]</td><td>Number</td></tr>
<tr><td><b>Width</b></td><td>width</td><td>Width of crosssection [mm]</td><td>Number</td></tr>
<tr><td><b>ThicknessFlange</b></td><td>t_f</td><td>thickness of flange crosssection [mm]</td><td>Number</td></tr>
<tr><td><b>ThicknessWeb</b></td><td>t_w</td><td>thickness of web crosssection [mm]</td><td>Number</td></tr>
<tr><td><b>Radius</b></td><td>radius</td><td>radius of crosssection [mm]</td><td>Number</td></tr>
<tr><td><b>N</b></td><td>N</td><td>Normal force [kN]</td><td>Number</td></tr>
<tr><td><b>Vz</b></td><td>Vz</td><td>Shear force z-direction[kN]</td><td>Number</td></tr>
<tr><td><b>Vy</b></td><td>Vy</td><td>Shear force y-direction[kN]</td><td>Number</td></tr>
<tr><td><b>Mt</b></td><td>Mt</td><td>Torsional force[kNm]</td><td>Number</td></tr>
<tr><td><b>My</b></td><td>My</td><td>Moment force y-direction[kN]</td><td>Number</td></tr>
<tr><td><b>Mz</b></td><td>Mz</td><td>Moment force z-direction[kN]</td><td>Number</td></tr>
<tr><td><b>ChooseJoint</b></td><td>ChooseJoint</td><td>Specify the joint that will be calculated in IDEA. Note: starts at zero.</td><td>Integer</td></tr>
<tr><td><b>RunIDEA</b></td><td>RunIDEA</td><td>Bool for running IDEA Statica Connection</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>#Joints found</b></td><td>#Joints found</td><td>Number of Joints found</td><td>Integer</td></tr>
<tr><td><b>Selected Joint</b></td><td>Selected Joint</td><td>Lines of selected Joint</td><td>Line</td></tr>
<tr><td><b>Joint types</b></td><td>Joint types</td><td>Types of joint in project</td><td>Line</td></tr>
<tr><td><b>#Joints found</b></td><td>#Joints found</td><td>Number of Joints found</td><td>Integer</td></tr>
<tr><td><b>Selected Joint</b></td><td>Selected Joint</td><td>Lines of selected Joint</td><td>Line</td></tr>
<tr><td><b>Joint types</b></td><td>Joint types</td><td>Types of joint in project</td><td>Line</td></tr>
</tbody>
</table>


</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
© 2018-2020  <a href="https://github.com/robinrodricks/">Robin Rodricks</a> and <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Hosted by<a href="http://www.github.com/"><img src="../../images/github.png" alt="Github" class="poweredbylogo" /></a> &nbsp;
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>
        
<script src="/js/jquery.js"></script>
<script src="/js/kramed.min.js"></script>
<script src="/js/component.js"></script>
<script src="/js/user.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
