<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>3D Voronoi - MeshEdit - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Computes the 3D voronoi cells of a pointcloud based on MIConvexHull by David Sehnal, Matthew Campbell" />
<meta name="title" content="3D Voronoi - MeshEdit - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="3D Voronoi - MeshEdit - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/meshedit/3DVoronoi.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>



<script data-ad-client="ca-pub-1434451015265967" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/meshedit/meshAddAttributes.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -96px 0px" data-toptip="Mesh Add Attributes"></div></a>
<a href="../../components/meshedit/meshExplode.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -168px 0px" data-downtip="Mesh Explode"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshedit/meshExtractAttributes.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -192px 0px" data-toptip="Mesh Extract Attributes"></div></a>
<a href="../../components/meshedit/meshArea.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -216px 0px" data-downtip="Mesh Area"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshedit/meshVolume.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -48px -24px" data-toptip="Mesh Volume"></div></a>
<a href="../../components/meshedit/meshNakedEdge.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -72px -24px" data-downtip="Mesh Naked Edge"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshedit/meshConvertQuads.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -96px -24px" data-toptip="Mesh Convert Quads"></div></a>
<a href="../../components/meshedit/meshTriangulate.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -120px -24px" data-downtip="Mesh Triangulate"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Analysis
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/meshedit/3DConvexHull.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') 0px 0px" data-toptip="3D Convex Hull"></div></a>
<a href="../../components/meshedit/3DDelaunay.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -24px 0px" data-downtip="3D Delaunay"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshedit/3DDelaunayCell.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -48px 0px" data-toptip="3D Delaunay Cell"></div></a>
<a href="../../components/meshedit/3DVoronoi.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -72px 0px" data-downtip="3D Voronoi"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshedit/convexHullPoints.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -120px 0px" data-toptip="Convex Hull Points"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Triangulation
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/meshedit/meshCullUnusedVertices.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -144px 0px" data-toptip="Mesh Cull Unused Vertices"></div></a>
<a href="../../components/meshedit/meshFlip.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') 0px -24px" data-downtip="Mesh Flip"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshedit/meshFromPoints.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -24px -24px" data-toptip="Mesh From Points"></div></a>
<a href="../../components/meshedit/meshUnifyNormals.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -144px -24px" data-downtip="Mesh Unify Normals"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/meshedit/meshWeldVertices.html"><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -168px -24px" data-toptip="Mesh Weld Vertices"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Util
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://www.food4rhino.com/app/meshedit">Download</a>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/meshEdit.png') -72px 0px" ></div> 3D Voronoi</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/meshedit.html">MeshEdit</a><a href="#" class="breadcrumb-nolink">Triangulation</a><a href="#" class="breadcrumb-nolink">3DVoro</a>
</div>

</div>
<h3>Computes the 3D voronoi cells of a pointcloud based on MIConvexHull by David Sehnal, Matthew Campbell</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Points</b></td><td>P</td><td>Points for 3D Voronoi cells</td><td>Point</td></tr>
<tr><td><b>Boundingbox</b></td><td>B</td><td>Calculate per cell or boundingbox</td><td>Box</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>3D voronoi cells</b></td><td>M</td><td>VornoiCell</td><td>Generic</td></tr>
<tr><td><b>Connectivity</b></td><td>C</td><td>Topological Connectivity Diagram</td><td>Integer</td></tr>
</tbody>
</table>


</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

MeshEdit and associated data © 2020  <a href="https://www.food4rhino.com/app/meshedit">[uto]</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
