<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Get ABBPose And Axis Angles - FURobot - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="" />
<meta name="title" content="Get ABBPose And Axis Angles - FURobot - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Get ABBPose And Axis Angles - FURobot - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/furobot/getABBPoseAndAxisAngles.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v2.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="https://fabunion.github.io/">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Electronic-RobotControl.png');"></div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/collisionTest.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -216px" data-toptip="Collision Test"></div></a>
<a href="../../components/furobot/constructCustomCommand.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -216px" data-downtip="Construct Custom Command"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/composeVelocity.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -216px" data-toptip="Compose Velocity"></div></a>
<a href="../../components/furobot/deconstructJointValueGroup.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -216px" data-downtip="Deconstruct Joint Value Group"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/example.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -216px" data-toptip="Example"></div></a>
<a href="../../components/furobot/constructJointCommand.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -216px" data-downtip="Construct Joint Command"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/robotCheck.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -216px" data-toptip="Robot Check"></div></a>
<a href="../../components/furobot/robotCore.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -216px" data-downtip="Robot Core"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/constructPTPCommand.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -216px" data-toptip="Construct PTP Command"></div></a>
<a href="../../components/furobot/constructTorqueOrForce.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -216px" data-downtip="Construct Torque or Force"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/constructLineCommand.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -240px" data-toptip="Construct Line Command"></div></a>
<a href="../../components/furobot/constructWaitCommand.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -240px" data-downtip="Construct Wait Command"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Command
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getABBPoseAndAxisAngles.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -240px" data-toptip="Get ABBPose And Axis Angles"></div></a>
<a href="../../components/furobot/aBBComFileUpLoad.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -240px" data-downtip="ABBCom File Up Load"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getSignalABB.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -240px" data-toptip="Get Signal ABB"></div></a>
<a href="../../components/furobot/setSignalABB.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -240px" data-downtip="Set Signal ABB"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/uDPSender.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -240px" data-toptip="UDPSender"></div></a>
<a href="../../components/furobot/uDPReceiverAutoUpdate.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -240px" data-downtip="UDPReceiver Auto Update"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getABBControllers.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -240px" data-toptip="Get ABBControllers"></div></a>
<a href="../../components/furobot/getUDP.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -240px" data-downtip="Get UDP"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/rSIJoint.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -264px" data-toptip="RSIJoint"></div></a>
<a href="../../components/furobot/aBBEGMJoint.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -264px" data-downtip="ABBEGMJoint"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Communication
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR10R9002.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -48px" data-toptip="KR10 R900-2"></div></a>
<a href="../../components/furobot/iRB4600r205.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -48px" data-downtip="IRB4600r205"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR2102R2700.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -48px" data-toptip="KR210-2 R2700"></div></a>
<a href="../../components/furobot/kR90R3100.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -48px" data-downtip="KR90 R3100"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/uR5.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -48px" data-toptip="UR5"></div></a>
<a href="../../components/furobot/kR20R1810.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -48px" data-downtip="KR20 R1810"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/tKR280R3080.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -48px" data-toptip="T KR280R3080"></div></a>
<a href="../../components/furobot/kR90270R2700.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -72px" data-downtip="KR90-270 R2700"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR340R3330.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -72px" data-toptip="KR340 R3330"></div></a>
<a href="../../components/furobot/iRB6700150r320.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -72px" data-downtip="IRB6700 150r320"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/iRB7600325310.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -72px" data-toptip="IRB7600 325/3.10"></div></a>
<a href="../../components/furobot/uR3.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -72px" data-downtip="UR3"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/iRB1600r1200.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -72px" data-toptip="IRB1600r1200"></div></a>
<a href="../../components/furobot/uR16e.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -72px" data-downtip="UR16e"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/agilusKR6KR10R1100.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -72px" data-toptip="Agilus KR6-KR10 R1100"></div></a>
<a href="../../components/furobot/kR120R1800.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -72px" data-downtip="KR120 R1800"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/agilusKR6KR10R900.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -72px" data-toptip="Agilus KR6-KR10 R900"></div></a>
<a href="../../components/furobot/iRB260020165.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -96px" data-downtip="IRB2600 20 165"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/iRB6650s200r300.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -96px" data-toptip="IRB6650s200r300"></div></a>
<a href="../../components/furobot/agilusKR6KR10R700.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -96px" data-downtip="Agilus KR6 KR10 R700"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR120R2500.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -96px" data-toptip="KR120 R2500"></div></a>
<a href="../../components/furobot/kR1000TitanRobot.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -96px" data-downtip="KR1000 Titan Robot"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/iRB140.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -96px" data-toptip="IRB140"></div></a>
<a href="../../components/furobot/iRB120.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -96px" data-downtip="IRB120"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR90R2900.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -96px" data-toptip="KR90 R2900"></div></a>
<a href="../../components/furobot/agilusKR3R540.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -96px" data-downtip="Agilus KR3 R540"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/iRB6650s125r350.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -96px" data-toptip="IRB6650s125r350"></div></a>
<a href="../../components/furobot/kR100HA2.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -120px" data-downtip="KR100 HA-2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR3060HA.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -120px" data-toptip="KR30 60HA"></div></a>
<a href="../../components/furobot/iRB4600r255.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -120px" data-downtip="IRB4600r255"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR16R2010.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -120px" data-toptip="KR16 R2010"></div></a>
<a href="../../components/furobot/kR90KR150R3700.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -120px" data-downtip="KR90-KR150 R3700"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/iontecKR3070R2100.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -120px" data-toptip="Iontec KR30-70 R2100"></div></a>
<a href="../../components/furobot/uR10.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -120px" data-downtip="UR10"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/cybertechNanoKR10R1420.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -120px" data-toptip="Cybertech Nano KR10 R1420"></div></a>
<a href="../../components/furobot/kR16R1610.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -120px" data-downtip="KR16 R1610"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR500R2830.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -120px" data-toptip="KR500 R2830"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="19">
Robot
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/spatialStructure.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -264px" data-toptip="Spatial Structure"></div></a>
<a href="../../components/furobot/createContour.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -264px" data-downtip="Create Contour"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/techPrintCleanAndCloseCurveMultiple.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -264px" data-toptip="Tech Print Clean And Close Curve Multiple"></div></a>
<a href="../../components/furobot/changeSeamByGeo.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -264px" data-downtip="Change Seam By Geo"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/divideBySegWithLength.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -264px" data-toptip="Divide By Seg With Length"></div></a>
<a href="../../components/furobot/cleanAndCloseCurve.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -264px" data-downtip="Clean And Close Curve"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Tech:Print
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/outputPlane.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -264px" data-toptip="Output Plane"></div></a>
<a href="../../components/furobot/constructWindingPath.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -264px" data-downtip="Construct Winding Path"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/branchingPath.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -288px" data-toptip="Branching Path"></div></a>
<a href="../../components/furobot/groupPoints.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -288px" data-downtip="Group Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/outputPoints.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -288px" data-toptip="Output Points"></div></a>
<a href="../../components/furobot/interiorPathOptimization.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -288px" data-downtip="Interior Path Optimization"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/bIConstructPath.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -288px" data-toptip="BIConstruct Path"></div></a>
<a href="../../components/furobot/exteriorPathOptimization.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -288px" data-downtip="Exterior Path Optimization"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Tech:Wind
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/chainSawSlotting.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -144px" data-toptip="Chain Saw Slotting"></div></a>
<a href="../../components/furobot/bandSawCutting.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -144px" data-downtip="Band Saw Cutting"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/circularSawCutting.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -144px" data-toptip="Circular Saw Cutting"></div></a>
<a href="../../components/furobot/surfaceEquidistantSub.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -144px" data-downtip="Surface Equidistant Sub"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/notchMilling.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -144px" data-toptip="Notch Milling"></div></a>
<a href="../../components/furobot/millingBrep.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -144px" data-downtip="Milling Brep"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/drilling.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -144px" data-toptip="Drilling"></div></a>
<a href="../../components/furobot/millingHole.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -144px" data-downtip="Milling Hole"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/surfaceStructureLineSub.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -144px" data-toptip="Surface Structure Line Sub"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Tech:Wood
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getMatrixFromXYZABC.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px 0px" data-toptip="Get Matrix From XYZABC"></div></a>
<a href="../../components/furobot/getXYZQuatFromMatrix.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px 0px" data-downtip="Get XYZQuat From Matrix"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/fourierSeries.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px 0px" data-toptip="Fourier Series"></div></a>
<a href="../../components/furobot/getXYZABCFromMatrix.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px 0px" data-downtip="Get XYZABCFrom Matrix"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getAxisAngleFromRotVec.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px 0px" data-toptip="Get Axis Angle From Rot Vec"></div></a>
<a href="../../components/furobot/getFilePath.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px 0px" data-downtip="Get File Path"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getRotVecFromAxisAngle.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px 0px" data-toptip="Get Rot Vec From Axis Angle"></div></a>
<a href="../../components/furobot/getTransformFromXYZQuat.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px 0px" data-downtip="Get Transform From XYZQuat"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getRotVecFromMatrix.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px 0px" data-toptip="Get Rot Vec From Matrix"></div></a>
<a href="../../components/furobot/fileRemoveExternalAxis.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px 0px" data-downtip="File Remove External Axis"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getInfo.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -24px" data-toptip="Get Info"></div></a>
<a href="../../components/furobot/constructTwist.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -24px" data-downtip="Construct Twist"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/rotateForUR.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -24px" data-toptip="Rotate For UR"></div></a>
<a href="../../components/furobot/deconstructTwist.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -24px" data-downtip="Deconstruct Twist"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/twistToSE3.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -24px" data-toptip="Twist To SE3"></div></a>
<a href="../../components/furobot/sE3ToTwist.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -24px" data-downtip="SE3To Twist"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getAngleAxisFromMatrix.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -24px" data-toptip="Get Angle Axis From Matrix"></div></a>
<a href="../../components/furobot/getMatrixFromRotVec.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -24px" data-downtip="Get Matrix From Rot Vec"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/rotateForKUKA.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -24px" data-toptip="Rotate For KUKA"></div></a>
<a href="../../components/furobot/rotateForABB.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -24px" data-downtip="Rotate For ABB"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getMatrixFromAxisAngle.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -48px" data-toptip="Get Matrix From Axis Angle"></div></a>
<a href="../../components/furobot/renderPlaneGeo.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -48px" data-downtip="Render Plane Geo"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/obstacleSolver.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -48px" data-toptip="Obstacle Solver"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="12">
Tool
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/robotDynamics.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -144px" data-toptip="Robot Dynamics"></div></a>
<a href="../../components/furobot/eAGroup.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -168px" data-downtip="EAGroup"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/customTool.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -168px" data-toptip="Custom Tool"></div></a>
<a href="../../components/furobot/deconstructExternalAxis.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -168px" data-downtip="Deconstruct External Axis"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/composeExternalAxisV2.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -168px" data-toptip="Compose External Axis V2"></div></a>
<a href="../../components/furobot/generalAxisOptimizationCustomRobotV13InMeter.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -168px" data-downtip="General Axis Optimization Custom Robot V13In Meter"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/setA4ZeroForKUKA.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -168px" data-toptip="Set A4Zero For KUKA"></div></a>
<a href="../../components/furobot/tJLabSingleAxis.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -168px" data-downtip="TJLab Single Axis"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/composeCustomRoot.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -168px" data-toptip="Compose Custom Root"></div></a>
<a href="../../components/furobot/lightPlasticToolhead.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -168px" data-downtip="Light Plastic Toolhead"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/composeWorkBase.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -168px" data-toptip="Compose Work Base"></div></a>
<a href="../../components/furobot/customABB2.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -192px" data-downtip="Custom ABB2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/externalAxisCompose.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -192px" data-toptip="External Axis compose"></div></a>
<a href="../../components/furobot/turnTable2Dof.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -192px" data-downtip="Turn Table2Dof"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/fUWoodEA.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -192px" data-toptip="FU Wood EA"></div></a>
<a href="../../components/furobot/turnTable.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -192px" data-downtip="Turn Table"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/customKUKA2.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -192px" data-toptip="Custom KUKA2"></div></a>
<a href="../../components/furobot/inverseDynamicsFromCommands.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -192px" data-downtip="Inverse Dynamics From Commands"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/composeCustomEAPart.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -192px" data-toptip="Compose Custom EAPart"></div></a>
<a href="../../components/furobot/uRToolConvert.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -192px" data-downtip="URTool Convert"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/aBBToolConvert.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -192px" data-toptip="ABBTool Convert"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="11">
Tool|ExternalAxis|Others
</td>
</tr>
</table>
</div>
</div>


<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -240px" ></div> Get ABBPose And Axis Angles</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/furobot.html">FURobot</a><a href="#" class="breadcrumb-nolink">Communication</a><a href="#" class="breadcrumb-nolink">Get ABBPose And Axis Angles</a>
</div>

</div>

</div>
<h3></h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>ABBController</b></td><td>C</td><td>abb controller</td><td>ABBRealtime.ABBControllerType</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>X</b></td><td>X</td><td>x position</td><td>Number</td></tr>
<tr><td><b>Y</b></td><td>Y</td><td>y position</td><td>Number</td></tr>
<tr><td><b>Z</b></td><td>Z</td><td>z position</td><td>Number</td></tr>
<tr><td><b>Q1</b></td><td>Q1</td><td>Q1 of quaternion</td><td>Number</td></tr>
<tr><td><b>Q2</b></td><td>Q2</td><td>Q2 of quaternion</td><td>Number</td></tr>
<tr><td><b>Q3</b></td><td>Q3</td><td>Q3 of quaternion</td><td>Number</td></tr>
<tr><td><b>Q4</b></td><td>Q4</td><td>Q4 of quaternion</td><td>Number</td></tr>
<tr><td><b>Angles</b></td><td>Angles</td><td>Angles</td><td>Number</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
FURobot and associated data © 2023  <a href="https://fabunion.github.io/">FabUnion</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
