<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Get Info - FURobot - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Get info" />
<meta name="title" content="Get Info - FURobot - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Get Info - FURobot - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/furobot/getInfo.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v4.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
	<a class="sitemenu-item sitemenu-donate" href="https://github.com/sponsors/robinrodricks">Donate</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="https://fabunion.github.io/">Download</a>

</div>


<div class="side-content">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

<div id="help-notice">
<div class="help-title">We need your help! 🔥</div>
<div class="help-text">Please consider disabling your ad-blocker to support this website! 🔑 <br> We are a free, community-supported website! 🥰 <br> We only display small unobtrusive ads which help us stay online! 💯 <br> Thank you in advance! ❤️</div>
</div>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Electronic-RobotControl.png');"></div>

<div class="compo-header">

<div class="breadcrumb">
 <a href="../../index.html">Home</a>
  <a href="../../categories/electronic-robot-control.html">Robot Control addons</a><a href="../../addons/furobot.html"><b>FURobot</b></a><a href="#" class="breadcrumb-nolink">Tool</a><a href="#" class="breadcrumb-nolink"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -168px" ></div> Get Info</a>
</div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/findBug.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -384px" data-toptip="Find Bug"></div></a>
<a href="../../components/furobot/robotSimulator.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -384px" data-downtip="Robot Simulator"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
01 - Core
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/lineCommand.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -360px" data-toptip="Line command"></div></a>
<a href="../../components/furobot/constructPTJCommand.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -384px" data-downtip="Construct PTJ command"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/customTextCommand.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -384px" data-toptip="Custom text Command"></div></a>
<a href="../../components/furobot/jointCommand.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -384px" data-downtip="Joint Command"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/waitCommand.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -384px" data-toptip="Wait command"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
02 - Command
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/100A270.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -408px" data-toptip="100A-270"></div></a>
<a href="../../components/furobot/iRB1600R1200.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -456px" data-downtip="IRB1600 R1200"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/iRB2600R165.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -456px" data-toptip="IRB2600 R165"></div></a>
<a href="../../components/furobot/iRB4600R205.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -456px" data-downtip="IRB4600 R205"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/iRB4600R255.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -456px" data-toptip="IRB4600 R255"></div></a>
<a href="../../components/furobot/iRB6650s125R350.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -456px" data-downtip="IRB6650s125 R350"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/iRB6650s200R300.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -456px" data-toptip="IRB6650s200 R300"></div></a>
<a href="../../components/furobot/iRB6700150320.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -456px" data-downtip="IRB6700-150/3.20"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/iRB7600325310.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -456px" data-toptip="IRB7600-325/3.10"></div></a>
<a href="../../components/furobot/lR10iA.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -456px" data-downtip="LR 10i A"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR100HA2.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -528px" data-toptip="KR100HA2"></div></a>
<a href="../../components/furobot/kR10R1100.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -528px" data-downtip="KR10R1100"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR10R1420.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -528px" data-toptip="KR10R1420"></div></a>
<a href="../../components/furobot/kR270R2700.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -528px" data-downtip="KR270 R2700"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR280R3080.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -528px" data-toptip="KR280 R3080"></div></a>
<a href="../../components/furobot/kR3R540.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -528px" data-downtip="KR3 R540"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/agilusKR6KR10R900.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -552px" data-toptip="Agilus KR6 KR10 R900"></div></a>
<a href="../../components/furobot/kR70R2100.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -552px" data-downtip="KR70 R2100"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR90R3700.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -552px" data-toptip="KR90 R3700"></div></a>
<a href="../../components/furobot/tX240.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -552px" data-downtip="TX2 40"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="10">
03 - Preset
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/armABBFormat.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px 0px" data-toptip="Arm ABB Format"></div></a>
<a href="../../components/furobot/armKUKAFormat.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px 0px" data-downtip="Arm KUKA Format"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/armStepFormat.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px 0px" data-toptip="Arm Step Format"></div></a>
<a href="../../components/furobot/armURFormat.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -24px" data-downtip="Arm UR Format"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
04 - Type
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/singleLineExternalAxis.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px 0px" data-toptip="Single line external axis"></div></a>
<a href="../../components/furobot/constructEulerAngle.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -336px" data-downtip="Construct Euler Angle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/rotationConvertor.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -336px" data-toptip="Rotation Convertor"></div></a>
<a href="../../components/furobot/constructMovingJoint.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -360px" data-downtip="Construct Moving Joint"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/construcRotationJoint.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -360px" data-toptip="Construc Rotation Joint"></div></a>
<a href="../../components/furobot/constructRobotLinkGroup.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -360px" data-downtip="Construct Robot Link Group"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/constructMassProperty.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -360px" data-toptip="Construct mass property"></div></a>
<a href="../../components/furobot/makeSerialRobot.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -384px" data-downtip="Make serial robot"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/constructOffset.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -384px" data-toptip="Construct Offset"></div></a>
<a href="../../components/furobot/customRobotV6.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -384px" data-downtip="Custom Robot v6"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/robotPackge.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -408px" data-toptip="Robot packge"></div></a>
<a href="../../components/furobot/constructRobotLink.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -408px" data-downtip="Construct Robot Link"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/lightPlasticPrintTool.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -408px" data-toptip="Light Plastic Print Tool"></div></a>
<a href="../../components/furobot/customTool.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -408px" data-downtip="Custom tool"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
05 - Customize
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/changeVelByCorner.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -48px" data-toptip="Change Vel By Corner"></div></a>
<a href="../../components/furobot/robotCore.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -48px" data-downtip="Robot Core"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/deconstructJointValueGroup.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -72px" data-toptip="Deconstruct Joint Value Group"></div></a>
<a href="../../components/furobot/composeVelocity.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -96px" data-downtip="Compose Velocity"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/constructCustomCommand.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -120px" data-toptip="Construct Custom Command"></div></a>
<a href="../../components/furobot/lineCmd.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -192px" data-downtip="Line Cmd"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/constructLineCommand.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -192px" data-toptip="Construct Line Command"></div></a>
<a href="../../components/furobot/constructPTPCommand.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -192px" data-downtip="Construct PTP Command"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/robotCheck.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -240px" data-toptip="Robot Check"></div></a>
<a href="../../components/furobot/setDigOutCmd.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -240px" data-downtip="Set Dig Out Cmd"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/stopCmd.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -240px" data-toptip="Stop Cmd"></div></a>
<a href="../../components/furobot/constructWaitCommand.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -336px" data-downtip="Construct Wait Command"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/example.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -360px" data-toptip="Example"></div></a>
<a href="../../components/furobot/constructTorqueOrForce.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -360px" data-downtip="Construct Torque or Force"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/constructJointCommand.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -360px" data-toptip="Construct Joint Command"></div></a>
<a href="../../components/furobot/collisionTest.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -384px" data-downtip="Collision Test"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
Command
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/aBBComFileUpLoad.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px 0px" data-toptip="ABBCom File Up Load"></div></a>
<a href="../../components/furobot/getABBPoseAndAxisAngles.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px 0px" data-downtip="Get ABBPose And Axis Angles"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getABBControllers.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px 0px" data-toptip="Get ABBControllers"></div></a>
<a href="../../components/furobot/getSignalABB.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px 0px" data-downtip="Get Signal ABB"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/setSignalABB.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px 0px" data-toptip="Set Signal ABB"></div></a>
<a href="../../components/furobot/aBBEGMJoint.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px 0px" data-downtip="ABBEGMJoint"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/httpPost.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -72px" data-toptip="Http Post"></div></a>
<a href="../../components/furobot/rSIJoint.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -72px" data-downtip="RSIJoint"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/hTTPDelete.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -96px" data-toptip="HTTPDelete"></div></a>
<a href="../../components/furobot/hTTPGet.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -120px" data-downtip="HTTPGet"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/httpDelete.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -120px" data-toptip="Http Delete"></div></a>
<a href="../../components/furobot/getIPAddressList.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -192px" data-downtip="Get IP address list"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getSocket.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -216px" data-toptip="Get Socket"></div></a>
<a href="../../components/furobot/getUDP.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -216px" data-downtip="Get UDP"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/receiveDataBySocket.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -240px" data-toptip="Receive Data By Socket"></div></a>
<a href="../../components/furobot/sendDataBySocket.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -240px" data-downtip="Send Data By Socket"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/uDPReceiverAutoUpdate.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -312px" data-toptip="UDPReceiver Auto Update"></div></a>
<a href="../../components/furobot/uDPSender.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -336px" data-downtip="UDPSender"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="9">
Communication
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/addBase.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -24px" data-toptip="Add Base"></div></a>
<a href="../../components/furobot/arrangeContour.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -24px" data-downtip="Arrange Contour"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/checkAngle.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -48px" data-toptip="Check Angle"></div></a>
<a href="../../components/furobot/contour.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -96px" data-downtip="Contour"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/cvOnlyHorizontalDivideKeepCorner.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -144px" data-toptip="Cv Only Horizontal Divide Keep Corner"></div></a>
<a href="../../components/furobot/firstPt.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -144px" data-downtip="First Pt"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/sortCurve.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -240px" data-toptip="Sort Curve"></div></a>
<a href="../../components/furobot/totalCutCv.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -312px" data-downtip="Total Cut Cv"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Curve
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/fUxyzNoE3Coupling81.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -96px" data-toptip="FUxyz No E3Coupling81"></div></a>
<a href="../../components/furobot/defaultXYZAxis.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -144px" data-downtip="Default XYZAxis"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/externalAxisFUM.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -144px" data-toptip="External Axis FUM"></div></a>
<a href="../../components/furobot/externalAxisTJLab.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -144px" data-downtip="External Axis TJLab"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/fUXYZAxis.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -168px" data-toptip="FUXYZAxis"></div></a>
<a href="../../components/furobot/fUxyzNoE3Coupling.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -168px" data-downtip="FUxyz No E3Coupling"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
EAxis
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/exportMesh2File.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -96px" data-toptip="Export Mesh2File"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Mesh
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/deLicence.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -144px" data-toptip="De Licence"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Misc
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/iRB120.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -432px" data-toptip="IRB120"></div></a>
<a href="../../components/furobot/iRB140.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -432px" data-downtip="IRB140"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/iRB1600r1200.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -432px" data-toptip="IRB1600r1200"></div></a>
<a href="../../components/furobot/iRB4600r205.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -432px" data-downtip="IRB4600r205"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/iRB4600r255.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -432px" data-toptip="IRB4600r255"></div></a>
<a href="../../components/furobot/iRB6650s125r350.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -432px" data-downtip="IRB6650s125r350"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/iRB6650s200r300.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -432px" data-toptip="IRB6650s200r300"></div></a>
<a href="../../components/furobot/iRB6700150r320.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -432px" data-downtip="IRB6700 150r320"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/iRB7600325310.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -432px" data-toptip="IRB7600 325/3.10"></div></a>
<a href="../../components/furobot/iRB260020165.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -456px" data-downtip="IRB2600 20 165"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR120R2500.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -480px" data-toptip="KR120 R2500"></div></a>
<a href="../../components/furobot/kR16R1610.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -480px" data-downtip="KR16 R1610"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR16R2010.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -480px" data-toptip="KR16 R2010"></div></a>
<a href="../../components/furobot/kR20R1810.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -480px" data-downtip="KR20 R1810"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR2102R2700.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -480px" data-toptip="KR210-2 R2700"></div></a>
<a href="../../components/furobot/kR90270R2700.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -480px" data-downtip="KR90-270 R2700"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/tKR280R3080.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -480px" data-toptip="T KR280R3080"></div></a>
<a href="../../components/furobot/kR3060HA.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -480px" data-downtip="KR30 60HA"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR340R3330.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -480px" data-toptip="KR340 R3330"></div></a>
<a href="../../components/furobot/agilusKR3R540.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -480px" data-downtip="Agilus KR3 R540"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR500R2830.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -504px" data-toptip="KR500 R2830"></div></a>
<a href="../../components/furobot/agilusKR6KR10R700.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -504px" data-downtip="Agilus KR6 KR10 R700"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/iontecKR3070R2100.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -504px" data-toptip="Iontec KR30-70 R2100"></div></a>
<a href="../../components/furobot/kR90R2900Rmit.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -504px" data-downtip="KR90 R2900 rmit"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR90R3100.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -504px" data-toptip="KR90 R3100"></div></a>
<a href="../../components/furobot/kR90KR150R3700.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -504px" data-downtip="KR90-KR150 R3700"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR1000TitanRobot.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -504px" data-toptip="KR1000 Titan Robot"></div></a>
<a href="../../components/furobot/kR100HA2.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -504px" data-downtip="KR100 HA-2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/agilusKR6KR10R1100.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -504px" data-toptip="Agilus KR6-KR10 R1100"></div></a>
<a href="../../components/furobot/cybertechNanoKR10R1420.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -504px" data-downtip="Cybertech Nano KR10 R1420"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/kR10R9002.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -528px" data-toptip="KR10 R900-2"></div></a>
<a href="../../components/furobot/kR120R1800.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -528px" data-downtip="KR120 R1800"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/agilusKR6KR10R900.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -528px" data-toptip="Agilus KR6-KR10 R900"></div></a>
<a href="../../components/furobot/kR90R2900.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -528px" data-downtip="KR90 R2900"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/lunaArm.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -552px" data-toptip="Luna Arm"></div></a>
<a href="../../components/furobot/lunaArmExtend.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -552px" data-downtip="Luna Arm Extend"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/uR10.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -552px" data-toptip="UR10"></div></a>
<a href="../../components/furobot/uR16e.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -552px" data-downtip="UR16e"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/uR3.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -552px" data-toptip="UR3"></div></a>
<a href="../../components/furobot/uR5.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -552px" data-downtip="UR5"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="20">
Robot
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/customizeRibWithTargetCurve.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -120px" data-toptip="Customize Rib With Target Curve"></div></a>
<a href="../../components/furobot/optimizeA4Axis.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -216px" data-downtip="Optimize A4Axis"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/changeSeamByGeo.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -264px" data-toptip="Change Seam By Geo"></div></a>
<a href="../../components/furobot/cleanAndCloseCurve.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -264px" data-downtip="Clean And Close Curve"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/techPrintCleanAndCloseCurveMultiple.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -264px" data-toptip="Tech Print Clean And Close Curve Multiple"></div></a>
<a href="../../components/furobot/createContour.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -264px" data-downtip="Create Contour"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/divideBySegWithLength.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -264px" data-toptip="Divide By Seg With Length"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Tech:Print
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/bIConstructPath.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -264px" data-toptip="BIConstruct Path"></div></a>
<a href="../../components/furobot/branchingPath.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -264px" data-downtip="Branching Path"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/constructWindingPath.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -288px" data-toptip="Construct Winding Path"></div></a>
<a href="../../components/furobot/exteriorPathOptimization.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -288px" data-downtip="Exterior Path Optimization"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/groupPoints.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -288px" data-toptip="Group Points"></div></a>
<a href="../../components/furobot/interiorPathOptimization.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -288px" data-downtip="Interior Path Optimization"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/outputPlane.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -288px" data-toptip="Output Plane"></div></a>
<a href="../../components/furobot/outputPoints.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -288px" data-downtip="Output Points"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Tech:Wind
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/bandSawCutting.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -288px" data-toptip="Band Saw Cutting"></div></a>
<a href="../../components/furobot/chainSawSlotting.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -288px" data-downtip="Chain Saw Slotting"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/circularSawCutting.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -288px" data-toptip="Circular Saw Cutting"></div></a>
<a href="../../components/furobot/drilling.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -288px" data-downtip="Drilling"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/millingBrep.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -312px" data-toptip="Milling Brep"></div></a>
<a href="../../components/furobot/millingHole.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -312px" data-downtip="Milling Hole"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/notchMilling.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -312px" data-toptip="Notch Milling"></div></a>
<a href="../../components/furobot/surfaceEquidistantSub.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -312px" data-downtip="Surface Equidistant Sub"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/surfaceStructureLineSub.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -312px" data-toptip="Surface Structure Line Sub"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Tech:Wood
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/astar.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -24px" data-toptip="Astar"></div></a>
<a href="../../components/furobot/sE3ToTwist.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -48px" data-downtip="SE3To Twist"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/twistToSE3.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -48px" data-toptip="Twist To SE3"></div></a>
<a href="../../components/furobot/downloadSetTool.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -48px" data-downtip="Download Set Tool"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/downLoadTool.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -72px" data-toptip="Down Load Tool"></div></a>
<a href="../../components/furobot/composeTwist2.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -96px" data-downtip="Compose Twist2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/motionPlanningRobot3.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -120px" data-toptip="Motion Planning Robot3"></div></a>
<a href="../../components/furobot/motionPlanningRobot4.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -120px" data-downtip="Motion Planning Robot4"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/motionPlanningRobot5.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -120px" data-toptip="Motion Planning Robot5"></div></a>
<a href="../../components/furobot/dataSmooth.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -144px" data-downtip="Data Smooth"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/dLT3D.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -144px" data-toptip="DLT3D"></div></a>
<a href="../../components/furobot/fileRemoveExternalAxis.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -144px" data-downtip="File Remove External Axis"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/fourierSeries.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -168px" data-toptip="Fourier Series"></div></a>
<a href="../../components/furobot/getAngleAxisFromMatrix.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -168px" data-downtip="Get Angle Axis From Matrix"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getAxisAngleFromRotVec.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -168px" data-toptip="Get Axis Angle From Rot Vec"></div></a>
<a href="../../components/furobot/getInfo.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -168px" data-downtip="Get Info"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getLieAlgebraFromMatrix.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -168px" data-toptip="Get Lie Algebra From Matrix"></div></a>
<a href="../../components/furobot/getMatrixFromAxisAngle.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -168px" data-downtip="Get Matrix From Axis Angle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getMatrixFromRotVec.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -168px" data-toptip="Get Matrix From Rot Vec"></div></a>
<a href="../../components/furobot/getMatrixFromse3.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -168px" data-downtip="Get Matrix Fromse3"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getMatrixFromXYZABC.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -192px" data-toptip="Get Matrix From XYZABC"></div></a>
<a href="../../components/furobot/getTransformFromXYZQuat.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -192px" data-downtip="Get Transform From XYZQuat"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getRotVecFromAxisAngle.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -192px" data-toptip="Get Rot Vec From Axis Angle"></div></a>
<a href="../../components/furobot/getRotVecFromMatrix.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -192px" data-downtip="Get Rot Vec From Matrix"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getFilePath.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -192px" data-toptip="Get File Path"></div></a>
<a href="../../components/furobot/getXYZABCFromMatrix.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -216px" data-downtip="Get XYZABCFrom Matrix"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/getXYZQuatFromMatrix.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -216px" data-toptip="Get XYZQuat From Matrix"></div></a>
<a href="../../components/furobot/ransacLine.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -216px" data-downtip="Ransac Line"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/fitPlane.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -216px" data-toptip="Fit Plane"></div></a>
<a href="../../components/furobot/renderPlaneGeo.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -240px" data-downtip="Render Plane Geo"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/rotateForABB.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -240px" data-toptip="Rotate For ABB"></div></a>
<a href="../../components/furobot/rotateForKUKA.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -240px" data-downtip="Rotate For KUKA"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/rotateForUR.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -240px" data-toptip="Rotate For UR"></div></a>
<a href="../../components/furobot/tCPSend.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -264px" data-downtip="TCPSend"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/tCPListener.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -264px" data-toptip="TCPListener"></div></a>
<a href="../../components/furobot/loadToolFromFile.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -312px" data-downtip="Load Tool From File"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/upLoadTool.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -336px" data-toptip="Up Load Tool"></div></a>
<a href="../../components/furobot/obstacleSolver.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -360px" data-downtip="Obstacle Solver"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/constructTwist.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -408px" data-toptip="Construct Twist"></div></a>
<a href="../../components/furobot/deconstructTwist.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -408px" data-downtip="Deconstruct Twist"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="20">
Tool
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/aBBToolConvert.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -24px" data-toptip="ABBTool Convert"></div></a>
<a href="../../components/furobot/plasticPrintTool.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -24px" data-downtip="Plastic Print Tool"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/plasticPrintToolForXYZAxis.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -24px" data-toptip="Plastic Print Tool For XYZAxis"></div></a>
<a href="../../components/furobot/mecanumWheelDemoV2.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -24px" data-downtip="Mecanum Wheel Demo v2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/mecanumWheelDemoV3.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -24px" data-toptip="Mecanum Wheel Demo v3"></div></a>
<a href="../../components/furobot/mecanumWheelDemo.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -24px" data-downtip="Mecanum Wheel Demo"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/forwardKinematics.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -48px" data-toptip="Forward Kinematics"></div></a>
<a href="../../components/furobot/inverseKinematics.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -48px" data-downtip="Inverse Kinematics"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/composeCustomEAPart.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -48px" data-toptip="Compose Custom EAPart"></div></a>
<a href="../../components/furobot/fUWoodEA.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -48px" data-downtip="FU Wood EA"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/generalAxisOptimizationCustomRobotV13InMeter.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -72px" data-toptip="General Axis Optimization Custom Robot V13In Meter"></div></a>
<a href="../../components/furobot/numIK6Dv8.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -72px" data-downtip="Num IK6Dv8"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/numIK7DJointValueV7.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -72px" data-toptip="Num IK7D Joint Value v7"></div></a>
<a href="../../components/furobot/custom6D.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -168px -72px" data-downtip="Custom6D"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/custom7D.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -72px" data-toptip="Custom7D"></div></a>
<a href="../../components/furobot/composeCustomRoot.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -72px" data-downtip="Compose Custom Root"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/externalAxisCompose.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -96px" data-toptip="External Axis compose"></div></a>
<a href="../../components/furobot/composeWorkBase.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -48px -96px" data-downtip="Compose Work Base"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/construct4by4Matrix.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -96px" data-toptip="Construct4by4Matrix"></div></a>
<a href="../../components/furobot/getJacobianMatrixFromAngleInDegree.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -96px" data-downtip="Get Jacobian Matrix From Angle In Degree"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/customRobotPart.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -120px" data-toptip="Custom Robot Part"></div></a>
<a href="../../components/furobot/customABB2.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -120px" data-downtip="Custom ABB2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/customKUKA2.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -120px" data-toptip="Custom KUKA2"></div></a>
<a href="../../components/furobot/deconstructExternalAxis.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -144px" data-downtip="Deconstruct External Axis"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/setA4ZeroForKUKA.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -192px" data-toptip="Set A4Zero For KUKA"></div></a>
<a href="../../components/furobot/lightPlasticToolhead.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -216px" data-downtip="Light Plastic Toolhead"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/fUMetalWeldTool.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -216px" data-toptip="FUMetal Weld Tool"></div></a>
<a href="../../components/furobot/turnTable.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -216px" data-downtip="Turn Table"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/tankRobotRoot.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -264px" data-toptip="Tank Robot Root"></div></a>
<a href="../../components/furobot/tJLabSingleAxis.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -312px" data-downtip="TJLab Single Axis"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/turnTable2Dof.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -312px" data-toptip="Turn Table2Dof"></div></a>
<a href="../../components/furobot/uRToolConvert.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -96px -336px" data-downtip="URTool Convert"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/customTool.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -144px -336px" data-toptip="Custom Tool"></div></a>
<a href="../../components/furobot/composeExternalAxisV2.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -336px" data-downtip="Compose External Axis V2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/eAGroup.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -360px" data-toptip="EAGroup"></div></a>
<a href="../../components/furobot/constructRobotMeshGroup.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -72px -408px" data-downtip="Construct Robot Mesh Group"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/robotDynamics.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -192px -408px" data-toptip="Robot Dynamics"></div></a>
<a href="../../components/furobot/robotArmDynamicsSimulation.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -216px -408px" data-downtip="Robot Arm Dynamics Simulation"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/inverseDynamicsFromCommands.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -432px" data-toptip="Inverse Dynamics From Commands"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="20">
Tool|ExternalAxis|Others
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/furobot/uDPRemoteReceiver.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') 0px -336px" data-toptip="UDPRemote Receiver"></div></a>
<a href="../../components/furobot/uDPRemoteSender.html"><div class="ghsprite" style="background: url('../../icons/fURobot.png') -24px -336px" data-downtip="UDPRemote Sender"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
UDP tool
</td>
</tr>
</table>
</div>
</div>


<h1><div class="ghsprite" style="background: url('../../icons/fURobot.png') -120px -168px" ></div> <span class="compo-name">Get Info</span></h1>

</div>

</div>
<h3>Get info</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Username</b></td><td>Name</td><td>User name</td><td>Text</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Info</b></td><td>I</td><td>The info to register.</td><td>Text</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

FURobot and associated data © 2024  <a href="https://fabunion.github.io/">FabUnion</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>
<script type="text/javascript" src="/js/app-notice.js"></script>

    </body>
</html>
