<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Body Characteristics - Grasshopper Component Reference</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="A guide to component Body Characteristics in Grasshopper 3D." />
<meta name="title" content="Grasshopper Component Reference" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://rhino.github.io/" />
<meta property="og:title" content="Body Characteristics - Grasshopper Component Reference" />

<meta property="wiki-page" content="GH Ladybug Body_Characteristics.md" />

<link rel="image_src" href="http://rhino.github.io/ning/2985220.jpg" />

<style type="text/css" media="screen,projection">
#xg_navigation ul div.xg_subtab ul li a {
    color:#666666;
    background:#EAFFBD;
}
#xg_navigation ul div.xg_subtab ul li a:hover {
    color:#333333;
    background:#F2FFD6;
}
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/index.css);
@import url(../../ning/page.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187549422.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187545030.css);
</style>


<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
    
        
        <div id="xg" class="xg_theme xg_widget_page xg_widget_page_page xg_widget_page_page_show" data-layout-pack="classic">
            <div id="xg_head">
                <div id="xg_masthead">
                    <p id="xg_sitename"><a id="application_name_header_link" href="http://rhino.github.io/">Grasshopper</a></p>
                    <p id="xg_sitedesc" class="xj_site_desc">algorithmic modeling for Rhino</p>
                </div>
                <div id="xg_navigation">
                    <ul>
    <li id="xg_tab_main" class="xg_subtab"><a href="http://www.grasshopper3d.com/"><span>Home</span></a></li>
	<li id="xg_tab_photo" class="xg_subtab"><a href="http://www.grasshopper3d.com/photo"><span>View</span></a></li>
	<li id="xg_tab_xn0" class="xg_subtab"><a href="http://www.grasshopper3d.com/page/download-1"><span>Download</span></a></li>
	<li id="xg_tab_forum" class="xg_subtab"><a href="https://discourse.mcneel.com/c/grasshopper"><span>Forums&#47;Support</span></a></li>
	<li id="xg_tab_xn2" class="xg_subtab this"><a href="http://rhino.github.io/"><span>Learn</span></a></li>
	<li id="xg_tab_events" class="xg_subtab"><a href="http://www.grasshopper3d.com/events"><span>Attend</span></a></li>
	<li id="xg_tab_profile" class="xg_subtab"><a href="http://www.grasshopper3d.com/profiles"><span>My Page</span></a></li></ul>

                </div>
            </div>
            
            <div id="xg_body">
                
				<div class="page">

<div class="content">

<div class="ghbar">
<table class="ghbar-table">
<tr>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/constructLocation.html"><img class="ghicon" src="../../icons/Ladybug/Construct_Location.png" title="Construct Location"></a>
<a href="../../components/ladybug/createLBHeader.html"><img class="ghicon" src="../../icons/Ladybug/Create_LB_Header.png" title="Create LB Header"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/decomposeLocation.html"><img class="ghicon" src="../../icons/Ladybug/Decompose_Location.png" title="Decompose Location"></a>
<a href="../../components/ladybug/downloadEPWWeatherFile.html"><img class="ghicon" src="../../icons/Ladybug/download_EPW_Weather_File.png" title="download EPW Weather File"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/importEpw.html"><img class="ghicon" src="../../icons/Ladybug/Import_epw.png" title="Import epw"></a>
<a href="../../components/ladybug/importLocation.html"><img class="ghicon" src="../../icons/Ladybug/Import_Location.png" title="Import Location"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/importStat.html"><img class="ghicon" src="../../icons/Ladybug/Import_stat.png" title="Import stat"></a>
<a href="../../components/ladybug/ladybug.html"><img class="ghicon" src="../../icons/Ladybug/Ladybug.png" title="Ladybug"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/openEPWAndSTATWeatherFiles.html"><img class="ghicon" src="../../icons/Ladybug/Open_EPW_And_STAT_Weather_Files.png" title="Open EPW And STAT Weather Files"></a>
<a href="../../components/ladybug/openEPWWeatherFile.html"><img class="ghicon" src="../../icons/Ladybug/Open_EPW_Weather_File.png" title="Open EPW Weather File"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/openSTATFile.html"><img class="ghicon" src="../../icons/Ladybug/Open_STAT_File.png" title="Open STAT File"></a>
<a href="../../components/ladybug/updateFile.html"><img class="ghicon" src="../../icons/Ladybug/Update_File.png" title="Update File"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
0 | Ladybug
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/adaptiveComfortCalculator.html"><img class="ghicon" src="../../icons/Ladybug/Adaptive_Comfort_Calculator.png" title="Adaptive Comfort Calculator"></a>
<a href="../../components/ladybug/analysisPeriod.html"><img class="ghicon" src="../../icons/Ladybug/Analysis_Period.png" title="Analysis Period"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/ankleDraftDiscomfort.html"><img class="ghicon" src="../../icons/Ladybug/Ankle_Draft_Discomfort.png" title="Ankle Draft Discomfort"></a>
<a href="../../components/ladybug/averageData.html"><img class="ghicon" src="../../icons/Ladybug/Average_Data.png" title="Average Data"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/branchData.html"><img class="ghicon" src="../../icons/Ladybug/Branch_Data.png" title="Branch Data"></a>
<a href="../../components/ladybug/cDDHDD.html"><img class="ghicon" src="../../icons/Ladybug/CDD_HDD.png" title="CDD HDD"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/cDHHDH.html"><img class="ghicon" src="../../icons/Ladybug/CDH_HDH.png" title="CDH HDH"></a>
<a href="../../components/ladybug/clothingFunction.html"><img class="ghicon" src="../../icons/Ladybug/Clothing_Function.png" title="Clothing Function"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/draftDiscomfort.html"><img class="ghicon" src="../../icons/Ladybug/Draft_Discomfort.png" title="Draft Discomfort"></a>
<a href="../../components/ladybug/humidityRatioCalculator.html"><img class="ghicon" src="../../icons/Ladybug/Humidity_Ratio_Calculator.png" title="Humidity Ratio Calculator"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/outdoorComfortCalculator.html"><img class="ghicon" src="../../icons/Ladybug/Outdoor_Comfort_Calculator.png" title="Outdoor Comfort Calculator"></a>
<a href="../../components/ladybug/pMVComfortCalculator.html"><img class="ghicon" src="../../icons/Ladybug/PMV_Comfort_Calculator.png" title="PMV Comfort Calculator"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/radiantAsymmetryDiscomfort.html"><img class="ghicon" src="../../icons/Ladybug/Radiant_Asymmetry_Discomfort.png" title="Radiant Asymmetry Discomfort"></a>
<a href="../../components/ladybug/separateData.html"><img class="ghicon" src="../../icons/Ladybug/Separate_data.png" title="Separate data"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/thermalComfortIndices.html"><img class="ghicon" src="../../icons/Ladybug/Thermal_Comfort_Indices.png" title="Thermal Comfort Indices"></a>
<a href="../../components/ladybug/wetBulbTemp.html"><img class="ghicon" src="../../icons/Ladybug/Wet_Bulb_Temp.png" title="Wet Bulb Temp"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/windSpeedCalculator.html"><img class="ghicon" src="../../icons/Ladybug/Wind_Speed_Calculator.png" title="Wind Speed Calculator"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="9">
1 | AnalyzeWeatherData
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/3DChart.html"><img class="ghicon" src="../../icons/Ladybug/3D_Chart.png" title="3D Chart"></a>
<a href="../../components/ladybug/adaptiveComfortChart.html"><img class="ghicon" src="../../icons/Ladybug/Adaptive_Comfort_Chart.png" title="Adaptive Comfort Chart"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/coloredSkyVisualizer.html"><img class="ghicon" src="../../icons/Ladybug/Colored_Sky_Visualizer.png" title="Colored Sky Visualizer"></a>
<a href="../../components/ladybug/genCumulativeSkyMtx.html"><img class="ghicon" src="../../icons/Ladybug/Gen_Cumulative_Sky_Mtx.png" title="Gen Cumulative Sky Mtx"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/importGroundTemp.html"><img class="ghicon" src="../../icons/Ladybug/Import_Ground_Temp.png" title="Import Ground Temp"></a>
<a href="../../components/ladybug/monthlyBarChart.html"><img class="ghicon" src="../../icons/Ladybug/Monthly_Bar_Chart.png" title="Monthly Bar Chart"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/outdoorSolarTemperatureAdjustor.html"><img class="ghicon" src="../../icons/Ladybug/Outdoor_Solar_Temperature_Adjustor.png" title="Outdoor Solar Temperature Adjustor"></a>
<a href="../../components/ladybug/psychrometricChart.html"><img class="ghicon" src="../../icons/Ladybug/Psychrometric_Chart.png" title="Psychrometric Chart"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/radiationCallaDome.html"><img class="ghicon" src="../../icons/Ladybug/Radiation_Calla_Dome.png" title="Radiation Calla Dome"></a>
<a href="../../components/ladybug/radiationRose.html"><img class="ghicon" src="../../icons/Ladybug/Radiation_Rose.png" title="Radiation Rose"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/selectSkyMtx.html"><img class="ghicon" src="../../icons/Ladybug/select_Sky_Mtx.png" title="select Sky Mtx"></a>
<a href="../../components/ladybug/skyDome.html"><img class="ghicon" src="../../icons/Ladybug/Sky_Dome.png" title="Sky Dome"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/sunPath.html"><img class="ghicon" src="../../icons/Ladybug/Sun_Path.png" title="Sun Path"></a>
<a href="../../components/ladybug/windBoundaryProfile.html"><img class="ghicon" src="../../icons/Ladybug/Wind_Boundary_Profile.png" title="Wind Boundary Profile"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/windRose.html"><img class="ghicon" src="../../icons/Ladybug/Wind_Rose.png" title="Wind Rose"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
2 | VisualizeWeatherData
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/bounceFromSurface.html"><img class="ghicon" src="../../icons/Ladybug/Bounce_from_Surface.png" title="Bounce from Surface"></a>
<a href="../../components/ladybug/comfortShadeBenefitEvaluator.html"><img class="ghicon" src="../../icons/Ladybug/Comfort_Shade_Benefit_Evaluator.png" title="Comfort Shade Benefit Evaluator"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/coneOfVision.html"><img class="ghicon" src="../../icons/Ladybug/Cone_Of_Vision.png" title="Cone Of Vision"></a>
<a href="../../components/ladybug/forwardRaytracing.html"><img class="ghicon" src="../../icons/Ladybug/Forward_Raytracing.png" title="Forward Raytracing"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/radiationAnalysis.html"><img class="ghicon" src="../../icons/Ladybug/Radiation_Analysis.png" title="Radiation Analysis"></a>
<a href="../../components/ladybug/shadingMask.html"><img class="ghicon" src="../../icons/Ladybug/Shading_Mask.png" title="Shading Mask"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/shadingDesigner.html"><img class="ghicon" src="../../icons/Ladybug/Shading_Designer.png" title="Shading Designer"></a>
<a href="../../components/ladybug/solarEnvelope.html"><img class="ghicon" src="../../icons/Ladybug/Solar_Envelope.png" title="Solar Envelope"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/solarEnvelopeBasic.html"><img class="ghicon" src="../../icons/Ladybug/Solar_Envelope_Basic.png" title="Solar Envelope Basic"></a>
<a href="../../components/ladybug/solarFan.html"><img class="ghicon" src="../../icons/Ladybug/Solar_Fan.png" title="Solar Fan"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/solarFanBasic.html"><img class="ghicon" src="../../icons/Ladybug/Solar_Fan_Basic.png" title="Solar Fan Basic"></a>
<a href="../../components/ladybug/steadyStateSurfaceTemperature.html"><img class="ghicon" src="../../icons/Ladybug/Steady_State_Surface_Temperature.png" title="Steady State Surface Temperature"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/sunlightHoursAnalysis.html"><img class="ghicon" src="../../icons/Ladybug/Sunlight_Hours_Analysis.png" title="Sunlight Hours Analysis"></a>
<a href="../../components/ladybug/surfaceViewAnalysis.html"><img class="ghicon" src="../../icons/Ladybug/Surface_View_Analysis.png" title="Surface View Analysis"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/viewAnalysis.html"><img class="ghicon" src="../../icons/Ladybug/View_Analysis.png" title="View Analysis"></a>
<a href="../../components/ladybug/viewFromSun.html"><img class="ghicon" src="../../icons/Ladybug/View_From_Sun.png" title="View From Sun"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/viewRose.html"><img class="ghicon" src="../../icons/Ladybug/view_Rose.png" title="view Rose"></a>
<a href="../../components/ladybug/windowDowndraft.html"><img class="ghicon" src="../../icons/Ladybug/Window_Downdraft.png" title="Window Downdraft"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="9">
3 | EnvironmentalAnalysis
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/coldWaterTemperature.html"><img class="ghicon" src="../../icons/Ladybug/Cold_Water_Temperature.png" title="Cold Water Temperature"></a>
<a href="../../components/ladybug/commercialPublicApartmentHotWater.html"><img class="ghicon" src="../../icons/Ladybug/Commercial_Public_Apartment_Hot_Water.png" title="Commercial Public Apartment Hot Water"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/dCToACDerateFactor.html"><img class="ghicon" src="../../icons/Ladybug/DC_to_AC_derate_factor.png" title="DC to AC derate factor"></a>
<a href="../../components/ladybug/photovoltaicsModule.html"><img class="ghicon" src="../../icons/Ladybug/Photovoltaics_Module.png" title="Photovoltaics Module"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/photovoltaicsPerformanceMetrics.html"><img class="ghicon" src="../../icons/Ladybug/Photovoltaics_Performance_Metrics.png" title="Photovoltaics Performance Metrics"></a>
<a href="../../components/ladybug/photovoltaicsSurface.html"><img class="ghicon" src="../../icons/Ladybug/Photovoltaics_Surface.png" title="Photovoltaics Surface"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/pVSWHSystemSize.html"><img class="ghicon" src="../../icons/Ladybug/PV_SWH_System_Size.png" title="PV SWH System Size"></a>
<a href="../../components/ladybug/residentialHotWater.html"><img class="ghicon" src="../../icons/Ladybug/Residential_Hot_Water.png" title="Residential Hot Water"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/simplifiedPhotovoltaicsModule.html"><img class="ghicon" src="../../icons/Ladybug/Simplified_Photovoltaics_Module.png" title="Simplified Photovoltaics Module"></a>
<a href="../../components/ladybug/solarWaterHeatingPerformanceMetrics.html"><img class="ghicon" src="../../icons/Ladybug/Solar_Water_Heating_Performance_Metrics.png" title="Solar Water Heating Performance Metrics"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/solarWaterHeatingSurface.html"><img class="ghicon" src="../../icons/Ladybug/Solar_Water_Heating_Surface.png" title="Solar Water Heating Surface"></a>
<a href="../../components/ladybug/solarWaterHeatingSystemDetailed.html"><img class="ghicon" src="../../icons/Ladybug/Solar_Water_Heating_System_Detailed.png" title="Solar Water Heating System Detailed"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/solarWaterHeatingSystem.html"><img class="ghicon" src="../../icons/Ladybug/Solar_Water_Heating_System.png" title="Solar Water Heating System"></a>
<a href="../../components/ladybug/sunpathShading.html"><img class="ghicon" src="../../icons/Ladybug/Sunpath_Shading.png" title="Sunpath Shading"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/tiltAndOrientationFactor.html"><img class="ghicon" src="../../icons/Ladybug/Tilt_And_Orientation_Factor.png" title="Tilt And Orientation Factor"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
4 | Renewables
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/imageViewer.html"><img class="ghicon" src="../../icons/Ladybug/Image_Viewer.png" title="Image Viewer"></a>
<a href="../../components/ladybug/activitiesMetList.html"><img class="ghicon" src="../../icons/Ladybug/Activities_Met_List.png" title="Activities Met List"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/adaptiveComfortParameters.html"><img class="ghicon" src="../../icons/Ladybug/Adaptive_Comfort_Parameters.png" title="Adaptive Comfort Parameters"></a>
<a href="../../components/ladybug/beaufortRanges.html"><img class="ghicon" src="../../icons/Ladybug/Beaufort_Ranges.png" title="Beaufort Ranges"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/bodyCharacteristics.html"><img class="ghicon" src="../../icons/Ladybug/Body_Characteristics.png" title="Body Characteristics"></a>
<a href="../../components/ladybug/bTU2Wh.html"><img class="ghicon" src="../../icons/Ladybug/BTU2Wh.png" title="BTU2Wh"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/bTUft2Whm.html"><img class="ghicon" src="../../icons/Ladybug/BTUft2Whm.png" title="BTUft2Whm"></a>
<a href="../../components/ladybug/c2F.html"><img class="ghicon" src="../../icons/Ladybug/C2F.png" title="C2F"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/captureView.html"><img class="ghicon" src="../../icons/Ladybug/Capture_View.png" title="Capture View"></a>
<a href="../../components/ladybug/cfm2M3s.html"><img class="ghicon" src="../../icons/Ladybug/Cfm2M3s.png" title="Cfm2M3s"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/combineSolarEnvelopes.html"><img class="ghicon" src="../../icons/Ladybug/Combine_Solar_Envelopes.png" title="Combine Solar Envelopes"></a>
<a href="../../components/ladybug/comfortMannequin.html"><img class="ghicon" src="../../icons/Ladybug/Comfort_Mannequin.png" title="Comfort Mannequin"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/constructTime.html"><img class="ghicon" src="../../icons/Ladybug/Construct_Time.png" title="Construct Time"></a>
<a href="../../components/ladybug/countourMesh.html"><img class="ghicon" src="../../icons/Ladybug/Countour_Mesh.png" title="Countour Mesh"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/createLegend.html"><img class="ghicon" src="../../icons/Ladybug/Create_Legend.png" title="Create Legend"></a>
<a href="../../components/ladybug/dayMonthHour.html"><img class="ghicon" src="../../icons/Ladybug/Day_Month_Hour.png" title="Day Month Hour"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/dOYHOY.html"><img class="ghicon" src="../../icons/Ladybug/DOY_HOY.png" title="DOY HOY"></a>
<a href="../../components/ladybug/f2C.html"><img class="ghicon" src="../../icons/Ladybug/F2C.png" title="F2C"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/falseStartToggle.html"><img class="ghicon" src="../../icons/Ladybug/False_Start_Toggle.png" title="False Start Toggle"></a>
<a href="../../components/ladybug/fly.html"><img class="ghicon" src="../../icons/Ladybug/fly.png" title="fly"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/generateMesh.html"><img class="ghicon" src="../../icons/Ladybug/Generate_Mesh.png" title="Generate Mesh"></a>
<a href="../../components/ladybug/gradientLibrary.html"><img class="ghicon" src="../../icons/Ladybug/Gradient_Library.png" title="Gradient Library"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/l2G.html"><img class="ghicon" src="../../icons/Ladybug/L2G.png" title="L2G"></a>
<a href="../../components/ladybug/legendParameters.html"><img class="ghicon" src="../../icons/Ladybug/Legend_Parameters.png" title="Legend Parameters"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/lux2ftcd.html"><img class="ghicon" src="../../icons/Ladybug/lux2ft-cd.png" title="lux2ft-cd"></a>
<a href="../../components/ladybug/m3s2Cfm.html"><img class="ghicon" src="../../icons/Ladybug/M3s2Cfm.png" title="M3s2Cfm"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/meshThresholdSelector.html"><img class="ghicon" src="../../icons/Ladybug/Mesh_Threshold_Selector.png" title="Mesh Threshold Selector"></a>
<a href="../../components/ladybug/meshToHatch.html"><img class="ghicon" src="../../icons/Ladybug/Mesh-To-Hatch.png" title="Mesh-To-Hatch"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/mRTCalculator.html"><img class="ghicon" src="../../icons/Ladybug/MRT_Calculator.png" title="MRT Calculator"></a>
<a href="../../components/ladybug/ms2mph.html"><img class="ghicon" src="../../icons/Ladybug/ms2mph.png" title="ms2mph"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/north.html"><img class="ghicon" src="../../icons/Ladybug/North.png" title="North"></a>
<a href="../../components/ladybug/orientToCamera.html"><img class="ghicon" src="../../icons/Ladybug/Orient_to_Camera.png" title="Orient to Camera"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/orientationStudyParameters.html"><img class="ghicon" src="../../icons/Ladybug/Orientation_Study_Parameters.png" title="Orientation Study Parameters"></a>
<a href="../../components/ladybug/passiveStrategyList.html"><img class="ghicon" src="../../icons/Ladybug/Passive_Strategy_List.png" title="Passive Strategy List"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/passiveStrategyParameters.html"><img class="ghicon" src="../../icons/Ladybug/Passive_Strategy_Parameters.png" title="Passive Strategy Parameters"></a>
<a href="../../components/ladybug/pMVComfortParameters.html"><img class="ghicon" src="../../icons/Ladybug/PMV_Comfort_Parameters.png" title="PMV Comfort Parameters"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/realTimeRadiationAnalysis.html"><img class="ghicon" src="../../icons/Ladybug/Real_Time_Radiation_Analysis.png" title="Real Time Radiation Analysis"></a>
<a href="../../components/ladybug/recolorMesh.html"><img class="ghicon" src="../../icons/Ladybug/Recolor_Mesh.png" title="Recolor Mesh"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/renderView.html"><img class="ghicon" src="../../icons/Ladybug/Render_View.png" title="Render View"></a>
<a href="../../components/ladybug/rIP2rSI.html"><img class="ghicon" src="../../icons/Ladybug/r_IP2r_SI.png" title="r IP2r SI"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/setRhinoSun.html"><img class="ghicon" src="../../icons/Ladybug/Set_Rhino_Sun.png" title="Set Rhino Sun"></a>
<a href="../../components/ladybug/setTheView.html"><img class="ghicon" src="../../icons/Ladybug/Set_the_View.png" title="Set the View"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/shadingParametersList.html"><img class="ghicon" src="../../icons/Ladybug/Shading_Parameters_List.png" title="Shading Parameters List"></a>
<a href="../../components/ladybug/textureMaker.html"><img class="ghicon" src="../../icons/Ladybug/Texture_Maker.png" title="Texture Maker"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/trueNorth.html"><img class="ghicon" src="../../icons/Ladybug/True_North.png" title="True North"></a>
<a href="../../components/ladybug/uIP2uSI.html"><img class="ghicon" src="../../icons/Ladybug/u_IP2u_SI.png" title="u IP2u SI"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/wh2BTU.html"><img class="ghicon" src="../../icons/Ladybug/Wh2BTU.png" title="Wh2BTU"></a>
<a href="../../components/ladybug/whm2BTUft.html"><img class="ghicon" src="../../icons/Ladybug/Whm2BTUft.png" title="Whm2BTUft"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="24">
5 | Extra
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/exportLadybug.html"><img class="ghicon" src="../../icons/Ladybug/Export_Ladybug.png" title="Export Ladybug"></a>
<a href="../../components/ladybug/updateLadybug.html"><img class="ghicon" src="../../icons/Ladybug/Update_Ladybug.png" title="Update Ladybug"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
6 | Developers
</td>
</tr>
</table>
</div>
</td>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/bioclimaticChart.html"><img class="ghicon" src="../../icons/Ladybug/Bioclimatic_Chart.png" title="Bioclimatic Chart"></a>
<a href="../../components/ladybug/eNVIMetBuildingTerrain.html"><img class="ghicon" src="../../icons/Ladybug/ENVI-Met_Building_Terrain.png" title="ENVI-Met Building Terrain"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/eNVIMetDisplay.html"><img class="ghicon" src="../../icons/Ladybug/ENVI-Met_Display.png" title="ENVI-Met Display"></a>
<a href="../../components/ladybug/eNVIMetFindOutputFolder.html"><img class="ghicon" src="../../icons/Ladybug/ENVI-Met_Find_Output_Folder.png" title="ENVI-Met Find Output Folder"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/eNVIMetGrid.html"><img class="ghicon" src="../../icons/Ladybug/ENVI-Met_Grid.png" title="ENVI-Met Grid"></a>
<a href="../../components/ladybug/eNVIMetManageWorkspace.html"><img class="ghicon" src="../../icons/Ladybug/ENVI-Met_Manage_Workspace.png" title="ENVI-Met Manage Workspace"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/eNVIMetReadLibrary.html"><img class="ghicon" src="../../icons/Ladybug/ENVI-Met_Read_Library.png" title="ENVI-Met Read Library"></a>
<a href="../../components/ladybug/eNVIMetResultsReader.html"><img class="ghicon" src="../../icons/Ladybug/ENVI-Met_Results_Reader.png" title="ENVI-Met Results Reader"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/eNVIMetSoilPlantSource.html"><img class="ghicon" src="../../icons/Ladybug/ENVI-Met_Soil_Plant_Source.png" title="ENVI-Met Soil Plant Source"></a>
<a href="../../components/ladybug/eNVIMetSpaces.html"><img class="ghicon" src="../../icons/Ladybug/ENVI-Met_Spaces.png" title="ENVI-Met Spaces"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/importCECPhotovoltaicsModule.html"><img class="ghicon" src="../../icons/Ladybug/Import_CEC_Photovoltaics_Module.png" title="Import CEC Photovoltaics Module"></a>
<a href="../../components/ladybug/importSandiaPhotovoltaicsModule.html"><img class="ghicon" src="../../icons/Ladybug/Import_Sandia_Photovoltaics_Module.png" title="Import Sandia Photovoltaics Module"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/kmzGenerator.html"><img class="ghicon" src="../../icons/Ladybug/Kmz_Generator.png" title="Kmz Generator"></a>
<a href="../../components/ladybug/locationFinder.html"><img class="ghicon" src="../../icons/Ladybug/Location_Finder.png" title="Location Finder"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/pedestrianWindComfort.html"><img class="ghicon" src="../../icons/Ladybug/Pedestrian_Wind_Comfort.png" title="Pedestrian Wind Comfort"></a>
<a href="../../components/ladybug/shadingMaskII.html"><img class="ghicon" src="../../icons/Ladybug/Shading_Mask_II.png" title="Shading Mask II"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/shadowStudy.html"><img class="ghicon" src="../../icons/Ladybug/Shadow_Study.png" title="Shadow Study"></a>
<a href="../../components/ladybug/sunriseSunset.html"><img class="ghicon" src="../../icons/Ladybug/Sunrise_Sunset.png" title="Sunrise Sunset"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ladybug/sunShadesCalculator.html"><img class="ghicon" src="../../icons/Ladybug/Sun_Shades_Calculator.png" title="Sun Shades Calculator"></a>
<a href="../../components/ladybug/terrainGenerator.html"><img class="ghicon" src="../../icons/Ladybug/Terrain_Generator.png" title="Terrain Generator"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="10">
7 | WIP
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</div>


<div class="addon-buttons">
<a href="https://www.food4rhino.com/app/ladybug-tools">Download</a>
</div>

<div>
<h1><img src="../../icons/Ladybug/Body_Characteristics.png"/> Body Characteristics</h1>
<p><a href="../../index.html#Ladybug">Component Index</a> &gt; <a href="../../addons/ladybug.html">Ladybug</a> > 5 | Extra > <b>Body Characteristics</b></p>
</div>
<h3>Use this component to calculate the Basal Metabolic Rate, Body Mass Index indices and to create the "bodyCharacterstics_" input for the "Thermal comfort indices" component.<br>Basal Metabolic Rate formula by Mifflin-St. Jeor. Body Mass Index formula by Adolphe Quetelet.<br>Formulas from: "Comparison of predictive equations for resting Metabolic rate in healthy nonobese and obese adults: a systematic review",<br>Frankenfield, Roth-Yousey, Compher, American Dietetic Association, 2005.:<br>https://www.andeal.org/files/Docs/Frankenfield_et_al_2005%5B1%5D.pdf<br></h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>age_</b></td><td>age_</td><td>An age of the person.
-
If not supplied, default value of 35 will be used.
-
In years.</td><td>Goo</td></tr>
<tr><td><b>sex_</b></td><td>sex_</td><td>Person's sex.
-
1 or "male"
2 or "female"
3 or "average sex".
-
If not supplied, "male" will be used as a default value.</td><td>Goo</td></tr>
<tr><td><b>height_</b></td><td>height_</td><td>Person's height.
-
If not supplied default value of 175 cm will be used.
-
In centimetres.</td><td>Goo</td></tr>
<tr><td><b>weight_</b></td><td>weight_</td><td>Person's weight.
-
If not supplied default value of 75 kg will be used.
-
In kilograms.</td><td>Goo</td></tr>
<tr><td><b>bodyPosition_</b></td><td>bodyPosition_</td><td>Position of person's body.
-
1 or "sitting" for sitting position.
2 or "standing" for standing position.
3 or "crouching" for crouching position.
-
If not supplied, 2 (standing) will be used as a default value.</td><td>Goo</td></tr>
<tr><td><b>clothingInsulation_</b></td><td>clothingInsulation_</td><td>Clothing insulation of a person in "clo" units.
It ranges from 0 (nude person) to 4 (polar outfit).
Overall clo value can be determined by adding individual clo values for each type of clothes, based on a clo values table ( http://www.engineeringtoolbox.com/clo-clothing-thermal-insulation-d_732.html )
A more simplified approch would be:
-
0.20 - very light summer clothes (shorts/skirt, t-shirt, slippers, no socks)
0.55 - summer clothes (light trousers, short sleeves or blouse)
1 - street-business suit or Typical indoor winter clothing
1.5 - suit and cotton coat
2 - winter suit and coat
2.58 - firefighting clothes
4 - heavy polar outfit (fur pants, coat, hood, gloves...)
-
If not supplied it will be caclulated for each hour based on air temperature, with minimal 0.5 and maximal 4.1 clo values.
-
In clo.</td><td>Goo</td></tr>
<tr><td><b>clothingAlbedo_</b></td><td>clothingAlbedo_</td><td>Average clothing and skin albedo of a person.
Ranges from 0 to 100%. In theory clothes-skin albedo of 0 would absorb, while 100% will reflect all solar radiation.
Some of the examples:
-
light colored (white and bright clothes) - 57 %
dark colored (black and gray clothes) - 21 %
medium colored (any clothes colors between upper two) - 37 %
protective polyethylene/aluminium suits - 95 %
-
If not supplied 37% (medium colored) will be used as a default.
-
In percent.</td><td>Goo</td></tr>
<tr><td><b>acclimated_</b></td><td>acclimated_</td><td>Determine whether the test person had previously experienced heat/cold stress.
-
"acclimated" or True if person in subject is acclimatized,
"unacclimated" or False if it's not.
-
If no value is supplied, True (acclimated) will be used by default.</td><td>Goo</td></tr>
<tr><td><b>metabolicRate_</b></td><td>metabolicRate_</td><td>Activity's metabolic rate in mets. If not supplied 2.32 will be used as default value
Here are some of the examples of metabolic rates mets based on activity:
Activity - met
-------------------
Reclining  - 0.8
Seating - 1.0
Car driving - 1.2
Sedentary activity (office, dwelling, school, laboratory) - 1.2
Standing - 1.2
Standing (light activity: shopping, laboratory, light industry) - 1.6
Standing (medium activity: shop assistant, domestic work) - 2.0
Walking (4 km/h) - 2.32
Walking (5 km/h) - 3.4
...
Washing dishes standing - 2.5
Domestic work (raking leaves on the lawn) - 2.9
Domestic work (washing by hand and ironing) - 2.9
Iron and steel (ramming the mould with a pneumatic hammer) - 3.0
Building industry (brick laying) - 2.2
Building industry (forming the mould) - 3.1
Building industry (loading a wheelbarrow with stones and mortar) - 4.7
Forestry (cutting with chainsaw) - 3.5
Forestry (working with an axe) - 8.5
Agriculture (digging with a spade) - 6.5
...
Volleyball - 4.0
Golf - 5.0
Softball - 5.0
Gymnastics - 5.5
Aerobic Dancing - 6.0
Swimming - 6.0
Ice skating - 6.2
Bicycling (15 km/h) - 4.0
Bicycling (20km/h) - 6.2
Skiing (9 km/h) - 7.0
Backpacking - 7.0
Basketball - 7.0
Handball - 8.0
Hockey - 8.0
Racquetball - 8.0
Soccer - 8.0
Running (8 km/h) - 8.5
Running (15km/h) - 9.5
-
If not supplied default value of 2.32 (walking 4 km/h or 1.1m/s) mets will be used.
-
In mets.</td><td>Goo</td></tr>
<tr><td><b>activityDuration_</b></td><td>activityDuration_</td><td>Duration of the activity sequence.
It should not be lower than 180 minutes (3 hours) and it should be dividable with 60 (meaning only full hour values are accepted: 180, 240, 300, 360, 420, 480, 540 ...)
-
If not supplied, default value of 480 minutes (8 hours) will be used.
-
In minutes.</td><td>Goo</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>out</b></td><td>readMe!</td><td>...</td><td>String</td></tr>
<tr><td><b>BMR</b></td><td>BMR</td><td>Basal Metabolic Rate - represents the minimum daily amount of energy needed to keep your body functioning, including breathing and keeping your heart beating, without lossing weight. It does not include the the calories you burn from normal daily activities or exercise.
To account for daily activities and exercises, this BMR value needs to be multiplied with:
-
1.2 - Light or no exercise and desk job
1.375 - Light exercise or sports 1-3 days a week
1.55 - Moderate exercise or sports 3-5 days a week
1.725 - Hard exercise or sports 6-7 days a week
1.9 - Hard daily exercise or sports and physical job
-
Once the person knows the number of daily calories needed to maintain its weight, it can easily calculate the number of calories it needs to eat in order to gain or lose weight.
In calories/day.</td><td>Goo</td></tr>
<tr><td><b>BMI</b></td><td>BMI</td><td>Body Mass Index - is the ratio of the persons weight to square of height. It is generally used as a method of screening for weight category.
In kg/m2.</td><td>Goo</td></tr>
<tr><td><b>BMILevel</b></td><td>BMILevel</td><td>Level of BMI for adult (18 years and older) males and females:
----------------
- for males:
BMI ; 17.5 - Anorexia
17.5 ; BMI ; 20.7 - Underweight
20.7 ; BMI ; 26.4 - Normal weight
26.4 ; BMI ; 27.8 - Marginally overweight
27.8 ; BMI ; 31.1 - Overweight
31.1 ; BMI ; 40 - Obese
BMI ; 40 - Extreme obesity
-
- for females:
BMI ; 17.5 - Anorexia
17.5 ; BMI ; 19.1 - Underweight
19.1 ; BMI ; 25.8 - Normal weight
25.8 ; BMI ; 27.3 - Marginally overweight
27.3 ; BMI ; 32.3 - Overweight
32.3; BMI ; 40 - Obese
BMI ; 40 - Extreme obesity
-
In calories/day.</td><td>Goo</td></tr>
<tr><td><b>bodyCharacteristics</b></td><td>bodyCharacteristics</td><td>A list of inputted values (age, sex, height, weight, bodyPosition, clothingInsulation, acclimated, metabolicRate, activityDuration).
-
Use it for the "Thermal comfort indices" component's "bodyCharacteristics_" input.</td><td>Goo</td></tr>
</tbody>
</table>


  </div>

</div>

            </div>
            <div id="xg_foot">
                <p class="left">
    © 2018-2020  <a href="https://github.com/robinrodricks/">Robin Rodricks</a> and <a href="http://www.grasshopper3d.com/profile/AndrewHeumann/">Andrew Heumann</a>. &nbsp;
    Hosted by<a href="http://www.github.com/"><img src="../../images/github.png" alt="Github" class="poweredbylogo" /></a> &nbsp;
	Rhino & Grasshopper are trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.
	</p>
    <p class="right xg_lightfont">
                    <a href="http://www.grasshopper3d.com/main/embeddable/list">Badges</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/index/report" dojotype="PromptToJoinLink" _joinprompttext="Please sign up or sign in to complete this step." _hassignup="true" _signinurl="http://www.grasshopper3d.com/main/authorization/signIn?target=http%3A%2F%2Fwww.grasshopper3d.com%2Fmain%2Findex%2Freport">Report an Issue</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/authorization/termsOfService?previousUrl=http%3A%2F%2Fwww.grasshopper3d.com%2Fpage%2Fcomponent-reference">Terms of Service</a>
            </p>

            </div>
        </div>
        
        <div id="xj_baz17246" class="xg_theme"></div>
<div id="xg_overlay" style="display:none;">
<!--[if lte IE 6.5]><iframe></iframe><![endif]-->
</div>
<!--googleoff: all--><noscript>
	<style type="text/css" media="screen">
        #xg { position:relative;top:120px; }
        #xn_bar { top:120px; }
	</style>
	<div class="errordesc noscript">
		<div>
            <h3><strong>Hello, you need to enable JavaScript to use Grasshopper.</strong></h3>
            <p>Please check your browser settings or contact your system administrator.</p>
			
		</div>
	</div>
</noscript><!--googleon: all-->

<script src="/js/jquery.js"></script>
<script src="/js/kramed.min.js"></script>
<script src="/js/component.js"></script>
<script src="/js/user.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
