<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Model View - Karamba3D - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Lets you inspect the current state of the model.&lt;br&gt;Plug it into the data pipeline in front of &#39;Beam View&#39; or &#39;Shell View&#39; to control the overall model display." />
<meta name="title" content="Model View - Karamba3D - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Model View - Karamba3D - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/karamba3d/modelView.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="../../html5gallery/jquery.js"></script>
<script type="text/javascript" src="../../html5gallery/html5gallery.js"></script>

</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/connectivityToBeam.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -96px -48px" data-toptip="Connectivity to Beam"></div></a>
<a href="../../components/karamba3d/disassembleElement.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -120px -48px" data-downtip="Disassemble Element"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/makeElementSet.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -144px -48px" data-toptip="Make Element-Set"></div></a>
<a href="../../components/karamba3d/indexToBeam.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -168px -48px" data-downtip="Index to Beam"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/lineToBeam.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px -48px" data-toptip="Line to Beam"></div></a>
<a href="../../components/karamba3d/meshToShell.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px -48px" data-downtip="Mesh to Shell"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/modifyElement.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px -72px" data-toptip="Modify Element"></div></a>
<a href="../../components/karamba3d/orientateElem.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -24px -72px" data-downtip="Orientate Elem"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/pointMass.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -48px -72px" data-toptip="Point-Mass"></div></a>
<a href="../../components/karamba3d/selectElement.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -72px -72px" data-downtip="Select Element"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/assembleModel.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -96px -72px" data-toptip="Assemble Model"></div></a>
<a href="../../components/karamba3d/connectedParts.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -120px -72px" data-downtip="Connected Parts"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/disassembleModel.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -144px -72px" data-toptip="Disassemble Model"></div></a>
<a href="../../components/karamba3d/elementActivation.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -168px -72px" data-downtip="Element Activation"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/modifyModel.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px -72px" data-toptip="Modify Model"></div></a>
<a href="../../components/karamba3d/support.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px -72px" data-downtip="Support"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
1.Model
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/disassembleMeshLoad.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px -144px" data-toptip="Disassemble Mesh Load"></div></a>
<a href="../../components/karamba3d/loads.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -24px -144px" data-downtip="Loads"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/prescribedDisplacement.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -48px -144px" data-toptip="Prescribed Displacement"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
2.Load
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/crossSection.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -48px -24px" data-toptip="Cross Section"></div></a>
<a href="../../components/karamba3d/disassembleCrossSection.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -72px -24px" data-downtip="Disassemble Cross Section"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/eccentricityOnCrossSection.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -96px -24px" data-toptip="Eccentricity on Cross Section"></div></a>
<a href="../../components/karamba3d/beamJoints.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -120px -24px" data-downtip="Beam-Joints"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/crossSectionMatcher.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -144px -24px" data-toptip="Cross Section Matcher"></div></a>
<a href="../../components/karamba3d/modifyCrossSection.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -168px -24px" data-downtip="Modify Cross Section"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/crossSectionSelector.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px -24px" data-toptip="Cross Section Selector"></div></a>
<a href="../../components/karamba3d/crossSectionRangeSelector.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px -24px" data-downtip="Cross Section Range Selector"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/readCrossSectionTableFromFile.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px -48px" data-toptip="Read Cross Section Table from File"></div></a>
<a href="../../components/karamba3d/generateCrossSectionTable.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -24px -48px" data-downtip="Generate Cross Section Table"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/beamJointAgent.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -48px -48px" data-toptip="Beam-Joint-Agent"></div></a>
<a href="../../components/karamba3d/eccentricityOnBeam.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -72px -48px" data-downtip="Eccentricity on Beam"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
3.Cross Section
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/disassembleMaterial.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -72px -144px" data-toptip="Disassemble Material"></div></a>
<a href="../../components/karamba3d/readMaterialTableFromFile.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -96px -144px" data-downtip="Read Material Table from File"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/materialProperties.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -120px -144px" data-toptip="Material Properties"></div></a>
<a href="../../components/karamba3d/materialSelection.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -144px -144px" data-downtip="Material Selection"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
4.Material
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/analyze.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px 0px" data-toptip="Analyze"></div></a>
<a href="../../components/karamba3d/analyzeThII.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -24px 0px" data-downtip="AnalyzeThII"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/bESOForBeams.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -48px 0px" data-toptip="BESO for Beams"></div></a>
<a href="../../components/karamba3d/bESOForShells.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -72px 0px" data-downtip="BESO for Shells"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/bucklingModes.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -96px 0px" data-toptip="Buckling Modes"></div></a>
<a href="../../components/karamba3d/eigenModes.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -120px 0px" data-downtip="Eigen Modes"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/largeDeformationAnalysis.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -144px 0px" data-toptip="Large Deformation Analysis"></div></a>
<a href="../../components/karamba3d/naturalVibrations.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -168px 0px" data-downtip="Natural Vibrations"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/analyzeNonlinearWIP.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px 0px" data-toptip="Analyze Nonlinear WIP"></div></a>
<a href="../../components/karamba3d/optimizeCrossSection.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px 0px" data-downtip="Optimize Cross Section"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/optimizeReinforcement.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px -24px" data-toptip="Optimize Reinforcement"></div></a>
<a href="../../components/karamba3d/tensionCompressionEliminator.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -24px -24px" data-downtip="Tension/Compression Eliminator"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
5.Algorithms
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/beamView.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -168px -144px" data-toptip="Beam View"></div></a>
<a href="../../components/karamba3d/modelView.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px -144px" data-downtip="Model View"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/shellView.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px -144px" data-toptip="Shell View"></div></a>
<a href="../../components/karamba3d/principalStrainsApproximation.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px -168px" data-downtip="Principal Strains Approximation"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/beamDisplacements.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -24px -168px" data-toptip="Beam Displacements"></div></a>
<a href="../../components/karamba3d/beamForces.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -48px -168px" data-downtip="Beam Forces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/beamResultantForces.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -72px -168px" data-toptip="Beam Resultant Forces"></div></a>
<a href="../../components/karamba3d/deformationEnergy.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -96px -168px" data-downtip="Deformation-Energy"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/nodalDisplacements.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -120px -168px" data-toptip="Nodal Displacements"></div></a>
<a href="../../components/karamba3d/reactionForces.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -144px -168px" data-downtip="Reaction Forces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/shellForces.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -168px -168px" data-toptip="Shell Forces"></div></a>
<a href="../../components/karamba3d/lineResultsOnShells.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px -168px" data-downtip="Line Results on Shells"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/resultVectorsOnShells.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px -168px" data-toptip="Result Vectors on Shells"></div></a>
<a href="../../components/karamba3d/utilizationOfElements.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px -192px" data-downtip="Utilization of Elements"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
6.Results
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/exportModelToDStV.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px -120px" data-toptip="Export Model to DStV"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
7.Export
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/elementFelting.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px -96px" data-toptip="Element Felting"></div></a>
<a href="../../components/karamba3d/userIsoLines.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -24px -96px" data-downtip="User Iso-Lines"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/userStreamLines.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -48px -96px" data-toptip="User Stream-Lines"></div></a>
<a href="../../components/karamba3d/closestPoints.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -72px -96px" data-downtip="Closest Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/closestPointsMultiDimensional.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -96px -96px" data-toptip="Closest Points Multi-Dimensional"></div></a>
<a href="../../components/karamba3d/detectCollision.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -120px -96px" data-downtip="Detect Collision"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/lineLineIntersection.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -144px -96px" data-toptip="Line-Line Intersection"></div></a>
<a href="../../components/karamba3d/localVector.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -168px -96px" data-downtip="LocalVector"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/meshBreps.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px -96px" data-toptip="Mesh Breps"></div></a>
<a href="../../components/karamba3d/principalStatesTransformation.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px -96px" data-downtip="Principal States Transformation"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/removeDuplicateLines.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px -120px" data-toptip="Remove Duplicate Lines"></div></a>
<a href="../../components/karamba3d/removeDuplicatePoints.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -24px -120px" data-downtip="Remove Duplicate Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/simplifyModel.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -48px -120px" data-toptip="Simplify Model"></div></a>
<a href="../../components/karamba3d/cullCurves.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -72px -120px" data-downtip="Cull Curves"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/getCellsFromLines.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -96px -120px" data-toptip="Get Cells from Lines"></div></a>
<a href="../../components/karamba3d/interpolateShapes.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -120px -120px" data-downtip="Interpolate Shapes"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/mapper.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -144px -120px" data-toptip="Mapper"></div></a>
<a href="../../components/karamba3d/stitches.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -168px -120px" data-downtip="Stitches"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="9">
8.Utilities
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/license.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px -120px" data-toptip="License"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
License
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.food4rhino.com/app/karamba3d">Download</a>

</div>



<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px -144px" ></div> Model View</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/karamba3d.html">Karamba3D</a><a href="#" class="breadcrumb-nolink">6.Results</a><a href="#" class="breadcrumb-nolink">Model View</a>
</div>

</div>
<h3>Lets you inspect the current state of the model.<br>Plug it into the data pipeline in front of 'Beam View' or 'Shell View' to control the overall model display.</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Model</b></td><td>Model</td><td>Model to be viewed</td><td>Model</td></tr>
<tr><td><b>Result-Factors</b></td><td>R-Factors</td><td>List of factors for scaling results of one or several result-cases.
In case this is a list each factor is applied to the corresponding load-case.Select ---all--- in drop down list for load-cases to superimpose them.</td><td>Number</td></tr>
<tr><td><b>Result-Case</b></td><td>ResCase</td><td>This number is added to the visible result-case index 
selected at the result-case drop-down-list of the 
ModelView-component. Setting the drop-down-list to '--all--' and RCIndex 
to 0 results in the first result-case to be visible.</td><td>Integer</td></tr>
<tr><td><b>Colors</b></td><td>Colors</td><td>This list of colors is used for rendering colored meshes. 
The first color is used for values below the currently visible range. 
The last color is used for values above the currently visible range. 
All other colors are evenly distributed in the visible range. 
The minimum number of colors to be supplied is four.</td><td>Colour</td></tr>
<tr><td><b>Element identifiers/Breps</b></td><td>Ids|Breps</td><td>List of identifiers of elements which shall be displayed and/or Breps which define visibility via the element nodes inside them. By default all elements are displayed. In case identifiers and Breps are given only those elements are visible which fulfill both criteria.</td><td>Goo</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Model</b></td><td>Model</td><td>Model</td><td>Model</td></tr>
<tr><td><b>Deformed mesh</b></td><td>defMesh</td><td>Mesh of deformed structure</td><td>Mesh</td></tr>
<tr><td><b>Deformed axes</b></td><td>defAxes</td><td>Axes of deformed structure (if enabled - see 'Elements' check-box)</td><td>Curve</td></tr>
<tr><td><b>Deformed model</b></td><td>defModel</td><td>deformed Model with nodal displacements as displayed</td><td>Model</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/j6KLIqK0pDI"><img src="http://img.youtube.com/vi/j6KLIqK0pDI/1.jpg" alt="141113 Karamba To Gsa And Robot Via Ifc"></a>
<a href="http://www.youtube.com/embed/fzF9hi3LNmQ"><img src="http://img.youtube.com/vi/fzF9hi3LNmQ/1.jpg" alt="Perform Structural Analysis And Form Simulation In Real Time Using Karamba And Silvereye"></a>
<a href="http://www.youtube.com/embed/49Z91bqf_Bo"><img src="http://img.youtube.com/vi/49Z91bqf_Bo/1.jpg" alt="Session 08 | Introduction To Structural Analysis Using Karamba"></a>
<a href="http://www.youtube.com/embed/quxKw9Q9zX4"><img src="http://img.youtube.com/vi/quxKw9Q9zX4/1.jpg" alt="Tutorial: Simple Truss Structural Analysis In  With Karamba"></a>


</div>
</div>

</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Karamba3D and associated data © 2020  <a href="https://www.food4rhino.com/app/karamba3d">Clemens Preisinger</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
