<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Optimize Cross Section - Karamba3D - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Selects optimum cross sections for beams and shells in the model according to EC3 (EN 1993-1-1) for steel structures. For beams the procedure of annex B is applied." />
<meta name="title" content="Optimize Cross Section - Karamba3D - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Optimize Cross Section - Karamba3D - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/karamba3d/optimizeCrossSection.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="../../images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/connectivityToBeam.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -96px -48px" data-toptip="Connectivity to Beam"></div></a>
<a href="../../components/karamba3d/disassembleElement.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -120px -48px" data-downtip="Disassemble Element"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/makeElementSet.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -144px -48px" data-toptip="Make Element-Set"></div></a>
<a href="../../components/karamba3d/indexToBeam.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -168px -48px" data-downtip="Index to Beam"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/lineToBeam.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px -48px" data-toptip="Line to Beam"></div></a>
<a href="../../components/karamba3d/meshToShell.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px -48px" data-downtip="Mesh to Shell"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/modifyElement.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px -72px" data-toptip="Modify Element"></div></a>
<a href="../../components/karamba3d/orientateElem.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -24px -72px" data-downtip="Orientate Elem"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/pointMass.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -48px -72px" data-toptip="Point-Mass"></div></a>
<a href="../../components/karamba3d/selectElement.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -72px -72px" data-downtip="Select Element"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/assembleModel.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -96px -72px" data-toptip="Assemble Model"></div></a>
<a href="../../components/karamba3d/connectedParts.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -120px -72px" data-downtip="Connected Parts"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/disassembleModel.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -144px -72px" data-toptip="Disassemble Model"></div></a>
<a href="../../components/karamba3d/elementActivation.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -168px -72px" data-downtip="Element Activation"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/modifyModel.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px -72px" data-toptip="Modify Model"></div></a>
<a href="../../components/karamba3d/support.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px -72px" data-downtip="Support"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
1.Model
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/disassembleMeshLoad.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px -144px" data-toptip="Disassemble Mesh Load"></div></a>
<a href="../../components/karamba3d/loads.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -24px -144px" data-downtip="Loads"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/prescribedDisplacement.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -48px -144px" data-toptip="Prescribed Displacement"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
2.Load
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/crossSection.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -48px -24px" data-toptip="Cross Section"></div></a>
<a href="../../components/karamba3d/disassembleCrossSection.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -72px -24px" data-downtip="Disassemble Cross Section"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/eccentricityOnCrossSection.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -96px -24px" data-toptip="Eccentricity on Cross Section"></div></a>
<a href="../../components/karamba3d/beamJoints.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -120px -24px" data-downtip="Beam-Joints"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/crossSectionMatcher.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -144px -24px" data-toptip="Cross Section Matcher"></div></a>
<a href="../../components/karamba3d/modifyCrossSection.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -168px -24px" data-downtip="Modify Cross Section"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/crossSectionSelector.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px -24px" data-toptip="Cross Section Selector"></div></a>
<a href="../../components/karamba3d/crossSectionRangeSelector.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px -24px" data-downtip="Cross Section Range Selector"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/readCrossSectionTableFromFile.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px -48px" data-toptip="Read Cross Section Table from File"></div></a>
<a href="../../components/karamba3d/generateCrossSectionTable.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -24px -48px" data-downtip="Generate Cross Section Table"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/beamJointAgent.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -48px -48px" data-toptip="Beam-Joint-Agent"></div></a>
<a href="../../components/karamba3d/eccentricityOnBeam.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -72px -48px" data-downtip="Eccentricity on Beam"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
3.Cross Section
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/disassembleMaterial.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -72px -144px" data-toptip="Disassemble Material"></div></a>
<a href="../../components/karamba3d/readMaterialTableFromFile.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -96px -144px" data-downtip="Read Material Table from File"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/materialProperties.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -120px -144px" data-toptip="Material Properties"></div></a>
<a href="../../components/karamba3d/materialSelection.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -144px -144px" data-downtip="Material Selection"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
4.Material
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/analyze.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px 0px" data-toptip="Analyze"></div></a>
<a href="../../components/karamba3d/analyzeThII.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -24px 0px" data-downtip="AnalyzeThII"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/bESOForBeams.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -48px 0px" data-toptip="BESO for Beams"></div></a>
<a href="../../components/karamba3d/bESOForShells.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -72px 0px" data-downtip="BESO for Shells"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/bucklingModes.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -96px 0px" data-toptip="Buckling Modes"></div></a>
<a href="../../components/karamba3d/eigenModes.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -120px 0px" data-downtip="Eigen Modes"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/largeDeformationAnalysis.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -144px 0px" data-toptip="Large Deformation Analysis"></div></a>
<a href="../../components/karamba3d/naturalVibrations.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -168px 0px" data-downtip="Natural Vibrations"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/analyzeNonlinearWIP.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px 0px" data-toptip="Analyze Nonlinear WIP"></div></a>
<a href="../../components/karamba3d/optimizeCrossSection.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px 0px" data-downtip="Optimize Cross Section"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/optimizeReinforcement.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px -24px" data-toptip="Optimize Reinforcement"></div></a>
<a href="../../components/karamba3d/tensionCompressionEliminator.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -24px -24px" data-downtip="Tension/Compression Eliminator"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
5.Algorithms
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/beamView.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -168px -144px" data-toptip="Beam View"></div></a>
<a href="../../components/karamba3d/modelView.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px -144px" data-downtip="Model View"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/shellView.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px -144px" data-toptip="Shell View"></div></a>
<a href="../../components/karamba3d/principalStrainsApproximation.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px -168px" data-downtip="Principal Strains Approximation"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/beamDisplacements.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -24px -168px" data-toptip="Beam Displacements"></div></a>
<a href="../../components/karamba3d/beamForces.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -48px -168px" data-downtip="Beam Forces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/beamResultantForces.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -72px -168px" data-toptip="Beam Resultant Forces"></div></a>
<a href="../../components/karamba3d/deformationEnergy.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -96px -168px" data-downtip="Deformation-Energy"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/nodalDisplacements.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -120px -168px" data-toptip="Nodal Displacements"></div></a>
<a href="../../components/karamba3d/reactionForces.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -144px -168px" data-downtip="Reaction Forces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/shellForces.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -168px -168px" data-toptip="Shell Forces"></div></a>
<a href="../../components/karamba3d/lineResultsOnShells.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px -168px" data-downtip="Line Results on Shells"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/resultVectorsOnShells.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px -168px" data-toptip="Result Vectors on Shells"></div></a>
<a href="../../components/karamba3d/utilizationOfElements.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px -192px" data-downtip="Utilization of Elements"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
6.Results
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/exportModelToDStV.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px -120px" data-toptip="Export Model to DStV"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
7.Export
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/elementFelting.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px -96px" data-toptip="Element Felting"></div></a>
<a href="../../components/karamba3d/userIsoLines.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -24px -96px" data-downtip="User Iso-Lines"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/userStreamLines.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -48px -96px" data-toptip="User Stream-Lines"></div></a>
<a href="../../components/karamba3d/closestPoints.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -72px -96px" data-downtip="Closest Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/closestPointsMultiDimensional.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -96px -96px" data-toptip="Closest Points Multi-Dimensional"></div></a>
<a href="../../components/karamba3d/detectCollision.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -120px -96px" data-downtip="Detect Collision"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/lineLineIntersection.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -144px -96px" data-toptip="Line-Line Intersection"></div></a>
<a href="../../components/karamba3d/localVector.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -168px -96px" data-downtip="LocalVector"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/meshBreps.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -192px -96px" data-toptip="Mesh Breps"></div></a>
<a href="../../components/karamba3d/principalStatesTransformation.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px -96px" data-downtip="Principal States Transformation"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/removeDuplicateLines.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') 0px -120px" data-toptip="Remove Duplicate Lines"></div></a>
<a href="../../components/karamba3d/removeDuplicatePoints.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -24px -120px" data-downtip="Remove Duplicate Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/simplifyModel.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -48px -120px" data-toptip="Simplify Model"></div></a>
<a href="../../components/karamba3d/cullCurves.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -72px -120px" data-downtip="Cull Curves"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/getCellsFromLines.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -96px -120px" data-toptip="Get Cells from Lines"></div></a>
<a href="../../components/karamba3d/interpolateShapes.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -120px -120px" data-downtip="Interpolate Shapes"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/mapper.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -144px -120px" data-toptip="Mapper"></div></a>
<a href="../../components/karamba3d/stitches.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -168px -120px" data-downtip="Stitches"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="9">
8.Utilities
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/karamba3d/license.html"><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px -120px" data-toptip="License"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
License
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.food4rhino.com/app/karamba3d">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/karamba3D.png') -216px 0px" ></div> Optimize Cross Section</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/karamba3d.html">Karamba3D</a><a href="#" class="breadcrumb-nolink">5.Algorithms</a><a href="#" class="breadcrumb-nolink">Optimize Cross Section</a>
</div>

</div>
<h3>Selects optimum cross sections for beams and shells in the model according to EC3 (EN 1993-1-1) for steel structures. For beams the procedure of annex B is applied.</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Model</b></td><td>Model</td><td>Model for which to optimize the cross sections</td><td>Model</td></tr>
<tr><td><b>Elem Identifiers</b></td><td>ElemIds</td><td>List of identifiers of single elements that take part in cross section design. By default the whole structure is included.</td><td>Goo</td></tr>
<tr><td><b>Group Identifiers</b></td><td>GroupIds</td><td>List of identifiers of groups of elements that take part in cross section design and shall have uniform cross section. You can use the names of element sets and regular expressions for defining groups.</td><td>String</td></tr>
<tr><td><b>Cross sections</b></td><td>CroSecs</td><td>List of cross sections for the optimization.
Make sure that the more preferable (lighter) profiles come first in the list.
Search for sufficient cross section starts at the beginning of the list and ends as soon as a sufficient cross section is found.
The elements you want to optimize must have an initial cross section whose family attribute matches that of the cross sections in the list you want to use for optimization.
Since Karamba 1.3.0 materials are connected directly to the cross sections and not to the elements. Therefore make sure that the provided cross section have the correct materials attached to them.</td><td>CrossSection</td></tr>
<tr><td><b>Maximum utilization</b></td><td>MaxUtil</td><td>Target value of the element utilization. '1.0' means full utilization.</td><td>Number</td></tr>
<tr><td><b>Maximum displacement [cm]</b></td><td>MaxDisp</td><td>Maximum admissible displacement [cm] for all load cases. If negative no limit exists.</td><td>Number</td></tr>
<tr><td><b>Ultimate Limit State Iterations</b></td><td>ULSIter</td><td>Maximum number of iterations to be used for the ultimate limit state (ULS) cross section optimization. Cross section optimization as implemented here is an iterative process. If stopped prematurely results do not converge and may be incorrect.</td><td>Integer</td></tr>
<tr><td><b>Displacement Iterations</b></td><td>DispIter</td><td>Maximum number of iterations to be used for the cross section optimization with respect to the maximum admissible displacement (SLS). Cross section optimization as implemented here is an iterative process. If stopped prematurely results do not converge and may be incorrect.</td><td>Integer</td></tr>
<tr><td><b>Number of sample points</b></td><td>nSamples</td><td>Number of sample points where cross section forces and resistance are compared for cross section design.</td><td>Integer</td></tr>
<tr><td><b>Elastic design</b></td><td>Elast</td><td>True: elastic cross section design; false: plastic cross section design. Default: true.</td><td>Boolean</td></tr>
<tr><td><b>gammaM0</b></td><td>gammaM0</td><td>Material safety factor in case that buckling does not lead to failure.</td><td>Number</td></tr>
<tr><td><b>gammaM1</b></td><td>gammaM1</td><td>Material safety factor in case that buckling leads to failure.</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Model with optimized cross sections</b></td><td>Model</td><td>Model with optimized cross sections</td><td>Model</td></tr>
<tr><td><b>Info</b></td><td>Info</td><td>Information regarding the cross section design process</td><td>String</td></tr>
<tr><td><b>Mass [kg]</b></td><td>Mass</td><td>Mass of structure in [kg]</td><td>Number</td></tr>
<tr><td><b>Maximum displacement [cm]</b></td><td>Disp</td><td>Maximum displacement [cm] of each load-case of the model at end-points and mid-points of elements</td><td>Number</td></tr>
<tr><td><b>Elastic Energy [kNm]</b></td><td>Energy</td><td>Internal elastic energy [kNm] of each load-cases of the model</td><td>Number</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/j6KLIqK0pDI"><img src="http://img.youtube.com/vi/j6KLIqK0pDI/1.jpg" alt="141113 Karamba To Gsa And Robot Via Ifc"></a>
<a href="http://www.youtube.com/embed/fzF9hi3LNmQ"><img src="http://img.youtube.com/vi/fzF9hi3LNmQ/1.jpg" alt="Perform Structural Analysis And Form Simulation In Real Time Using Karamba And Silvereye"></a>
<a href="http://www.youtube.com/embed/49Z91bqf_Bo"><img src="http://img.youtube.com/vi/49Z91bqf_Bo/1.jpg" alt="Session 08 | Introduction To Structural Analysis Using Karamba"></a>
<a href="http://www.youtube.com/embed/quxKw9Q9zX4"><img src="http://img.youtube.com/vi/quxKw9Q9zX4/1.jpg" alt="Tutorial: Simple Truss Structural Analysis In  With Karamba"></a>


</div>
</div>

<script type="text/javascript" src="/html5gallery/jquery.js"></script>
<script type="text/javascript" src="/html5gallery/html5gallery.js"></script>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Karamba3D and associated data © 2022  <a href="https://www.food4rhino.com/app/karamba3d">Clemens Preisinger</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
