<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Nose-Hoover System - Chimpanzee - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Nose-Hoover System" />
<meta name="title" content="Nose-Hoover System - Chimpanzee - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Nose-Hoover System - Chimpanzee - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/chimpanzee/noseHooverSystem.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/mandelbrotSet.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -168px -144px" data-toptip="Mandelbrot Set"></div></a>
<a href="../../components/chimpanzee/juliaSet.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -192px -144px" data-downtip="Julia Set"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/burningShip.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -216px -144px" data-toptip="Burning Ship"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Fractals
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/4DMathieuVanDerPolSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') 0px -120px" data-toptip="4D Mathieu van der Pol System"></div></a>
<a href="../../components/chimpanzee/4DJhaSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -24px -120px" data-downtip="4D Jha System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/matsumotoChuaKobayashiSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -48px -120px" data-toptip="Matsumoto-Chua-Kobayashi System"></div></a>
<a href="../../components/chimpanzee/4DSprottCSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -72px -120px" data-downtip="4D Sprott C System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/4DRosslerSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -96px -120px" data-toptip="4D Rossler System"></div></a>
<a href="../../components/chimpanzee/4DBoualiSystemB.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -120px -120px" data-downtip="4D Bouali System B"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/4DQiSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -144px -120px" data-toptip="4D Qi System"></div></a>
<a href="../../components/chimpanzee/4DBoualiSystemA.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -168px -120px" data-downtip="4D Bouali System A"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Hyperchaotic Systems
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/barnsleyFern.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -192px -120px" data-toptip="Barnsley Fern"></div></a>
<a href="../../components/chimpanzee/sierpinskiCarpet.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -216px -120px" data-downtip="Sierpinski Carpet"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/treeIFS.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') 0px -144px" data-toptip="Tree (IFS)"></div></a>
<a href="../../components/chimpanzee/sierpinskiTriangle.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -24px -144px" data-downtip="Sierpinski Triangle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/mapleLeafIFS.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -48px -144px" data-toptip="Maple Leaf (IFS)"></div></a>
<a href="../../components/chimpanzee/swirlIFS.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -72px -144px" data-downtip="Swirl (IFS)"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/harterHeighwayDragon.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -96px -144px" data-toptip="Harter-Heighway Dragon"></div></a>
<a href="../../components/chimpanzee/dragonIFS.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -120px -144px" data-downtip="Dragon (IFS)"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/levyCCurve.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -144px -144px" data-toptip="Levy C Curve"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Iterated Function Systems (IFS)
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/miraMap.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') 0px 0px" data-toptip="Mira Map"></div></a>
<a href="../../components/chimpanzee/tinkerbellMap.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -24px 0px" data-downtip="Tinkerbell Map"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/peterDeJongMap.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -48px 0px" data-toptip="Peter de Jong Map"></div></a>
<a href="../../components/chimpanzee/duffingOscillator.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -72px 0px" data-downtip="Duffing Oscillator"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/ikedaMap.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -96px 0px" data-toptip="Ikeda Map"></div></a>
<a href="../../components/chimpanzee/elhadjSprottAMap.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -120px 0px" data-downtip="Elhadj-Sprott A Map"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/macMillanMap.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -144px 0px" data-toptip="MacMillan Map"></div></a>
<a href="../../components/chimpanzee/uedaOscillator.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -168px 0px" data-downtip="Ueda Oscillator"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/henonMap.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -192px 0px" data-toptip="Henon Map"></div></a>
<a href="../../components/chimpanzee/gingerbreadMap.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -216px 0px" data-downtip="Gingerbread Map"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/hopalongMap.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') 0px -24px" data-toptip="Hopalong Map"></div></a>
<a href="../../components/chimpanzee/foldedTowelMap.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -24px -24px" data-downtip="Folded-Towel Map"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/multifoldHenonMap.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -48px -24px" data-toptip="Multifold Henon Map"></div></a>
<a href="../../components/chimpanzee/gumowskiMiraMap.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -72px -24px" data-downtip="Gumowski-Mira Map"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/cubicHenonMap.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -96px -24px" data-toptip="Cubic Henon Map"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
Maps
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/shimizuMoriokaSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -120px -24px" data-toptip="Shimizu-Morioka System"></div></a>
<a href="../../components/chimpanzee/chenLeeSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -144px -24px" data-downtip="Chen-Lee System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/mooreSpiegelSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -168px -24px" data-toptip="Moore-Spiegel System"></div></a>
<a href="../../components/chimpanzee/hadleySystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -192px -24px" data-downtip="Hadley System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/financeSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -216px -24px" data-toptip="Finance System"></div></a>
<a href="../../components/chimpanzee/newtonLeipnikSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') 0px -48px" data-downtip="Newton-Leipnik System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/rikitakeSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -24px -48px" data-toptip="Rikitake System"></div></a>
<a href="../../components/chimpanzee/zhouChenSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -48px -48px" data-downtip="Zhou-Chen System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/burkeShawSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -72px -48px" data-toptip="Burke-Shaw System"></div></a>
<a href="../../components/chimpanzee/coupledLorenzSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -96px -48px" data-downtip="Coupled Lorenz System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/rucklideSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -120px -48px" data-toptip="Rucklide System"></div></a>
<a href="../../components/chimpanzee/sprottCSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -144px -48px" data-downtip="Sprott C System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/boualiSystem3.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -168px -48px" data-toptip="Bouali System 3"></div></a>
<a href="../../components/chimpanzee/hindmarshRoseSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -192px -48px" data-downtip="Hindmarsh-Rose System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/sakaryaSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -216px -48px" data-toptip="Sakarya System"></div></a>
<a href="../../components/chimpanzee/rabinovichFabrikantSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') 0px -72px" data-downtip="Rabinovich-Fabrikant System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/boualiSystem2.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -24px -72px" data-toptip="Bouali System 2"></div></a>
<a href="../../components/chimpanzee/thomasCyclicallySymmetricSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -48px -72px" data-downtip="Thomas Cyclically Symmetric System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/qiChenSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -72px -72px" data-toptip="Qi-Chen System"></div></a>
<a href="../../components/chimpanzee/chenSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -96px -72px" data-downtip="Chen System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/dadrasMomeniSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -120px -72px" data-toptip="Dadras-Momeni System"></div></a>
<a href="../../components/chimpanzee/rayleighBenardSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -144px -72px" data-downtip="Rayleigh-Benard System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/noseHooverSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -168px -72px" data-toptip="Nose-Hoover System"></div></a>
<a href="../../components/chimpanzee/threeScrollUnifiedChaoticSystemTSUCS2.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -192px -72px" data-downtip="Three-Scroll Unified Chaotic System (TSUCS 2)"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/aguirreLetellierSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -216px -72px" data-toptip="Aguirre-Letellier System"></div></a>
<a href="../../components/chimpanzee/xingYunSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') 0px -96px" data-downtip="Xing-Yun System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/yuWangSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -24px -96px" data-toptip="Yu-Wang System"></div></a>
<a href="../../components/chimpanzee/boualiSystem1.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -48px -96px" data-downtip="Bouali System 1"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/willamowskiRosslerSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -72px -96px" data-toptip="Willamowski-Rossler System"></div></a>
<a href="../../components/chimpanzee/rosslerSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -96px -96px" data-downtip="Rossler System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/3CellsCNNSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -120px -96px" data-toptip="3-Cells CNN System"></div></a>
<a href="../../components/chimpanzee/halvorsenSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -144px -96px" data-downtip="Halvorsen System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/threeScrollUnifiedChaoticSystemTSUCS1.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -168px -96px" data-toptip="Three-Scroll Unified Chaotic System (TSUCS 1)"></div></a>
<a href="../../components/chimpanzee/elhadjSprottSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -192px -96px" data-downtip="Elhadj-Sprott System"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/chimpanzee/lorenzSystem.html"><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -216px -96px" data-toptip="Lorenz System"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="18">
Strange Attractors
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://www.food4rhino.com/app/chimpanzee">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/chimpanzee.png') -168px -72px" ></div> Nose-Hoover System</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/chimpanzee.html">Chimpanzee</a><a href="#" class="breadcrumb-nolink">Strange Attractors</a><a href="#" class="breadcrumb-nolink">Nose-Hoover System</a>
</div>

</div>
<h3>Nose-Hoover System</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>a</b></td><td>a</td><td>Parameter a (default value a=1.5)</td><td>Number</td></tr>
<tr><td><b>dt</b></td><td>dt</td><td>Time derivative (default value dt=0.015)</td><td>Number</td></tr>
<tr><td><b>Iterations</b></td><td>Iterations</td><td>Number of iterations (default value n=50000)</td><td>Integer</td></tr>
<tr><td><b>x</b></td><td>x</td><td>Initial x-coordinate (default value x=0.1)</td><td>Number</td></tr>
<tr><td><b>y</b></td><td>y</td><td>Initial y-coordinate (default value y=0.1)</td><td>Number</td></tr>
<tr><td><b>z</b></td><td>z</td><td>Initial z-coordinate (default value z=0.1)</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Points</b></td><td>Points</td><td>Output points</td><td>Goo</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Chimpanzee and associated data © 2022  <a href="https://www.food4rhino.com/app/chimpanzee">Matous Stieber</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
