<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mesh Topology Vertex - Grasshopper Component Reference</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="A guide to component Mesh Topology Vertex in Grasshopper 3D." />
<meta name="title" content="Grasshopper Component Reference" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://rhino.github.io/" />
<meta property="og:title" content="Mesh Topology Vertex - Grasshopper Component Reference" />

<meta property="wiki-page" content="GH SandboxTopology Mesh_Topology_Vertex.md" />

<link rel="image_src" href="http://rhino.github.io/ning/2985220.jpg" />

<style type="text/css" media="screen,projection">
#xg_navigation ul div.xg_subtab ul li a {
    color:#666666;
    background:#EAFFBD;
}
#xg_navigation ul div.xg_subtab ul li a:hover {
    color:#333333;
    background:#F2FFD6;
}
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/index.css);
@import url(../../ning/page.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187549422.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187545030.css);
</style>


<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
    
        
        <div id="xg" class="xg_theme xg_widget_page xg_widget_page_page xg_widget_page_page_show" data-layout-pack="classic">
            <div id="xg_head">
                <div id="xg_masthead">
                    <p id="xg_sitename"><a id="application_name_header_link" href="http://rhino.github.io/">Grasshopper</a></p>
                    <p id="xg_sitedesc" class="xj_site_desc">algorithmic modeling for Rhino</p>
                </div>
                <div id="xg_navigation">
                    <ul>
    <li id="xg_tab_main" class="xg_subtab"><a href="http://www.grasshopper3d.com/"><span>Home</span></a></li>
	<li id="xg_tab_photo" class="xg_subtab"><a href="http://www.grasshopper3d.com/photo"><span>View</span></a></li>
	<li id="xg_tab_xn0" class="xg_subtab"><a href="http://www.grasshopper3d.com/page/download-1"><span>Download</span></a></li>
	<li id="xg_tab_forum" class="xg_subtab"><a href="https://discourse.mcneel.com/c/grasshopper"><span>Forums&#47;Support</span></a></li>
	<li id="xg_tab_xn2" class="xg_subtab this"><a href="http://rhino.github.io/"><span>Learn</span></a></li>
	<li id="xg_tab_events" class="xg_subtab"><a href="https://www.grasshopper3d.com/page/tutorials-1"><span>Learn</span></a></li>
	<li id="xg_tab_events" class="xg_subtab"><a href="http://www.grasshopper3d.com/events"><span>Attend</span></a></li>
	<li id="xg_tab_profile" class="xg_subtab"><a href="http://www.grasshopper3d.com/profiles"><span>My Page</span></a></li></ul>

                </div>
            </div>
            
            <div id="xg_body">
                
				<div class="page">

<div class="content">

<div class="ghbar">
<table class="ghbar-table">
<tr>
<td>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/sandboxtopology/brepTopologyEdge.html"><img class="ghicon" src="../../icons/SandboxTopology/Brep_Topology_Edge.png" title="Brep Topology Edge"></a>
<a href="../../components/sandboxtopology/brepTopologyEdgeFilter.html"><img class="ghicon" src="../../icons/SandboxTopology/Brep_Topology_Edge_Filter.png" title="Brep Topology Edge Filter"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/sandboxtopology/brepTopologyVertex.html"><img class="ghicon" src="../../icons/SandboxTopology/Brep_Topology_Vertex.png" title="Brep Topology Vertex"></a>
<a href="../../components/sandboxtopology/brepTopologyVertexFilter.html"><img class="ghicon" src="../../icons/SandboxTopology/Brep_Topology_Vertex_Filter.png" title="Brep Topology Vertex Filter"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/sandboxtopology/lineTopology.html"><img class="ghicon" src="../../icons/SandboxTopology/Line_Topology.png" title="Line Topology"></a>
<a href="../../components/sandboxtopology/lineTopologyFilter.html"><img class="ghicon" src="../../icons/SandboxTopology/Line_Topology_Filter.png" title="Line Topology Filter"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/sandboxtopology/meshTopologyEdge.html"><img class="ghicon" src="../../icons/SandboxTopology/Mesh_Topology_Edge.png" title="Mesh Topology Edge"></a>
<a href="../../components/sandboxtopology/meshTopologyEdgeFilter.html"><img class="ghicon" src="../../icons/SandboxTopology/Mesh_Topology_Edge_Filter.png" title="Mesh Topology Edge Filter"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/sandboxtopology/meshTopologyVertex.html"><img class="ghicon" src="../../icons/SandboxTopology/Mesh_Topology_Vertex.png" title="Mesh Topology Vertex"></a>
<a href="../../components/sandboxtopology/meshTopologyVertexFilter.html"><img class="ghicon" src="../../icons/SandboxTopology/Mesh_Topology_Vertex_Filter.png" title="Mesh Topology Vertex Filter"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/sandboxtopology/polygonTopologyEdge.html"><img class="ghicon" src="../../icons/SandboxTopology/Polygon_Topology_Edge.png" title="Polygon Topology Edge"></a>
<a href="../../components/sandboxtopology/polygonTopologyEdgeFilter.html"><img class="ghicon" src="../../icons/SandboxTopology/Polygon_Topology_Edge_Filter.png" title="Polygon Topology Edge Filter"></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/sandboxtopology/polygonTopologyPoint.html"><img class="ghicon" src="../../icons/SandboxTopology/Polygon_Topology_Point.png" title="Polygon Topology Point"></a>
<a href="../../components/sandboxtopology/polygonTopologyPointFilter.html"><img class="ghicon" src="../../icons/SandboxTopology/Polygon_Topology_Point_Filter.png" title="Polygon Topology Point Filter"></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
Topology
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</div>


<div class="addon-buttons">
<a href="https://www.food4rhino.com/app/sandbox-topology">Download</a>
</div>

<div>
<h1><img src="../../icons/SandboxTopology/Mesh_Topology_Vertex.png"/> Mesh Topology Vertex</h1>
<p><a href="../../index.html#SandboxTopology">Component Index</a> &gt; <a href="../../addons/sandbox-topology.html">Sandbox Topology</a> > Topology > <b>Mesh Topology Vertex</b></p>
</div>
<h3>Analyses the vertex topology of a Mesh</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Mesh</b></td><td>M</td><td>Mesh to analyse</td><td>Mesh</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>List of mesh vertices</b></td><td>V</td><td>Ordered list of mesh vertices</td><td>Point</td></tr>
<tr><td><b>Vertex-Vertex structure</b></td><td>VV</td><td>For each vertex the list of adjacent vertex indices</td><td>Integer</td></tr>
<tr><td><b>Vertex-Face structure</b></td><td>VF</td><td>For each vertex the list of adjacent face indices</td><td>Integer</td></tr>
</tbody>
</table>


  </div>

</div>

            </div>
            <div id="xg_foot">
                <p class="left">
    © 2018-2020             &nbsp; Created by <a href="https://github.com/robinrodricks/">Robin Rodricks</a> and <a href="http://www.grasshopper3d.com/profile/AndrewHeumann/">Andrew Heumann</a>. &nbsp;
    Hosted by<a href="http://www.github.com/"><img src="../../images/github.png" alt="Github" class="poweredbylogo" /></a>
	</p>
    <p class="right xg_lightfont">
                    <a href="http://www.grasshopper3d.com/main/embeddable/list">Badges</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/index/report" dojotype="PromptToJoinLink" _joinprompttext="Please sign up or sign in to complete this step." _hassignup="true" _signinurl="http://www.grasshopper3d.com/main/authorization/signIn?target=http%3A%2F%2Fwww.grasshopper3d.com%2Fmain%2Findex%2Freport">Report an Issue</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/authorization/termsOfService?previousUrl=http%3A%2F%2Fwww.grasshopper3d.com%2Fpage%2Fcomponent-reference">Terms of Service</a>
            </p>

            </div>
        </div>
        
        <div id="xj_baz17246" class="xg_theme"></div>
<div id="xg_overlay" style="display:none;">
<!--[if lte IE 6.5]><iframe></iframe><![endif]-->
</div>
<!--googleoff: all--><noscript>
	<style type="text/css" media="screen">
        #xg { position:relative;top:120px; }
        #xn_bar { top:120px; }
	</style>
	<div class="errordesc noscript">
		<div>
            <h3><strong>Hello, you need to enable JavaScript to use Grasshopper.</strong></h3>
            <p>Please check your browser settings or contact your system administrator.</p>
			
		</div>
	</div>
</noscript><!--googleon: all-->

<script src="/js/jquery.js"></script>
<script src="/js/kramed.min.js"></script>
<script src="/js/component.js"></script>
<script src="/js/user.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
