<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Convert Ifc Filter - GeomGym Robot - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="IFC Elemnt filter for converting from IFC to Structural Analysis" />
<meta name="title" content="Convert Ifc Filter - GeomGym Robot - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Convert Ifc Filter - GeomGym Robot - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/geomgymrobot/convertIfcFilter.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/convertIfcFilter.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px 0px" data-toptip="Convert Ifc Filter"></div></a>
<a href="../../components/geomgymrobot/importData.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -96px -24px" data-downtip="Import Data"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/modelDecompose.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') 0px -72px" data-toptip="Model Decompose"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">

</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/beamAtts.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') 0px 0px" data-toptip="Beam Atts"></div></a>
<a href="../../components/geomgymrobot/createCableSectionProperty.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -48px 0px" data-downtip="Create Cable Section Property"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/createCoonsMeshing.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -72px 0px" data-toptip="Create Coons Meshing"></div></a>
<a href="../../components/geomgymrobot/edgeRelease.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -96px 0px" data-downtip="Edge Release"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/edgeSupport.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -120px 0px" data-toptip="Edge Support"></div></a>
<a href="../../components/geomgymrobot/createElasticIsotropicMaterial.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -144px 0px" data-downtip="Create Elastic Isotropic Material"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/createThicknessHollowCore.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -168px 0px" data-toptip="Create Thickness Hollow Core"></div></a>
<a href="../../components/geomgymrobot/createThicknessPropOrthotropic.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -192px 0px" data-downtip="Create Thickness Prop Orthotropic"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/createSectionProp.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -216px 0px" data-toptip="Create Section Prop"></div></a>
<a href="../../components/geomgymrobot/createBarPropNonPrismatic.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') 0px -24px" data-downtip="Create Bar Prop Non Prismatic"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/createTimberMaterial.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px -24px" data-toptip="Create Timber Material"></div></a>
<a href="../../components/geomgymrobot/generateT.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -48px -24px" data-downtip="Generate T"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/generateWeldedBox.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -72px -24px" data-toptip="Generate Welded Box"></div></a>
<a href="../../components/geomgymrobot/createLinearRelease.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -216px -48px" data-downtip="Create Linear Release"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/nominateMaterial.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px -72px" data-toptip="Nominate Material"></div></a>
<a href="../../components/geomgymrobot/createThicknessProp.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -216px -96px" data-downtip="Create Thickness Prop"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/support.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') 0px -120px" data-toptip="Support"></div></a>
<a href="../../components/geomgymrobot/supportDirParam.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px -120px" data-downtip="Support Dir Param"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/shellPropertyModifier.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -48px -120px" data-toptip="Shell Property Modifier"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="10">
Att
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/load2dContourUniform.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -120px -24px" data-toptip="Load2d Contour Uniform"></div></a>
<a href="../../components/geomgymrobot/load2dContour3Point.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -144px -24px" data-downtip="Load2d Contour3Point"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/load2dFace.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -168px -24px" data-toptip="Load2d Face"></div></a>
<a href="../../components/geomgymrobot/loadCrvCF.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -192px -24px" data-downtip="Load Crv CF"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/loadCrvCM.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -216px -24px" data-toptip="Load Crv CM"></div></a>
<a href="../../components/geomgymrobot/loadCrvPatch.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') 0px -48px" data-downtip="Load Crv Patch"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/loadCrvUDM.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px -48px" data-toptip="Load Crv UDM"></div></a>
<a href="../../components/geomgymrobot/loadCase.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -48px -48px" data-downtip="Load Case"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/loadCaseFootfall.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -72px -48px" data-toptip="Load Case Footfall"></div></a>
<a href="../../components/geomgymrobot/loadCaseModal.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -96px -48px" data-downtip="Load Case Modal"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/caseCombination.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -120px -48px" data-toptip="Case Combination"></div></a>
<a href="../../components/geomgymrobot/loadPanelLineLoad.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -144px -48px" data-downtip="Load Panel Line Load"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/loadGravity.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -168px -48px" data-toptip="Load Gravity"></div></a>
<a href="../../components/geomgymrobot/loadToMassConverion.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -192px -48px" data-downtip="Load To Mass Converion"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/loadCrvDilation.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -96px -120px" data-toptip="Load Crv Dilation"></div></a>
<a href="../../components/geomgymrobot/nodeDisplacmentLoad.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -120px -120px" data-downtip="Node Displacment Load"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
Loads
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/queryBeamForce.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -48px -72px" data-toptip="Query Beam Force"></div></a>
<a href="../../components/geomgymrobot/queryBeamForces.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -72px -72px" data-downtip="Query Beam Forces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/queryNodeDisplacements.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -96px -72px" data-toptip="Query Node Displacements"></div></a>
<a href="../../components/geomgymrobot/queryNodeReactionForce.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -120px -72px" data-downtip="Query Node Reaction Force"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/query2dPrincipalStress.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -144px -72px" data-toptip="Query2d Principal Stress"></div></a>
<a href="../../components/geomgymrobot/queryPrincipalStressPanel.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -168px -72px" data-downtip="Query Principal Stress Panel"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/queryFootfall.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -192px -72px" data-toptip="Query Footfall"></div></a>
<a href="../../components/geomgymrobot/queryModal.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -216px -72px" data-downtip="Query Modal"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/queryPanelReduced.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') 0px -96px" data-toptip="Query Panel Reduced"></div></a>
<a href="../../components/geomgymrobot/decomposeResultSetBeamForce.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px -96px" data-downtip="Decompose Result Set Beam Force"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/decomposeResultSetBeamForces.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -48px -96px" data-toptip="Decompose Result Set Beam Forces"></div></a>
<a href="../../components/geomgymrobot/queryResult2dOptions.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -72px -96px" data-downtip="Query Result2d Options"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/decomposeResultSet2dPrincipalStress.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -96px -96px" data-toptip="Decompose Result Set2d Principal Stress"></div></a>
<a href="../../components/geomgymrobot/decomposeResultSetFootfall.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -120px -96px" data-downtip="Decompose Result Set Footfall"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/decomposeResultSetModalFreq.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -144px -96px" data-toptip="Decompose Result Set Modal Freq"></div></a>
<a href="../../components/geomgymrobot/decomposeResultSetNode.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -168px -96px" data-downtip="Decompose Result Set Node"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/decomposeResultSetPanelReduced.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -192px -96px" data-toptip="Decompose Result Set Panel Reduced"></div></a>
<a href="../../components/geomgymrobot/solver.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -72px -120px" data-downtip="Solver"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="9">
Solver
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://technical.geometrygym.com/rhino-grasshopper/structuralanalysis/robot">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px 0px" ></div> Convert Ifc Filter</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/geomgym-robot.html">GeomGym Robot</a><a href="#" class="breadcrumb-nolink"></a><a href="#" class="breadcrumb-nolink">F</a>
</div>

</div>
<h3>IFC Elemnt filter for converting from IFC to Structural Analysis</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Ifc Class</b></td><td>C</td><td>Ifc Classes to include in analysis element identification, comma delimited</td><td>Text</td></tr>
<tr><td><b>Type Contains</b></td><td>T</td><td>List of strings for Type related filter search</td><td>Text</td></tr>
<tr><td><b>Name Contains</b></td><td>N</td><td>List of strings for Name related filter search</td><td>Text</td></tr>
<tr><td><b>Descrip Contains</b></td><td>D</td><td>List of strings for Description related filter search</td><td>Text</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Ifc Filter</b></td><td>F</td><td>Convert From Ifc Filter</td><td>Generic Data</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

GeomGym Robot and associated data © 2023  <a href="https://technical.geometrygym.com/rhino-grasshopper/structuralanalysis/robot">Geometry Gym Pty Ltd</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
