<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Convert Ifc To Database - GeomGym Robot - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Convert Ifc File to a Robot Database. Use a model decompose component to view the contents of the Model Database." />
<meta name="title" content="Convert Ifc To Database - GeomGym Robot - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Convert Ifc To Database - GeomGym Robot - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/geomgymrobot/convertIfcToDatabase.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v3.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
	<a class="sitemenu-item sitemenu-donate" href="https://github.com/sponsors/robinrodricks">Donate</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="https://technical.geometrygym.com/rhino-grasshopper/structuralanalysis/robot">Download</a>

</div>


<div class="side-content">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

<div id="help-notice">
<div class="help-title">We need your help! 🔥</div>
<div class="help-text">Please consider disabling your ad-blocker to support this website! 🔑 <br> We are a free, community-supported website! 🥰 <br> We only display small unobtrusive ads which help us stay online! 💯 <br> Thank you in advance! ❤️</div>
</div>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Integration-StructuralAnalysis.png');"></div>

<div class="compo-header">

<div class="breadcrumb">
 <a href="../../index.html">Home</a>
  <a href="../../categories/integration-structural-analysis.html">Structural Analysis addons</a><a href="../../addons/geomgym-robot.html"><b>GeomGym Robot</b></a><a href="#" class="breadcrumb-nolink"></a><a href="#" class="breadcrumb-nolink"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -144px 0px" ></div> Convert Ifc To Database</a>
</div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/toKaramba.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -48px 0px" data-toptip="to Karamba"></div></a>
<a href="../../components/geomgymrobot/streamBakeToIfc.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -72px 0px" data-downtip="Stream Bake To Ifc"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/convertIfcOptions.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -96px 0px" data-toptip="Convert Ifc Options"></div></a>
<a href="../../components/geomgymrobot/convertIfcFilter.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -120px 0px" data-downtip="Convert Ifc Filter"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/convertIfcToDatabase.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -144px 0px" data-toptip="Convert Ifc To Database"></div></a>
<a href="../../components/geomgymrobot/convertFromIfc.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -168px 0px" data-downtip="Convert From Ifc"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/importData.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -48px -24px" data-toptip="Import Data"></div></a>
<a href="../../components/geomgymrobot/modelDecompose.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -72px -24px" data-downtip="Model Decompose"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/bakeModel.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -96px -120px" data-toptip="Bake Model"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">

</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/convertIfc.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px 0px" data-toptip="Convert Ifc"></div></a>
<a href="../../components/geomgymrobot/createTimberMaterial.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -192px 0px" data-downtip="Create Timber Material"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/beamAtts.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -216px 0px" data-toptip="Beam Atts"></div></a>
<a href="../../components/geomgymrobot/shellPropertyModifier.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') 0px -24px" data-downtip="Shell Property Modifier"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/findSectionProp.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px -24px" data-toptip="Find Section Prop"></div></a>
<a href="../../components/geomgymrobot/finiteElementGenerationOption.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -192px -96px" data-downtip="Finite Element Generation Option"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/elementOrientation.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -48px -120px" data-toptip="Element Orientation"></div></a>
<a href="../../components/geomgymrobot/support.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -144px -120px" data-downtip="Support"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/beamRelease.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -168px -120px" data-toptip="Beam Release"></div></a>
<a href="../../components/geomgymrobot/supportDirParam.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -192px -120px" data-downtip="Support Dir Param"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/createDesignGroup.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -216px -120px" data-toptip="Create Design Group"></div></a>
<a href="../../components/geomgymrobot/nominateMaterial.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') 0px -144px" data-downtip="Nominate Material"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/createCableSectionProperty.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px -144px" data-toptip="Create Cable Section Property"></div></a>
<a href="../../components/geomgymrobot/createSectionExplicit.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -48px -144px" data-downtip="Create Section Explicit"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/createBarPropNonPrismatic.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -72px -144px" data-toptip="Create Bar Prop Non Prismatic"></div></a>
<a href="../../components/geomgymrobot/generateWeldedBox.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -96px -144px" data-downtip="Generate Welded Box"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/generateT.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -120px -144px" data-toptip="Generate T"></div></a>
<a href="../../components/geomgymrobot/createRCBeamSectionProperty.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -144px -144px" data-downtip="Create RC Beam Section Property"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/createRCColumnSectionProperty.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -168px -144px" data-toptip="Create RC Column Section Property"></div></a>
<a href="../../components/geomgymrobot/createTimberSectionProperty.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -192px -144px" data-downtip="Create Timber Section Property"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/edgeSupport.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px -168px" data-toptip="Edge Support"></div></a>
<a href="../../components/geomgymrobot/edgeRelease.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -48px -168px" data-downtip="Edge Release"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/createCoonsMeshing.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -72px -168px" data-toptip="Create Coons Meshing"></div></a>
<a href="../../components/geomgymrobot/createDelMeshing.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -96px -168px" data-downtip="Create Del Meshing"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/createThicknessPropOrthotropic.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -168px -168px" data-toptip="Create Thickness Prop Orthotropic"></div></a>
<a href="../../components/geomgymrobot/createThicknessHollowCore.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -192px -168px" data-downtip="Create Thickness Hollow Core"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/createElasticIsotropicMaterial.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -216px -168px" data-toptip="Create Elastic Isotropic Material"></div></a>
<a href="../../components/geomgymrobot/createSectionProp.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') 0px -192px" data-downtip="Create Section Prop"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/createThicknessProp.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px -192px" data-toptip="Create Thickness Prop"></div></a>
<a href="../../components/geomgymrobot/createLinearRelease.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -48px -192px" data-downtip="Create Linear Release"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="15">
Att
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/transformStructure.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -96px -24px" data-toptip="Transform Structure"></div></a>
<a href="../../components/geomgymrobot/createBeam.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -120px -24px" data-downtip="Create Beam"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/decomposeBeam.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -144px -24px" data-toptip="Decompose Beam"></div></a>
<a href="../../components/geomgymrobot/rigidLink.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -120px -96px" data-downtip="Rigid Link"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/createGroup.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -144px -96px" data-toptip="Create Group"></div></a>
<a href="../../components/geomgymrobot/createFiniteElement.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -168px -96px" data-downtip="Create Finite Element"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/brepConvertFiniteElements.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -216px -96px" data-toptip="Brep Convert Finite Elements"></div></a>
<a href="../../components/geomgymrobot/meshConvertFiniteElements.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') 0px -120px" data-downtip="Mesh Convert Finite Elements"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/meshConvertPanel.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px -120px" data-toptip="Mesh Convert Panel"></div></a>
<a href="../../components/geomgymrobot/createBuildingStorey.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -72px -120px" data-downtip="Create Building Storey"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/createOrFindNode.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -120px -120px" data-toptip="Create Or Find Node"></div></a>
<a href="../../components/geomgymrobot/createRevolution.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -216px -144px" data-downtip="Create Revolution"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/createCladding.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') 0px -168px" data-toptip="Create Cladding"></div></a>
<a href="../../components/geomgymrobot/createPanel.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -120px -168px" data-downtip="Create Panel"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/createSolid.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -144px -168px" data-toptip="Create Solid"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
Elem
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/ggKarambaRobot.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') 0px 0px" data-toptip="gg Karamba Robot"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Karamba
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/loadCase.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -168px -24px" data-toptip="Load Case"></div></a>
<a href="../../components/geomgymrobot/caseCombination.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -192px -24px" data-downtip="Case Combination"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/loadGravity.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -216px -24px" data-toptip="Load Gravity"></div></a>
<a href="../../components/geomgymrobot/loadNode.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') 0px -48px" data-downtip="Load Node"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/nodeDisplacmentLoad.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px -48px" data-toptip="Node Displacment Load"></div></a>
<a href="../../components/geomgymrobot/loadNetworkTribArea.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -48px -48px" data-downtip="Load Network Trib Area"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/loadCrvUDL.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -72px -48px" data-toptip="Load Crv UDL"></div></a>
<a href="../../components/geomgymrobot/loadCrvPatch.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -96px -48px" data-downtip="Load Crv Patch"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/load2dFace.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -120px -48px" data-toptip="Load2d Face"></div></a>
<a href="../../components/geomgymrobot/loadCrvDilation.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -144px -48px" data-downtip="Load Crv Dilation"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/loadCaseFootfall.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -72px -192px" data-toptip="Load Case Footfall"></div></a>
<a href="../../components/geomgymrobot/loadCaseModal.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -96px -192px" data-downtip="Load Case Modal"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/loadToMassConverion.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -120px -192px" data-toptip="Load To Mass Converion"></div></a>
<a href="../../components/geomgymrobot/loadPanelLineLoad.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -144px -192px" data-downtip="Load Panel Line Load"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/load2dContour3Point.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -168px -192px" data-toptip="Load2d Contour3Point"></div></a>
<a href="../../components/geomgymrobot/load2dContourUniform.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -192px -192px" data-downtip="Load2d Contour Uniform"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/loadCrvUDM.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -216px -192px" data-toptip="Load Crv UDM"></div></a>
<a href="../../components/geomgymrobot/loadCrvCF.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') 0px -216px" data-downtip="Load Crv CF"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/loadCrvCM.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px -216px" data-toptip="Load Crv CM"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="10">
Loads
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/solver.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -168px -48px" data-toptip="Solver"></div></a>
<a href="../../components/geomgymrobot/queryNodeDisplacements.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -192px -48px" data-downtip="Query Node Displacements"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/queryNodeReactionForce.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -216px -48px" data-toptip="Query Node Reaction Force"></div></a>
<a href="../../components/geomgymrobot/queryBeamForce.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') 0px -72px" data-downtip="Query Beam Force"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/decomposeResultSetBeamForce.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px -72px" data-toptip="Decompose Result Set Beam Force"></div></a>
<a href="../../components/geomgymrobot/queryBeamForces.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -48px -72px" data-downtip="Query Beam Forces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/decomposeResultSetBeamForces.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -72px -72px" data-toptip="Decompose Result Set Beam Forces"></div></a>
<a href="../../components/geomgymrobot/queryFootfall.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -96px -72px" data-downtip="Query Footfall"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/queryModal.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -120px -72px" data-toptip="Query Modal"></div></a>
<a href="../../components/geomgymrobot/decomposeResultSetModalFreq.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -144px -72px" data-downtip="Decompose Result Set Modal Freq"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/decomposeResultSetPanelReduced.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -168px -72px" data-toptip="Decompose Result Set Panel Reduced"></div></a>
<a href="../../components/geomgymrobot/queryPanelReduced.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -192px -72px" data-downtip="Query Panel Reduced"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/queryPrincipalStressPanel.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -216px -72px" data-toptip="Query Principal Stress Panel"></div></a>
<a href="../../components/geomgymrobot/query2dPrincipalStress.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') 0px -96px" data-downtip="Query2d Principal Stress"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/queryResult2dOptions.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -24px -96px" data-toptip="Query Result2d Options"></div></a>
<a href="../../components/geomgymrobot/decomposeResultSet2dPrincipalStress.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -48px -96px" data-downtip="Decompose Result Set2d Principal Stress"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/geomgymrobot/decomposeResultSetNode.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -72px -96px" data-toptip="Decompose Result Set Node"></div></a>
<a href="../../components/geomgymrobot/decomposeResultSetFootfall.html"><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -96px -96px" data-downtip="Decompose Result Set Footfall"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="9">
Solver
</td>
</tr>
</table>
</div>
</div>


<h1><div class="ghsprite" style="background: url('../../icons/geomGymRobot.png') -144px 0px" ></div> <span class="compo-name">Convert Ifc To Database</span></h1>

</div>

</div>
<h3>Convert Ifc File to a Robot Database. Use a model decompose component to view the contents of the Model Database.</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Enabled</b></td><td>E</td><td>Enabled</td><td>Boolean</td></tr>
<tr><td><b>Ifc</b></td><td>I</td><td>Path to Ifc File</td><td>Text</td></tr>
<tr><td><b>Options</b></td><td>O</td><td>Structural Detection Options</td><td>Generic Data</td></tr>
<tr><td><b>Database Insert</b></td><td>I</td><td>Insert Data into Grasshopper Plugin Database, else used for reference</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Log</b></td><td>L</td><td>Log</td><td>Text</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

GeomGym Robot and associated data © 2024  <a href="https://technical.geometrygym.com/rhino-grasshopper/structuralanalysis/robot">Geometry Gym Pty Ltd</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>
<script type="text/javascript" src="/js/app-notice.js"></script>

    </body>
</html>
