<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Text To Section - Salamander - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Create a new section property from a catalogue name or textual section description" />
<meta name="title" content="Text To Section - Salamander - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Text To Section - Salamander - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/salamander/textToSection.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="../../html5gallery/jquery.js"></script>
<script type="text/javascript" src="../../html5gallery/html5gallery.js"></script>

</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<script async src="https://cse.google.com/cse.js?cx=feb9de3d53b3dd2ce"></script>
	<div class="gcse-searchbox-only"></div>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/getBuildUp.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -24px -96px" data-toptip="Get Build-Up"></div></a>
<a href="../../components/salamander/createBuildUp.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -48px -96px" data-downtip="Create Build-Up"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Build-Up
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/exportETABS.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -120px -72px" data-toptip="Export ETABS"></div></a>
<a href="../../components/salamander/robotUpdateOptions.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -144px -72px" data-downtip="Robot Update Options"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/exportGWA.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -168px -72px" data-toptip="Export GWA"></div></a>
<a href="../../components/salamander/saveSalamander3File.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -192px -72px" data-downtip="Save Salamander 3 File"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/exportRobot.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -216px -72px" data-toptip="Export Robot"></div></a>
<a href="../../components/salamander/updateRobot.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') 0px -96px" data-downtip="Update Robot"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Export
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/vectorNodeLoad.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -216px -120px" data-toptip="Vector Node Load"></div></a>
<a href="../../components/salamander/nodeLoad.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') 0px -144px" data-downtip="Node Load"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/panelLoad.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -24px -144px" data-toptip="Panel Load"></div></a>
<a href="../../components/salamander/loadCase.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -48px -144px" data-downtip="Load Case"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/linearElementLoad.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -72px -144px" data-toptip="Linear Element Load"></div></a>
<a href="../../components/salamander/linearElementPointLoad.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -96px -144px" data-downtip="Linear Element Point Load"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/gravityLoad.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -120px -144px" data-toptip="Gravity Load"></div></a>
<a href="../../components/salamander/thermalLoad.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -144px -144px" data-downtip="Thermal Load"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Loading
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/createMaterial.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -168px -120px" data-toptip="Create Material"></div></a>
<a href="../../components/salamander/getAllMaterials.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -192px -120px" data-downtip="Get All Materials"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Materials
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/level.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -120px -24px" data-toptip="Level"></div></a>
<a href="../../components/salamander/assignBuildUp.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -144px -24px" data-downtip="Assign Build-Up"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/createPanelElementInCurve.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -168px -24px" data-toptip="Create Panel Element In Curve"></div></a>
<a href="../../components/salamander/createColumn.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -192px -24px" data-downtip="Create Column"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/assignSection.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -216px -24px" data-toptip="Assign Section"></div></a>
<a href="../../components/salamander/mergeNodes.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') 0px -48px" data-downtip="Merge Nodes"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/splitNode.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -24px -48px" data-toptip="Split Node"></div></a>
<a href="../../components/salamander/setReleases.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -48px -48px" data-downtip="Set Releases"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/previewLinearElement.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -72px -48px" data-toptip="Preview Linear Element"></div></a>
<a href="../../components/salamander/getNodes.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -96px -48px" data-downtip="Get Nodes"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/restrainNode.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -120px -48px" data-toptip="Restrain Node"></div></a>
<a href="../../components/salamander/generateBeamFraming.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -144px -48px" data-downtip="Generate Beam Framing"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/createWall.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -168px -48px" data-toptip="Create Wall"></div></a>
<a href="../../components/salamander/generatePrattTruss.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -192px -48px" data-downtip="Generate Pratt Truss"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/createLinearElement.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -216px -48px" data-toptip="Create Linear Element"></div></a>
<a href="../../components/salamander/convertToElements.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') 0px -72px" data-downtip="Convert to Elements"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/generateSimpleFrame.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -24px -72px" data-toptip="Generate Simple Frame"></div></a>
<a href="../../components/salamander/createNode.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -48px -72px" data-downtip="Create Node"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/createPanelElement.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -72px -72px" data-toptip="Create Panel Element"></div></a>
<a href="../../components/salamander/orientateTowards.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -96px -72px" data-downtip="Orientate Towards"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="10">
Model
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/salamanderAutoBake.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') 0px 0px" data-toptip="Salamander Auto-Bake"></div></a>
<a href="../../components/salamander/direction.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -24px 0px" data-downtip="Direction"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/bool6D.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -48px 0px" data-toptip="Bool6D"></div></a>
<a href="../../components/salamander/getAllPanelElements.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -72px 0px" data-downtip="Get All Panel Elements"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/linearElement.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -96px 0px" data-toptip="Linear Element"></div></a>
<a href="../../components/salamander/cleanModel.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -120px 0px" data-downtip="Clean Model"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/element.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -144px 0px" data-toptip="Element"></div></a>
<a href="../../components/salamander/panelElement.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -168px 0px" data-downtip="Panel Element"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/loadCaseTypes.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -192px 0px" data-toptip="Load Case Types"></div></a>
<a href="../../components/salamander/sectionFamily.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -216px 0px" data-downtip="Section Family"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/node.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') 0px -24px" data-toptip="Node"></div></a>
<a href="../../components/salamander/buildUpFamily.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -24px -24px" data-downtip="Build-Up Family"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/material.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -48px -24px" data-toptip="Material"></div></a>
<a href="../../components/salamander/coordinateSystemReferences.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -72px -24px" data-downtip="Coordinate System References"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/getAllLinearElements.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -96px -24px" data-toptip="Get All Linear Elements"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
Params
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/cHSProfilesCatalogue.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -72px -96px" data-toptip="CHS-Profiles Catalogue"></div></a>
<a href="../../components/salamander/iProfilesCatalogue.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -96px -96px" data-downtip="I-Profiles Catalogue"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/circularHollowSection.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -120px -96px" data-toptip="Circular Hollow Section"></div></a>
<a href="../../components/salamander/angleProfilesCatalogue.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -144px -96px" data-downtip="Angle Profiles Catalogue"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/iSection.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -168px -96px" data-toptip="I Section"></div></a>
<a href="../../components/salamander/circularSection.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -192px -96px" data-downtip="Circular Section"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/channelSection.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -216px -96px" data-toptip="Channel Section"></div></a>
<a href="../../components/salamander/textToSection.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') 0px -120px" data-downtip="Text To Section"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/angleSection.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -24px -120px" data-toptip="Angle Section"></div></a>
<a href="../../components/salamander/rHSProfilesCatalogue.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -48px -120px" data-downtip="RHS-Profiles Catalogue"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/getSection.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -72px -120px" data-toptip="Get Section"></div></a>
<a href="../../components/salamander/rectangularSection.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -96px -120px" data-downtip="Rectangular Section"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/channelProfilesCatalogue.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -120px -120px" data-toptip="Channel Profiles Catalogue"></div></a>
<a href="../../components/salamander/rectangularHollowSection.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -144px -120px" data-downtip="Rectangular Hollow Section"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
Sections
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/getElementSelection.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -168px -144px" data-toptip="Get Element Selection"></div></a>
<a href="../../components/salamander/saveNodeSelection.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -192px -144px" data-downtip="Save Node Selection"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/saveElementSelection.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -216px -144px" data-toptip="Save Element Selection"></div></a>
<a href="../../components/salamander/getNodeSelection.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') 0px -168px" data-downtip="Get Node Selection"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Sets
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/salamander/geometricProperties.html"><div class="ghsprite" style="background: url('../../icons/salamander.png') -24px -168px" data-toptip="Geometric Properties"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Test
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.food4rhino.com/app/salamander-3">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/salamander.png') 0px -120px" ></div> Text To Section</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/salamander.html">Salamander</a><a href="#" class="breadcrumb-nolink">Sections</a><a href="#" class="breadcrumb-nolink">Text2Sect</a>
</div>

</div>
<h3>Create a new section property from a catalogue name or textual section description</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Name</b></td><td>N</td><td>The name of the section</td><td>String</td></tr>
<tr><td><b>Description</b></td><td>D</td><td>The catalogue description of the section</td><td>String</td></tr>
<tr><td><b>Material</b></td><td>M</td><td>The material of the section</td><td>Salamander.Grasshopper.MaterialGoo</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Section</b></td><td>S</td><td>The output section property</td><td>Salamander.Grasshopper.SectionFamilyGoo</td></tr>
<tr><td><b>Perimeter</b></td><td>P</td><td>The output section perimeter</td><td>Curve</td></tr>
<tr><td><b>Void</b></td><td>V</td><td>The output section internal void perimeter (if any)</td><td>Curve</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/PBkMWig1hh0"><img src="http://img.youtube.com/vi/PBkMWig1hh0/1.jpg" alt="Session 09 | Introduction To Salamander And C# Scripting"></a>
<a href="http://www.youtube.com/embed/O5hpez0lU-Y"><img src="http://img.youtube.com/vi/O5hpez0lU-Y/1.jpg" alt="Salamander 3: Basic"></a>
<a href="http://www.youtube.com/embed/xbx1rdMNjbY"><img src="http://img.youtube.com/vi/xbx1rdMNjbY/1.jpg" alt="Salamander 3: Basic Structural Modelling"></a>
<a href="http://www.youtube.com/embed/EAs6mD_ete8"><img src="http://img.youtube.com/vi/EAs6mD_ete8/1.jpg" alt="Salamander 3: Installation"></a>
<a href="http://www.youtube.com/embed/lpVHrtncyxU"><img src="http://img.youtube.com/vi/lpVHrtncyxU/1.jpg" alt="Salamander: Arcelormittal Orbit Model Export"></a>
<a href="http://www.youtube.com/embed/bCsb9A9cwWM"><img src="http://img.youtube.com/vi/bCsb9A9cwWM/1.jpg" alt="Salamander/galapagos Truss Optimisation Experiment"></a>
<a href="http://www.youtube.com/embed/n3R134IghbE"><img src="http://img.youtube.com/vi/n3R134IghbE/1.jpg" alt="Salamander Introductory Video Tutorial"></a>


</div>
</div>

</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Salamander and associated data © 2022  <a href="https://www.food4rhino.com/app/salamander-3">Paul Jeffries</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
