<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Directory Reader - FroGH - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Returns the list of Files and subdirectories in a Directory&lt;br&gt;Double click the component to update" />
<meta name="title" content="Directory Reader - FroGH - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Directory Reader - FroGH - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/frogh/directoryReader.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v4.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
	<a class="sitemenu-item sitemenu-donate" href="https://github.com/sponsors/robinrodricks">Donate</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="https://github.com/Co-de-iT/froGH">Source Code</a>
<a href="https://www.food4rhino.com/en/app/frogh">Download</a>

</div>


<div class="side-content">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

<div id="help-notice">
<div class="help-title">We need your help! 🔥</div>
<div class="help-text">Please consider disabling your ad-blocker to support this website! 🔑 <br> We are a free, community-supported website! 🥰 <br> We only display small unobtrusive ads which help us stay online! 💯 <br> Thank you in advance! ❤️</div>
</div>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/CoreCollections.png');"></div>

<div class="compo-header">

<div class="breadcrumb">
 <a href="../../index.html">Home</a>
  <a href="../../categories/core-core-collections.html">Core Collections addons</a><a href="../../addons/frogh.html"><b>FroGH</b></a><a href="#" class="breadcrumb-nolink">File I-O</a><a href="#" class="breadcrumb-nolink"><div class="ghsprite" style="background: url('../../icons/froGH.png') 0px -144px" ></div> Directory Reader</a>
</div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/aWiseFrog.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -144px -144px" data-toptip="A wise frog"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
_
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/createRTree.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') 0px 0px" data-toptip="Create RTree"></div></a>
<a href="../../components/frogh/dataTreeGraph.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -24px 0px" data-downtip="DataTreeGraph"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/froggle.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -48px 0px" data-toptip="Froggle"></div></a>
<a href="../../components/frogh/selectRhinoObjects.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -72px 0px" data-downtip="SelectRhinoObjects"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/toggleAutostop.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -96px -120px" data-toptip="Toggle Autostop"></div></a>
<a href="../../components/frogh/bakeAttributesEnhanced.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -120px -120px" data-downtip="Bake Attributes Enhanced"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/centeredDomain.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -144px -120px" data-toptip="Centered Domain"></div></a>
<a href="../../components/frogh/deconstructBlockFromID.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -192px -120px" data-downtip="Deconstruct Block From ID"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/deconstructDot.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -216px -120px" data-toptip="Deconstruct Dot"></div></a>
<a href="../../components/frogh/doubleShift.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -48px -144px" data-downtip="Double Shift"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/indexesFromList.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -168px -144px" data-toptip="Indexes From List"></div></a>
<a href="../../components/frogh/indexesFromNumber.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -192px -144px" data-downtip="IndexesFromNumber"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/massBoolean.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -24px -168px" data-toptip="Mass Boolean"></div></a>
<a href="../../components/frogh/objectLayer.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -48px -168px" data-downtip="ObjectLayer"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/serialBranchPath.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -216px -168px" data-toptip="Serial Branch Path"></div></a>
<a href="../../components/frogh/symmetricDomain.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -72px -192px" data-downtip="Symmetric Domain"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/weightedRandomChoice.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -24px -216px" data-toptip="Weighted Random Choice"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="9">
Data
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/cOMPortWriter.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -24px -48px" data-toptip="COM Port Writer"></div></a>
<a href="../../components/frogh/exportCurvesToAI.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -96px -48px" data-downtip="Export Curves to AI"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/saveGHFile.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -48px -120px" data-toptip="Save GH File"></div></a>
<a href="../../components/frogh/directoryReader.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') 0px -144px" data-downtip="Directory Reader"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/gHFilePathInfo.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -96px -144px" data-toptip="GH File Path Info"></div></a>
<a href="../../components/frogh/loadSTLBinaryFile.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') 0px -168px" data-downtip="Load STL Binary File"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/pathGenerator.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -96px -168px" data-toptip="Path Generator"></div></a>
<a href="../../components/frogh/readFileFromURL.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -168px -168px" data-downtip="Read File From URL"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/saveStringToFile.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -192px -168px" data-toptip="Save String To File"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
File I-O
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/clusterizePointsByDistance.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -96px 0px" data-toptip="Clusterize Points By Distance"></div></a>
<a href="../../components/frogh/getEulerAnglesZYX.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -120px 0px" data-downtip="Get Euler Angles ZYX"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/getEulerAnglesZYZ.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -144px 0px" data-toptip="Get Euler Angles ZYZ"></div></a>
<a href="../../components/frogh/lPolylineFromPlane.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -168px 0px" data-downtip="L Polyline From Plane"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/pointsInSphereRTree.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -192px 0px" data-toptip="Points In Sphere (RTree)"></div></a>
<a href="../../components/frogh/rotationFromZYXEulerAngles.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -216px 0px" data-downtip="Rotation from ZYX Euler Angles"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/rotationFromZYZEulerAngles.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') 0px -24px" data-toptip="Rotation from ZYZ Euler Angles"></div></a>
<a href="../../components/frogh/rTreeClosestPoint.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -24px -24px" data-downtip="RTree Closest Point"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/smallestEnclosingCircle.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -48px -24px" data-toptip="Smallest Enclosing Circle"></div></a>
<a href="../../components/frogh/textToGeometry.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -72px -24px" data-downtip="Text To Geometry"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/adaptiveFillet.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -96px -24px" data-toptip="Adaptive Fillet"></div></a>
<a href="../../components/frogh/divideCurveByTangentAngle.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -24px -144px" data-downtip="Divide Curve By Tangent Angle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/frenetSerretFrame.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -72px -144px" data-toptip="Frenet Serret Frame"></div></a>
<a href="../../components/frogh/flapper.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -120px -144px" data-downtip="Flapper"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/isPolylineClockwise.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -216px -144px" data-toptip="Is Polyline Clockwise"></div></a>
<a href="../../components/frogh/orient3PointsDEPRECATED.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -72px -168px" data-downtip="Orient 3 Points_DEPRECATED"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/planeFromLPolyline.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -120px -168px" data-toptip="Plane From L Polyline"></div></a>
<a href="../../components/frogh/pointsInSphere.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -144px -168px" data-downtip="Points In Sphere"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/sortPointsByAngle.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') 0px -192px" data-toptip="Sort Points By Angle"></div></a>
<a href="../../components/frogh/surfaceQuadTreeByCurvature.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -24px -192px" data-downtip="Surface QuadTree By Curvature"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/surfaceQuadTreeByCurve.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -48px -192px" data-toptip="Surface QuadTree By Curve"></div></a>
<a href="../../components/frogh/trilateration.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -144px -192px" data-downtip="Trilateration"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/signedVectorAngle.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -168px -192px" data-toptip="Signed Vector Angle"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="12">
Geometry
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/extractMeshEdges.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -144px -24px" data-toptip="Extract Mesh Edges"></div></a>
<a href="../../components/frogh/meshPointInside.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -168px -24px" data-downtip="Mesh Point Inside"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/meshReport.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -192px -24px" data-toptip="Mesh Report"></div></a>
<a href="../../components/frogh/extractMeshFaces.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -120px -48px" data-downtip="Extract Mesh Faces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/meshConnectivityEdgeProximityMap.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -168px -48px" data-toptip="Mesh Connectivity - Edge Proximity Map"></div></a>
<a href="../../components/frogh/meshConnectivityEdgeProximitySingle.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -192px -48px" data-downtip="Mesh Connectivity - Edge Proximity Single"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/meshConnectivityFaceProximityMap.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -216px -48px" data-toptip="Mesh Connectivity - Face Proximity Map"></div></a>
<a href="../../components/frogh/meshConnectivityFaceProximitySingle.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') 0px -72px" data-downtip="Mesh Connectivity - Face Proximity Single"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/meshConnectivityVertexProximityMap.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -24px -72px" data-toptip="Mesh Connectivity - Vertex Proximity Map"></div></a>
<a href="../../components/frogh/meshConnectivityVertexProximitySingle.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -48px -72px" data-downtip="Mesh Connectivity - Vertex Proximity Single"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/meshClosestVertexIndex.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -96px -72px" data-toptip="Mesh Closest Vertex Index"></div></a>
<a href="../../components/frogh/meshDeNoising.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -120px -72px" data-downtip="Mesh De-Noising"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/meshesExtractEdgesWithToleranceAngle.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -144px -72px" data-toptip="Meshes Extract Edges with tolerance angle"></div></a>
<a href="../../components/frogh/meshExtractEdgesWithToleranceAngle.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -168px -72px" data-downtip="Mesh Extract Edges with tolerance angle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/meshFacesToVerticesValues.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -192px -72px" data-toptip="Mesh Faces To Vertices Values"></div></a>
<a href="../../components/frogh/meshIsocurves.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -216px -72px" data-downtip="Mesh Isocurves"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/meshPseudoCurvature.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') 0px -96px" data-toptip="Mesh Pseudo-Curvature"></div></a>
<a href="../../components/frogh/meshRebuildNormals.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -24px -96px" data-downtip="Mesh Rebuild Normals"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/meshSubdivideQuadFaces.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -48px -96px" data-toptip="Mesh Subdivide Quad Faces"></div></a>
<a href="../../components/frogh/meshToCSnippet.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -72px -96px" data-downtip="Mesh To C# Snippet"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/meshUnlooper.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -96px -96px" data-toptip="Mesh Unlooper"></div></a>
<a href="../../components/frogh/meshVerticesToFacesValues.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -120px -96px" data-downtip="Mesh Vertices To Faces Values"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/reduceMesh.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -24px -120px" data-toptip="Reduce Mesh"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="12">
Mesh
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/meshOffsetExtended.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -120px -24px" data-toptip="Mesh Offset Extended"></div></a>
<a href="../../components/frogh/fastMeshFromPolyline.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -144px -48px" data-downtip="Fast Mesh From Polyline"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/meshBridge.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -72px -72px" data-toptip="Mesh Bridge"></div></a>
<a href="../../components/frogh/polylinesMeshLoft.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') 0px -120px" data-downtip="Polylines Mesh Loft"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/spaceFillingPolyhedraGenerator.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -72px -120px" data-toptip="Space-Filling Polyhedra Generator"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Mesh-Create
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/clusterizer.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -168px -120px" data-toptip="Clusterizer"></div></a>
<a href="../../components/frogh/topologizer.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -96px -192px" data-downtip="Topologizer"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/topologyInverter.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -120px -192px" data-toptip="Topology Inverter"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Topology
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/cameraControlAndZoomToGeometry.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -216px -24px" data-toptip="Camera Control And Zoom To Geometry"></div></a>
<a href="../../components/frogh/cameraReport.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') 0px -48px" data-downtip="CameraReport"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/customMaterial.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -48px -48px" data-toptip="Custom Material"></div></a>
<a href="../../components/frogh/customMeshVerticesDisplay.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -72px -48px" data-downtip="Custom Mesh Vertices Display"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/customMeshWiresDisplay.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -144px -96px" data-toptip="Custom Mesh Wires Display"></div></a>
<a href="../../components/frogh/namedViewsToCinema4D.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -168px -96px" data-downtip="Named Views To Cinema 4D"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/orientToCamera.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -192px -96px" data-toptip="Orient To Camera"></div></a>
<a href="../../components/frogh/pointCloudDisplay.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -216px -96px" data-downtip="PointCloud Display"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/sliderValueDisplay.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -192px -192px" data-toptip="Slider Value display"></div></a>
<a href="../../components/frogh/turntable.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -216px -192px" data-downtip="Turntable"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/frogh/viewCaptureToFile.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') 0px -216px" data-toptip="View Capture To File"></div></a>
<a href="../../components/frogh/weightedSpheresCloudDisplay.html"><div class="ghsprite" style="background: url('../../icons/froGH.png') -48px -216px" data-downtip="Weighted Spheres Cloud Display"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
View/Display
</td>
</tr>
</table>
</div>
</div>


<h1><div class="ghsprite" style="background: url('../../icons/froGH.png') 0px -144px" ></div> <span class="compo-name">Directory Reader</span></h1>

</div>

</div>
<h3>Returns the list of Files and subdirectories in a Directory<br>Double click the component to update</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Directory Path</b></td><td>P</td><td>Path to the directory to read</td><td>Text</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>File list</b></td><td>F</td><td>List of files in the directory</td><td>Text</td></tr>
<tr><td><b>Subdir list</b></td><td>D</td><td>List of subdirs in the directory</td><td>Text</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

FroGH and associated data © 2024  <a href="https://www.food4rhino.com/en/app/frogh">Co-de-iT (Computational Design Italy)</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>
<script type="text/javascript" src="/js/app-notice.js"></script>

    </body>
</html>
