<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Graph2str - Flatworm - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Create a string representation of a Graph" />
<meta name="title" content="Graph2str - Flatworm - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Graph2str - Flatworm - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/flatworm/graph2str.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>



<script data-ad-client="ca-pub-7364724389381590" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/flatworm/graph2DMiuraOri.html"><div class="ghsprite" style="background: url('../../icons/flatworm.png') -24px 0px" data-toptip="Graph2D Miura Ori"></div></a>
<a href="../../components/flatworm/graph2D.html"><div class="ghsprite" style="background: url('../../icons/flatworm.png') -48px 0px" data-downtip="Graph2D"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Engine
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/flatworm/foldPattern.html"><div class="ghsprite" style="background: url('../../icons/flatworm.png') 0px 0px" data-toptip="Fold pattern"></div></a>
<a href="../../components/flatworm/graph3D.html"><div class="ghsprite" style="background: url('../../icons/flatworm.png') -96px 0px" data-downtip="Graph3D"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Fold
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/flatworm/graph2str.html"><div class="ghsprite" style="background: url('../../icons/flatworm.png') -72px 0px" data-toptip="Graph2str"></div></a>
<a href="../../components/flatworm/str2Graph.html"><div class="ghsprite" style="background: url('../../icons/flatworm.png') -120px 0px" data-downtip="str2Graph"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Utils
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://www.food4rhino.com/app/flatworm">Download</a>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/flatworm.png') -72px 0px" ></div> Graph2str</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/flatworm.html">Flatworm</a><a href="#" class="breadcrumb-nolink">Utils</a><a href="#" class="breadcrumb-nolink">Graph2str</a>
</div>

</div>
<h3>Create a string representation of a Graph</h3>

</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Flatworm and associated data © 2020  <a href="https://www.food4rhino.com/app/flatworm">jakobl</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
