<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Blur Effect - Aviary - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Add a blur effect" />
<meta name="title" content="Blur Effect - Aviary - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Blur Effect - Aviary - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/aviary/blurEffect.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/brepToShape.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') 0px 0px" data-toptip="Brep To Shape"></div></a>
<a href="../../components/aviary/composeDrawing.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -24px 0px" data-downtip="Compose Drawing"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/curveToShape.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -48px 0px" data-toptip="Curve To Shape"></div></a>
<a href="../../components/aviary/drawingToBitmap.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -72px 0px" data-downtip="Drawing to Bitmap"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/exportBitmap.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -96px 0px" data-toptip="Export Bitmap"></div></a>
<a href="../../components/aviary/exportSVG.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -120px 0px" data-downtip="Export SVG"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/viewDrawing.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -144px 0px" data-toptip="View Drawing"></div></a>
<a href="../../components/aviary/meshToShape.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -168px 0px" data-downtip="Mesh To Shape"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/pointToShape.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -192px 0px" data-toptip="Point To Shape"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Drawing
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/blurEffect.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -48px -120px" data-toptip="Blur Effect"></div></a>
<a href="../../components/aviary/shadowEffect.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -72px -120px" data-downtip="Shadow Effect"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/linearGradientFill.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -96px -120px" data-toptip="Linear Gradient Fill"></div></a>
<a href="../../components/aviary/radialGradientFill.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -120px -120px" data-downtip="Radial Gradient Fill"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/solidFill.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -144px -120px" data-toptip="Solid Fill"></div></a>
<a href="../../components/aviary/stroke.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -168px -120px" data-downtip="Stroke"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Graphics
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/addLayer.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -216px 0px" data-toptip="Add Layer"></div></a>
<a href="../../components/aviary/applyFilters.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') 0px -24px" data-downtip="Apply Filters"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/buildImage.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -24px -24px" data-toptip="Build Image"></div></a>
<a href="../../components/aviary/cellular.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -48px -24px" data-downtip="Cellular"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/compositeImages.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -72px -24px" data-toptip="Composite Images"></div></a>
<a href="../../components/aviary/cropImage.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -96px -24px" data-downtip="Crop Image"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/filterAdjust.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -120px -24px" data-toptip="Filter Adjust"></div></a>
<a href="../../components/aviary/filterBlob.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -144px -24px" data-downtip="Filter Blob"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/filterDifference.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -168px -24px" data-toptip="Filter Difference"></div></a>
<a href="../../components/aviary/filterDithering.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -192px -24px" data-downtip="Filter Dithering"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/filterEdges.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -216px -24px" data-toptip="Filter Edges"></div></a>
<a href="../../components/aviary/filterEffects.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') 0px -48px" data-downtip="Filter Effects"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/extractChannel.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -24px -48px" data-toptip="Extract Channel"></div></a>
<a href="../../components/aviary/filterFigures.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -48px -48px" data-downtip="Filter Figures"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/filterFilters.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -72px -48px" data-toptip="Filter Filters"></div></a>
<a href="../../components/aviary/filterGrayscale.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -96px -48px" data-downtip="Filter Grayscale"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/filterLevels.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -120px -48px" data-toptip="Filter Levels"></div></a>
<a href="../../components/aviary/filterSharpen.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -144px -48px" data-downtip="Filter Sharpen"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/filterThreshold.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -168px -48px" data-toptip="Filter Threshold"></div></a>
<a href="../../components/aviary/fractal.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -192px -48px" data-downtip="Fractal"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/blobBoundaries.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -216px -48px" data-toptip="Blob Boundaries"></div></a>
<a href="../../components/aviary/bitmapCorners.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') 0px -72px" data-downtip="Bitmap Corners"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/bitmapShapes.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -24px -72px" data-toptip="Bitmap Shapes"></div></a>
<a href="../../components/aviary/imageProperties.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -48px -72px" data-downtip="Image Properties"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/imageToBitmap.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -72px -72px" data-toptip="Image To Bitmap"></div></a>
<a href="../../components/aviary/imageValueAt.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -96px -72px" data-downtip="Image Value At"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/imageValues.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -120px -72px" data-toptip="Image Values"></div></a>
<a href="../../components/aviary/imageViewer.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -144px -72px" data-downtip="Image Viewer"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/loadImage.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -168px -72px" data-toptip="Load Image"></div></a>
<a href="../../components/aviary/mergeLayers.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -192px -72px" data-downtip="Merge Layers"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/mirrorImage.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -216px -72px" data-toptip="Mirror Image"></div></a>
<a href="../../components/aviary/modifyLayer.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') 0px -96px" data-downtip="Modify Layer"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/moveImage.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -24px -96px" data-toptip="Move Image"></div></a>
<a href="../../components/aviary/noise.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -48px -96px" data-downtip="Noise"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/polarImage.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -72px -96px" data-toptip="Polar Image"></div></a>
<a href="../../components/aviary/resizeImage.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -96px -96px" data-downtip="Resize Image"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/rotateImage.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -120px -96px" data-toptip="Rotate Image"></div></a>
<a href="../../components/aviary/scaleImage.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -144px -96px" data-downtip="Scale Image"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/shrinkImage.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -168px -96px" data-toptip="Shrink Image"></div></a>
<a href="../../components/aviary/swapChannel.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -192px -96px" data-downtip="Swap Channel"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/swapChannels.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -216px -96px" data-toptip="Swap Channels"></div></a>
<a href="../../components/aviary/traceImage.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') 0px -120px" data-downtip="Trace Image"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/aviary/xformLayer.html"><div class="ghsprite" style="background: url('../../icons/aviary.png') -24px -120px" data-toptip="Xform Layer"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="22">
Image
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://github.com/interopxyz/Aviary">Source Code</a>
<a href="https://www.food4rhino.com/app/aviary">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/aviary.png') -48px -120px" ></div> Blur Effect</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/aviary.html">Aviary</a><a href="#" class="breadcrumb-nolink">Graphics</a><a href="#" class="breadcrumb-nolink">Blur</a>
</div>

</div>
<h3>Add a blur effect</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Graphic</b></td><td>G</td><td>An optional Graphic object</td><td>Generic Data</td></tr>
<tr><td><b>Radius</b></td><td>R</td><td>The blur radius</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Graphic</b></td><td>G</td><td>The resulting Graphic object</td><td>Generic Data</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Aviary and associated data © 2023  <a href="https://www.food4rhino.com/app/aviary">David Mans</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
