<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Divide - Grasshopper Vector - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Perform vector-scalar division." />
<meta name="title" content="Divide - Grasshopper Vector - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Divide - Grasshopper Vector - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/grasshoppervector/divide.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>



</head>
<body>


<div id="docs" class="docs-theme docs-widget_page docs-widget_page_page docs-widget_page_page_show" data-layout-pack="classic">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a id="application_name_header_link" href="http://grasshopperdocs.com/">Grasshopper Docs</a></p>
<p id="docs-sitedesc" class="xj_site_desc">algorithmic modeling for Rhino</p>
</div>
<div id="docs-navigation">
<ul>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/"><span>Home</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/photo"><span>View</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/page/download-1"><span>Download</span></a></li>
<li class="docs-subtab"><a href="https://discourse.mcneel.com/c/grasshopper"><span>Forums&#47;Support</span></a></li>
<li class="docs-subtab this"><a href="http://grasshopperdocs.com/"><span>Learn</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/events"><span>Attend</span></a></li>
<li class="docs-subtab"><a href="http://www.grasshopper3d.com/profiles"><span>My Page</span></a></li></ul>

</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/blendColours.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -48px -24px" data-toptip="Blend Colours"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Colour
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/breakField.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') 0px 0px" data-toptip="Break Field"></div></a>
<a href="../../components/grasshoppervector/lineCharge.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -24px 0px" data-downtip="Line Charge"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/pointCharge.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -48px 0px" data-toptip="Point Charge"></div></a>
<a href="../../components/grasshoppervector/spinForce.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -72px 0px" data-downtip="Spin Force"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/vectorForce.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -96px 0px" data-toptip="Vector Force"></div></a>
<a href="../../components/grasshoppervector/evaluateField.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -120px 0px" data-downtip="Evaluate Field"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/tensorDisplay.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -144px 0px" data-toptip="Tensor Display"></div></a>
<a href="../../components/grasshoppervector/directionDisplay.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -168px 0px" data-downtip="Direction Display"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/fieldLine.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -192px 0px" data-toptip="Field Line"></div></a>
<a href="../../components/grasshoppervector/scalarDisplay.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -216px 0px" data-downtip="Scalar Display"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/perpendicularDisplay.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') 0px -24px" data-toptip="Perpendicular Display"></div></a>
<a href="../../components/grasshoppervector/mergeFields.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -24px -24px" data-downtip="Merge Fields"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Field
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/hexagonal.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -192px -48px" data-toptip="Hexagonal"></div></a>
<a href="../../components/grasshoppervector/populateGeometry.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -144px -96px" data-downtip="Populate Geometry"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/populate2D.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -168px -96px" data-toptip="Populate 2D"></div></a>
<a href="../../components/grasshoppervector/radial.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -216px -96px" data-downtip="Radial"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/rectangular.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') 0px -120px" data-toptip="Rectangular"></div></a>
<a href="../../components/grasshoppervector/square.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -48px -120px" data-downtip="Square"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/triangular.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -96px -120px" data-toptip="Triangular"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Grid
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/adjustPlane.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -96px -24px" data-toptip="Adjust Plane"></div></a>
<a href="../../components/grasshoppervector/alignPlane.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -120px -24px" data-downtip="Align Plane"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/alignPlanes.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -144px -24px" data-toptip="Align Planes"></div></a>
<a href="../../components/grasshoppervector/constructPlane.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -216px -24px" data-downtip="Construct Plane"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/deconstructPlane.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -72px -48px" data-toptip="Deconstruct Plane"></div></a>
<a href="../../components/grasshoppervector/flipPlane.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -168px -48px" data-downtip="Flip Plane"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/plane3Pt.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') 0px -72px" data-toptip="Plane 3Pt"></div></a>
<a href="../../components/grasshoppervector/planeClosestPoint.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -24px -72px" data-downtip="Plane Closest Point"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/planeCoordinates.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -48px -72px" data-toptip="Plane Coordinates"></div></a>
<a href="../../components/grasshoppervector/planeFit.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -72px -72px" data-downtip="Plane Fit"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/lineLine.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -96px -72px" data-toptip="Line + Line"></div></a>
<a href="../../components/grasshoppervector/linePt.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -120px -72px" data-downtip="Line + Pt"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/planeNormal.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -144px -72px" data-toptip="Plane Normal"></div></a>
<a href="../../components/grasshoppervector/planeOffset.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -168px -72px" data-downtip="Plane Offset"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/planeOrigin.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -192px -72px" data-toptip="Plane Origin"></div></a>
<a href="../../components/grasshoppervector/rotatePlane.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -24px -120px" data-downtip="Rotate Plane"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/xYPlane.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') 0px -168px" data-toptip="XY Plane"></div></a>
<a href="../../components/grasshoppervector/xZPlane.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -24px -168px" data-downtip="XZ Plane"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/yZPlane.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -48px -168px" data-toptip="YZ Plane"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="10">
Plane
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/projectPoint.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -72px -24px" data-toptip="Project Point"></div></a>
<a href="../../components/grasshoppervector/closestPoint.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -168px -24px" data-downtip="Closest Point"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/closestPoints.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -192px -24px" data-toptip="Closest Points"></div></a>
<a href="../../components/grasshoppervector/constructPoint.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') 0px -48px" data-downtip="Construct Point"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/cullDuplicates.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -48px -48px" data-toptip="Cull Duplicates"></div></a>
<a href="../../components/grasshoppervector/deconstruct.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -96px -48px" data-downtip="Deconstruct"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/distance.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -144px -48px" data-toptip="Distance"></div></a>
<a href="../../components/grasshoppervector/numbersToPoints.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -216px -48px" data-downtip="Numbers to Points"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/barycentric.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -216px -72px" data-toptip="Barycentric"></div></a>
<a href="../../components/grasshoppervector/pointCylindrical.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') 0px -96px" data-downtip="Point Cylindrical"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/pointGroups.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -24px -96px" data-toptip="Point Groups"></div></a>
<a href="../../components/grasshoppervector/pointOriented.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -48px -96px" data-downtip="Point Oriented"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/pointPolar.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -72px -96px" data-toptip="Point Polar"></div></a>
<a href="../../components/grasshoppervector/toPolar.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -96px -96px" data-downtip="To Polar"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/pointsToNumbers.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -120px -96px" data-toptip="Points to Numbers"></div></a>
<a href="../../components/grasshoppervector/pullPoint.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -192px -96px" data-downtip="Pull Point"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
Point
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/vectorXYZ.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -24px -48px" data-toptip="Vector XYZ"></div></a>
<a href="../../components/grasshoppervector/deconstructVector.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -120px -48px" data-downtip="Deconstruct Vector"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/solarIncidence.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -72px -120px" data-toptip="Solar Incidence"></div></a>
<a href="../../components/grasshoppervector/unitVector.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -120px -120px" data-downtip="Unit Vector"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/unitX.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -144px -120px" data-toptip="Unit X"></div></a>
<a href="../../components/grasshoppervector/unitY.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -168px -120px" data-downtip="Unit Y"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/unitZ.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -192px -120px" data-toptip="Unit Z"></div></a>
<a href="../../components/grasshoppervector/vector2Pt.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -216px -120px" data-downtip="Vector 2Pt"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/amplitude.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') 0px -144px" data-toptip="Amplitude"></div></a>
<a href="../../components/grasshoppervector/angle.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -24px -144px" data-downtip="Angle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/crossProduct.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -48px -144px" data-toptip="Cross Product"></div></a>
<a href="../../components/grasshoppervector/divide.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -72px -144px" data-downtip="Divide"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/dotProduct.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -96px -144px" data-toptip="Dot Product"></div></a>
<a href="../../components/grasshoppervector/vectorLength.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -120px -144px" data-downtip="Vector Length"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/multiply.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -144px -144px" data-toptip="Multiply"></div></a>
<a href="../../components/grasshoppervector/reverse.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -168px -144px" data-downtip="Reverse"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/grasshoppervector/rotate.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -192px -144px" data-toptip="Rotate"></div></a>
<a href="../../components/grasshoppervector/addition.html"><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -216px -144px" data-downtip="Addition"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="9">
Vector
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">

<a href="https://www.rhino3d.com/6/new/grasshopper">Download</a>
</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/grasshopperVector.png') -72px -144px" ></div> Divide</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/grasshopper-vector.html">Grasshopper Vector</a><a href="#" class="breadcrumb-nolink">Vector</a><a href="#" class="breadcrumb-nolink">VDiv</a>
</div>

</div>
<h3>Perform vector-scalar division.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Vector</b></td><td>V</td><td>Base vector</td><td>Vector</td></tr>
<tr><td><b>Factor</b></td><td>F</td><td>Denominator</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Vector</b></td><td>V</td><td>Divided vector</td><td>Vector</td></tr>
<tr><td><b>Length</b></td><td>L</td><td>Vector length</td><td>Number</td></tr>
</tbody>
</table>


</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
© 2018-2020  <a href="https://github.com/robinrodricks/">Robin Rodricks</a> and <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Hosted by<a href="http://www.github.com/"><img src="../../images/github.png" alt="Github" class="poweredbylogo" /></a> &nbsp;
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
