<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Soft & Hard Solver - Grasshopper Component Reference</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="A guide to component Soft & Hard Solver in Grasshopper 3D." />
<meta name="title" content="Grasshopper Component Reference" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://rhino.github.io/" />
<meta property="og:title" content="Soft & Hard Solver - Grasshopper Component Reference" />

<meta property="wiki-page" content="GH Kangaroo2 Soft_&_Hard_Solver.md" />

<link rel="image_src" href="http://rhino.github.io/ning/2985220.jpg" />

<style type="text/css" media="screen,projection">
#xg_navigation ul div.xg_subtab ul li a {
    color:#666666;
    background:#EAFFBD;
}
#xg_navigation ul div.xg_subtab ul li a:hover {
    color:#333333;
    background:#F2FFD6;
}
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/index.css);
@import url(../../ning/page.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187549422.css);
</style>

<style type="text/css" media="screen,projection">
@import url(../../ning/1187545030.css);
</style>


<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
    
        
        <div id="xg" class="xg_theme xg_widget_page xg_widget_page_page xg_widget_page_page_show" data-layout-pack="classic">
            <div id="xg_head">
                <div id="xg_masthead">
                    <p id="xg_sitename"><a id="application_name_header_link" href="http://rhino.github.io/">Grasshopper</a></p>
                    <p id="xg_sitedesc" class="xj_site_desc">algorithmic modeling for Rhino</p>
                </div>
                <div id="xg_navigation">
                    <ul>
    <li id="xg_tab_main" class="xg_subtab"><a href="http://www.grasshopper3d.com/"><span>Home</span></a></li>
	<li id="xg_tab_photo" class="xg_subtab"><a href="http://www.grasshopper3d.com/photo"><span>View</span></a></li>
	<li id="xg_tab_xn0" class="xg_subtab"><a href="http://www.grasshopper3d.com/page/download-1"><span>Download</span></a></li>
	<li id="xg_tab_forum" class="xg_subtab"><a href="https://discourse.mcneel.com/c/grasshopper"><span>Forums&#47;Support</span></a></li>
	<li id="xg_tab_xn2" class="xg_subtab this"><a href="http://rhino.github.io/"><span>Learn</span></a></li>
	<li id="xg_tab_events" class="xg_subtab"><a href="http://www.grasshopper3d.com/events"><span>Attend</span></a></li>
	<li id="xg_tab_profile" class="xg_subtab"><a href="http://www.grasshopper3d.com/profiles"><span>My Page</span></a></li></ul>

                </div>
            </div>
            
            <div id="xg_body">
                
				<div class="page">

<div class="content">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/lengthPts.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -120px -192px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Goals
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/alignFaces.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') 0px 0px"></div></a>
<a href="../../components/kangaroo2/beam.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -120px 0px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/concentric.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -144px -24px"></div></a>
<a href="../../components/kangaroo2/rigidBody.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -48px -168px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/rigidPointSet.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -72px -168px"></div></a>
<a href="../../components/kangaroo2/solidCollide.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -216px -168px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/solidPlaneCollide.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') 0px -192px"></div></a>
<a href="../../components/kangaroo2/support.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -192px -192px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Goals-6dof
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/angle.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -72px 0px"></div></a>
<a href="../../components/kangaroo2/angleSnap.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -96px 0px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/clampAngle.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -216px 0px"></div></a>
<a href="../../components/kangaroo2/equalAngle.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') 0px -72px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/g2.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -120px -72px"></div></a>
<a href="../../components/kangaroo2/rod.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -96px -168px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Goals-Angle
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/coCircular.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -24px -24px"></div></a>
<a href="../../components/kangaroo2/coLinear.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -72px -24px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/coPlanar.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -216px -24px"></div></a>
<a href="../../components/kangaroo2/coSpherical.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') 0px -48px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Goals-Co
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/collide2d.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -96px -24px"></div></a>
<a href="../../components/kangaroo2/collider.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -120px -24px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/curvePointCollide.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -24px -48px"></div></a>
<a href="../../components/kangaroo2/curveCollide.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -48px -48px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/imageCircles.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') 0px -96px"></div></a>
<a href="../../components/kangaroo2/solidPointCollide.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -24px -192px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/sphereCollide.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -48px -192px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Goals-Col
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/clampLength.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') 0px -24px"></div></a>
<a href="../../components/kangaroo2/constantTension.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -192px -24px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/direction.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -144px -48px"></div></a>
<a href="../../components/kangaroo2/dynamicWeight1d.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -192px -48px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/equalLength.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -24px -72px"></div></a>
<a href="../../components/kangaroo2/lengthRatio.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -168px -96px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/lengthSnap.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -192px -96px"></div></a>
<a href="../../components/kangaroo2/plasticLength.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -120px -144px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/lengthLine.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -96px -192px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Goals-Lin
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/conicalize.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -168px -24px"></div></a>
<a href="../../components/kangaroo2/cyclicQuad.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -72px -48px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/developablize.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -96px -48px"></div></a>
<a href="../../components/kangaroo2/edgeLengths.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -216px -48px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/hinge.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -192px -72px"></div></a>
<a href="../../components/kangaroo2/isothermic.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -48px -96px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/liveSoap.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -216px -96px"></div></a>
<a href="../../components/kangaroo2/noFoldThrough.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -192px -120px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/planarize.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -48px -144px"></div></a>
<a href="../../components/kangaroo2/plasticHinge.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -96px -144px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/polygonArea.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -144px -144px"></div></a>
<a href="../../components/kangaroo2/pressure.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -168px -144px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/smooth.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -168px -168px"></div></a>
<a href="../../components/kangaroo2/soapFilm.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -192px -168px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/tangentialSmooth.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') 0px -216px"></div></a>
<a href="../../components/kangaroo2/tangentIncircles.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -24px -216px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/vertexLoads.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -120px -216px"></div></a>
<a href="../../components/kangaroo2/volume.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -168px -216px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/wind.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -216px -216px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="10">
Goals-Mesh
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/onCurve.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -216px -120px"></div></a>
<a href="../../components/kangaroo2/onMesh.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') 0px -144px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/onPlane.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -24px -144px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Goals-On
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/anchor.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -24px 0px"></div></a>
<a href="../../components/kangaroo2/anchorXYZ.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -48px 0px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/bomb.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -144px 0px"></div></a>
<a href="../../components/kangaroo2/coincident.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -48px -24px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/floor.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -72px -72px"></div></a>
<a href="../../components/kangaroo2/magnetSnap.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') 0px -120px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/plasticAnchor.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -72px -144px"></div></a>
<a href="../../components/kangaroo2/transform.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -48px -216px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/load.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -72px -216px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Goals-Pt
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/show.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -144px -72px"></div></a>
<a href="../../components/kangaroo2/grab.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -168px -72px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/bouncySolver.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -72px -96px"></div></a>
<a href="../../components/kangaroo2/solver.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -96px -96px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/softHardSolver.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -120px -96px"></div></a>
<a href="../../components/kangaroo2/zombieSolver.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -144px -96px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/stepSolver.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -144px -192px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Main
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/byParent.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -168px 0px"></div></a>
<a href="../../components/kangaroo2/checkerboard.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -192px 0px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/diagonalize.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -120px -48px"></div></a>
<a href="../../components/kangaroo2/faceFaceOffset.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -48px -72px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/foldAngle.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -96px -72px"></div></a>
<a href="../../components/kangaroo2/hingePoints.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -216px -72px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/combineClean.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -24px -120px"></div></a>
<a href="../../components/kangaroo2/meshCorners.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -48px -120px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/meshDirection.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -72px -120px"></div></a>
<a href="../../components/kangaroo2/meshMap.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -96px -120px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/meshTurn.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -120px -120px"></div></a>
<a href="../../components/kangaroo2/nakedVertices.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -168px -120px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/refine.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -192px -144px"></div></a>
<a href="../../components/kangaroo2/refineStrips.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -216px -144px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/simpleRemesh.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -120px -168px"></div></a>
<a href="../../components/kangaroo2/simple.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -144px -168px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/stripper.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -168px -192px"></div></a>
<a href="../../components/kangaroo2/tangentCircles.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -216px -192px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/unroller.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -96px -216px"></div></a>
<a href="../../components/kangaroo2/vertexNeighbours.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -144px -216px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/warpWeft.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -192px -216px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="11">
Mesh
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/dotDisplay.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -168px -48px"></div></a>
<a href="../../components/kangaroo2/interconnectPoints.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -24px -96px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/mbiusTransformation.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -144px -120px"></div></a>
<a href="../../components/kangaroo2/removeDuplicateLines.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') 0px -168px"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/kangaroo2/removeDuplicatePts.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -24px -168px"></div></a>
<a href="../../components/kangaroo2/splitAtCorners.html"><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -72px -192px"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Utility
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://www.rhino3d.com/6/new/grasshopper">Download</a>
</div>

<div>
<h1><div class="ghsprite" style="background: url('../../icons/kangaroo2.png') -120px -96px"></div> Soft & Hard Solver</h1>
<p><a href="../../index.html#Kangaroo2">Component Index</a> &gt; <a href="../../addons/kangaroo-2.html">Kangaroo 2</a> > Main > <b>Soft&HardSolver</b></p>
</div>
<h3>Solver with separate inputs for soft goals, and hard constraint type goals</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>SoftGoals</b></td><td>SoftGoals</td><td>These goals will be met only if they do not conflict with the hard goals</td><td>Generic Data</td></tr>
<tr><td><b>HardGoals</b></td><td>HardGoals</td><td>These goals will override the soft goals</td><td>Generic Data</td></tr>
<tr><td><b>HardIterations</b></td><td>HardIterations</td><td>The number of hard iterations performed after each soft step</td><td>Integer</td></tr>
<tr><td><b>SoftMultiplier</b></td><td>SoftMultiplier</td><td>Multiplier for the soft movement. This can be decreased to zero at the end if you want maximum accuracy</td><td>Number</td></tr>
<tr><td><b>Reset</b></td><td>Reset</td><td>Hard Reset (completely rebuild the particle list and indexing)</td><td>Boolean</td></tr>
<tr><td><b>Threshold</b></td><td>Threshold</td><td>Stop when average movement is less than this (default is 1e-15)</td><td>Number</td></tr>
<tr><td><b>Tolerance</b></td><td>Tolerance</td><td>Points closer than this distance will be combined into a single particle</td><td>Number</td></tr>
<tr><td><b>On</b></td><td>On</td><td>If true, Kangaroo will continue to iterate until reaching the given threshold value</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>I</b></td><td>I</td><td>Iterations</td><td>Integer</td></tr>
<tr><td><b>V</b></td><td>V</td><td>V</td><td>Point</td></tr>
<tr><td><b>O</b></td><td>O</td><td>GoalFunction Output tree</td><td>Generic Data</td></tr>
</tbody>
</table>


  </div>

</div>

            </div>
            <div id="xg_foot">
                <p class="left">
    © 2018-2020  <a href="https://github.com/robinrodricks/">Robin Rodricks</a> and <a href="http://www.grasshopper3d.com/profile/AndrewHeumann/">Andrew Heumann</a>. &nbsp;
    Hosted by<a href="http://www.github.com/"><img src="../../images/github.png" alt="Github" class="poweredbylogo" /></a> &nbsp;
	Rhino & Grasshopper are trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.
	</p>
    <p class="right xg_lightfont">
                    <a href="http://www.grasshopper3d.com/main/embeddable/list">Badges</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/index/report" dojotype="PromptToJoinLink" _joinprompttext="Please sign up or sign in to complete this step." _hassignup="true" _signinurl="http://www.grasshopper3d.com/main/authorization/signIn?target=http%3A%2F%2Fwww.grasshopper3d.com%2Fmain%2Findex%2Freport">Report an Issue</a> &nbsp;|&nbsp;
                        <a href="http://www.grasshopper3d.com/main/authorization/termsOfService?previousUrl=http%3A%2F%2Fwww.grasshopper3d.com%2Fpage%2Fcomponent-reference">Terms of Service</a>
            </p>

            </div>
        </div>
        
        <div id="xj_baz17246" class="xg_theme"></div>
<div id="xg_overlay" style="display:none;">
<!--[if lte IE 6.5]><iframe></iframe><![endif]-->
</div>
<!--googleoff: all--><noscript>
	<style type="text/css" media="screen">
        #xg { position:relative;top:120px; }
        #xn_bar { top:120px; }
	</style>
	<div class="errordesc noscript">
		<div>
            <h3><strong>Hello, you need to enable JavaScript to use Grasshopper.</strong></h3>
            <p>Please check your browser settings or contact your system administrator.</p>
			
		</div>
	</div>
</noscript><!--googleon: all-->

<script src="/js/jquery.js"></script>
<script src="/js/kramed.min.js"></script>
<script src="/js/component.js"></script>
<script src="/js/user.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
