<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ABB IRB6700-175/3.05 - Robot Components - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="An ABB IRB6700-175/3.05 Robot preset component.&lt;br&gt;&lt;br&gt;Robot Components: v2.2.2" />
<meta name="title" content="ABB IRB6700-175/3.05 - Robot Components - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="ABB IRB6700-175/3.05 - Robot Components - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/robotcomponents/aBBIRB6700175305.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v3.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
	<a class="sitemenu-item sitemenu-donate" href="https://github.com/sponsors/robinrodricks">Donate</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="https://github.com/RobotComponents/RobotComponents">Source Code</a>
<a href="https://github.com/RobotComponents/RobotComponents">Download</a>

</div>


<div class="side-content">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

<div id="help-notice">
<div class="help-title">We need your help! 🔥</div>
<div class="help-text">Please consider disabling your ad-blocker to support this website! 🔑 <br> We are a free, community-supported website! 🥰 <br> We only display small unobtrusive ads which help us stay online! 💯 <br> Thank you in advance! ❤️</div>
</div>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Electronic-RobotControl.png');"></div>

<div class="compo-header">

<div class="breadcrumb">
 <a href="../../index.html">Home</a>
  <a href="../../categories/electronic-robot-control.html">Robot Control addons</a><a href="../../addons/robot-components.html"><b>Robot Components</b></a><a href="#" class="breadcrumb-nolink">Definitions</a><a href="#" class="breadcrumb-nolink"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') 0px -144px" ></div> ABB IRB6700-175/3.05</a>
</div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/externalJointPosition.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -96px -240px" data-toptip="External Joint Position"></div></a>
<a href="../../components/robotcomponents/jointTarget.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -120px -240px" data-downtip="Joint Target"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/configurationData.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -144px -240px" data-toptip="Configuration Data"></div></a>
<a href="../../components/robotcomponents/pulseDigitalOutput.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -168px -240px" data-downtip="Pulse Digital Output"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/circlePathMode.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -192px -240px" data-toptip="Circle Path Mode"></div></a>
<a href="../../components/robotcomponents/robotJointPosition.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -216px -240px" data-downtip="Robot Joint Position"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/robotTarget.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') 0px -264px" data-toptip="Robot Target"></div></a>
<a href="../../components/robotcomponents/speedData.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -24px -264px" data-downtip="Speed Data"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/zoneData.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -48px -264px" data-toptip="Zone Data"></div></a>
<a href="../../components/robotcomponents/waitForAnalogInput.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -72px -264px" data-downtip="Wait for Analog Input"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/linearConfigurationControl.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -96px -264px" data-toptip="Linear Configuration Control"></div></a>
<a href="../../components/robotcomponents/jointConfigurationControl.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -120px -264px" data-downtip="Joint Configuration Control"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/code.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -144px -264px" data-toptip="Code"></div></a>
<a href="../../components/robotcomponents/comment.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -168px -264px" data-downtip="Comment"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/move.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -192px -264px" data-toptip="Move"></div></a>
<a href="../../components/robotcomponents/overrideRobotTool.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -216px -264px" data-downtip="Override Robot Tool"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/rAPIDGenerator.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') 0px -288px" data-toptip="RAPID Generator"></div></a>
<a href="../../components/robotcomponents/waitTime.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -24px -288px" data-downtip="Wait Time"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/waitForDigitalInput.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -48px -288px" data-toptip="Wait for Digital Input"></div></a>
<a href="../../components/robotcomponents/circlePathModes.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -72px -288px" data-downtip="Circle Path Modes"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/inequalitySymbols.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -96px -288px" data-toptip="Inequality Symbols"></div></a>
<a href="../../components/robotcomponents/codeTypes.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -120px -288px" data-downtip="Code Types"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/movementTypes.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -144px -288px" data-toptip="Movement Types"></div></a>
<a href="../../components/robotcomponents/predefinedZoneData.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -168px -288px" data-downtip="Predefined Zone Data"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/predefinedSpeedData.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -192px -288px" data-toptip="Predefined Speed Data"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="13">
Code Generation
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/getJointTargets.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -168px -24px" data-toptip="Get Joint Targets"></div></a>
<a href="../../components/robotcomponents/getRobotTargets.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -192px -24px" data-downtip="Get Robot Targets"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/readRapidDomain.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -216px -24px" data-toptip="Read Rapid Domain"></div></a>
<a href="../../components/robotcomponents/getAnalogInput.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') 0px -48px" data-downtip="Get Analog Input"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/getAnalogOutput.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -24px -48px" data-toptip="Get Analog Output"></div></a>
<a href="../../components/robotcomponents/getController.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -48px -48px" data-downtip="Get Controller"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/getDigitalInput.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -72px -48px" data-toptip="Get Digital Input"></div></a>
<a href="../../components/robotcomponents/getDigitalOutput.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -96px -48px" data-downtip="Get Digital Output"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/getExternalJointPositions.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -120px -48px" data-toptip="Get External Joint Positions"></div></a>
<a href="../../components/robotcomponents/getLog.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -144px -48px" data-downtip="Get Log"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/getTaskNames.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -168px -48px" data-toptip="Get Task Names"></div></a>
<a href="../../components/robotcomponents/getRobotBaseFrames.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -192px -48px" data-downtip="Get Robot Base Frames"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/getRobotJointPositions.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -216px -48px" data-toptip="Get Robot Joint Positions"></div></a>
<a href="../../components/robotcomponents/getExternalAxisPlanes.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') 0px -72px" data-downtip="Get External Axis Planes"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/getRobotToolPlanes.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -24px -72px" data-toptip="Get Robot Tool Planes"></div></a>
<a href="../../components/robotcomponents/readConfigurationDomain.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -48px -72px" data-downtip="Read Configuration Domain"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/runProgram.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -72px -72px" data-toptip="Run Program"></div></a>
<a href="../../components/robotcomponents/setAnalogInput.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -96px -72px" data-downtip="Set Analog Input"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/setAnalogOutput.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -120px -72px" data-toptip="Set Analog Output"></div></a>
<a href="../../components/robotcomponents/setDigitalInput.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -144px -72px" data-downtip="Set Digital Input"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/setDigitalOutput.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -168px -72px" data-toptip="Set Digital Output"></div></a>
<a href="../../components/robotcomponents/uploadProgram.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -192px -72px" data-downtip="Upload Program"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="11">
Controller Utility
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/deconstructLoadData.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') 0px -216px" data-toptip="Deconstruct Load Data"></div></a>
<a href="../../components/robotcomponents/deconstructExternalRotationalAxis.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -24px -216px" data-downtip="Deconstruct External Rotational Axis"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/deconstructWorkObject.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -48px -216px" data-toptip="Deconstruct Work Object"></div></a>
<a href="../../components/robotcomponents/deconstructExternalLinearAxis.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -72px -216px" data-downtip="Deconstruct External Linear Axis"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/deconstructRobot.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -96px -216px" data-toptip="Deconstruct Robot"></div></a>
<a href="../../components/robotcomponents/deconstructRobotTool.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -120px -216px" data-downtip="Deconstruct Robot Tool"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/deconstructConfigurationData.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -144px -216px" data-toptip="Deconstruct Configuration Data"></div></a>
<a href="../../components/robotcomponents/deconstructExternalJointPosition.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -168px -216px" data-downtip="Deconstruct External Joint Position"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/deconstructJointTarget.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -192px -216px" data-toptip="Deconstruct Joint Target"></div></a>
<a href="../../components/robotcomponents/deconstructRobotJointPosition.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -216px -216px" data-downtip="Deconstruct Robot Joint Position"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/deconstructRobotTarget.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') 0px -240px" data-toptip="Deconstruct Robot Target"></div></a>
<a href="../../components/robotcomponents/deconstructZoneData.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -24px -240px" data-downtip="Deconstruct Zone Data"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/deconstructMove.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -48px -240px" data-toptip="Deconstruct Move"></div></a>
<a href="../../components/robotcomponents/deconstructSpeedData.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -72px -240px" data-downtip="Deconstruct Speed Data"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
Deconstruct
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/loadData.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -216px -72px" data-toptip="Load Data"></div></a>
<a href="../../components/robotcomponents/robotPreset.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') 0px -96px" data-downtip="Robot Preset"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/externalRotationalAxis.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -24px -96px" data-toptip="External Rotational Axis"></div></a>
<a href="../../components/robotcomponents/workObject.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -48px -96px" data-downtip="Work Object"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/externalLinearAxis.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -72px -96px" data-toptip="External Linear Axis"></div></a>
<a href="../../components/robotcomponents/robot.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -96px -96px" data-downtip="Robot"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/robotTool.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -120px -96px" data-toptip="Robot Tool"></div></a>
<a href="../../components/robotcomponents/aBBIRB101015037.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -144px -96px" data-downtip="ABB IRB1010-1.5/0.37"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB1520ID415.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -168px -96px" data-toptip="ABB IRB1520ID-4/1.5"></div></a>
<a href="../../components/robotcomponents/aBBIRB110040475.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -192px -96px" data-downtip="ABB IRB1100-4/0.475"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB11004058.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -216px -96px" data-toptip="ABB IRB1100-4/0.58"></div></a>
<a href="../../components/robotcomponents/aBBIRB13001109.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') 0px -120px" data-downtip="ABB IRB1300-11/0.9"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB130010115.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -24px -120px" data-toptip="ABB IRB1300-10/1.15"></div></a>
<a href="../../components/robotcomponents/aBBIRB1300714.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -48px -120px" data-downtip="ABB IRB1300-7/1.4"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB664018528.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -72px -120px" data-toptip="ABB IRB6640-185/2.8"></div></a>
<a href="../../components/robotcomponents/aBBIRB6650S20030.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -96px -120px" data-downtip="ABB IRB6650S-200/3.0"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB6650S12535.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -120px -120px" data-toptip="ABB IRB6650S-125/3.5"></div></a>
<a href="../../components/robotcomponents/aBBIRB670030027.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -144px -120px" data-downtip="ABB IRB6700-300/2.7"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB670024530.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -168px -120px" data-toptip="ABB IRB6700-245/3.0"></div></a>
<a href="../../components/robotcomponents/aBBIRB670020528.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -192px -120px" data-downtip="ABB IRB6700-205/2.8"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB670020026.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -216px -120px" data-toptip="ABB IRB6700-200/2.6"></div></a>
<a href="../../components/robotcomponents/aBBIRB6700175305.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') 0px -144px" data-downtip="ABB IRB6700-175/3.05"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB6700155285.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -24px -144px" data-toptip="ABB IRB6700-155/2.85"></div></a>
<a href="../../components/robotcomponents/aBBIRB670015032.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -48px -144px" data-downtip="ABB IRB6700-150/3.2"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB679020528.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -72px -144px" data-toptip="ABB IRB6790-205/2.8"></div></a>
<a href="../../components/robotcomponents/aBBIRB6700235265.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -96px -144px" data-downtip="ABB IRB6700-235/2.65"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB760015035.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -120px -144px" data-toptip="ABB IRB7600-150/3.5"></div></a>
<a href="../../components/robotcomponents/aBBIRB760034028.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -144px -144px" data-downtip="ABB IRB7600-340/2.8"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB6790235265.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -168px -144px" data-toptip="ABB IRB6790-235/2.65"></div></a>
<a href="../../components/robotcomponents/aBBIRB7600500255.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -192px -144px" data-downtip="ABB IRB7600-500/2.55"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB7600400255.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -216px -144px" data-toptip="ABB IRB7600-400/2.55"></div></a>
<a href="../../components/robotcomponents/aBBIRB760032531.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') 0px -168px" data-downtip="ABB IRB7600-325/3.1"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB6650S9039.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -24px -168px" data-toptip="ABB IRB6650S-90/3.9"></div></a>
<a href="../../components/robotcomponents/aBBIRB6640235255.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -48px -168px" data-downtip="ABB IRB6640-235/2.55"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB6620150220.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -72px -168px" data-toptip="ABB IRB6620-150/2.20"></div></a>
<a href="../../components/robotcomponents/aBBIRB6650200275.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -96px -168px" data-downtip="ABB IRB6650-200/2.75"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB1200509.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -120px -168px" data-toptip="ABB IRB1200-5/0.9"></div></a>
<a href="../../components/robotcomponents/aBBIRB1200707.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -144px -168px" data-downtip="ABB IRB1200-7/0.7"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB1203058.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -168px -168px" data-toptip="ABB IRB120-3/0.58"></div></a>
<a href="../../components/robotcomponents/aBBIRB1406081.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -192px -168px" data-downtip="ABB IRB140-6/0.81"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB1600X12.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -216px -168px" data-toptip="ABB IRB1600-X/1.2"></div></a>
<a href="../../components/robotcomponents/aBBIRB1600X145.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') 0px -192px" data-downtip="ABB IRB1600-X/1.45"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB1660IDX155.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -24px -192px" data-toptip="ABB IRB1660ID-X/1.55"></div></a>
<a href="../../components/robotcomponents/aBBIRB2600ID15185.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -48px -192px" data-downtip="ABB IRB2600ID-15/1.85"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB2600ID820.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -72px -192px" data-toptip="ABB IRB2600ID-8/2.0"></div></a>
<a href="../../components/robotcomponents/aBBIRB260012185.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -96px -192px" data-downtip="ABB IRB2600-12/1.85"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB2600X165.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -120px -192px" data-toptip="ABB IRB2600-X/1.65"></div></a>
<a href="../../components/robotcomponents/aBBIRB46002025.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -144px -192px" data-downtip="ABB IRB4600-20/2.5"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB460040255.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -168px -192px" data-toptip="ABB IRB4600-40/2.55"></div></a>
<a href="../../components/robotcomponents/aBBIRB4600X205.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -192px -192px" data-downtip="ABB IRB4600-X/2.05"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/aBBIRB665012532.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -216px -192px" data-toptip="ABB IRB6650-125/3.2"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="26">
Definitions
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/syncMoveOff.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -72px -24px" data-toptip="Sync Move Off"></div></a>
<a href="../../components/robotcomponents/syncMoveOn.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -96px -24px" data-downtip="Sync Move On"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/waitSyncTask.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -120px -24px" data-toptip="Wait Sync Task"></div></a>
<a href="../../components/robotcomponents/taskList.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -144px -24px" data-downtip="Task List"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Multi Move
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/forwardKinematics.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') 0px 0px" data-toptip="Forward Kinematics"></div></a>
<a href="../../components/robotcomponents/pathGenerator.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -24px 0px" data-downtip="Path Generator"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/inverseKinematics.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -48px 0px" data-toptip="Inverse Kinematics"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Simulation
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/ungroupActions.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -72px 0px" data-toptip="Ungroup Actions"></div></a>
<a href="../../components/robotcomponents/groupActions.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -96px 0px" data-downtip="Group Actions"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/robotToolCalibration.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -120px 0px" data-toptip="Robot Tool Calibration"></div></a>
<a href="../../components/robotcomponents/getObjectManager.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -144px 0px" data-downtip="Get Object Manager"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/quaternionToPlane.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -168px 0px" data-toptip="Quaternion to Plane"></div></a>
<a href="../../components/robotcomponents/flipPlaneX.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -192px 0px" data-downtip="Flip Plane X"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/flipPlaneY.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -216px 0px" data-toptip="Flip Plane Y"></div></a>
<a href="../../components/robotcomponents/info.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') 0px -24px" data-downtip="Info"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/robotcomponents/planeToQuaternion.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -24px -24px" data-toptip="Plane to Quaternion"></div></a>
<a href="../../components/robotcomponents/planeVisualizer.html"><div class="ghsprite" style="background: url('../../icons/robotComponents.png') -48px -24px" data-downtip="Plane Visualizer"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Utility
</td>
</tr>
</table>
</div>
</div>


<h1><div class="ghsprite" style="background: url('../../icons/robotComponents.png') 0px -144px" ></div> <span class="compo-name">ABB IRB6700-175/3.05</span></h1>

</div>

</div>
<h3>An ABB IRB6700-175/3.05 Robot preset component.<br><br>Robot Components: v2.2.2</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Position Plane</b></td><td>PP</td><td>Position Plane of the Robot as Plane</td><td>Plane</td></tr>
<tr><td><b>Robot Tool</b></td><td>RT</td><td>Robot Tool as Robot Tool Parameter</td><td>RobotTool</td></tr>
<tr><td><b>External Axis</b></td><td>EA</td><td>External Axis as External Axis Parameter</td><td>External Axis</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Robot</b></td><td>R</td><td>Resulting Robot</td><td>Robot</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Robot Components and associated data © 2024  <a href="https://github.com/RobotComponents/RobotComponents">Arjen Deetman, Gabriel Rumpf, Benedikt Wannemacher, Mohamed Dawod, Zuardin Akbar, Andrea Rossi</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>
<script type="text/javascript" src="/js/app-notice.js"></script>

    </body>
</html>
