<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Create WrapPanel - Human UI - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Creates a group of UI elements WrapPaneled vertically or horizontally." />
<meta name="title" content="Create WrapPanel - Human UI - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Create WrapPanel - Human UI - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/humanui/createWrapPanel.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="../../html5gallery/jquery.js"></script>
<script type="text/javascript" src="../../html5gallery/html5gallery.js"></script>

</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createBorder.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -144px 0px" data-toptip="Create Border"></div></a>
<a href="../../components/humanui/createExpander.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -96px -24px" data-downtip="Create Expander"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createGrid.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -192px -24px" data-toptip="Create Grid"></div></a>
<a href="../../components/humanui/createScrollViewer.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -48px -72px" data-downtip="Create Scroll Viewer"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createSimpleGrid.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -120px -72px" data-toptip="Create Simple Grid"></div></a>
<a href="../../components/humanui/createStack.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -168px -72px" data-downtip="Create Stack"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createViewBox.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -96px -96px" data-toptip="Create View Box"></div></a>
<a href="../../components/humanui/createWrapPanel.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -120px -96px" data-downtip="Create WrapPanel"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/tabbedView.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -192px -168px" data-toptip="Tabbed View"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
UI Containers
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/create3DView.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -120px 0px" data-toptip="Create 3D View"></div></a>
<a href="../../components/humanui/createBrowser.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -168px 0px" data-downtip="Create Browser"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createButton.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -192px 0px" data-toptip="Create Button"></div></a>
<a href="../../components/humanui/createCheckbox.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') 0px -24px" data-downtip="Create Checkbox"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createChecklist.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -24px -24px" data-toptip="Create Checklist"></div></a>
<a href="../../components/humanui/createColorPicker.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -48px -24px" data-downtip="Create Color Picker"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createDataTable.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -72px -24px" data-toptip="Create Data Table"></div></a>
<a href="../../components/humanui/createFilePicker.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -120px -24px" data-downtip="Create File Picker"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createGradientEditor.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -144px -24px" data-toptip="Create Gradient Editor"></div></a>
<a href="../../components/humanui/createGraphMapper.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -168px -24px" data-downtip="Create Graph Mapper"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createImage.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -216px -24px" data-toptip="Create Image"></div></a>
<a href="../../components/humanui/createLabel.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') 0px -48px" data-downtip="Create Label"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createListBox.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -24px -48px" data-toptip="Create List Box"></div></a>
<a href="../../components/humanui/createMarkdownViewer.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -48px -48px" data-downtip="Create Markdown Viewer"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createMultidimensionalSlider.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -72px -48px" data-toptip="Create Multidimensional Slider"></div></a>
<a href="../../components/humanui/createShapes.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -120px -48px" data-downtip="Create Shapes"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createObjectsFromXAML.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -144px -48px" data-toptip="Create Objects from XAML"></div></a>
<a href="../../components/humanui/createPulldownMenu.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -168px -48px" data-downtip="Create Pulldown Menu"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createRadioButton.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -192px -48px" data-toptip="Create Radio Button"></div></a>
<a href="../../components/humanui/createRangeSlider.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -216px -48px" data-downtip="Create Range Slider"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createRhinoCommandButton.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') 0px -72px" data-toptip="Create Rhino Command Button"></div></a>
<a href="../../components/humanui/createRhinoPickButton.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -24px -72px" data-downtip="Create Rhino Pick Button"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createSeparator.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -72px -72px" data-toptip="Create Separator"></div></a>
<a href="../../components/humanui/createShape.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -96px -72px" data-downtip="Create Shape"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createSlider.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -144px -72px" data-toptip="Create Slider"></div></a>
<a href="../../components/humanui/createTextBlock.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -192px -72px" data-downtip="Create Text Block"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createTextBox.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -216px -72px" data-toptip="Create Text Box"></div></a>
<a href="../../components/humanui/createToggle.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') 0px -96px" data-downtip="Create Toggle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/attachTooltipToElement.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -24px -96px" data-toptip="Attach Tooltip to Element"></div></a>
<a href="../../components/humanui/createTrueOnlyButton.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -72px -96px" data-downtip="Create True-Only Button"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="15">
UI Elements
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/createChart.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -216px 0px" data-toptip="Create Chart"></div></a>
<a href="../../components/humanui/createMultiChart.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -96px -48px" data-downtip="Create Multi Chart"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/setChartContents.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -192px -120px" data-toptip="Set Chart Contents"></div></a>
<a href="../../components/humanui/chartAppearance.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -216px -120px" data-downtip="Chart Appearance"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/setMultiChartContents.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') 0px -168px" data-toptip="Set Multi Chart Contents"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
UI Graphs + Charts
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/addElements.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') 0px 0px" data-toptip="Add Elements"></div></a>
<a href="../../components/humanui/adjustElementAppearance.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -48px 0px" data-downtip="Adjust Element Appearance"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/adjustElementPositioning.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -72px 0px" data-toptip="Adjust Element Positioning"></div></a>
<a href="../../components/humanui/captureWindowOrElementToFile.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -96px 0px" data-downtip="Capture Window or Element to File"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/launchTransparentWindow.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -48px -96px" data-toptip="Launch Transparent Window"></div></a>
<a href="../../components/humanui/getElementProperties.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -144px -96px" data-downtip="Get Element Properties"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/getScreenDimensions.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -168px -96px" data-toptip="Get Screen Dimensions"></div></a>
<a href="../../components/humanui/hideShowElement.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -192px -96px" data-downtip="Hide/Show Element"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/launchWindow.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -216px -96px" data-toptip="Launch Window"></div></a>
<a href="../../components/humanui/makeChildWindow.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') 0px -120px" data-downtip="Make Child Window"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/restoreElementStates.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -24px -120px" data-toptip="Restore Element States"></div></a>
<a href="../../components/humanui/saveElementStates.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -48px -120px" data-downtip="Save Element States"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/setElementProperty.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -96px -144px" data-toptip="Set Element Property"></div></a>
<a href="../../components/humanui/setWindowProperties.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -168px -168px" data-downtip="Set Window Properties"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/valueListener.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -216px -168px" data-toptip="Value Listener"></div></a>
<a href="../../components/humanui/windowStatus.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') 0px -192px" data-downtip="Window Status"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="8">
UI Main
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/addElementsToShapes.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -24px 0px" data-toptip="Add Elements to Shape(s)"></div></a>
<a href="../../components/humanui/set3DView.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -72px -120px" data-downtip="Set 3D View"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/set3DViewProperties.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -96px -120px" data-toptip="Set 3D View Properties"></div></a>
<a href="../../components/humanui/set3DViewTextured.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -120px -120px" data-downtip="Set 3D View Textured"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/setBrowser.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -144px -120px" data-toptip="Set Browser"></div></a>
<a href="../../components/humanui/setButton.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -168px -120px" data-downtip="Set Button"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/setCheckBox.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') 0px -144px" data-toptip="Set CheckBox"></div></a>
<a href="../../components/humanui/setChecklistContents.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -24px -144px" data-downtip="Set Checklist Contents"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/setColorPicker.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -48px -144px" data-toptip="Set Color Picker"></div></a>
<a href="../../components/humanui/setDataTable.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -72px -144px" data-downtip="Set Data Table"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/setExpander.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -120px -144px" data-toptip="Set Expander"></div></a>
<a href="../../components/humanui/setImage.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -144px -144px" data-downtip="Set Image"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/setLabelContents.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -168px -144px" data-toptip="Set Label Contents"></div></a>
<a href="../../components/humanui/setListContents.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -192px -144px" data-downtip="Set List Contents"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/setMultidimensionalSlider.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -216px -144px" data-toptip="Set Multidimensional Slider"></div></a>
<a href="../../components/humanui/setShape.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -24px -168px" data-downtip="Set Shape"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/setShapes.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -48px -168px" data-toptip="Set Shapes"></div></a>
<a href="../../components/humanui/setSlider.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -72px -168px" data-downtip="Set Slider"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/setTabbedView.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -96px -168px" data-toptip="Set Tabbed View"></div></a>
<a href="../../components/humanui/setTextBlockContents.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -120px -168px" data-downtip="Set TextBlock Contents"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/humanui/setTextBoxContents.html"><div class="ghsprite" style="background: url('../../icons/humanUI.png') -144px -168px" data-toptip="Set TextBox Contents"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="11">
UI Output
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.food4rhino.com/app/human-ui">Download</a>

</div>



<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/humanUI.png') -120px -96px" ></div> Create WrapPanel</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/human-ui.html">Human UI</a><a href="#" class="breadcrumb-nolink">UI Containers</a><a href="#" class="breadcrumb-nolink">WrapPanel</a>
</div>

</div>
<h3>Creates a group of UI elements WrapPaneled vertically or horizontally.</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>UI Elements</b></td><td>E</td><td>The UI elements to group together</td><td>Generic Data</td></tr>
<tr><td><b>Horizontal</b></td><td>H</td><td>Set to true for horizontal arrangement; false for vertical.</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>WrapPanel</b></td><td>S</td><td>The combined group of elements</td><td>Generic Data</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/v4ztbqW3V2o"><img src="http://img.youtube.com/vi/v4ztbqW3V2o/1.jpg" alt="Create An Interactive Interface For Data Visualization Using Human Ui And"></a>
<a href="http://www.youtube.com/embed/10yxTR7foUQ"><img src="http://img.youtube.com/vi/10yxTR7foUQ/1.jpg" alt="Setting Up Daylight Analysis From Rhino Using Honeybee And Human Ui"></a>
<a href="http://www.youtube.com/embed/ZNDEbVHdsxk"><img src="http://img.youtube.com/vi/ZNDEbVHdsxk/1.jpg" alt="Setting Up Daylight Analysis From Rhino Using Honeybee And Human Ui"></a>


</div>
</div>

</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Human UI and associated data © 2020  <a href="https://www.food4rhino.com/app/human-ui">Andrew Heumann</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
