<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>File Name From File Path - WombatGH - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Returns file name with and without file extension from file path." />
<meta name="title" content="File Name From File Path - WombatGH - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="File Name From File Path - WombatGH - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/wombatgh/fileNameFromFilePath.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="../../images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/brepClosestPointAdvanced.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -96px 0px" data-toptip="Brep Closest Point (Advanced)"></div></a>
<a href="../../components/wombatgh/brepFacesByDirection.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -120px 0px" data-downtip="Brep Faces By Direction"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/inflateBox.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -96px -72px" data-toptip="Inflate Box"></div></a>
<a href="../../components/wombatgh/subBox.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') 0px -120px" data-downtip="Sub-Box"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/unrollBrep.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -120px -120px" data-toptip="Unroll Brep"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Brep
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/closeCurve.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -216px 0px" data-toptip="Close Curve"></div></a>
<a href="../../components/wombatgh/curveCurveClosestPoint.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -96px -24px" data-downtip="Curve-Curve Closest Point"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/divideByTargetLength.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') 0px -48px" data-toptip="Divide by Target Length"></div></a>
<a href="../../components/wombatgh/filletTwoCurves.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -24px -72px" data-downtip="FilletTwoCurves"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/joinCurvesWithTolerance.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -120px -72px" data-toptip="Join Curves With Tolerance"></div></a>
<a href="../../components/wombatgh/midpoint.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -216px -72px" data-downtip="Midpoint"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Curve
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/adjustAlpha.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') 0px 0px" data-toptip="Adjust Alpha"></div></a>
<a href="../../components/wombatgh/curveDirectionDisplay.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -120px -24px" data-downtip="Curve Direction Display"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/displaySettings.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -216px -24px" data-toptip="Display Settings"></div></a>
<a href="../../components/wombatgh/identityPreview.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -72px -72px" data-downtip="Identity Preview"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/normalDisplay.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -48px -96px" data-toptip="Normal Display"></div></a>
<a href="../../components/wombatgh/randomColor.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -120px -96px" data-downtip="Random Color"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/pathLabel.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -168px -96px" data-toptip="Path Label"></div></a>
<a href="../../components/wombatgh/surfaceUVDisplay.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -144px -120px" data-downtip="Surface UV Display"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/zoomBoundingBox.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -192px -120px" data-toptip="Zoom Bounding Box"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Display
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/canvasColor.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -144px 0px" data-toptip="Canvas Color"></div></a>
<a href="../../components/wombatgh/decimalFootToFootInch.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -168px -24px" data-downtip="Decimal Foot To Foot-Inch"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/documentUnits.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -48px -48px" data-toptip="Document Units"></div></a>
<a href="../../components/wombatgh/footInchToDecimalFoot.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -48px -72px" data-downtip="Foot Inch To Decimal Foot"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/unitWarning.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -96px -120px" data-toptip="Unit Warning"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Document
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/copyMoveRenameFiles.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -48px -24px" data-toptip="Copy/Move/Rename Files"></div></a>
<a href="../../components/wombatgh/directoryFromFilePath.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -192px -24px" data-downtip="Directory From File Path"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/exportFileToPath.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -96px -48px" data-toptip="Export File to Path"></div></a>
<a href="../../components/wombatgh/elementIDFromFBXImport.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -168px -48px" data-downtip="Element ID from FBX Import"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/fileOrDirectoryExists.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -216px -48px" data-toptip="File or Directory Exists"></div></a>
<a href="../../components/wombatgh/fileNameFromFilePath.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') 0px -72px" data-downtip="File Name From File Path"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/launchURL.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -144px -72px" data-toptip="Launch URL"></div></a>
<a href="../../components/wombatgh/nextAvailableFilename.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -24px -96px" data-downtip="Next Available Filename"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/writeToTextFile.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -168px -120px" data-toptip="Write to Text File"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Files / Interop
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/arrangeInGrid.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -24px 0px" data-toptip="Arrange in Grid"></div></a>
<a href="../../components/wombatgh/centerGeometryAtOrigin.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -192px 0px" data-downtip="Center Geometry at Origin"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Geometry
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/boundaryMesh.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -72px 0px" data-toptip="Boundary Mesh"></div></a>
<a href="../../components/wombatgh/extrudeAsMesh.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -144px -48px" data-downtip="Extrude as Mesh"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Mesh
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/backupData.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -48px 0px" data-toptip="Backup Data"></div></a>
<a href="../../components/wombatgh/centeredDomain.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -168px 0px" data-downtip="Centered Domain"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/constructPathMask.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') 0px -24px" data-toptip="Construct Path Mask"></div></a>
<a href="../../components/wombatgh/cullEnds.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -72px -24px" data-downtip="Cull Ends"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/dataExists.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -144px -24px" data-toptip="Data Exists"></div></a>
<a href="../../components/wombatgh/divideDomain.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -24px -48px" data-downtip="Divide Domain&#179;"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/emptyObjectToEmptyBranch.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -72px -48px" data-toptip="Empty Object To Empty Branch"></div></a>
<a href="../../components/wombatgh/listIndices.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -168px -72px" data-downtip="List Indices"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/naNObject.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') 0px -96px" data-toptip="NaN Object"></div></a>
<a href="../../components/wombatgh/nullObject.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -72px -96px" data-downtip="Null Object"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/nullsInEmptyBranches.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -96px -96px" data-toptip="Nulls In Empty Branches"></div></a>
<a href="../../components/wombatgh/shiftListBothWays.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -192px -96px" data-downtip="Shift List Both Ways"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
Sets
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/extendSurface.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -120px -48px" data-toptip="Extend Surface"></div></a>
<a href="../../components/wombatgh/loftEx.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -192px -72px" data-downtip="Loft Ex"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/shrinkSurface.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -216px -96px" data-toptip="Shrink Surface"></div></a>
<a href="../../components/wombatgh/surfaceCenter.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -24px -120px" data-downtip="Surface Center"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/surfaceDirection.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -48px -120px" data-toptip="Surface Direction"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Surface
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/convertCase.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -24px -24px" data-toptip="Convert Case"></div></a>
<a href="../../components/wombatgh/replaceTextMultiple.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -144px -96px" data-downtip="Replace Text (Multiple)"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/textOutlines.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -72px -120px" data-toptip="Text Outlines"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Text
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/wombatgh/featureRequest.html"><div class="ghsprite" style="background: url('../../icons/wombatGH.png') -192px -48px" data-toptip="FeatureRequest"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Wombat
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://github.com/woodsbagot/WombatGH">Source Code</a>
<a href="https://www.food4rhino.com/app/wombatgh">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/wombatGH.png') 0px -72px" ></div> File Name From File Path</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/wombatgh.html">WombatGH</a><a href="#" class="breadcrumb-nolink">Files / Interop</a><a href="#" class="breadcrumb-nolink">Name From Path</a>
</div>

</div>
<h3>Returns file name with and without file extension from file path.</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>File Path</b></td><td>F</td><td>File path</td><td>Text</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Name</b></td><td>N</td><td>File name</td><td>Text</td></tr>
<tr><td><b>Name With Extension</b></td><td>E</td><td>File name with file extension</td><td>Text</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

WombatGH and associated data © 2022  <a href="https://www.food4rhino.com/app/wombatgh">Woods Bagot</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
