<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Abs - Axolotl - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Absolute value" />
<meta name="title" content="Abs - Axolotl - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Abs - Axolotl - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/axolotl/abs.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>



</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="../../images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/ellipse2D.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -48px -24px" data-toptip="Ellipse 2D"></div></a>
<a href="../../components/axolotl/spiral.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -96px -72px" data-downtip="Spiral"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/box.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -96px -96px" data-toptip="Box"></div></a>
<a href="../../components/axolotl/capsule.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -120px -96px" data-downtip="Capsule"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/ellipsoid.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -144px -96px" data-toptip="Ellipsoid"></div></a>
<a href="../../components/axolotl/cone.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -192px -96px" data-downtip="Cone"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/cylinder.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') 0px -120px" data-toptip="Cylinder"></div></a>
<a href="../../components/axolotl/sphere.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -48px -120px" data-downtip="Sphere"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/egg.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -72px -120px" data-toptip="Egg"></div></a>
<a href="../../components/axolotl/plane.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -144px -120px" data-downtip="Plane"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/platonicSolid.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -168px -120px" data-toptip="PlatonicSolid"></div></a>
<a href="../../components/axolotl/polygonExtrusion.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -216px -120px" data-downtip="PolygonExtrusion"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/torus.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -48px -144px" data-toptip="Torus"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
1 Primitives
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/pipe.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -216px -48px" data-toptip="Pipe"></div></a>
<a href="../../components/axolotl/sweep.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -120px -72px" data-downtip="Sweep"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/distanceWrapper.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -48px -96px" data-toptip="Distance Wrapper"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
2 Geometry
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/sine.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -216px 0px" data-toptip="Sine"></div></a>
<a href="../../components/axolotl/lattice.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -144px -24px" data-downtip="Lattice"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/latticePolar.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -168px -24px" data-toptip="LatticePolar"></div></a>
<a href="../../components/axolotl/voronoi.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') 0px -48px" data-downtip="Voronoi"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/noise.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -168px -48px" data-toptip="Noise"></div></a>
<a href="../../components/axolotl/sine3D.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') 0px -72px" data-downtip="Sine 3D"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/tPMS.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -168px -72px" data-toptip="TPMS"></div></a>
<a href="../../components/axolotl/tPMSD.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -192px -72px" data-downtip="TPMS D"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/tPMSP.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -216px -72px" data-toptip="TPMS P"></div></a>
<a href="../../components/axolotl/tPMSS.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') 0px -96px" data-downtip="TPMS S"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
3 Lattices
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/booleanIntersect.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -120px 0px" data-toptip="Boolean Intersect"></div></a>
<a href="../../components/axolotl/booleanSubtract.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -144px 0px" data-downtip="Boolean Subtract"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/booleanUnion.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -168px 0px" data-toptip="Boolean Union"></div></a>
<a href="../../components/axolotl/sum.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') 0px -24px" data-downtip="Sum"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/divComponent.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -24px -24px" data-toptip="DivComponent"></div></a>
<a href="../../components/axolotl/mercury.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -24px -48px" data-downtip="Mercury"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/metaball.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -48px -48px" data-toptip="Metaball"></div></a>
<a href="../../components/axolotl/morph.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -72px -48px" data-downtip="Morph"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/multComponent.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -96px -48px" data-toptip="MultComponent"></div></a>
<a href="../../components/axolotl/smoothIntersection.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -144px -48px" data-downtip="SmoothIntersection"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/smoothSubtraction.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -24px -72px" data-toptip="SmoothSubtraction"></div></a>
<a href="../../components/axolotl/smoothUnion.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -48px -72px" data-downtip="SmoothUnion"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/smoothUnionList.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -72px -72px" data-toptip="SmoothUnionList"></div></a>
<a href="../../components/axolotl/waveComponent.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -24px -96px" data-downtip="WaveComponent"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="7">
4 Combinations
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/arrayLimited.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -48px 0px" data-toptip="Array Limited"></div></a>
<a href="../../components/axolotl/blend.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -72px 0px" data-downtip="Blend"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/blur.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -96px 0px" data-toptip="Blur"></div></a>
<a href="../../components/axolotl/shell.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -192px 0px" data-downtip="Shell"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/levelset.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -192px -24px" data-toptip="Levelset"></div></a>
<a href="../../components/axolotl/matrixTransform.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -216px -24px" data-downtip="MatrixTransform"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/overlay.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -192px -48px" data-toptip="Overlay"></div></a>
<a href="../../components/axolotl/array.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -72px -96px" data-downtip="Array"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/orient.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -168px -96px" data-toptip="Orient"></div></a>
<a href="../../components/axolotl/polarArray.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -192px -120px" data-downtip="Polar Array"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/twist.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -72px -144px" data-toptip="Twist"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="6">
5 Modifications
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/tanh.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') 0px 0px" data-toptip="Tanh"></div></a>
<a href="../../components/axolotl/add.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -24px 0px" data-downtip="Add"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/mult.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -120px -48px" data-toptip="Mult"></div></a>
<a href="../../components/axolotl/abs.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -144px -72px" data-downtip="Abs"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
6 Math
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/isosurfaceDistancefield.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -96px -24px" data-toptip="Isosurface Distancefield"></div></a>
<a href="../../components/axolotl/isosurfaceDistancefunction.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -120px -24px" data-downtip="Isosurface Distancefunction"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/denseGrid.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -24px -120px" data-toptip="Dense Grid"></div></a>
<a href="../../components/axolotl/isosurfaceOctree.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -120px -120px" data-downtip="Isosurface Octree"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/voxelSize.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -96px -144px" data-toptip="Voxel Size"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
7 Meshing
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/evaluatePoints.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -72px -24px" data-toptip="EvaluatePoints"></div></a>
<a href="../../components/axolotl/contour2DValues.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -216px -96px" data-downtip="Contour2DValues"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/gradientVector.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -96px -120px" data-toptip="Gradient Vector"></div></a>
<a href="../../components/axolotl/slice2D.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') 0px -144px" data-downtip="Slice2D"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/axolotl/slice2DSimple.html"><div class="ghsprite" style="background: url('../../icons/axolotl.png') -24px -144px" data-toptip="Slice2DSimple"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
8 Analysis
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://github.com/dbt-ethz/Axolotl/">Source Code</a>
<a href="https://www.food4rhino.com/app/axolotl">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/axolotl.png') -144px -72px" ></div> Abs</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/axolotl.html">Axolotl</a><a href="#" class="breadcrumb-nolink">6 Math</a><a href="#" class="breadcrumb-nolink">Abs</a>
</div>

</div>
<h3>Absolute value</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Distance Object</b></td><td>D</td><td>Distance Object</td><td>Generic Data</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Distance Object</b></td><td>D</td><td>Distance Object</td><td>Generic Data</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Axolotl and associated data © 2022  <a href="https://www.food4rhino.com/app/axolotl">Mathias Bernhard</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
