<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Exogenous Settings - Assembler - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Collects exogenous related settings" />
<meta name="title" content="Exogenous Settings - Assembler - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Exogenous Settings - Assembler - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/assembler/exogenousSettings.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v2.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="https://github.com/Co-de-iT/Assembler">Source Code</a>
<a href="https://www.food4rhino.com/en/app/assembler">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Geometry-PatternGeneration.png');"></div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/assembler/deconstructAssemblyObject.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') -24px 0px" data-toptip="Deconstruct AssemblyObject"></div></a>
<a href="../../components/assembler/deconstructHandle.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') -72px 0px" data-downtip="Deconstruct Handle"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/assembler/deconstructXData.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') -96px 0px" data-toptip="Deconstruct XData"></div></a>
<a href="../../components/assembler/displayHandles.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') -144px 0px" data-downtip="DisplayHandles"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/assembler/transformXData.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') -96px -24px" data-toptip="Transform XData"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Components
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/assembler/colorField.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') 0px 0px" data-toptip="Color Field"></div></a>
<a href="../../components/assembler/deconstructField.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') -48px 0px" data-downtip="Deconstruct Field"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/assembler/exogenousSettings.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') -144px -24px" data-toptip="Exogenous Settings"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Exogenous
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/assembler/heuristicDisplay.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') -24px -24px" data-toptip="Heuristic Display"></div></a>
<a href="../../components/assembler/heuristicsSettings.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') -48px -24px" data-downtip="Heuristics Settings"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/assembler/heuristicsWriter.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') -72px -24px" data-toptip="Heuristics Writer"></div></a>
<a href="../../components/assembler/weighHeuristics.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') -120px -24px" data-downtip="Weigh Heuristics"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Heuristics
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/assembler/displayCandidates.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') -120px 0px" data-toptip="Display Candidates"></div></a>
<a href="../../components/assembler/extractAOSet.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') -168px 0px" data-downtip="Extract AOSet"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/assembler/extractCollisionMesh.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') -192px 0px" data-toptip="Extract Collision Mesh"></div></a>
<a href="../../components/assembler/extractHandles.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') -216px 0px" data-downtip="Extract Handles"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/assembler/extractReferencePlane.html"><div class="ghsprite" style="background: url('../../icons/assembler.png') 0px -24px" data-toptip="Extract Reference Plane"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Post Processing
</td>
</tr>
</table>
</div>
</div>


<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/assembler.png') -144px -24px" ></div> Exogenous Settings</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/assembler.html">Assembler</a><a href="#" class="breadcrumb-nolink">Exogenous</a><a href="#" class="breadcrumb-nolink">ExoSet</a>
</div>

</div>

</div>
<h3>Collects exogenous related settings</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Environment Meshes</b></td><td>ME</td><td>Closed Meshes as environmental objects\nMesh normal direction decides the object type\noutwards: obstacle\ninward: void\nNOTE: if the right-click menu 'Use Container' option is active, the first Mesh in a non-empty list will be used as a container</td><td>Mesh</td></tr>
<tr><td><b>Environment Mode</b></td><td>eM</td><td>Environment interaction mode\n0 - ignore environmental objects\n1 - use objects - container collision\n2 - use objects - container inclusion\n\nattach a Value List for automatic list generation\nIf no Mesh is provided in ME input, this will be forced to mode 0</td><td>Integer</td></tr>
<tr><td><b>Field</b></td><td>F</td><td>Field</td><td>Generic</td></tr>
<tr><td><b>Field Scalar threshold</b></td><td>Ft</td><td>Threshold value (in normalized 0-1 range) for scalar Field based criteria</td><td>Number</td></tr>
<tr><td><b>Sandbox</b></td><td>sB</td><td>Sandbox for focused assemblages (NOT IMPLEMENTED YET)\nif present, Assemblage will grow only inside the Box</td><td>Box</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Exogenous Settings</b></td><td>ES</td><td>Exogenous Settings for the Assemblage</td><td>Generic</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Assembler and associated data © 2023  <a href="https://www.food4rhino.com/en/app/assembler">Co-de-iT (Computational Design Italy)</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
