<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Read Pachube - gHowl - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="This component reads a Pachube Feed" />
<meta name="title" content="Read Pachube - gHowl - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Read Pachube - gHowl - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/ghowl/readPachube.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="../../html5gallery/jquery.js"></script>
<script type="text/javascript" src="../../html5gallery/html5gallery.js"></script>

</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/xYZToGeo.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -96px -24px" data-toptip="XYZ to Geo"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Geo
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/getElevation.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') 0px 0px" data-toptip="Get Elevation"></div></a>
<a href="../../components/ghowl/formatGeo.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -24px 0px" data-downtip="Format Geo"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/geoToXYZ.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -48px 0px" data-toptip="Geo to XYZ"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
GEO
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/kMLExporter.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -96px 0px" data-toptip="KML Exporter"></div></a>
<a href="../../components/ghowl/kMLStyle.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -120px 0px" data-downtip="KML Style"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
KML
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/networkSource.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -72px 0px" data-toptip="Network Source"></div></a>
<a href="../../components/ghowl/oSCChannel.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -144px 0px" data-downtip="OSC Channel"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/oSCDispatch.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -168px 0px" data-toptip="OSC Dispatch"></div></a>
<a href="../../components/ghowl/uDPReceiver.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -24px -24px" data-downtip="UDP Receiver"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/uDPSender.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -48px -24px" data-toptip="UDP Sender"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
UDP
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/readPachube.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -192px 0px" data-toptip="Read Pachube"></div></a>
<a href="../../components/ghowl/pachubeUpdate.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -216px 0px" data-downtip="Pachube Update"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/xmlParser.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') 0px -24px" data-toptip="Xml Parser"></div></a>
<a href="../../components/ghowl/writeXML.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -72px -24px" data-downtip="Write XML"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
XML
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.food4rhino.com/app/ghowl">Download</a>

</div>



<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/gHowl.png') -192px 0px" ></div> Read Pachube</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/ghowl.html">gHowl</a><a href="#" class="breadcrumb-nolink">XML</a><a href="#" class="breadcrumb-nolink">Pachube</a>
</div>

</div>
<h3>This component reads a Pachube Feed</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Api Key</b></td><td>A</td><td>Your Pachube API Key</td><td>String</td></tr>
<tr><td><b>Feed URL</b></td><td>U</td><td>The Pachube feed to grab</td><td>String</td></tr>
<tr><td><b>Path</b></td><td>P</td><td>If you want to save a feed to an xml file, input the name of the file here</td><td>String</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Info</b></td><td>I</td><td>Network information</td><td>String</td></tr>
<tr><td><b>Data</b></td><td>D</td><td>The string which was just received</td><td>String</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/J70bV0BeW10"><img src="http://img.youtube.com/vi/J70bV0BeW10/1.jpg" alt="Music Generated Geometry Using Processing,  & Ghowl"></a>


</div>
</div>

</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

gHowl and associated data © 2020  <a href="https://www.food4rhino.com/app/ghowl">Damien Alomar, Luis E. Fraguada and Giulio Piacentino</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
