<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>UDP Receiver - gHowl - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Allows to receive data on the network" />
<meta name="title" content="UDP Receiver - gHowl - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="UDP Receiver - gHowl - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/ghowl/uDPReceiver.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="../../images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/xYZToGeo.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -96px -24px" data-toptip="XYZ to Geo"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Geo
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/getElevation.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') 0px 0px" data-toptip="Get Elevation"></div></a>
<a href="../../components/ghowl/formatGeo.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -24px 0px" data-downtip="Format Geo"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/geoToXYZ.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -48px 0px" data-toptip="Geo to XYZ"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
GEO
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/kMLExporter.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -96px 0px" data-toptip="KML Exporter"></div></a>
<a href="../../components/ghowl/kMLStyle.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -120px 0px" data-downtip="KML Style"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
KML
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/networkSource.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -72px 0px" data-toptip="Network Source"></div></a>
<a href="../../components/ghowl/oSCChannel.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -144px 0px" data-downtip="OSC Channel"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/oSCDispatch.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -168px 0px" data-toptip="OSC Dispatch"></div></a>
<a href="../../components/ghowl/uDPReceiver.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -24px -24px" data-downtip="UDP Receiver"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/uDPSender.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -48px -24px" data-toptip="UDP Sender"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
UDP
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/readPachube.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -192px 0px" data-toptip="Read Pachube"></div></a>
<a href="../../components/ghowl/pachubeUpdate.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -216px 0px" data-downtip="Pachube Update"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/ghowl/xmlParser.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') 0px -24px" data-toptip="Xml Parser"></div></a>
<a href="../../components/ghowl/writeXML.html"><div class="ghsprite" style="background: url('../../icons/gHowl.png') -72px -24px" data-downtip="Write XML"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
XML
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.food4rhino.com/app/ghowl">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/gHowl.png') -24px -24px" ></div> UDP Receiver</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/ghowl.html">gHowl</a><a href="#" class="breadcrumb-nolink">UDP</a><a href="#" class="breadcrumb-nolink">>UDP<</a>
</div>

</div>
<h3>Allows to receive data on the network</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Address</b></td><td>@</td><td>The local IP address to listen at. If empty, the loopback address is used</td><td>String</td></tr>
<tr><td><b>Port</b></td><td>P</td><td>The port number to listen at</td><td>Integer</td></tr>
<tr><td><b>Pattern</b></td><td>#</td><td>The pattern:\r\n0 = Parse received bytes as text\r\n999 = OSC Message\r\n</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Info</b></td><td>I</td><td>Network information</td><td>String</td></tr>
<tr><td><b>Data</b></td><td>D</td><td>The string which was just received</td><td>String</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/J70bV0BeW10"><img src="http://img.youtube.com/vi/J70bV0BeW10/1.jpg" alt="Music Generated Geometry Using Processing,  & Ghowl"></a>


</div>
</div>

<script type="text/javascript" src="/html5gallery/jquery.js"></script>
<script type="text/javascript" src="/html5gallery/html5gallery.js"></script>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

gHowl and associated data © 2022  <a href="https://www.food4rhino.com/app/ghowl">Damien Alomar, Luis E. Fraguada and Giulio Piacentino</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
