<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Vector Maps - Mosquito - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Extracts Vector maps of cities from OSM. Roads, Buildings etc (Building Heights are not available for all locations) - by Carson Smuts 2015" />
<meta name="title" content="Vector Maps - Mosquito - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Vector Maps - Mosquito - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/mosquito/vectorMaps.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs" onerror="this.style.display='none'"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="../../images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/mosquito/gEOProject.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') 0px -48px" data-toptip="GEO Project"></div></a>
<a href="../../components/mosquito/vectorMaps.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -24px -48px" data-downtip="Vector Maps"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/mosquito/mapPlaces.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -48px -48px" data-toptip="MapPlaces"></div></a>
<a href="../../components/mosquito/mapProject.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -72px -48px" data-downtip="MapProject"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/mosquito/mosquitoDirect.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -96px -48px" data-toptip="Mosquito-Direct"></div></a>
<a href="../../components/mosquito/mosquitoStep.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -120px -48px" data-downtip="MosquitoStep"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/mosquito/mosquitoLocation.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -144px -48px" data-toptip="MosquitoLocation"></div></a>
<a href="../../components/mosquito/googleMap.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -168px -48px" data-downtip="GoogleMap"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Geo
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/mosquito/eXIF.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -120px 0px" data-toptip="EXIF"></div></a>
<a href="../../components/mosquito/downloadImages.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -216px 0px" data-downtip="Download Images"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/mosquito/material.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') 0px -24px" data-toptip="Material"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Image
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/mosquito/mosquitoFlicker.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -144px 0px" data-toptip="MosquitoFlicker"></div></a>
<a href="../../components/mosquito/googleStock.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -192px 0px" data-downtip="GoogleStock"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/mosquito/sonicTweet.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -192px -24px" data-toptip="SonicTweet"></div></a>
<a href="../../components/mosquito/sonicTweetUser.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -216px -24px" data-downtip="SonicTweet User"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Media
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/mosquito/audioPlay.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') 0px 0px" data-toptip="Audio Play"></div></a>
<a href="../../components/mosquito/audioScrub.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -24px 0px" data-downtip="Audio Scrub"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/mosquito/audioWave.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -48px 0px" data-toptip="Audio Wave"></div></a>
<a href="../../components/mosquito/levels.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -72px 0px" data-downtip="Levels"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Sound
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/mosquito/stringRecorder.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -24px -24px" data-toptip="String Recorder"></div></a>
<a href="../../components/mosquito/sonicStringSearch.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -96px -24px" data-downtip="SonicStringSearch"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Strings
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/mosquito/branchCount.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -96px 0px" data-toptip="Branch Count"></div></a>
<a href="../../components/mosquito/subGraft.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -120px -24px" data-downtip="Sub Graft"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Tools
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/mosquito/flow.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -168px 0px" data-toptip="Flow"></div></a>
<a href="../../components/mosquito/refraction.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -48px -24px" data-downtip="Refraction"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/mosquito/sonicRoot.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -72px -24px" data-toptip="SonicRoot"></div></a>
<a href="../../components/mosquito/surfaceRays.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -144px -24px" data-downtip="SurfaceRays"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/mosquito/targetRays.html"><div class="ghsprite" style="background: url('../../icons/mosquito.png') -168px -24px" data-toptip="TargetRays"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Vector
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="#tutorials">Video Tutorials</a>
<a href="https://www.grasshopper3d.com/group/mosquito">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/mosquito.png') -24px -48px" ></div> Vector Maps</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/mosquito.html">Mosquito</a><a href="#" class="breadcrumb-nolink">Geo</a><a href="#" class="breadcrumb-nolink">Vector Maps</a>
</div>

</div>
<h3>Extracts Vector maps of cities from OSM. Roads, Buildings etc (Building Heights are not available for all locations) - by Carson Smuts 2015</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Geometry</b></td><td>Area</td><td>The area you wish to search for</td><td>Geometry</td></tr>
<tr><td><b>Boolean</b></td><td>AllRoads</td><td>Loads all roads WARNING takes a long time to load</td><td>Boolean</td></tr>
<tr><td><b>Boolean</b></td><td>Buildings</td><td>Loads all Buildings WARNING takes a long time to load</td><td>Boolean</td></tr>
<tr><td><b>Boolean</b></td><td>Amenities</td><td>Loads all Amenities</td><td>Boolean</td></tr>
<tr><td><b>Text</b></td><td>Custom Search</td><td>Load a custom data set for example see wiki.openstreetmap.org/wiki/Map_Features  e.g. shop=clothing</td><td>Text</td></tr>
<tr><td><b>Boolean</b></td><td>ReProject</td><td>Unskew the geometry and Project to Meters</td><td>Boolean</td></tr>
<tr><td><b>Boolean</b></td><td>CenterToWorld</td><td>Centers all the geometry to the center of world = 0,0,0</td><td>Boolean</td></tr>
<tr><td><b>Boolean</b></td><td>ServerTwo</td><td>If there is a server problem, try this</td><td>Boolean</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Curve</b></td><td>RoadLines</td><td>The CenterLine of Roads</td><td>Curve</td></tr>
<tr><td><b>String</b></td><td>RoadInfo</td><td>Road Info</td><td>Text</td></tr>
<tr><td><b>Curve</b></td><td>BuildingLines</td><td>The Building footprint</td><td>Curve</td></tr>
<tr><td><b>String</b></td><td>BuildingInfo</td><td>Building Info</td><td>Text</td></tr>
<tr><td><b>Double</b></td><td>BuildingHeights</td><td>Building Heights if available</td><td>Number</td></tr>
<tr><td><b>Curve</b></td><td>AmenityLines</td><td>Amenity footprints</td><td>Curve</td></tr>
<tr><td><b>String</b></td><td>AmenityInfo</td><td>Amenity Info</td><td>Text</td></tr>
<tr><td><b>Point</b></td><td>AmenityPoints</td><td>Amenity points</td><td>Point</td></tr>
<tr><td><b>String</b></td><td>AmenityPointInfo</td><td>Amenity Point Info</td><td>Text</td></tr>
<tr><td><b>Curve</b></td><td>CustomLines</td><td>Custom Search footprints</td><td>Curve</td></tr>
<tr><td><b>String</b></td><td>CustomInfo</td><td>Custom Search Info</td><td>Text</td></tr>
<tr><td><b>Point</b></td><td>CustomPoints</td><td>Custom Search points</td><td>Point</td></tr>
<tr><td><b>String</b></td><td>CustomPointInfo</td><td>Custom Search Point Info</td><td>Text</td></tr>
<tr><td><b>String</b></td><td>BenchMark</td><td>The Object Name</td><td>Text</td></tr>
<tr><td><b>Point</b></td><td>ProjPoint</td><td>Use this with the Project plugin so your geometry scale properly</td><td>Point</td></tr>
<tr><td><b>Point</b></td><td>CenterPoint</td><td>Use this with the Project plugin so your geometry overlaps correctly</td><td>Point</td></tr>
</tbody>
</table>

<div class="ghtutorials">
<a name="tutorials"></a>
<h2>Video Tutorials</h2>
<div style="display:none;" class="html5gallery" data-skin="verticallight" data-width="1000" data-height="600" data-thumbwidth="280" data-thumbheight="70" data-thumbgap="5">

<a href="http://www.youtube.com/embed/CnvJ3bGuI1w"><img src="http://img.youtube.com/vi/CnvJ3bGuI1w/1.jpg" alt="Mosquito Twitter Google Tutorial"></a>


</div>
</div>

<script type="text/javascript" src="../html5gallery/jquery.js"></script>
<script type="text/javascript" src="../html5gallery/html5gallery.js"></script>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Mosquito and associated data © 2022  <a href="https://www.grasshopper3d.com/group/mosquito">Carson Smuts</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
