<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fill Linear - Squid - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Create a linear gradient fill" />
<meta name="title" content="Fill Linear - Squid - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Fill Linear - Squid - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/squid/fillLinear.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/squid/fillSolid.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -120px 0px" data-toptip="Fill Solid"></div></a>
<a href="../../components/squid/fillLinear.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -144px 0px" data-downtip="Fill Linear"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/squid/fillPath.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -168px 0px" data-toptip="Fill Path"></div></a>
<a href="../../components/squid/fillRadial.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -192px 0px" data-downtip="Fill Radial"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/squid/fillTexture.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -216px 0px" data-toptip="Fill Texture"></div></a>
<a href="../../components/squid/font.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -24px -24px" data-downtip="Font"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/squid/outline.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -96px -24px" data-toptip="Outline"></div></a>
<a href="../../components/squid/outlineEx.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -120px -24px" data-downtip="OutlineEx"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/squid/paragraph.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -168px -24px" data-toptip="Paragraph"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="5">
Drawing palette
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/squid/alpha.html"><div class="ghsprite" style="background: url('../../icons/squid.png') 0px 0px" data-toptip="Alpha"></div></a>
<a href="../../components/squid/clear.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -24px 0px" data-downtip="Clear"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/squid/draw.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -72px 0px" data-toptip="Draw"></div></a>
<a href="../../components/squid/drawEx.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -96px 0px" data-downtip="DrawEx"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/squid/image.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -72px -24px" data-toptip="Image"></div></a>
<a href="../../components/squid/save.html"><div class="ghsprite" style="background: url('../../icons/squid.png') 0px -48px" data-downtip="Save"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/squid/text.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -72px -48px" data-toptip="Text"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Instructions
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/squid/flipOrder.html"><div class="ghsprite" style="background: url('../../icons/squid.png') 0px -24px" data-toptip="Flip Order"></div></a>
<a href="../../components/squid/overwrite.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -144px -24px" data-downtip="Overwrite"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Modifiers
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/squid/squid.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -48px -48px" data-toptip="Squid"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Squid
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/squid/divideCurve.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -48px 0px" data-toptip="Divide Curve"></div></a>
<a href="../../components/squid/fontList.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -48px -24px" data-downtip="Font List"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/squid/quickPreview.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -192px -24px" data-toptip="Quick Preview"></div></a>
<a href="../../components/squid/read.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -216px -24px" data-downtip="Read"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/squid/screenMap.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -24px -48px" data-toptip="Screen Map"></div></a>
<a href="../../components/squid/textCurves.html"><div class="ghsprite" style="background: url('../../icons/squid.png') -96px -48px" data-downtip="Text Curves"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Util
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">
<a href="https://github.com/mateuszzwierzycki/Squid">Source Code</a>
<a href="https://www.food4rhino.com/app/squid">Download</a>

</div>


<div class="google-ad-sidebar">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/squid.png') -144px 0px" ></div> Fill Linear</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/squid.html">Squid</a><a href="#" class="breadcrumb-nolink">Drawing palette</a><a href="#" class="breadcrumb-nolink">FillL</a>
</div>

</div>
<h3>Create a linear gradient fill</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Line</b></td><td>L</td><td>Gradient line</td><td>Line</td></tr>
<tr><td><b>Params</b></td><td>P</td><td>Color parameters</td><td>Number</td></tr>
<tr><td><b>Colors</b></td><td>C</td><td>Colors</td><td>Colour</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Fill</b></td><td>F</td><td>Squid fill</td><td>SquidFill.Solid</td></tr>
<tr><td><b>Points</b></td><td>P</td><td>Points</td><td>Point</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Squid and associated data © 2023  <a href="https://www.food4rhino.com/app/squid">Mateusz Zwierzycki</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>

    </body>
</html>
