<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head data-layout-view="wide">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Assemble Curves - Bengesht - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Assemble curves based on their start/end points." />
<meta name="title" content="Assemble Curves - Bengesht - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Assemble Curves - Bengesht - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/bengesht/assembleCurves.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>



</head>
<body>


<div id="docs" class="docs-theme docs-widget_page docs-widget_page_page docs-widget_page_page_show" data-layout-pack="classic">
<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/"><img src="../../images/logo.png" alt="Grasshopper Docs"></img></a></p>
<p id="docs-sitedesc">Community documentation for Grasshopper add-ons &amp; plugins</p>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content">

<div class="ghbar ">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/bengesht/flipCurveTowardAPoint.html"><div class="ghsprite" style="background: url('../../icons/bengesht.png') -96px -24px" data-toptip="Flip curve toward a point"></div></a>
<a href="../../components/bengesht/solarCalculations.html"><div class="ghsprite" style="background: url('../../icons/bengesht.png') -120px -24px" data-downtip="Solar Calculations"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Bengesht
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/bengesht/alignCurveStartEnd.html"><div class="ghsprite" style="background: url('../../icons/bengesht.png') 0px 0px" data-toptip="Align Curve Start/End"></div></a>
<a href="../../components/bengesht/assembleCurves.html"><div class="ghsprite" style="background: url('../../icons/bengesht.png') -24px 0px" data-downtip="Assemble Curves"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bengesht/classifyCurves.html"><div class="ghsprite" style="background: url('../../icons/bengesht.png') -48px 0px" data-toptip="Classify Curves"></div></a>
<a href="../../components/bengesht/curveToLineStartEnd.html"><div class="ghsprite" style="background: url('../../icons/bengesht.png') -72px 0px" data-downtip="Curve To Line Start/End"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bengesht/divideCurvesOnIntersects.html"><div class="ghsprite" style="background: url('../../icons/bengesht.png') -96px 0px" data-toptip="Divide Curves on Intersects"></div></a>
<a href="../../components/bengesht/starLines.html"><div class="ghsprite" style="background: url('../../icons/bengesht.png') -168px 0px" data-downtip="Star Lines"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Curve
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/bengesht/httpInput.html"><div class="ghsprite" style="background: url('../../icons/bengesht.png') -120px 0px" data-toptip="Http Input"></div></a>
<a href="../../components/bengesht/httpOutput.html"><div class="ghsprite" style="background: url('../../icons/bengesht.png') -144px 0px" data-downtip="Http Output"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
HTTP
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/bengesht/websocketClientReceiver.html"><div class="ghsprite" style="background: url('../../icons/bengesht.png') -24px -24px" data-toptip="Websocket Client Receiver"></div></a>
<a href="../../components/bengesht/websocketClientSender.html"><div class="ghsprite" style="background: url('../../icons/bengesht.png') -48px -24px" data-downtip="Websocket Client Sender"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bengesht/websocketClientStart.html"><div class="ghsprite" style="background: url('../../icons/bengesht.png') -72px -24px" data-toptip="Websocket Client Start"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
WebSocket
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/bengesht/wiiIn.html"><div class="ghsprite" style="background: url('../../icons/bengesht.png') -192px 0px" data-toptip="WiiIn"></div></a>
<a href="../../components/bengesht/wiiOut.html"><div class="ghsprite" style="background: url('../../icons/bengesht.png') -216px 0px" data-downtip="WiiOut"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/bengesht/wiiStart.html"><div class="ghsprite" style="background: url('../../icons/bengesht.png') 0px -24px" data-toptip="Wii Start"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Wii
</td>
</tr>
</table>
</div>
</div>


<div class="addon-buttons">

<a href="https://www.food4rhino.com/app/bengesht">Download</a>
</div>

<div class="compo-header">
<h1><div class="ghsprite" style="background: url('../../icons/bengesht.png') -24px 0px" ></div> Assemble Curves</h1>

<div class="breadcrumb">
 <a href="../../index.html">Component Index</a>
  <a href="../../addons/bengesht.html">Bengesht</a><a href="#" class="breadcrumb-nolink">Curve</a><a href="#" class="breadcrumb-nolink">AsmblCrvS/E</a>
</div>

</div>
<h3>Assemble curves based on their start/end points.</h3>
<h2>Inputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>curves</b></td><td>Crv</td><td>curves to be asssembled</td><td>Curve</td></tr>
<tr><td><b>curves</b></td><td>Crv</td><td>curves to be asssembled</td><td>Curve</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table>
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>curves</b></td><td>Crv</td><td>assembleded curves</td><td>Curve</td></tr>
<tr><td><b>curves</b></td><td>Crv</td><td>assembleded curves</td><td>Curve</td></tr>
</tbody>
</table>


</div>

</div>

</div>
<div id="docs-foot">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Bengesht and associated data © 2020  <a href="https://www.food4rhino.com/app/bengesht">Behrooz Tahanzadeh</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
