<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Create Grid Area Load - Oasys GSA - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Create GSA Grid Area Load" />
<meta name="title" content="Create Grid Area Load - Oasys GSA - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Create Grid Area Load - Oasys GSA - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/oasysgsa/createGridAreaLoad.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v4.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
	<a class="sitemenu-item" href="https://forms.mk/qL9PPg">Request an Addon</a>
	<a class="sitemenu-item sitemenu-donate" href="https://github.com/sponsors/robinrodricks">Donate</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="https://github.com/arup-group/GSA-Grasshopper">Source Code</a>
<a href="https://www.food4rhino.com/en/app/gsa">Download</a>

</div>


<div class="side-content">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

<div id="help-notice">
<div class="help-title">We need your help! 🔥</div>
<div class="help-text">Please consider disabling your ad-blocker to support this website! 🔑 <br> We are a free, community-supported website! 🥰 <br> We only display small unobtrusive ads which help us stay online! 💯 <br> Thank you in advance! ❤️</div>
</div>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Integration-OasysGSA.png');"></div>

<div class="compo-header">

<div class="breadcrumb">
 <a href="../../index.html">Home</a>
  <a href="../../categories/integration-oasys-gsa.html">Oasys GSA addons</a><a href="../../addons/oasys-gsa.html"><b>Oasys GSA</b></a><a href="#" class="breadcrumb-nolink">Oasys GSA</a><a href="#" class="breadcrumb-nolink"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -120px -72px" ></div> Create Grid Area Load</a>
</div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/analyseModel.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') 0px 0px" data-toptip="Analyse Model"></div></a>
<a href="../../components/oasysgsa/analysisCaseInfo.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -24px 0px" data-downtip="Analysis Case Info"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/annotate.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -48px 0px" data-toptip="Annotate"></div></a>
<a href="../../components/oasysgsa/annotateDetailed.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -72px 0px" data-downtip="Annotate Detailed"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/beamDerivedStresses.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -96px 0px" data-toptip="Beam Derived Stresses"></div></a>
<a href="../../components/oasysgsa/beamDisplacements.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -120px 0px" data-downtip="Beam Displacements"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/beamForcesAndMoments.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -144px 0px" data-toptip="Beam Forces and Moments"></div></a>
<a href="../../components/oasysgsa/beamStrainEnergyDensity.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -168px 0px" data-downtip="Beam Strain Energy Density"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/beamStresses.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -192px 0px" data-toptip="Beam Stresses"></div></a>
<a href="../../components/oasysgsa/combinationCaseInfo.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -216px 0px" data-downtip="Combination Case Info"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/contour1DResults.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') 0px -24px" data-toptip="Contour 1D Results"></div></a>
<a href="../../components/oasysgsa/contour2DResults.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -24px -24px" data-downtip="Contour 2D Results"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/contour3DResults.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -48px -24px" data-toptip="Contour 3D Results"></div></a>
<a href="../../components/oasysgsa/contourNodeResults.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -72px -24px" data-downtip="Contour Node Results"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/create1DElement.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -96px -24px" data-toptip="Create 1D Element"></div></a>
<a href="../../components/oasysgsa/create1DMember.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -120px -24px" data-downtip="Create 1D Member"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/create2DElement.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -144px -24px" data-toptip="Create 2D Element"></div></a>
<a href="../../components/oasysgsa/create2DElementsFromBrep.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -168px -24px" data-downtip="Create 2D Elements from Brep"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/create2DMember.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -192px -24px" data-toptip="Create 2D Member"></div></a>
<a href="../../components/oasysgsa/create2DProperty.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -216px -24px" data-downtip="Create 2D Property"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/create2DPropertyModifier.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') 0px -48px" data-toptip="Create 2D Property Modifier"></div></a>
<a href="../../components/oasysgsa/create3DMember.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -24px -48px" data-downtip="Create 3D Member"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/create3DProperty.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -48px -48px" data-toptip="Create 3D Property"></div></a>
<a href="../../components/oasysgsa/create.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -72px -48px" data-downtip="Create"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/create.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -96px -48px" data-toptip="Create"></div></a>
<a href="../../components/oasysgsa/createBeamLoad.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -120px -48px" data-downtip="Create Beam Load"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/createBeamThermalLoad.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -144px -48px" data-toptip="Create Beam Thermal Load"></div></a>
<a href="../../components/oasysgsa/create.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -168px -48px" data-downtip="Create"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/createCombinationCase.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -192px -48px" data-toptip="Create Combination Case"></div></a>
<a href="../../components/oasysgsa/createCustomMaterial.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -216px -48px" data-downtip="Create Custom Material"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/createEffectiveLengthOptions.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') 0px -72px" data-toptip="Create Effective Length Options"></div></a>
<a href="../../components/oasysgsa/createElementsFromMembers.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -24px -72px" data-downtip="Create Elements from Members"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/createFaceLoad.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -48px -72px" data-toptip="Create Face Load"></div></a>
<a href="../../components/oasysgsa/createFaceThermalLoad.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -72px -72px" data-downtip="Create Face Thermal Load"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/createGravityLoad.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -96px -72px" data-toptip="Create Gravity Load"></div></a>
<a href="../../components/oasysgsa/createGridAreaLoad.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -120px -72px" data-downtip="Create Grid Area Load"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/createGridLine.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -144px -72px" data-toptip="Create Grid Line"></div></a>
<a href="../../components/oasysgsa/createGridLineLoad.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -168px -72px" data-downtip="Create Grid Line Load"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/createGridPlane.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -192px -72px" data-toptip="Create Grid Plane"></div></a>
<a href="../../components/oasysgsa/createGridPointLoad.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -216px -72px" data-downtip="Create Grid Point Load"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/createGridSurface.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') 0px -96px" data-toptip="Create Grid Surface"></div></a>
<a href="../../components/oasysgsa/createList.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -24px -96px" data-downtip="Create List"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/createLoadCase.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -48px -96px" data-toptip="Create Load Case"></div></a>
<a href="../../components/oasysgsa/create.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -72px -96px" data-downtip="Create"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/createMemberEndRestraint.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -96px -96px" data-toptip="Create Member End Restraint"></div></a>
<a href="../../components/oasysgsa/createModel.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -120px -96px" data-downtip="Create Model"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/createNodeLoad.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -144px -96px" data-toptip="Create Node Load"></div></a>
<a href="../../components/oasysgsa/createOffset.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -168px -96px" data-downtip="Create Offset"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/createProfile.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -192px -96px" data-toptip="Create Profile"></div></a>
<a href="../../components/oasysgsa/createSection.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -216px -96px" data-downtip="Create Section"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/createSectionModifier.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') 0px -120px" data-toptip="Create Section Modifier"></div></a>
<a href="../../components/oasysgsa/createSpringProperty.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -24px -120px" data-downtip="Create Spring Property"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/createSupport.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -48px -120px" data-toptip="Create Support"></div></a>
<a href="../../components/oasysgsa/edit1DElement.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -72px -120px" data-downtip="Edit 1D Element"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/edit1DMember.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -96px -120px" data-toptip="Edit 1D Member"></div></a>
<a href="../../components/oasysgsa/edit2DElement.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -120px -120px" data-downtip="Edit 2D Element"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/edit2DMember.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -144px -120px" data-toptip="Edit 2D Member"></div></a>
<a href="../../components/oasysgsa/edit2DProperty.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -168px -120px" data-downtip="Edit 2D Property"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/edit3DElement.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -192px -120px" data-toptip="Edit 3D Element"></div></a>
<a href="../../components/oasysgsa/edit3DMember.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -216px -120px" data-downtip="Edit 3D Member"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/edit3DProperty.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') 0px -144px" data-toptip="Edit 3D Property"></div></a>
<a href="../../components/oasysgsa/editAnalysisTask.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -24px -144px" data-downtip="Edit Analysis Task"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/editBool6.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -48px -144px" data-toptip="Edit Bool6"></div></a>
<a href="../../components/oasysgsa/editMaterial.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -72px -144px" data-downtip="Edit Material"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/editNode.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -96px -144px" data-toptip="Edit Node"></div></a>
<a href="../../components/oasysgsa/editOffset.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -120px -144px" data-downtip="Edit Offset"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/editProfile.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -144px -144px" data-toptip="Edit Profile"></div></a>
<a href="../../components/oasysgsa/editSection.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -168px -144px" data-downtip="Edit Section"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/element2DDisplacements.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -192px -144px" data-toptip="Element 2D Displacements"></div></a>
<a href="../../components/oasysgsa/element2DForcesAndMoments.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -216px -144px" data-downtip="Element 2D Forces and Moments"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/element2DStresses.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') 0px -168px" data-toptip="Element 2D Stresses"></div></a>
<a href="../../components/oasysgsa/element3DDisplacements.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -24px -168px" data-downtip="Element 3D Displacements"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/element3DStresses.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -48px -168px" data-toptip="Element 3D Stresses"></div></a>
<a href="../../components/oasysgsa/expandBeamToShell.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -72px -168px" data-downtip="Expand Beam to Shell"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/footfallResults.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -96px -168px" data-toptip="Footfall Results"></div></a>
<a href="../../components/oasysgsa/get2DPropertyModifier.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -120px -168px" data-downtip="Get 2D Property Modifier"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/getEffectiveLengthOptions.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -144px -168px" data-toptip="Get Effective Length Options"></div></a>
<a href="../../components/oasysgsa/getModelAnalysis.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -168px -168px" data-downtip="Get Model Analysis"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/getModelGridLines.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -192px -168px" data-toptip="Get Model Grid Lines"></div></a>
<a href="../../components/oasysgsa/getModelLists.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -216px -168px" data-downtip="Get Model Lists"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/getModelLoads.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') 0px -192px" data-toptip="Get Model Loads"></div></a>
<a href="../../components/oasysgsa/getModelMaterials.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -24px -192px" data-downtip="Get Model Materials"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/getModelProperties.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -48px -192px" data-toptip="Get Model Properties"></div></a>
<a href="../../components/oasysgsa/getResult.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -72px -192px" data-downtip="Get Result"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/getResultCases.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -96px -192px" data-toptip="Get Result Cases"></div></a>
<a href="../../components/oasysgsa/getSectionModifier.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -120px -192px" data-downtip="Get Section Modifier"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/getSpringProperty.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -144px -192px" data-toptip="Get Spring Property"></div></a>
<a href="../../components/oasysgsa/globalPerformanceResults.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -168px -192px" data-downtip="Global Performance Results"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/gridLineInfo.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -192px -192px" data-toptip="Grid Line Info"></div></a>
<a href="../../components/oasysgsa/gridPlaneSurfaceProperties.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -216px -192px" data-downtip="Grid Plane Surface Properties"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/gWACommand.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') 0px -216px" data-toptip="GWA Command"></div></a>
<a href="../../components/oasysgsa/lineResultInfo.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -24px -216px" data-downtip="Line Result Info"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/listInfo.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -48px -216px" data-toptip="List Info"></div></a>
<a href="../../components/oasysgsa/loadCaseInfo.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -72px -216px" data-downtip="Load Case Info"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/loadDiagrams.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -96px -216px" data-toptip="Load Diagrams"></div></a>
<a href="../../components/oasysgsa/loadProperties.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -120px -216px" data-downtip="Load Properties"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/localAxes.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -144px -216px" data-toptip="Local Axes"></div></a>
<a href="../../components/oasysgsa/materialProperties.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -168px -216px" data-downtip="Material Properties"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/member1DDisplacements.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -192px -216px" data-toptip="Member 1D Displacements"></div></a>
<a href="../../components/oasysgsa/member1DForcesAndMoments.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -216px -216px" data-downtip="Member 1D Forces and Moments"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/memberEndRestraintInfo.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') 0px -240px" data-toptip="Member End Restraint Info"></div></a>
<a href="../../components/oasysgsa/meshResultInfo.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -24px -240px" data-downtip="Mesh Result Info"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/modelTitles.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -48px -240px" data-toptip="Model Titles"></div></a>
<a href="../../components/oasysgsa/modelUnits.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -72px -240px" data-downtip="Model Units"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/nodeDisplacements.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -96px -240px" data-toptip="Node Displacements"></div></a>
<a href="../../components/oasysgsa/openModel.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -120px -240px" data-downtip="Open Model"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/pointResultInfo.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -144px -240px" data-toptip="Point Result Info"></div></a>
<a href="../../components/oasysgsa/preview3DSections.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -168px -240px" data-downtip="Preview 3D Sections"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/previewDeformed3DSections.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -192px -240px" data-toptip="Preview Deformed 3D Sections"></div></a>
<a href="../../components/oasysgsa/profileDimensions.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -216px -240px" data-downtip="Profile Dimensions"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/reactionForceDiagrams.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') 0px -264px" data-toptip="Reaction Force Diagrams"></div></a>
<a href="../../components/oasysgsa/reactionForces.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -24px -264px" data-downtip="Reaction Forces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/resultDiagrams.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -48px -264px" data-toptip="Result Diagrams"></div></a>
<a href="../../components/oasysgsa/saveGSAModel.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -72px -264px" data-downtip="Save GSA Model"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/sectionAlignment.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -96px -264px" data-toptip="Section Alignment"></div></a>
<a href="../../components/oasysgsa/sectionProperties.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -120px -264px" data-downtip="Section Properties"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/selectResult.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -144px -264px" data-toptip="Select Result"></div></a>
<a href="../../components/oasysgsa/springReactionForces.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -168px -264px" data-downtip="Spring Reaction Forces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/oasysgsa/taperProfile.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -192px -264px" data-toptip="Taper Profile"></div></a>
<a href="../../components/oasysgsa/totalLoadsAndReactions.html"><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -216px -264px" data-downtip="Total Loads and Reactions"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="60">
Oasys GSA
</td>
</tr>
</table>
</div>
</div>


<h1><div class="ghsprite" style="background: url('../../icons/oasysGSA.png') -120px -72px" ></div> <span class="compo-name">Create Grid Area Load</span></h1>

</div>

</div>
<h3>Create GSA Grid Area Load</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Brep</b></td><td>B</td><td>[Optional] Brep. If no input the whole plane method will be used. If both Grid Plane Surface and Brep are inputted, this Brep will be projected onto the Grid Plane.</td><td>Brep</td></tr>
<tr><td><b>Grid Plane Surface</b></td><td>GPS</td><td>Grid Plane Surface or Plane [Optional]. If no input here then the brep's best-fit plane will be used</td><td>Generic</td></tr>
<tr><td><b>Direction</b></td><td>Di</td><td>Load direction (default z).</td><td>Text</td></tr>
<tr><td><b>Axis</b></td><td>Ax</td><td>Load axis (default Global).</td><td>Integer</td></tr>
<tr><td><b>Projected</b></td><td>Pj</td><td>Projected (default not)</td><td>Boolean</td></tr>
<tr><td><b>Name</b></td><td>Na</td><td>Load Name</td><td>Text</td></tr>
<tr><td><b>Value [</b></td><td>]</td><td>V</td><td>Number</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Grid Area Load</b></td><td>Ld</td><td>GSA Grid Area Load</td><td>Any</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;

Oasys GSA and associated data © 2025  <a href="https://www.food4rhino.com/en/app/gsa">Oasys Software, ARUP Group</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>
<script type="text/javascript" src="/js/app-notice.js"></script>

    </body>
</html>
