<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gravity Load - Emu - Component for Grasshopper | Grasshopper Docs</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />

<meta name="description" content="Apply gravity load on a structure. The dead load of an element is calculated using information such as material density, the cross section applied and the geomety." />
<meta name="title" content="Gravity Load - Emu - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:title" content="Gravity Load - Emu - Component for Grasshopper | Grasshopper Docs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://grasshopperdocs.com/components/emu/gravityLoad.html" />
<meta property="og:site_name" content="Grasshopper Docs" />

<link href="../../style-v4.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="docs">

<div id="docs-head">
<div id="docs-masthead">
<p id="docs-sitename"><a href="http://grasshopperdocs.com/">
	<img id="site-logo-icon" src="/images/logo-icon.png" alt=""></img>
	<img id="site-logo-text" src="/images/logo-text.png" alt="Grasshopper Docs"></img>
</a></p>
<div id="docs-sitemenu">
	<a class="sitemenu-item" href="/index.html">Categories</a>
	<a class="sitemenu-item" href="/addonIndex.html">Addons</a>
	<a class="sitemenu-item" href="/completeIndex.html">Components</a>
	<a class="sitemenu-item" href="https://forms.mk/qL9PPg">Request an Addon</a>
	<a class="sitemenu-item sitemenu-donate" href="https://github.com/sponsors/robinrodricks">Donate</a>
</div>
<div id="docs-sitesearch">
	<input id="docs-sitesearch-inputbox" type="text" name="docs-sitesearch-inputbox" />
	<img id="docs-searchicon" src="/images/search.png"/>
</div>
</div>
</div>

<div id="docs-body">

<div class="page">

<div class="content compo-page">

<div class="lead-header">

<div class="addon-buttons compo-buttons">
<a href="https://www.food4rhino.com/app/emu">Download</a>

</div>


<div class="side-content">

<!-- Carbon Ads -->
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CK7IC27L&placement=grasshopperdocscom" id="_carbonads_js"></script>

<div id="help-notice">
<div class="help-title">We need your help! 🔥</div>
<div class="help-text">Please consider disabling your ad-blocker to support this website! 🔑 <br> We are a free, community-supported website! 🥰 <br> We only display small unobtrusive ads which help us stay online! 💯 <br> Thank you in advance! ❤️</div>
</div>

</div>

<div class="lead-gradient"></div>
<div class="lead-image" style="background-image: url('../../images/header/Architecture-SimulationFEM.png');"></div>

<div class="compo-header">

<div class="breadcrumb">
 <a href="../../index.html">Home</a>
  <a href="../../categories/architecture-simulation-fem.html">Simulation & FEM addons</a><a href="../../addons/emu.html"><b>Emu</b></a><a href="#" class="breadcrumb-nolink">Load</a><a href="#" class="breadcrumb-nolink"><div class="ghsprite" style="background: url('../../icons/emu.png') -72px 0px" ></div> Gravity Load</a>
</div>

<div class="ghbar ghbar-compo-page">
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/emu/elementIndexSelector.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -72px -24px" data-toptip="Element Index Selector"></div></a>
<a href="../../components/emu/elementForceViewer.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -96px -24px" data-downtip="Element Force Viewer"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/emu/diagramViewer.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -120px -24px" data-toptip="Diagram Viewer"></div></a>
<a href="../../components/emu/resultsOnMeshViz.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -144px -24px" data-downtip="Results On Mesh Viz"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/emu/centerlineViewer.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -168px -24px" data-toptip="Centerline Viewer"></div></a>
<a href="../../components/emu/reactionForces.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -192px -24px" data-downtip="Reaction Forces"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/emu/nodeForces.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -216px -24px" data-toptip="Node Forces"></div></a>
<a href="../../components/emu/sectionViewer.html"><div class="ghsprite" style="background: url('../../icons/emu.png') 0px -48px" data-downtip="Section Viewer"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Analysis
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/emu/spring.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -144px 0px" data-toptip="Spring"></div></a>
<a href="../../components/emu/cable.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -168px 0px" data-downtip="Cable"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/emu/model.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -192px 0px" data-toptip="Model"></div></a>
<a href="../../components/emu/beam.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -216px 0px" data-downtip="Beam"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/emu/bar.html"><div class="ghsprite" style="background: url('../../icons/emu.png') 0px -24px" data-toptip="Bar"></div></a>
<a href="../../components/emu/restraint.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -24px -24px" data-downtip="Restraint"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/emu/lath.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -48px -24px" data-toptip="Lath"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="4">
Element
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/emu/linearLoad.html"><div class="ghsprite" style="background: url('../../icons/emu.png') 0px 0px" data-toptip="Linear Load"></div></a>
<a href="../../components/emu/pointLoad.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -24px 0px" data-downtip="Point Load"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/emu/areaLoad.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -48px 0px" data-toptip="Area Load"></div></a>
<a href="../../components/emu/gravityLoad.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -72px 0px" data-downtip="Gravity Load"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Load
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/emu/customMaterial.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -144px -48px" data-toptip="Custom Material"></div></a>
<a href="../../components/emu/materialDatabase.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -168px -48px" data-downtip="Material Database"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Material
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/emu/meshVextexNormals.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -96px 0px" data-toptip="Mesh Vextex Normals"></div></a>
<a href="../../components/emu/pluginInfo.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -120px 0px" data-downtip="PluginInfo"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="1">
Misc
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/emu/solidBoxSection.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -24px -48px" data-toptip="Solid Box Section"></div></a>
<a href="../../components/emu/genericSection.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -48px -48px" data-downtip="Generic Section"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/emu/circularSection.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -72px -48px" data-toptip="Circular Section"></div></a>
<a href="../../components/emu/iShapeSection.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -96px -48px" data-downtip="IShape Section"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/emu/hollowBoxSection.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -120px -48px" data-toptip="Hollow Box Section"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="3">
Section
</td>
</tr>
</table>
</div>
<div class="ghgroup">
<table class="ghgroup-table">
<tr>
<td>
<div class="ghcolumn">
<a href="../../components/emu/dynamicRelaxationProperties.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -192px -48px" data-toptip="Dynamic Relaxation Properties"></div></a>
<a href="../../components/emu/matrixStiffnessSolver.html"><div class="ghsprite" style="background: url('../../icons/emu.png') -216px -48px" data-downtip="Matrix Stiffness Solver"></div></a>
</div>
</td>
<td>
<div class="ghcolumn">
<a href="../../components/emu/dynamicRelaxationSolver.html"><div class="ghsprite" style="background: url('../../icons/emu.png') 0px -72px" data-toptip="Dynamic Relaxation Solver"></div></a>
</div>
</td>
</tr>
<tr class="ghgroup-title-row">
<td class="ghgroup-title" colspan="2">
Solvers
</td>
</tr>
</table>
</div>
</div>


<h1><div class="ghsprite" style="background: url('../../icons/emu.png') -72px 0px" ></div> <span class="compo-name">Gravity Load</span></h1>

</div>

</div>
<h3>Apply gravity load on a structure.  The dead load of an element is calculated using information such as material density,  the cross section applied and the geomety.</h3>
<h2>Inputs</h2>
<table class="params-table input-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Force [N/m2]</b></td><td>Force</td><td>Amplification vector. Default is (0,0,-1), which represents the structure's deadload in the -Z directio.</td><td>Vector</td></tr>
<tr><td><b>Index</b></td><td>Index</td><td>Index of load</td><td>Integer</td></tr>
</tbody>
</table>

<h2>Outputs</h2>
<table class="params-table output-params">
<thead>
<tr><th>Name</th><th>ID</th><th>Description</th><th>Type</th></tr>
</thead>
<tbody>
<tr><td><b>Gravity Load</b></td><td>Load</td><td>Generated gravity load</td><td>Goo</td></tr>
</tbody>
</table>


</div>

</div>

</div>

<div id="docs-foot" class="docs-footindex">
<div id="docs-foot-inner">
<p class="left">
Site design © <a href="https://github.com/robinrodricks/">Robin Rodricks</a>. &nbsp;
Site co-created by <a href="http://andrewheumann.com/">Andrew Heumann</a>. &nbsp;
Emu and associated data © 2025  <a href="https://www.food4rhino.com/app/emu">Emil Poulsen</a>. &nbsp;
<br>
Rhinoceros and Grasshopper are registered trademarks of <a href="https://www.rhino3d.com/">Robert McNeel & Associates</a>.&nbsp;
Hosted by <a href="http://www.github.com/">GitHub</a> 
</p>
<p class="right docs-lightfont">

<a href="https://github.com/grasshopper3d/GrasshopperDocsSite/issues/new">Report an Issue</a> &nbsp;|&nbsp;
<a href="/termsOfService.html">Terms of Service</a>
</p>

</div>



</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78477269-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-DX6TG16YN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DX6TG16YN7');
</script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/app-searchbar.js"></script>
<script type="text/javascript" src="/js/app-notice.js"></script>

    </body>
</html>
